[2016-11-10 05:27] #658 closed

[2016-11-10 05:50] gkeishin commented on #519
@sivassrr  This issues still persist..

[2016-11-10 08:48] vishwabmc commented on #705
Code is looking at LEDs to be present in /sys/class/leds/ and since nothing is found, its exiting. So this is a generic Witherspoon problem on any build.

root@witherspoon:/usr/sbin# ls /sys/class/leds/
root@witherspoon:/usr/sbin#

root@witherspoon:/usr/sbin# /usr/sbin/led_controller.exe
No LEDs present in the system
$

============================

@shenki Something that wanted to ask you about..

[2016-11-10 08:50] vishwabmc commented on #705
@geissonator I don't have any action here. Probably this needs to be closed once @shenki updates on my question.

[2016-11-10 11:28] shenki commented on #705
@vishwabmc  When someone sends a patch for the device tree to enable them :)

Our userspace should be able to handle missing kernel features like this. It should log a warning that it could not find any leds and then stop trying to re-spawn the daemon. This is why I opened the bug

[2016-11-10 11:46] shenki opened #761 "Make btbridged socket activated"
The service should start due to the presence of of the bt host character device

[2016-11-10 13:00] gkeishin commented on #750
This is not seen.. Will re-open if further encountered

[2016-11-10 13:00] #750 closed

[2016-11-10 13:10] #98 closed

[2016-11-10 13:54] yadlapati opened #762 "Witherspoon: LPC mapping support"
We are doing Witherspoon bringup and seeing all 0's when tried to read from PNOR. Joel Stanley looked at the problem. There are two issues here:
1. We are using old driver.
2. LPC mapping support  is needed for Witherspoon.

[2016-11-10 14:02] shenki commented on #762
When using the new driver, you can map the first 64MB of the PNOR into the LPC address space with the following:

[code]

The PNOR will then appear at `0x60300fc000000` once the host has enabled the LPC.

I will implement this configuration in OpenBMC in the next day or two. This workaround is so you are not blocked on that work.

[2016-11-10 14:29] gkeishin commented on #735
This seems to be from a bad driver.. this is not seen in latter drivers build.. Will re-open if seen,,

[2016-11-10 14:29] #735 closed

[2016-11-10 15:00] williamspatrick commented on #585
I'm going to just move it.  It was an issue so it isn't affecting our burndown rate.

[2016-11-10 15:05] #617 closed

[2016-11-10 15:05] #618 closed

[2016-11-10 15:06] williamspatrick opened #763 "Sprint 16.11.16 - Committed"

[2016-11-10 15:07] williamspatrick opened #764 "Sprint 16.11.16 - Actual"

[2016-11-10 16:14] williamspatrick commented on #760
Resolved by cc1502f3d6c544116ed570b2a02da2cdcdd550c1

[2016-11-10 16:14] #760 closed

[2016-11-10 16:33] eddiejames commented on #758
Sure @amboar. For these error conditions, the OCC spec says:
the BMC  should assert the “Processor Frequency Limited due to over temperature” sensor for this processor when this bit goes from ‘0’ to ‘1’ between two polls and de-assert when this bit goes from ‘1’ to ‘0’ between two polls.

All the error conditions are described in similar fashion. So that sounds to me that it would be best done wit

[2016-11-10 18:02] geissonator opened #765 "Move IPMI to use systemd to perform BMC reboots"
Originally this was to track the refactor of bmcctl.

Currently 1 interface provided (reboot), why do we even need an external interface to reboot the system?  Just have tests and such use systemd to do reboots.  Code update uses this now, but new code update wont require this.  So we'll just remove this once new code update is in place.

Use this story to change IPMI code to call systemd and use

[2016-11-10 18:03] geissonator opened #766 "hostcheckstop refactor"
Look at skeleton/hostcheckstop/host_checkstop_obj.c
- Define yaml (if any interfaces or properties required)
- Compile down with sdbusplus
- Write in c++ and use sdbusplus for dbus interactions

[2016-11-10 18:03] geissonator opened #767 "hostwatchdog refactor"
Refactor of openbmc/skeleton/hostwatchdog/host_watchdog_obj.c to use sdbusplus and c++ 14 features.

[2016-11-10 18:14] geissonator commented on #765
This will provide the interfaces required for the replacement of obmcutil state.

[2016-11-10 18:17] geissonator opened #768 "hostctl refactor"
This is the old P8 FSI bit banging, nice to have, not required for GA

[2016-11-10 18:17] geissonator opened #769 "pwrctl refactor"
monitors pgood

[2016-11-10 18:18] geissonator opened #770 "pciedetect refactor"
Refactor openbmc/skeleton/pciedetect/pcie_slot_present_obj.c to use new sdbusplus code.

[2016-11-10 18:18] geissonator opened #771 "pwrbutton refactor"
Need to refactor application that monitors for the correspond gpio's and issues the corresponding signals. No external interfaces here so phase 6.

[2016-11-10 18:18] geissonator opened #772 "BMC state management and control"
Originally chassisctl refactor of skeleton.
Breaking this into 2 stories.  1 for BMC state mgmt and control (this one), 1 for Host state mgmt and control ( #783 ).

So this will take the existing interfaces in skeleton for BMC state management and control and provide the ability to get the BMC state and reboot it.  This should be in different objects from the host but in the same process and openb

[2016-11-10 18:20] geissonator opened #773 "statemgr refactor"
skeleton/pystatemgr/discover_system_state.py refactor

[2016-11-10 18:21] geissonator opened #774 "systemmgr refactor and removal"
This story tracks the removal of the current_state property in pysystemmgr/system_manager.py.  All code should be moved over to using the new bmc, host, and chassis states.

The persistent storage of state done within this component also needs to be figured out.
The gpio_init code should be moved somewhere as well.
The object/fru lookup interfaces also needs to be moved.
Need to also track catchin

[2016-11-10 18:21] geissonator opened #775 "pytools refactor"
Nice to have but not required

[2016-11-10 18:21] geissonator opened #776 "rstbutton refactor"
Need to refactor application that monitors for the correspond gpio's and issues the corresponding signals.  No external interfaces here so phase 6.

[2016-11-10 18:35] geissonator opened #777 "Inventory Refactor"
This epic will track all inventory related work for openbmc

[2016-11-10 18:39] geissonator opened #778 "Sensors refactor"

[2016-11-10 18:40] geissonator opened #779 "IPMI provider refactor"

[2016-11-10 18:40] geissonator opened #780 "Network refactor"
Refactor the sub-par interfaces

[2016-11-10 19:57] mine260309 commented on #752
Right, that was missed! Added and review at https://gerrit.openbmc-project.xyz/#/c/1102/

[2016-11-10 21:09] geissonator opened #781 "Map functional IPMI sensors to appropriate inventory objects"
Per #774 this story will be used to implement legacy function from the systemmgr skeleton process.
This specifically tracks what is needed for mfg, the mapping of hostboot functional/present information to the appropriate inventory object.

[2016-11-10 21:14] geissonator opened #782 "DBUS support for bmc reboot"
MFG requires the ability to reboot a bmc.  Automated tests also need this at times.  bmcctl in skeleton provided that function.  This story is to refactor that interface and use the new sdbusplus bindings.

[2016-11-10 21:21] geissonator opened #783 "Host state management and control"
Similar to #772 except for the host.  Keep track of host state and allow user to power on/off the host.  Different object then #772 but within same obmc repo and process.

[2016-11-10 21:29] geissonator commented on #782
I believe this is now a duplicated of #772

[2016-11-10 21:29] #782 closed

[2016-11-10 21:34] geissonator opened #784 "chassisctl refactor - Host and LED interfaces"
Once #772 and #783 are done, we need to go through what's remaining in chassisctl and refactor.  Mostly it's pass through interfaces where we need the callers to move to call the direct interface.  This story will track all that work.

[2016-11-11 01:00] shenki commented on #762
Updated sequence from Ben:

[code]

@amboar Looks like we need a driver for the AHB controller too.

[2016-11-11 01:11] shenki opened #785 "PNOR mtd device needs label"
Userspace (pflash) relies on the pnor having the "pnor" label. We lost it recently, so add it back to the device tree.

[2016-11-11 12:00] bradbishop opened #786 "Implement org.freedesktop.DBus.ObjectManager in phosphor-hwmon"
So that the mapper receives interfaces added/remove signals for discovered sensors in the sysfs hwmon namespace.

Use the new sdbusplus manager.hpp.

[2016-11-11 12:03] bradbishop opened #787 "Create DBus objects for runtime discovered sensors"
So other applications can subscribe to org.freedesktop.DBus.Properties.PropertiesChanged signals and track sensor values.

Use sdbusplus to implement xyz.openbmc_project.Sensors.Value in https://github.com/openbmc/phosphor-hwmon.

[2016-11-11 12:06] bradbishop opened #788 "Create a bitbake recipe for phosphor-hwmon"
So it can be included in an image build.

[2016-11-11 12:10] bradbishop opened #789 "Remove all hardcoded org.openbmc.Sensorxxx busname lookups"
Replace with a mapper query.

The exception here is the existing sensor manager and hwmon applications in skeleton, since those will be replaced with phosphor-hwmon.

[2016-11-11 12:16] bradbishop opened #790 "Remove all hardcoded sensor object path roots"
[ ] - Add SENSORS_ROOT, TEMP_SENSOR_PATH, TACH_SENSOR_PATH and VOLTAGE_SENSOR_PATH variables to phosphor-defaults.inc

[ ] - Add configure / setuptools options to get these paths into applications.

[ ] - Update applications to use paths in config.h

[2016-11-11 12:24] bradbishop opened #791 "Create udev-rule generating recipe"
[ ] - Write a script that generates udev rules/systemd-device units from MRW which launch instances of phosphor-hwmon for hwmon entries.
[ ] - Create a native recipe for script.
[ ] - Create a target recipe that runs the script.
[ ] - Create hwmon udev-rule generating recipes for existing non-mrw systems.
[ ] - Enhance hwmon udev rules to include configuration (thresholds)
[ ] - Add hwmon<->udev v

[2016-11-11 12:32] bradbishop opened #792 "Add threshold support to phosphor-hwmon"
[ x] - Implement Sensors.Threshold.Warning and Sensors.Threshold.Critical.
[ x] - Add cmdline options for threshold configuration.

[2016-11-11 12:35] bradbishop opened #793 "Enhance hwmon udev rules to include configuration"
Extend the rules generated by https://github.com/openbmc/openbmc/issues/791 to include threshold configuration.

[2016-11-11 12:35] gkeishin opened #794 "[ Barreleye v1.99.0-242-gfddb958 ] Poweron didn't succeed to Host booted state"
root@barreleye:~# obmcutil state
 = HOST_POWERED_ON

Suspecting something to do with inventory ...
[code]
- [x] Journal Log  -
[barreleye_v1.99.0-242-gfddb958.txt](https://github.com/openbmc/openbmc/files/585783/barreleye_v1.99.0-242-gfddb958.txt)

[2016-11-11 13:05] bradbishop opened #795 "Create systemd unit file for phosphor-hwmon"
This should be a templated unit file that can be added as dependencies to systemd.device units (see man systemd.device)

[2016-11-11 13:23] bradbishop opened #796 "Create hwmon udev-rule generating recipes for existing non-mrw systems"
For existing non-mrw systems add recipes with hardcoded udev rules for hwmon sensors based on <Config>.py.

[2016-11-11 13:26] bradbishop opened #797 "Add hwmon<->udev virtual and set PREFERRED_PROVIDER for each system."

[2016-11-11 13:32] bradbishop opened #798 "Model non-sensor sensors"
A number of objects exist in the sensor namesapce that aren't really sensors.  For example progress codes and pwms.

The new sensor API does not include these but likely a requirement still exists for many of them.

[2016-11-11 13:34] geissonator commented on #794
This looks new:
[code]

[2016-11-11 14:21] bradbishop opened #799 "Remove all hardcoded inventory object path roots"
[ ] - Add an INVENTORY_ROOT variable to phosphor-defaults.inc

[ ] - Add configure / setuptools options to get this paths into applications.

[ ] - Update applications to use paths in config.h

[2016-11-11 14:22] bradbishop opened #800 "Remove all hardcoded org.openbmc.Inventoryxxx busname lookups"
Replace with a mapper query.

The exception here is the existing inventory manager applications in skeleton, since that will be replaced with phosphor-inventory-manager.

[2016-11-11 14:23] bradbishop opened #801 "Create systemd unit file for phosphor-inventory-manager"

[2016-11-11 14:26] paulgrobertson commented on #751
unbind/bind work around verified successfully.

[2016-11-11 14:51] geissonator commented on #436
https://gerrit.openbmc-project.xyz/#/c/1097/

[2016-11-11 16:04] #380 closed

[2016-11-11 16:10] williamli80 commented on #640
Thanks to all!  I'm building it on the ppc64le now.

[2016-11-11 16:37] bradbishop commented on #787
[ ] - Create DBus objects for runtime discovered sensors
[ ] - Implement org.freedesktop.DBus.ObjectManager
[ ] - Create a bitbake recipe for phosphor-hwmon

[2016-11-11 16:38] bradbishop commented on #786
demoted to a task here: https://github.com/openbmc/openbmc/issues/787

[2016-11-11 16:38] #786 closed

[2016-11-11 16:50] geissonator commented on #666
Please work closely with Deepak and Yi on these stories.  Interfaces for this work being defined by Deepak in 11.2 sprint.

[2016-11-11 17:09] bradbishop commented on #788
Demoted to a task here: https://github.com/openbmc/openbmc/issues/787

[2016-11-11 17:09] #788 closed

[2016-11-11 17:10] geissonator opened #802 "led: Move all existing code to new LED interfaces"
This is a follow on to #736  and #737 .  This is to go through all code using the skeleton LED interfaces and move them to the new one's defined and implemented in 736 and 737.

[2016-11-11 17:10] gkeishin commented on #794
This is seen in latest build as well v1.99.0-244-g11381c4

[2016-11-11 17:11] bradbishop commented on #796
Demoted to a task here: https://github.com/openbmc/openbmc/issues/791

[2016-11-11 17:11] #796 closed

[2016-11-11 17:12] bradbishop commented on #793
Demoted to a task here: https://github.com/openbmc/openbmc/issues/791

[2016-11-11 17:12] #793 closed

[2016-11-11 17:13] bradbishop commented on #795
Demoted to a task here: https://github.com/openbmc/openbmc/issues/787

[2016-11-11 17:13] #795 closed

[2016-11-11 17:14] geissonator opened #803 "led: Generate required LED information from the MRW"
Ties in with #737 and #736 - this is to make the LED config determination data driven from the MRW.

@spinler will want to provide some input.

[2016-11-11 17:14] bradbishop commented on #797
Demoted to a task here: https://github.com/openbmc/openbmc/issues/791

[2016-11-11 17:14] #797 closed

[2016-11-11 21:39] micwalsh opened #804 "Power state remains 0 after starting power on."
Starting state was:

[code]

Initiated power on...
URI:https://beye6/org/openbmc/control/chassis0//action/powerOn, method:Post, args:{u'data': {u'data': []}, u'headers': {u'Content-Type': u'application/json'}}
Response code:200, Content:{
  "data": null,
  "message": "200 OK",
  "status": "ok"
}

After 3 mins the power_state was still off, even though bmc_state had changed:
[code]
Prior to this is

[2016-11-11 21:43] micwalsh commented on #804
cat /etc/os-release
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=0.1.0
PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
BUILD_ID=20160914141849

[2016-11-11 22:09] #804 closed

[2016-11-14 00:44] amboar commented on #804
@micwalsh Even though you have closed the issue can you please expand on what the problem turned out to be, and what the solution was (if any)? If someone else sees similar symptoms this information will be helpful.

[2016-11-14 00:47] amboar commented on #794
Aren't we using systemd-networkd now?

[2016-11-14 02:12] johnhcwang commented on #759
@williamspatrick @anoo1 - Is it probably related to #713 ?

[2016-11-14 02:42] amboar opened #805 "http://www.openbmc-project.xyz/ returns 404"
We should probably do something a bit better than that. It's already pointing to some github infrastructure so hopefully there's not much effort involved:
![screenshot from 2016-11-11 08-39-49](https://cloud.githubusercontent.com/assets/526481/20251778/f2bea88e-aa6b-11e6-8e95-31d748ee7cce.png)

[2016-11-14 02:53] amboar commented on #699
The plugin in question is described at http://www.tenable.com/plugins/index.php?view=single&id=93650 and lists the following CVEs:

* CVE-2016-7406
* CVE-2016-7407
* CVE-2016-7408
* CVE-2016-7409

This list lines up with the CVEs mentioned in the patchwork link above, so I'll send a pull request.

[2016-11-14 03:00] williamspatrick commented on #699
We're going to upgrade to Yocto 2.2 at some point in the not too distant future.  I wouldn't waste time on this issue any more.

[2016-11-14 03:01] williamspatrick commented on #699
This could also likely be fixed just by picking up Yocto 2.1.1.

[2016-11-14 03:06] amboar commented on #758
@eddiejames I'm not keen on the idea of sysfs files appearing/disappearing: Could we instead always present the files with the content of the poll result, e.g. call the attribute 'overtemp' and have it read 0 if false, 1 if true.

What are the consequences of asserting the sensor? Is the sysfs attr value the only thing that changes? Do we need to change power management policy on the BMC? I guess

[2016-11-14 03:07] amboar commented on #699
@williamspatrick right; @causten was emailing me about it just now after @prkatti1 sent the report internally.

[2016-11-14 03:08] williamspatrick commented on #699
Yocto 2.2 has an upgrade of Dropbear to 2016.74, which solves these issues.

None of these CVEs would actually affect us from what I can tell.

[2016-11-14 03:09] williamspatrick commented on #805
It requires making a repository called 'openbmc.github.io' with what we want as the webpage.

[2016-11-14 03:10] williamli80 commented on #794
@amboar I think so. systemd-networkd is running.
IN BarE-01:
william@ubuntu:~$ ssh root@9.3.29.119
root@9.3.29.119's password:
root@barreleye:~# ps|grep -i systemd-networkd
 1191 systemd-   0:00 /lib/systemd/systemd-networkd
 1882 root       0:00 grep -i systemd-networkd
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"

[2016-11-14 03:33] williamli80 commented on #794
fddb958f0a7ce2d3296b934fa0b438de3ab011ad involved the error. This commit just bumped version of  phosphor-settings repository. So I think maybe phosphor-settings is the source of the error.
I'm looking at 62b55f35fde5e057bb7b0294f2e2d8ad66170e2d and 0fdfa72ee81bf52ba65bfc401d85d0e491abbf40.

[2016-11-14 08:45] adamliyi commented on #648
About Witherspoon power on, @mine260309 mentioned: "can go through istep 0-4 without problems." - So I think this story does not block Witherspoon power on.  For this story, here is where I am:

1. GPIO:
    * submmited patch: https://gerrit.openbmc-project.xyz/#/c/992/. Although no feedback from Sertac. I think it is OK for powering on Witherspoon.
    * For issue openbmc/openbmc#743. @mine260309

[2016-11-14 10:44] gkeishin opened #806 "[Build v1.99.0-246-g6026e60 ] Phosphor settings services are not running"
The Host services settings /org/openbmc/settings are not up on the new build on all systems.
- [x] Journal Log
[barreleye_v1.99.0-246-g6026e60_journal.txt](https://github.com/openbmc/openbmc/files/588990/barreleye_v1.99.0-246-g6026e60_journal.txt)

GET https://xx.xx.xx.xx/org/openbmc/
{
  "data": [
    "/org/openbmc/control",
    "/org/openbmc/managers",
    "/org/openbmc/HostServices",
    "/org/

[2016-11-14 14:42] ratagupt commented on #546
- [ ] write the new bb file for the new repo.

[2016-11-14 15:18] sivassrr commented on #635
How about if we try to do using pflash?

[2016-11-14 15:31] micwalsh commented on #804
I realized I had a rather old build loaded on the machine.  I'll be repeating this test very soon with a newer build.  If it re-creates, I'll re-open this issue.

[2016-11-14 15:34] williamli80 commented on #794
#806

[2016-11-14 15:41] geissonator commented on #635
Per sprint planning today, moving this one into the code update refactor epic.  We'll tackle once we get there.  For now, the workaround is to just do a full external write of the flash chip.

[2016-11-14 15:46] geissonator opened #807 "2-chip P9 vcs support"
This one tracks the required code to do the vcs work done by Sergey in #647 on a 2 chip configuration.  Alistair needs a little time to verify pdbg on a 2 chip.

[2016-11-14 19:10] dbirk opened #808 "Console client connection fails when streaming a large amount of data"
When using obmc-console-client, if I boot a vm with PFW 'cidebug?' on, which produces a large amount of console text as the partitioon boot, eventually the console connection fails with '~Connection closed' and control reverts back to the BMC prompt. Easily recreated, can probably do it every time I try. Someone can contact me directly if they need further details.

[2016-11-14 19:17] causten commented on #808
the official way to get the console is to ssh -p 2200 <bmc ip>

Try that, if it still can't hold up then further investigation is warranted.  That obmc-console-client is a dev tool that was around before we got the correct ssh technique

[2016-11-14 20:31] anoo1 opened #809 "Host watchdog gets enabled on debug mode"
We've regressed and the host watchdog is now enabled when the BMC is set to debug (cronus) mode, the watchdog should not be enabled in this mode. This hampers P9 debug as the system powers off automatically due to the watchdog timer expiring.
Since the skeleton repo is planned to be refactor, maybe fixing the watchdog can be done as part of the state management (power on/off) interface refactoring

[2016-11-14 21:41] geissonator commented on #806
I made a comment in https://gerrit.openbmc-project.xyz/#/c/719/11/settings_manager.py@44   I think it's a simple fix, otherwise we should just revert the change in question until we can get things fixed.

[2016-11-14 22:17] anoo1 commented on #809
This was seen on firestone on an 'older' (~2 months back) build, need to check the latest master on a supported platform like barreleye.

[2016-11-14 22:35] geissonator commented on #806
Potential fix from Sergey - https://gerrit.openbmc-project.xyz/#/c/1172/

[2016-11-14 23:01] #808 closed

[2016-11-14 23:02] dbirk commented on #808
Ok port 2200 worked just fine, thanks, closing issue.

[2016-11-14 23:33] mine260309 commented on #708
I just tried to build `ipmi-host-tool` for Romulus without problem, so I think this issue may be closed too.

[2016-11-15 01:36] shenki commented on #759
@johnhcwang This is not related to those issues; the code base has changed a lot between master and the 1.0-stable branch.

Can you please tell me the model of the SPI NOR chip used in this system?

The output of `pflash -i` will tell you this.

[2016-11-15 01:39] shenki commented on #538
All the items on your list are now complete.

There is an outstanding issue #785 that needs to be resolved before PNOR is ready for Witherspoon.

[2016-11-15 02:04] #708 closed

[2016-11-15 02:06] #538 closed

[2016-11-15 02:08] williamspatrick commented on #807
Should this really be another story?  It is like 2 lines in a script to do a loop and maybe a systemd service file update.

[2016-11-15 02:10] willenlee commented on #759
Hi Shenki

The output data is shown below.
[code]

[2016-11-15 02:11] williamspatrick commented on #794
Does that mean this is a dupe of 806?

[2016-11-15 11:00] Youngzhong opened #810 "Don't Build Image"
When we build image to use "bitbake obmc-phosphor-image" on 1.0 code,We don't  find 16M image in openbmc-master\build\tmp\deploy\images. Why? We need change config,when we build image.Thanks!

[2016-11-15 11:10] Youngzhong commented on #810
Dear All
We build the image that it need support AST2400.We need change config in" openbmc-master\build\conf\local.conf"? and where?

[2016-11-15 11:45] williamspatrick commented on #810
We do not support 16M images, only 32M or above.

Depending on which machine you are trying to build for you need to pre-set some environment variables.  Here is an example for the "Palmetto" machine, but you can change the TEMPLATECONF and MACHINE variables to be any other machine you find under meta-openbmc-machines.
https://github.com/openbmc/docs/blob/master/cheatsheet.md#building-for-palmetto

[2016-11-15 13:01] dkodihal commented on #719
- [] Write dbus  interface for RTC in YAML.

[2016-11-15 13:02] dkodihal commented on #719
- [ ] Write d-bus interface for RTC control in YAML.

[2016-11-15 14:13] Youngzhong commented on #810
Dear william
Got it.I will try it.Thanks.I will change the IC from 16M to 32M.

[2016-11-15 14:17] Youngzhong commented on #810
Dear William
This is failure info。I try 3 times. The failure is the same . Is it a question of my network speed?
===================================================================
kunlun@kunlun-550-171cn:~/Desktop/openbmc-master/build$ bitbake obmc-phosphor-image
Loading cache: 100% |###########################################| ETA:  00:00:00
Loaded 2480 entries from dependency cache.
Parsing rec

[2016-11-15 15:06] #806 closed

[2016-11-15 16:33] williamspatrick commented on #810
@shenki , @bradbishop - I know we haven't had any problems lately building, but the SRC_URI looks funny.  Any ideas?

[code]

[2016-11-15 16:59] williamspatrick commented on #810
I'm seeing reports from some of our internal build tools that Github was having issues earlier today, even thought their status doesn't seem to report as such. @Youngzhong can you retry and see if issues have been resolved?

[2016-11-15 18:46] anoo1 commented on #675
Done, no need to hardcode the path object with the sdbus bindings.

[2016-11-15 18:46] #675 closed

[2016-11-15 22:34] anoo1 commented on #759
@shenki Do you think it'd help to update the stable branch to the upstream pflash like master, or what would you recommend for this issue?

[2016-11-15 22:41] shenki commented on #759
@anoo1 It my help. I don't know what the issue is though, so it may not.

You would need to backport the patches that refactored flasher to use libflash, as well as the pflash/libflash bitbake configuration.

[2016-11-15 22:47] amboar commented on #810
@williamspatrick How does the SRC_URI look funny? It looks roughly like what I'd expect it to.

[2016-11-15 22:54] shenki commented on #810
It has `protocol=https` but the URI is `git://`, which is not HTTPS

[2016-11-15 23:17] williamspatrick commented on #759
Based on the usage pointed out here, we are directly using 'pflash' in this error path.  On boot we update the "BMC_INV" partition with a device tree using pflash.  Since this is the [only] heavily used pflash call done it might be straight forward to move pflash and leave flasher as is to [hopefully] solve this?

[2016-11-16 00:31] amboar commented on #810
@shenki That's [fine according to the documentation](https://www.yoctoproject.org/docs/1.6/bitbake-user-manual/bitbake-user-manual.html#git-fetcher):

and

[2016-11-16 00:35] williamspatrick commented on #810
The `git://git@` plus `protocol=https` is specifically what had me confused.  'git@github.com' is the ssh user for github access.  So we have 3 different protocols all partially identified here.

[2016-11-16 00:37] amboar commented on #810
@williamspatrick yeah, supplying a user for unauthenticated https is odd, but in my mind shouldn't break. I wouldn't be surprised if I'm wrong though.

[2016-11-16 03:06] Youngzhong commented on #810
Dear William,Shenki and Amboar
Thank you very much for your support. I have already built 32M image.and Now I am testing.May be the problem of my speed? I try 5 times. Happy,The fifth times is OK.

[2016-11-16 04:00] sivassrr commented on #708
Thank you Williamli80 , Magic is to remove build directory. It got cleaned up and able to build successfully.

[2016-11-16 04:11] shenki commented on #785
Kernel patch http://patchwork.ozlabs.org/patch/694959/

Review: https://gerrit.openbmc-project.xyz/#/c/1194/

[2016-11-16 06:31] Youngzhong commented on #810
Dear William,Shenki and Amboar
The following method is correct?
1.Support AST2400
$ cd openbmc
$ TEMPLATECONF=openbmc-master\meta-openbmc-bsp\meta-aspeed\meta-ast2400\conf . openbmc-env
$ bitbake obmc-phosphor-image

2.Support AST2500
$ cd openbmc
$ TEMPLATECONF=openbmc-master\meta-openbmc-bsp\meta-aspeed\meta-ast2500\conf. openbmc-env
$ bitbake obmc-phosphor-image

3.Support PowerPC
$ cd openbmc

[2016-11-16 10:19] adamliyi commented on #665
@geissonator , I think for `FRU VPD` you mentioned here, is the FRU managed by BMC (that is, BMC read the FRU info from EEPROM)?

[2016-11-16 15:14] gkeishin commented on #794
Still seen on v1.99.0-251-gb78c6de latest build.. #806 is now fixed and verified .. but this poweron on BARE01 is still not good.. will try on another BarPvt to confirm if this still lingers on

[2016-11-16 15:26] williamli80 commented on #444
Patch need review: https://gerrit.openbmc-project.xyz/#/c/822/

[2016-11-16 16:01] spinler commented on #791
[ ] - Write a script that generates udev rules/systemd-device units from MRW which launch instances of phosphor-hwmon for hwmon entries.
[ ] - Create a native recipe for script.
[ ] - Create a target recipe that runs the script.
[ ] - Create hwmon udev-rule generating recipes for existing non-mrw systems.
[ ] - Enhance hwmon udev rules to include configuration (thresholds)
[ ] - Add hwmon<->udev v

[2016-11-16 16:09] williamspatrick commented on #810
'ast2400' and 'ast2500' will compile an image for a raw Aspeed evaulation board.  These do not have as many of the OpenBMC userspace applications installed because many of those are for managing a server.

'barreleye' is not a generic "Support Power" but a specific machine.  Each machine has its own templateconf.  So you need to make sure to build for the machine you are trying to put an image ont

[2016-11-16 16:51] gkeishin opened #811 "[Barreleye v1.99.0-251-gb78c6de ] Powercap properties not loaded"
`
root@barreleye:~# obmcutil state
 = HOST_BOOTED
root@barreleye:~#
`

- [x] Journal Logs
[barreleye_v1.99.0-251-gb78c6de_journal.txt](https://github.com/openbmc/openbmc/files/595228/barreleye_v1.99.0-251-gb78c6de_journal.txt)

[code]

Expecting these properties under sensors/

/org/openbmc/sensors/powercap/curr_cap
/org/openbmc/sensors/powercap/max_cap
/org/openbmc/sensors/powercap/min_cap
/org/o

[2016-11-16 17:25] geissonator commented on #624
Eddie out until after Thanksgiving so moving into next sprint.

[2016-11-16 17:30] geissonator commented on #631
Blocked on serverwiz2 incompatibility issues between hostboot and openbmc.  It's being worked.

[2016-11-16 18:54] geissonator commented on #751
Once we provide official power on support in the code, will this i2c command be required anymore (i.e. is there anything to do with this bug or do we just need to get official power on support in)?

[2016-11-16 19:30] paulgrobertson commented on #751
Yes.  VCS problem not fixed until dd2.0

[2016-11-16 22:53] amboar commented on #631
@geissonator how are serverwiz2 issues tracked? There's only one issue open in https://github.com/open-power/serverwiz/issues and it isn't related to serverwiz2/hostboot/openbmc incompatibilities.

[2016-11-16 23:09] spinler commented on #631
It's a hostboot problem, not a serverwiz problem.   I don't know if there's an issue/defect/story, but I know it's being worked.

[2016-11-16 23:36] shenki commented on #654
This is in the kernel and the device tree.

[2016-11-16 23:36] #654 closed

[2016-11-16 23:36] shenki commented on #785
Has three +1s, assigning to Patrick to get this merged

[2016-11-16 23:37] shenki commented on #694
This is complete as of cc1502f3d6c544116ed570b2a02da2cdcdd550c1

[2016-11-16 23:37] #694 closed

[2016-11-16 23:37] shenki commented on #450
I think this was resolved.

[2016-11-16 23:37] #450 closed

[2016-11-16 23:38] shenki commented on #564
Fixed as of c4fb73e744d4eb7dc845031dec9aa0543652c02f

[2016-11-16 23:40] shenki commented on #652
We have 36d6928f9964c6022298fa8579dc2f4edcaab554 in the tree.

We need the okay that this is providing the functionality that is required.

@williamspatrick can you assign to someone in Austin to chat with the hardware guys and work out what the status is?

[2016-11-17 00:47] #785 closed

[2016-11-17 00:52] williamspatrick commented on #652
I suspect it is not supporting the extra two bytes mentioned above because Tim was focused just on firestone. @msbarth or @spinler can you take this investigation on?

[2016-11-17 03:29] adamliyi commented on #585
@williamspatrick , @geissonator , can we close this issue. This issue is related with: openbmc/obmc-console#7, which has been close. And Andrew mentioned he did not observe this bug in auto test any more.

[2016-11-17 04:22] shenki opened #812 "Internal server error on REST request - dbus.exceptions.DBusException: org.freedesktop.DBus.Error.ObjectPathInUse: busy processing bus traffic"
I have a util that does a GET on `/org/openbmc/inventory/system`. With build [362](https://openpower.xyz/job/openbmc-build/distro=ubuntu,target=palmetto/362/artifact/images/palmetto/)

v1.99.0-257-g85b85b3b6ba4 85b85b3b6ba406

[code]

[2016-11-17 04:22] shenki commented on #812
Trying again I got a valid response. I assume that the system was still starting up.

We should return a better error message.

[2016-11-17 05:00] bradbishop commented on #809
For debug mode I was thinking we could just start the power on target:

systemctl start obmc-power-on@0.service

That might not be the right unit name.

[2016-11-17 06:14] ratagupt commented on #812
As the system is booting up and during that time there would be a more dbus traffic,Can we start the rest server once BMC reaches to BMC_READY state...Or Rest server should be the last one to start before BMC reaches to BMC_READY state?
@Brad:- what is your thought in this?

[2016-11-17 06:33] ratagupt commented on #811
https://github.com/openbmc/openbmc/issues/557
is it related to this one?

[2016-11-17 06:44] shenki opened #813 "Add non-root user for remote access"
A prototype of this could be the console user. By doing that we could do away with the port 2200.

[2016-11-17 08:15] dkodihal commented on #667
- [ ] readvpd : write an executable (which can be called by a udev rule) which reads vpd from a source such as eeprom. Invokes parser.
- [ ] parsevpd : write openpower VPD parser.
- [ ] writevpd : write code to fill inventory (by calling the inventory manager) in to the inventory.
- [ ] recipe updates
- [ ] Unit tests

[2016-11-17 10:41] williamspatrick commented on #813
We already have a method to add a new user. We plan to enhance this with roles later on.

Is there something more you would like?  I'm not thinking it is a good idea for a global 'console' user because then we cannot use console as a role. I could see wanting to give users just console access, for instance leasees of the machine.

[2016-11-17 11:52] vishwabmc commented on #737
- [ ]

[2016-11-17 11:59] vishwabmc commented on #737
The demo would be :

1/. Invoke the plysical LED manager and see that its able to make updates to the custom directory.
2/. Invoke Virtual LED manager and make sure that it still works the way it is already.

[2016-11-17 13:24] geissonator commented on #666
Nan has a lot on his plate this sprint so Ratan is going to take this one up.

[2016-11-17 13:37] gkeishin commented on #794
Looks good on v1.99.0-257-g85b85b3  ..did someone fix anything or it just went off and worked ?

[2016-11-17 13:37] geissonator commented on #783
[ ] - Determine requirements, send out email to distribution list
[ ] - Get new repo created, generate recipe and makefiles
[ ] - Define dbus interfaces (methods and properties)
[ ] - Implement properties
[ ] - Implement methods
[ ] - Write test cases to verify new properties and methods

Note that #784 will be where we officially move everything over to the new state management interfaces

[2016-11-17 14:40] gkeishin commented on #811
@ratagupt Yes and no..
- [x] Yes because we have this concern that there are two places one in Settings and another in Sensors..
- [x] No because we weren't expecting this interface to go off like this, probably if move to other URI where is that now ?

[2016-11-17 16:30] mine260309 opened #814 "GPIO abstraction for host-control"
Following the [commit](https://github.com/openbmc/skeleton/commit/20a194169c527fbded95749acd29ef44dfbe70c7) and #315, GPIOs used in host-control shall be abstracted as well to make the code independent from the GPIO names, otherwise the c code will have to deal with the differences of GPIOs between P8 and P9.

This task is to address the issue, using the similar solution to abstract host-control r

[2016-11-17 17:33] spinler commented on #791
Writing down some thoughts...
There is only 1 parameter that can be passed to a systemd unit (the template parameter) from udev, so how to get multiple pieces of information - the device path, the ~2 threshold values, and possibly a common name to the unit...

Ideas:
1. Send in the name of EnvironmentFile file that has been previously generated from MRW data (named by I2C bus/addr) that holds the

[2016-11-17 18:57] geissonator commented on #812
I'm seeing a similar error on boots of the latest code.  This is from the journal, there was no external stimuli at the time.  Let me know if we need a separate issue for this.  Looks like a generic issue where DBUS is getting bogged down and we don't have any internal retries?

[code]

[code]

[2016-11-17 19:56] geissonator commented on #812
Sometimes we seem to recover automatically ok, but sometimes I have to restart the system manager like in this case:

It was just sitting in the BASE_APPS state until I restarted it.

[code]

[2016-11-17 20:09] mine260309 commented on #814
Take Romulus as example, the previous `POWER_CONFIG` will be renamed and changed to something like below:
[code]

And in `pysystemmgr/system_manager.py`, the function `getPowerConfiguration()` will be renamed to `getGpioConfiguration()` with updated signature.

Welcome to suggest better names for `GPIO_CONFIGS` and `getPowerConfiguration()`

[2016-11-17 20:29] geissonator opened #815 "Network interface dropping once we get to BMC_READY"
I've been seeing this for a while (ever since we got the new network code in maybe?) but I've been mostly ignoring it since it didn't seem to affect anything.   For whatever reason, that changed in our recent code it seems.

The code update flow is to do a PrepareForUpdate REST call, which reboots the BMC.  It then waits for BMC_READY and starts to scp the flash image over.  During that scp, the n

[2016-11-17 22:40] msbarth commented on #652
@shenki I'm not familiar with were this commit is, could you tell me where its at and I'll look it over.

[2016-11-18 02:37] adamliyi commented on #648
@williamspatrick , @geissonator , could you merge patch: https://gerrit.openbmc-project.xyz/#/c/992/ and close this issue.
As discussed with Andrew,  I don't think currently any system specific setting in Witherspoon.py can block powering on Witherspoon, although some configurations are outdated, we can track them in other issues. It is very likely as IPL moving forward, there will be problem rela

[2016-11-18 04:59] gwshan commented on #815
From the log shown as above, the network interface seems brought down and up by application. Please guide who can help checking on it.

Oct 20 19:59:36 barreleye avahi-daemon[747]: New relevant interface eth0.IPv4 for mDNS.
Oct 20 19:59:36 barreleye avahi-daemon[747]: Registering new address record for 9.3.23.30 on eth0.IPv4.
Oct 20 19:59:36 barreleye systemd-timesyncd[718]: Network configuration

[2016-11-18 06:15] gkeishin opened #816 "[Code update] MTD device partition error for image-bmc"
We are trying to code update with the latest image.. looks like the partition is gone for toss

[code]
[code]

[code]

[2016-11-18 06:32] gkeishin commented on #816
- [x] Journal log  :
[barreleye_v1.99.0-261-g730ecb8_journal.txt](https://github.com/openbmc/openbmc/files/599183/barreleye_v1.99.0-261-g730ecb8_journal.txt)

All the systems are in pretty bad shape when we come in to start the code update or test..

[2016-11-18 07:13] ratagupt commented on #815
I am still unable to understand how and which application is bringing down the network,Or is it a genuine link failure issue...
There is a network failure, then avahi leaves  the multicast group.and once the link is up then again avahi joins the group..
Oct 20 19:59:36 barreleye netman.py[728]: Restarting networkd service...
Oct 20 19:59:36 barreleye systemd-networkd[721]: eth0: Lost carrier.
Oct

[2016-11-18 07:15] ceray0 opened #817 "can't fetch code from git://github.com/openbmc/linux"
below is the bitbake output info,please help me check, where is wrong?thank you!

ysdeng@ubuntu:~/zmcheng/work/openbmc/build$ bitbake obmc-phosphor-image
Loading cache: 100% |####################################################################################| ETA:  00:00:00
Loaded 2487 entries from dependency cache.
Parsing recipes: 100% |##########################################################

[2016-11-18 08:43] gkeishin commented on #816
As per Joel we need to ask Cedric why we got rid of the whole-of-flash mtd device

[2016-11-18 09:40] ratagupt commented on #816
Earlier the output of mtd is as follows.
mtd0: 02000000 00010000 "bmc"
mtd1: 00060000 00010000 "u-boot"
mtd2: 00020000 00010000 "u-boot-env"
mtd3: 00280000 00010000 "kernel"
mtd4: 001c0000 00010000 "initramfs"
mtd5: 01740000 00010000 "rofs"
mtd6: 00400000 00010000 "rwfs"
mtd7: 04000000 00001000 "pnor"

I had a chat with Cedric and he suggested that we cannot use labels under the flash device nodes

[2016-11-18 11:14] #519 closed

[2016-11-18 12:27] gkeishin commented on #816
Thanks @ratagupt .. looking forward for the build with the revert changes to bring the systems up and operational with latter driver...

[2016-11-18 13:25] adamliyi commented on #315
@williamspatrick , @geissonator , the fixes for this issue:
https://gerrit.openbmc-project.xyz/#/c/891/
https://gerrit.openbmc-project.xyz/#/c/415/
Has been reviewed, could you merge and close this issue?

[2016-11-18 13:32] dbuesom commented on #450
Hi @shenki, yes the issue was resolved after further discussions with Broadcom. We had to implement mutex locks in the APE region (not mentioned in the Broadcom 5720 specification) in order to handle contention of shared resources with the PowerVM FCode driver and OpenBMC's NCSI driver.

[2016-11-18 14:07] #752 closed

[2016-11-18 14:08] williamspatrick commented on #743
My understanding is this has been resolved.

[2016-11-18 14:08] #743 closed

[2016-11-18 14:19] williamli80 commented on #640
@amboar @williamspatrick @bradbishop @geissonator Andrew help to find out the useful information about this issue:
https://lists.yoctoproject.org/pipermail/yocto/2016-April/029582.html.
As a known issue, the introspection data cannot be built on ppc64.
To work around, I disable the use of qemu when we build openbmc. by modifying the configuration file:
[code]
I verified on our ppc64le machine.  It

[2016-11-18 14:41] geissonator commented on #812
Ratan, Patrick was thinking we want to look at "dbus-monitor —system" during the fail time to see what's happening on the dbus.  His thought is maybe the mapper code is doing a hard poll on the bus.  Brad may be able to help with some ideas.

[2016-11-18 15:02] #315 closed

[2016-11-18 16:06] mine260309 commented on #743
Yes, the issue is resolved.
And I opened a new task to abstract GPIO for host-control #814, I will work on that task.

[2016-11-18 16:24] mine260309 commented on #816
1. The update script `meta-phosphor/common/recipes-phosphor/initfs/files/obmc-update.sh` detects mtd name to decide which mtd device to flash. (See `findmtd()`)
2. The REST script `pyflashbmc/bmc_update.py` expect tarball, e.g. `romulus-20161117210452.all.tar`, and if extracted, the image file is `image-bmc`, so the above update script will try to find a mtd device with name `bmc`.

As I know that

[2016-11-18 16:28] mine260309 commented on #817
Linux repo is huge, I guess it's due to network issues since the error says ` fatal: read error: Connection reset by peer`

[2016-11-18 16:47] mine260309 opened #818 "Uninitialized `GError*` cause `read_power_gpio()` crash"
In `libopenbmc_intf/power_gpio.c`, the below code snippet:
[code]
In a full build the code works fine.
But if I compile the code manually and copy to rootfs, the code crashes at the line `fprintf()`.

The root cause is that `GError *error;` is not initialized to NULL, and thus it's a random value on stack, so if the call succeeds, `error` is not changed and remains the random value, then the code

[2016-11-18 18:54] JoshDKing commented on #772
- [ ] Determine the necessary requirements & send out email
- [ ] Define yaml for properties and their functions
- [ ] Implement the defined functions & properties

[2016-11-18 21:30] #818 closed

[2016-11-19 00:17] shenki commented on #816
There are two issues at play. One is the "bmc" label has gone from the mtd device that represents the entire flash.

Secondly, the mtd device that represents the entire flash has gone away. It's not clear to me if it has gone on both g4 and g5 systems, or just on g5.

@legoater what do you think?

[2016-11-19 01:31] GHF commented on #650
@geissonator @shenki How are you folks overriding the GPIOs used by pdbg? It looks like that's all hardcoded: https://github.com/open-power/pdbg/blob/master/libpdbg/bmcfsi.c#L31-L39

I don't see machine patches against pdbg in meta-witherspoon.

[2016-11-19 06:26] legoater commented on #816
commit [e62c7f111755](https://github.com/openbmc/linux/commit/e62c7f11175525c028d9a6abaf6a2a5c275664d1) ("ARM: dts: aspeed: fix flash module device nodes") removed at the flash level on the label

* ```pnor``` on barreleye, firestone, garrison, palmetto, zaius
* ```alt```  on witherspoon, romulus
* ```bmc```  on all, as it came with the flash layout .dtsi file

@mine260309 : the changes were propo

[2016-11-21 00:25] shenki commented on #816
@legoater I re-read upstream's comment on your proposed bindings and I think they are okay with adding a `label` property to the `jedec,spi-nor` nodes as long as we add that to the device tree bindings documentation.

[2016-11-21 00:49] amboar opened #819 "Palmetto host shows no console output, chassis_control.py backtraces during poweron"
The host state fails to transition out of HOST_POWERED_ON on palm5 running a clean build of 730ecb841df9eace1febaf5ade7cff66ff18c583. There's no console output from the host, and a backtrace appears in some of the system state management code in `chassis_control.py`:

[code]

I've captured [the full journalctl output](https://github.com/openbmc/openbmc/files/602454/journal.txt)

[2016-11-21 01:48] amboar commented on #522
@shenki please reopen this issue. I've been bitten by it twice recently.

[2016-11-21 06:40] gkeishin commented on #794
The newer driver build power on failed .. v1.99.0-271-g790e82a

- [x] Journal log
[barreleye_v1.99.0-271-g790e82a_journal.txt](https://github.com/openbmc/openbmc/files/602846/barreleye_v1.99.0-271-g790e82a_journal.txt)

[2016-11-21 06:48] legoater commented on #816
ok. I think it is indeed the best solution. I have restarted the thread on this particular topic to make sure my understanding is correct and I will send a patch re-adding these labels on the openbmc kernel.

[2016-11-21 07:51] shenki opened #820 "Ensure builds are not -dirty"
Our CI builds come out as -dirty. This means git has found uncommitted artefacts in the build tree. We should resolve this, so we know when builds are actually dirty (ie, someone's been doing experiments on their workstation) or if it's a clean CI built image.

In addition to this, adding the Jenkins build info to the builds of master would be a great addition. Having this in `/etc/os-release` wou

[2016-11-21 09:24] gkeishin opened #821 "[ Barreleye v1.99.0-271-g790e82a ] BIOS versioning string changed ?"
The earlier driver BIOS version naming were in this format example ` open-power-barreleye-v1.8`
however in the new build we see this in this format of versioning `OpenPower-Barreleye-v1.0.1"`
so is this going to be the generic versioning ahead ?

` rango@ubuntu:~$ curl -c cjar -b cjar -k -H "Content-Type: application/json" -X  GET https://xx.xx.xx.xx/org/openbmc/inventory/system/bios
`
{
  "data":

[2016-11-21 10:02] shenki commented on #821
Those strings come from the VERSION partition in the PNOR. They are free-form strings that are generated by the op-build build process, so they may change at any time.

They are the output of a variant of `git describe`, which means the will include whatever git tags are present in op-build.

The op-build project may chose to strictly control the strings, but other vendors may not, so whatever cod

[2016-11-21 10:04] shenki opened #822 "Enable second watchdog on ast2500 systems"
ast2500 systems such as Witherspoon can boot from a backup SPI Flash if the second watchdog, WDT2, expires. This is designed to be used as a failsafe to fall back to a known good BMC image.

We should enable the watchdog in u-boot so if u-boot or the kernel fail, the system can boot from the backup image. This will require making sure our update documentation and code is aware of the watchdog and

[2016-11-21 10:31] ratagupt commented on #821
seems we can make the change in the test code...Test code should be generic enough..

[2016-11-21 13:12] tk-wfischer commented on #605
Hi again, I just wanted to let you know that the necessary information is also under NDA from TYAN's side. So for me I think that OpenBMC can't be supported today for Habanero. From my side, this issue can be closed. Thank you everybody for your help.

[2016-11-21 13:17] shenki commented on #820
This could be a clue https://lists.yoctoproject.org/pipermail/yocto/2015-May/024832.html

[code]

Is the dirty tag due to the way we're using `local.conf`?

[2016-11-21 13:40] #605 closed

[2016-11-21 13:56] geissonator commented on #819
Anything suspicious in the host setting service?  "systemctl status org.openbmc.settings.Host.service | cat"

[2016-11-21 14:17] geissonator commented on #794
@gkeishin please open new issues for things like this.  It's confusing to track multiple problems using the same issue.  I think the original problem you opened this issue for was resolved.  This new issue may be related to the PCIe workaround we brought in, I see this during power on:

[code]

[2016-11-21 14:24] rahulmah commented on #644
@vishwabmc : Also see that due to this issue even the REST is failing to set network setting override. As suggested earlier, if we try to set allowed value for addr_typ to 0 and 1 (in /usr/sbin/settings_manager.py) this issue is not seen with REST and IPMI both. When you are planning to drop fix for this issue ?

[code]

[2016-11-21 14:38] shenki opened #823 "Errors at startup on palmetto v1.99.0-265-g2d652fd-dirty"
Cannot boot host.

[code]

But nothing on the vuart, and no indication of booting.

[code]

[2016-11-21 14:43] gkeishin opened #824 "[ Barreleye v1.99.0-271-g790e82a ] Poweron didnt boot to HOST_BOOTED"
The newer driver build power on failed .. v1.99.0-271-g790e82a

- [x] Journal log
[barreleye_v1.99.0-271-g790e82a_journal.txt](https://github.com/openbmc/openbmc/files/602846/barreleye_v1.99.0-271-g790e82a_journal.txt)

As per @geissonator input

This new issue may be related to the PCIe workaround we brought in, I see this during power on:

[code]

[2016-11-21 14:44] gkeishin commented on #794
Sure @geissonator Open for the new one https://github.com/openbmc/openbmc/issues/824

So we can close this current one ?

[2016-11-21 15:07] ratagupt commented on #823
ov 21 14:37:00 palmetto systemd[1]: Started Wait for /org/openbmc/control/host0.
Nov 21 14:37:00 palmetto systemd[1]: org.openbmc.control.Power@0.service: Main process exited, code=dumped, status=11/SEGV
Nov 21 14:37:00 palmetto systemd[1]: Failed to start Phosphor Power0 Control.
Nov 21 14:37:00 palmetto systemd[1]: org.openbmc.control.Power@0.service: Unit entered failed state.
Nov 21 14:37:00 p

[2016-11-21 15:08] shenki opened #825 "discover_system_state: Exception at boot"
First boot after flashing v1.99.0-264-g6bd26a3-dirty (6bd26a3) on a palmetto

[code]

[2016-11-21 15:11] shenki commented on #825
Same issue as https://github.com/openbmc/openbmc/issues/823

[2016-11-21 15:11] shenki commented on #823
Also present in v1.99.0-264-g6bd26a3-dirty (6bd26a3)

[2016-11-21 15:14] geissonator commented on #794
Thanks, yep this was fixed under #806

[2016-11-21 15:14] #794 closed

[2016-11-21 15:16] ratagupt commented on #823
is it related to this one?
https://github.com/openbmc/skeleton/commit/0475f65f5feb9381ef2710dca96b545546ccd944...
@adamliyi :- Can you take a quick look on this?

[2016-11-21 15:21] shenki commented on #823
[code]

As @ratagupt says, the first bad commit is the change in skeleton.

[2016-11-21 15:25] adamliyi commented on #824
If it is related the PCIe workaround from my patch - I will have a look.

[2016-11-21 16:10] mine260309 commented on #823
My wild guess: it could be the same root cause as #818, I was meeting the same issue last week.
Suggest pick the latest skeleton (d560aac) and see if it works.

[2016-11-21 19:00] legoater commented on #816
I spend some time today on this issue and it seems that the 'bmc' label disappearance is not due to the commit e62c7f111755. I will bisect tomorrow.

[2016-11-21 19:20] bradbishop commented on #746
https://gerrit.openbmc-project.xyz/#/c/1124
https://gerrit.openbmc-project.xyz/#/c/1125
https://gerrit.openbmc-project.xyz/#/c/1126

upstream:

https://patchwork.openembedded.org/patch/133725/
https://patchwork.openembedded.org/patch/133722/

[2016-11-21 19:20] #746 closed

[2016-11-21 19:21] bradbishop commented on #726
https://gerrit.openbmc-project.xyz/#/c/1157/

[2016-11-21 19:23] bradbishop commented on #728
https://gerrit.openbmc-project.xyz/#/c/1106/
https://lists.ozlabs.org/pipermail/openbmc/2016-November/005558.html

[2016-11-21 19:30] #550 closed

[2016-11-21 19:40] #627 closed

[2016-11-21 19:41] #736 closed

[2016-11-21 20:04] mine260309 commented on #825
I have a local build on latest master with #818 fixed, the issue mentioned in #823 is fixed, there're no more power_control.exe crash, but this issue related to "discover_system_state.py" remains.
So I'd say they are different issues.

`obmc-mgr-state.service` seems depends on other services, e.g. power control, but `obmc-mgr-state.service` seems not defines such dependency.
I'm not very familiar

[2016-11-21 21:05] mine260309 commented on #814
Submitted review:
https://gerrit.openbmc-project.xyz/#/c/1248
https://gerrit.openbmc-project.xyz/#/c/1249

The changes are tested on Romulus and Palmetto, and confirmed that power_control and host_control are working OK.

[2016-11-22 00:53] amboar commented on #814
@shenki should we try to incorporate some of your thoughts on GPIO handling into @mine260309's changes here? Might be a useful proving-ground.

[2016-11-22 01:01] amboar commented on #522
Half-serious commit that works around the problem for the moment:

https://gerrit.openbmc-project.xyz/#/c/1238/

[2016-11-22 01:17] amboar commented on #791
Might be a long shot as the restrictions are quite tight, but can we leverage systemd unit generators?

[2016-11-22 01:21] shenki commented on #823
This is fixed with @mine260309 's patch, which is included as of [v1.99.0-275-g63248b4](63248b4)

[2016-11-22 01:21] #823 closed

[2016-11-22 01:55] geissonator opened #826 "Optimize or fix the 20 minute boot watchdog timeout"
See https://gerrit.openbmc-project.xyz/#/c/1238/ for the code change and discussion.

[2016-11-22 02:09] shenki commented on #650
We chatted on IRC about this. The goal is to get openfsi merged into the tree, and have pdbg use that.

If we don't have that in place before the end of the week we will instead apply a patch to pdbg so it can be used in the mean time.

[2016-11-22 02:13] apopple commented on #650
@shenki You will also need a direct FSI read/write interface for OpenFSI to kick off the CFAM sequence. Chris was going add this to OpenFSI at some point, I will check on the current patch series. It should be pretty easy to add if it's not there though.

[2016-11-22 02:41] shenki commented on #825
I'm still seeing this with [v1.99.0-275-g63248b4-dirty](63248b4).

[2016-11-22 02:43] shenki opened #827 "Exception when powering off v1.99.0-275-g63248b4-dirty"
On a system that is also showing #825, the system comes up in `HOST_BOOTED` state. Doing a poweroff results in this:

[code]

[2016-11-22 02:46] shenki commented on #826
I thought about contacting upstream systemd to ask if they would add a way to extend the watchdog timeout for that one shutdown. I suspect their answer would be to not do work in the shutdown path that is expected to take a long time.

Instead we should put the system in a state that is like shutdown, where other userspace processes are not running, and the filesystems are all unmounted, to do our

[2016-11-22 04:09] amboar commented on #826
@shenki what you describe is effectively what it is: Systemd has transitioned us out of the root filesystem back into initramfs and unmounted everything ready for us to upgrade. The problem is the means to get there is to invoke a shutdown/reboot, and by that point the watchdog is already set. I think systemd has exec'ed to our process to get out of its own way thus it can't reconfigure the watchd

[2016-11-22 08:21] Youngzhong commented on #810
Dear All
This is ok.Thanks!

[2016-11-22 08:21] #810 closed

[2016-11-22 08:51] legoater commented on #816
My config was missing ```CONFIG_MTD_PARTITIONED_MASTER=y```. The interesting thing is that we still have this mtd device without the config option being set :
[code]

But for a customize  label we need to set ```CONFIG_MTD_PARTITIONED_MASTER=y```

@shenki, @mine260309, shall I re-add the bmc labels  ```bmc``` and ```pnor``` or just ```bmc``` ?

Thanks,

[2016-11-22 08:54] adamliyi commented on #824
The error: `TypeError: settings_signal_handler() takes exactly 5 arguments (4 given)` looks to be caused by commit: https://github.com/openbmc/phosphor-settingsd/commit/62b55f35fde5e057bb7b0294f2e2d8ad66170e2d#diff-3cc9423a40eac5e80076950f02247305R150
@SS-IBM , I've put a fix at: https://gerrit.openbmc-project.xyz/#/c/1257/. Please have a look.

[2016-11-22 10:42] ratagupt commented on #827
https://github.com/openbmc/openbmc/issues/824.

Seems it is same...

[2016-11-22 10:43] ratagupt commented on #827
@adamliyi :- Can you take a look is this same as 824?

[2016-11-22 11:02] #824 closed

[2016-11-22 14:47] gkeishin opened #828 "[Barreleye v1.99.0-280-g29af197] Poweron broken... Failed to boot HOST"
Powering on stuck at HOST_POWERING_ON

- [x] Journal log
[barreleye_v1.99.0-280-g29af197_poweron_journal.txt](https://github.com/openbmc/openbmc/files/606685/barreleye_v1.99.0-280-g29af197_poweron_journal.txt)

[code]

[2016-11-22 15:00] ratagupt commented on #828
Oct 20 19:58:20 barreleye phosphor-mapper[694]: ObjectMapper discovery complete
Oct 20 19:59:17 barreleye kernel: random: nonblocking pool is initialized
Oct 20 19:59:17 barreleye kernel[670]: random: nonblocking pool is initialized
Oct 20 20:02:45 barreleye systemd[1]: org.openbmc.ObjectMapper.service: Start operation timed out. Terminating.
Oct 20 20:02:45 barreleye systemd[1]: Failed to start P

[2016-11-22 15:13] ratagupt commented on #828
Oct 20 20:02:45 barreleye mapper[731]: Error starting event loop: No route to host
Oct 20 20:02:46 barreleye mapper[735]: Error starting event loop: No route to host
 phosphor-objmgr/libmapper/app.c

	r = sd_event_loop(loop);
	if(r < 0) {
		fprintf(stderr, "Error starting event loop: %s\n",
				strerror(-r));
		goto finish;
}
seems while running the event loop is getting failed in the mapper..

[2016-11-22 15:13] ratagupt commented on #828
@bradbishop :- Can you please help?

[2016-11-22 15:45] adamliyi commented on #828
@ratagupt , I did some quick investigate, the cause may be the avahi daemon
[code]

[2016-11-22 16:48] ratagupt commented on #828
@adamliyi :- How it could be avahi-daemon?Not able to understand...Why the mapper sd_event_loop will fail due to avahi?

[2016-11-22 17:07] #436 closed

[2016-11-22 17:08] spinler commented on #791
Prosposed udev rules at https://gerrit.openbmc-project.xyz/#/c/1243/

[2016-11-22 17:09] spinler commented on #791
@amboar Could you give an example of how that would work?

[2016-11-22 18:06] gkeishin opened #829 "[Barreleye/Palmetto] Non-SSL Connection to port 443 Error"
This failure has been in automation for quite sometime. We had a discussion on this with @bradbishop since it was not really a priority but now its a consistent failure and we would like to close on this..

**Test case expectation**

`This testcase is for test to check OpenBMC machine will not accepts the non-secure connection that is with http to port 443 and expect 400 in response`

**In actual

[2016-11-22 18:16] gkeishin commented on #821
I think we can do as much like making sure the Version Field is NOT empty and doesn't have wildcards character like $#%* etc... I that should do.. I don't think it does add any value nevertheless we can tweak the existing test code to do like this check..

@SrideviRamesh  Can u take a look at this ?

[2016-11-22 18:17] williamli80 commented on #640
PR: https://gerrit.openbmc-project.xyz/#/c/1276/

[2016-11-22 18:30] gkeishin commented on #661
This is no longer a problem in latter driver.. assuming there is no particular pending here.. closing this one.

[2016-11-22 18:30] #661 closed

[2016-11-22 18:31] gkeishin commented on #626
This is not seen in latter driver and seems intermittent.. There is no proper error loging and debugging to do at this point.. so closing this..

[2016-11-22 18:31] #626 closed

[2016-11-23 01:41] amboar commented on #791
@spinler I didn't have anything concrete in mind, just thought it might be worth asking the question.

[2016-11-23 07:05] gkeishin opened #830 "[Barreleye v1.99.0-291-g7a6b0ba] The base /org listing pruned off ?"
rango@ubuntu:~/openbmc-test-automation$ curl -c cjar -b cjar -k -H "Content-Type: application/json" -X  GET https://xx.xx.xx.xx/
{
 "data": [],
 "message": "200 OK",
 "status": "ok"
}

This is suppose to return /org in the data listing.. so the base seems to start with /org/openbmc

rango@ubuntu:~/openbmc-test-automation$ curl -c cjar -b cjar -k -H "Content-Type: application/json" -X  GET https://

[2016-11-23 07:18] gkeishin commented on #821
Closing here.. will fix in Automation or we may decide to drop the changes if it doesn't add value after discussion.

https://github.com/openbmc/openbmc-test-automation/issues/226

[2016-11-23 07:18] #821 closed

[2016-11-23 07:36] ratagupt commented on #828
Mapper discovery started at
 Oct 20 19:58:09 barreleye phosphor-mapper[694]: ObjectMapper startup complete.  Discovery in progress...
Completed at
Oct 20 19:58:20 barreleye phosphor-mapper[694]: ObjectMapper discovery complete >>>>>completed
Oct 20 19:59:17 barreleye kernel: random: nonblocking pool is initialized
Oct 20 19:59:17 barreleye kernel[670]: random: nonblocking pool is initialized
Oct 2

[2016-11-23 07:48] ratagupt commented on #829
I think that HTTP ERROR 4xx is for (request data is not valid).Now as in this scenario we are sending the http request to port 443,as the ssl connection would not be established so server doesn't get a chance to look at the request.so you should get error 104. which is connection reset by peer.

[2016-11-23 08:45] gkeishin commented on #829
@bradbishop  Can you confirm on @ratagupt statement above. Thanks

[2016-11-23 10:23] gkeishin opened #831 "[Barreleye v1.99.0-291-g7a6b0ba] REST settings view listing gone ?"
The host is booted however when I looked at get request to /org/openbmc/  we now no longer see settings service..  any explanation here ?

- [x] Journal log
[barreleye_v1.99.0-291-g7a6b0ba_HOST_BOOTED.txt](https://github.com/openbmc/openbmc/files/608575/barreleye_v1.99.0-291-g7a6b0ba_HOST_BOOTED.txt)

rango@ubuntu:~/TEST_LOGS$curl -c cjar -b cjar -k -H "Content-Type: application/json" -X  GET http

[2016-11-23 14:04] #444 closed

[2016-11-23 14:12] bradbishop commented on #828
This is fixed with https://gerrit.openbmc-project.xyz/#/c/981/

There was a small window yesterday where master was broken...we seem to have grabbed a build that was created during that window.

[2016-11-23 14:12] #828 closed

[2016-11-23 14:13] bradbishop commented on #830
This has the same cause as https://github.com/openbmc/openbmc/issues/828

[2016-11-23 15:37] gkeishin commented on #831
This is also seems then due to https://github.com/openbmc/openbmc/issues/828 .. which seems fixed.. awaiting build to verify..

[2016-11-23 20:59] #684 closed

[2016-11-23 20:59] #719 closed

[2016-11-23 21:04] geissonator commented on #546
Not merged, moving sprint.  https://gerrit.openbmc-project.xyz/#/c/1110/

[2016-11-23 21:11] #683 closed

[2016-11-23 21:13] geissonator commented on #648
Just need another +1 from Joel and we can merge it.  Leaving in current sprint since seems really close.

[2016-11-23 21:16] #728 closed

[2016-11-23 21:19] geissonator commented on #727
Still under review, moving - https://gerrit.openbmc-project.xyz/#/c/1023/

[2016-11-23 21:20] geissonator commented on #732
Still under review, moving - https://gerrit.openbmc-project.xyz/#/c/1170/

[2016-11-23 21:27] geissonator commented on #408
@williamspatrick Still an issue now that #407 is integrated?

[2016-11-23 21:31] geissonator commented on #583
Code not merged, moving to next sprint.

[2016-11-24 05:18] gkeishin commented on #831
Still an issue in v1.99.0-293-g2feb3ec build  ( https://openpower.xyz/job/openbmc-build/386/ )

[2016-11-24 05:25] gkeishin opened #832 "PGOOD Poll Timeout"
Nov 21 06:36:08 barreleye systemd[1]: Reached target Start Host0 (Pre).
``` Nov 21 06:36:12 barreleye power_control.exe[767]: ERROR PowerControl: Pgood poll timeout```

`Build v1.99.0-293-g2feb3ec - ( https://openpower.xyz/job/openbmc-build/386/ )`
`root@barreleye:~# uptime`
`06:43:05 up 35 min,  load average: 0.18, 0.46, 0.41`
`root@barreleye:~# obmcutil state`
` = HOST_POWERING_ON`
- [x] Journal

[2016-11-24 05:28] gkeishin commented on #830
We still continue to see this in latest build v1.99.0-293-g2feb3ec - ( https://openpower.xyz/job/openbmc-build/386/ )
- [x] Journal log -
[barreleye_v1.99.0-293-g2feb3ec_Poweron_journal.txt](https://github.com/openbmc/openbmc/files/610526/barreleye_v1.99.0-293-g2feb3ec_Poweron_journal.txt)

[2016-11-24 06:26] gkeishin commented on #832
This same error is seen across Barreleye systems.

[2016-11-24 06:26] ratagupt commented on #832
Nov 21 06:09:49 barreleye settings_manager.py[783]: Traceback (most recent call last):
Nov 21 06:09:49 barreleye settings_manager.py[783]:   File "/usr/sbin/settings_manager.py", line 245, in <module>
Nov 21 06:09:49 barreleye settings_manager.py[783]:     allobjects = create_object(s.SETTINGS)
Nov 21 06:09:49 barreleye settings_manager.py[783]:   File "/usr/sbin/settings_manager.py", line 71, in

[2016-11-24 06:29] ratagupt commented on #831
Nov 21 06:09:47 barreleye settings_manager.py[786]: Traceback (most recent call last):
Nov 21 06:09:47 barreleye settings_manager.py[786]:   File "/usr/sbin/settings_manager.py", line 245, in <module>
Nov 21 06:09:47 barreleye settings_manager.py[786]:     allobjects = create_object(s.SETTINGS)
Nov 21 06:09:47 barreleye settings_manager.py[786]:   File "/usr/sbin/settings_manager.py", line 71, in

[2016-11-24 06:30] ratagupt commented on #832
it is same as 831.
https://github.com/openbmc/openbmc/issues/831

[2016-11-24 12:18] rahulmah opened #833 "[ Barreleye v1.99.0-293-g2feb3ec ] TimeManager service is not running"
TimeManager service is not running in Barreleye system. We need to start it manually to get it running. It need to be auto started.

Process running with recently flash system
[code]
Start timemanager service
[code]
Time manager service running after starting manually
[code]

**BMC fw info**
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Projec

[2016-11-24 13:39] ratagupt commented on #833
@rahulmah :- Please attach the journal logs..so it will be easy to debug..

[2016-11-24 23:21] amboar commented on #832
@ratagupt please use the triple backtick markdown when pasting logs into github comments. It formats the content into a scroll pane with fixed-width text which makes it much easier on the eye and stops github from rendering emojis in your log output.

[code]

[2016-11-25 00:30] amboar commented on #526
@geissonator I was just looking at this with respect to @mine260309's patch https://gerrit.openbmc-project.xyz/#/c/544/

As of right now, if the code is the documentation then this is expected behaviour. If you'd like to update the bootloader then you *must* supply the `<platform>.tar` file (not `<platform>.all.tar`) and you *must not* supply the `update_kernel_and_apps` option.

[2016-11-25 00:44] amboar opened #834 "bmc_update: update_kernel_and_apps option is redundant"
If the requirements for updates are documented by the implementation in skeleton's `pyphosphor/bmc_update.py` then the `update_kernel_and_apps` option is redundant.

Users can upload one of two tarballs:

1. The tarball containing a single file of the complete flash image
2. The tarball containing the partition files, one for each of the u-boot, kernel, initrd, rofs and rwfs partitions

If the tar

[2016-11-25 03:54] mine260309 commented on #526
@amboar By flashing `<platform>.all.tar` the bootloader should be updated as well.
If you try to update `<platform>.tar` and `update_kernel_and_apps` option is 0, you get error: `ERROR: File not found in update archive: image-bmc`

[2016-11-25 04:10] amboar commented on #526
@mine260309 agh! I got the tarball names backwards.

@geissonator ignore the above :)

[2016-11-25 05:22] gkeishin opened #835 "[ Barreleye v1.99.0-295-g3e20a3d ] Poweroff Failed to bring to Standby stable"
The poweroff didnt bring the BMC state to HOST_POWERED_OFF..  seems like it's stuck at  HOST_POWERING_OFF state forever

- [x] Journal Log
[barreleye_v1.99.0-295-g3e20a3d_HOST_POWERING_OFF.txt](https://github.com/openbmc/openbmc/files/612551/barreleye_v1.99.0-295-g3e20a3d_HOST_POWERING_OFF.txt)

`root@barreleye:~# obmcutil state`
 = HOST_POWERING_ON
`root@barreleye:~# obmcutil poweroff`
 = None
`r

[2016-11-25 05:28] gkeishin opened #836 "[ Witherspoon v1.99.0-295-g3e20a3d ] RTC Unable to read the hardware clock"
[code]

- [x] Journal log
[witherspoon_v1.99.0-295-g3e20a3d_journal.txt](https://github.com/openbmc/openbmc/files/612562/witherspoon_v1.99.0-295-g3e20a3d_journal.txt)

[2016-11-25 06:45] ratagupt commented on #835
ov 21 06:11:32 barreleye systemd[1]: Starting Set Fans to Maximum...
Nov 21 06:11:32 barreleye fan_control.exe[766]: Failed to GetObject: The name org.openbmc.ObjectMapper was not provided by any .service files
Nov 21 06:11:32 barreleye fan_control.exe[766]: fanctl: Failed to get bus name for /org/openbmc/sensors/speed/fan0
Nov 21 06:11:32 barreleye fan_control.exe[766]: fanctl: Failed to set fan[

[2016-11-25 07:06] ratagupt opened #837 "Change the mapper path to the correct one.."
Following two files pointing the old mapper path.

1)  skeleton/pciedetect/pcie_slot_present_obj.c
2)  skeleton/fanctl/fan_control.c

org.openbmc.ObjectMapper should be changed to xyz.openbmc_project.ObjectMapper.

[2016-11-25 07:15] rahulmah commented on #833
@ratagupt : Journal will not capture any useful info in this case. Cross checked with Vishwa, no logs are required here. Can you please assign this issue to Vishwa?

[2016-11-25 07:23] ratagupt commented on #836
I ran the command on the same machine and didn't find any issue.

root@witherspoon:~# ssh root@9.3.185.29
root@witherspoon:~# hwclock --utc --systohc
root@witherspoon:~# hwclock --utc --systohc
root@witherspoon:~# hwclock --show
Mon Nov 21 08:21:53 2016  0.000000 seconds
root@witherspoon:~# hwclock  --hctosys
root@witherspoon:~# date
Mon Nov 21 08:27:27 UTC 2016
root@witherspoon:~# hwclock --show

[2016-11-25 07:24] ratagupt commented on #836
root@witherspoon:~# hwclock --utc --systohc
root@witherspoon:~# hwclock --utc --systohc
root@witherspoon:~# hwclock --show
Mon Nov 21 08:21:53 2016  0.000000 seconds
root@witherspoon:~# hwclock  --hctosys
root@witherspoon:~# date
Mon Nov 21 08:27:27 UTC 2016
root@witherspoon:~# hwclock --show
Mon Nov 21 08:28:10 2016  0.000000 seconds

@gkeishin Can you tell me what is the use case?hoe you are run

[2016-11-25 07:29] gkeishin commented on #836
@ratagupt Not a use case.. I just booted the system and I saw this error messages in the Journal.. and I keep seeing this every boot..

[2016-11-25 08:45] Youngzhong opened #838 "Can't ping network in AST2400"
Dear All
I can't ping network in AST2400.But the MAC and IP are OK in net confing.
When the BMC boot,We find this info(ftgmac100 1e660000.ethernet eth0: NCSI interface down).
The NCSI interface is closed.Thanks!

HW Info:
BCM54612   NCSI

BMC Info:
[code]

[2016-11-25 09:25] gwshan commented on #838
Please tell the best way to contact you: IRC or sametime etc.

[2016-11-25 09:36] vishwabmc commented on #833
@ratagupt The issue is that org.openbmc.TimeManager.service is not put into /lib/systemd/system on this HW ( on my QEMU, I saw it was ). So there will not be anything in journal about timemanager.

[2016-11-27 20:14] williamspatrick commented on #526
Garbled console doesn't prove anything about what was updated. There is also a uboot environment variable with the console speed. If this isn't cleared, it will override any default that might be in your image.

[2016-11-27 23:58] amboar commented on #836
@ratagupt please use the code-fencing (triple-backtick) markdown when pasting console/log output into github. This way your output will render correctly (i.e. without random strike-throughs or emojis). See @gkeishin's example in the original post.

[2016-11-28 00:00] amboar commented on #837
See #835

[2016-11-28 01:43] geissonator commented on #816
Hey guys, this one is a pretty serious hit to our automated testing, will a fix be coming soon?  We'd even take a quick hack if that's a better option for now.

[2016-11-28 02:00] geissonator commented on #731
The final part of this requires some more work within the phosphor-dbus-interfaces repo (i.e. the initial makefile and recipes need to be created).   Then the work from this story can be run as a part of that build process.  Going to reduce this to 2 pts for the work to the scripts and create a seperate 1 pointer to incorporate them into the phopshor-dbus-interface repo once that work is done.

[2016-11-28 02:01] geissonator opened #839 "Automatically build error yaml within phosphor-dbus-interface repo"
See #731 for some details.  There's some discussion on this up here - https://gerrit.openbmc-project.xyz/#/c/1192/

End goal with this story is we're building the generated elog header and cpp files for the errors defined within the phosphor-dbus-logging repo.

[2016-11-28 02:02] shenki commented on #816
@legoater Re-add both please

[2016-11-28 02:04] #731 closed

[2016-11-28 02:06] shenki commented on #836
@gkeishin Please add a comment with the machine you were seeing this on, and which version of the firmware and/or kernel you are running.

I had a look at w8 and the rtc appears ok:

[code]

w5 appears broken:

[code]

[2016-11-28 02:17] geissonator commented on #723
Should just need a tweak to https://github.com/openbmc/openbmc-build-scripts/blob/master/scripts/boot-qemu.sh to support an optional machine param and then set it up in the main script - https://github.com/openbmc/openbmc-build-scripts/blob/master/run-qemu-robot-test.sh
Then just a change to the jenkins job to call it appropriately.  Unfortunately though I've been chasing an intermittent CI failur

[2016-11-28 04:36] gkeishin commented on #836
@shenki  This is on w1  - v1.99.0-295-g3e20a3d

[2016-11-28 06:24] sivassrr opened #840 "Witherspoon: BMC Self test result ipmi throwing error"
root@witherspoon:/tmp# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-295"
VERSION_ID="v1.99.0-295-g3e20a3d-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-295"
BUILD_ID="v1.99.0"

Tried to add automated test case for ipmi self test result  - Related to https://github.com/openbm

[2016-11-28 06:35] sivassrr commented on #840
root@witherspoon:/tmp# ./ipmitool -I dbus bmc selftest
Selftest: not implemented

[2016-11-28 06:36] sivassrr commented on #840
Looks like it is not implemented and based on the discussion, It seems down the line , it will be get implemented seems.

[2016-11-28 06:36] #840 closed

[2016-11-28 06:37] sivassrr commented on #840
root@witherspoon:/tmp# ./ipmitool -I dbus chassis selftest
Self Test Results    : not implemented

[2016-11-28 09:26] shenki commented on #816
With @legoater's patch http://patchwork.ozlabs.org/patch/699881/

On Palmetto:

[code]

On Romulus:

[code]

Looks good. I've applied it to dev-4.7 as of https://github.com/openbmc/linux/commit/b278d67c74167bd4089c3086a7a37ac54b8c86ae

[2016-11-28 10:43] williamspatrick commented on #840
We implemented a response to the IPMI command of "not supported". We have no plan of actually doing a self-test. If the BMC is up far enough to respond to IPMI requests then any sort of self-test has passed.

[2016-11-28 10:46] shenki commented on #816
Please review: https://gerrit.openbmc-project.xyz/#/c/1308/

[2016-11-28 13:51] geissonator commented on #831
I think both this one and #832 match up with #812 as well.

[2016-11-28 13:55] sivassrr commented on #840
@williamspatrick - ok then it is not going to add any value to do automation. Will remove it from our automation schedule.

[2016-11-28 14:32] #816 closed

[2016-11-28 14:32] gkeishin commented on #816
This is good to go.. Tested and I see the MTD block BMC partition is back

`root@barreleye:~# cat /proc/mtd`
`dev:    size   erasesize  name`
`mtd0: 02000000 00010000 "bmc"`
`mtd1: 00060000 00010000 "u-boot"`
`mtd2: 00020000 00010000 "u-boot-env"`
`mtd3: 00280000 00010000 "kernel"`
`mtd4: 001c0000 00010000 "initramfs"`
`mtd5: 01740000 00010000 "rofs"`
`mtd6: 00400000 00010000 "rwfs"`
`mtd7: 040000

[2016-11-28 14:48] geissonator commented on #715
Matt confirmed this one is done.

[2016-11-28 14:48] #715 closed

[2016-11-28 14:49] geissonator commented on #629
Moving from 11.2 into 11.16 - blocked on hostboot support of new MRW data (coming soon)

[2016-11-28 14:52] geissonator commented on #408
Patrick, please reopen if still an issue.

[2016-11-28 14:52] #408 closed

[2016-11-28 15:05] geissonator commented on #648
Not merged so moving this to 11.16 sprint.

[2016-11-28 15:09] #730 closed

[2016-11-28 15:13] geissonator commented on #585
@adamliyi - This issue was specifically to track the fact that if an application is automatically restarted after it crashes, which uses the same socket address, it will hit a failure saying the address is still in use.  Has that problem been resolved with openbmc/obmc-console#7 ?

[2016-11-28 15:21] bradbishop commented on #729
https://gerrit.openbmc-project.xyz/#/c/976/
https://gerrit.openbmc-project.xyz/#/c/964/

[2016-11-28 15:21] #729 closed

[2016-11-28 18:54] williamspatrick opened #841 "Sprint 16.11.30 - Committed"

[2016-11-28 18:55] williamspatrick opened #842 "Sprint 16.11.30 - Actual"

[2016-11-28 20:07] geissonator commented on #681
@dkodihal and @ratagupt could you please summarize what you need with this story?

[2016-11-28 20:09] bradbishop commented on #812
There are probably two different problems here.

At startup, the bus is very busy as applications start and I expect the mapper to be busy.  I agree that when the mapper is busy, the REST server should return a 503.

Getting a busy once we've reached ready state is likely a different problem.  Once all the applications are up, I don't expect a busy.  Lets tackle that problem in a different issue.

[2016-11-28 20:10] bradbishop commented on #812
@ratagupt fyi...the rest server isn't started until someone makes a query.

[2016-11-28 20:51] geissonator opened #843 "Compile shared library in phosphor-dbus-interfaces and export required hpp and yaml"
- Generate and export shared library with all generated interfaces
- Export required .hpp files for use by other repositories
- Export error and logging yaml for compilation by phosphor-logging tools

[2016-11-28 20:52] bradbishop commented on #812
https://gerrit.openbmc-project.xyz/#/c/1319/

[2016-11-28 20:53] geissonator commented on #843
Some discussion on this up here - https://gerrit.openbmc-project.xyz/#/c/1192/

[2016-11-28 20:57] geissonator opened #844 "Define dbus interfaces for software version management and update"

[2016-11-28 21:01] geissonator commented on #720
Duplicate of #783

[2016-11-28 21:01] #720 closed

[2016-11-28 21:01] geissonator commented on #669
Duplicate of #783

[2016-11-28 21:01] #669 closed

[2016-11-28 21:11] geissonator commented on #722
Looks like Patrick has captured this out in https://gerrit.openbmc-project.xyz/#/c/1291/1/xyz/openbmc_project/Software/Level.interface.yaml  as a part of #844

[2016-11-28 21:11] #722 closed

[2016-11-29 00:39] shenki commented on #843
Hey @geissonator, can you add some notes as to what this shared library will do, and why we need it? The commit message would be a good place, or the bug here.

[2016-11-29 00:57] amboar commented on #843
I agree whole-heartedly with @shenki. I briefly looked at this issue and the patch and couldn't make much of either.

[2016-11-29 01:12] williamspatrick commented on #843
That commit itself probably has little to do with the story but there was some discussion in there about what the commit should have been.

The repository, phosphor-dbus-interfaces, is a collection of YAML files in a format understood by 'sdbus++' (from sdbusplus).  The tool will generate C++ bindings from the YAML for server, client, and errors (C++ exceptions).  Applications may then implement t

[2016-11-29 01:15] shenki commented on #843
I recall a discussion about the complexity of the shared library situation on other management controllers you've worked on. Are we sure we want to go down that path here?

[2016-11-29 01:19] williamspatrick commented on #843
That issue was on cross-"component" shared library dependencies that did not have any clear hierarchy relationship.  This shared library has a clear hierarchy.

sdbusplus itself has (or will have soon) a shared library.  There is still a clear layering of libraries here and not a nested web.  libc <- systemd <- sdbusplus <- phosphor-dbus-interfaces <- application

There should be no application <-

[2016-11-29 01:55] shenki commented on #762
As of https://github.com/openbmc/linux/commit/8139ec738741c7783fd5bcb4ce81453d87f47b17 we configure this in the kernel board file.

This is a temporary solution while we sort out the details of a proper driver.

This was included in 0d888ed572c5fa45c2ea3d24fe57cf385b83cc34.

[2016-11-29 02:01] shenki opened #845 "Move to Linux 4.9"
The 4.7 kernel no longer receives security updates, so we need to move to a kernel that is supported upstream.

4.9 is a LTS kernel and will be used by OpenPower firmware, so we will switch to that once it is released.

4.9 has more upstream drivers for the Apseed SoCs compared to 4.7:

- Pinmux and GPIO (Andrew)
- ftgmac100 ast2500 support (Joel)
- NCSI (Gavin)
- BT (Cedric)
- IRQ controller (Joe

[2016-11-29 11:16] rahulmah commented on #615
Checked the journal logs and found that in Palmetto also we are hitting with SSLEOFError. This issue is same as https://github.com/openbmc/openbmc/issues/612. So closing it.

[2016-11-29 11:16] #615 closed

[2016-11-29 11:44] #812 closed

[2016-11-29 13:05] adamliyi opened #846 "SDK does not support python yaml library"
I built SDK using latest openbmc (git: b51d9f10b1bd309a5ee34a6fcfba334a9ff7ebae). When building phosphos-inventory-manager, I got error:
[code]
Have to do:
[code]
to continue.

[2016-11-29 13:18] gkeishin commented on #811
Looks like the path exist just that i doesn't show up the properties on query

`}rango@ubuntu:~/openbmc-test-automation$ curl -c cjar -b cjar -k -H "Content-Type: application/json" -X  GET https://xx.xx.xx.xx/org/openbmc/sensors/powercap/`
{
  "data": [
    "/org/openbmc/sensors/powercap/system_power",
    "/org/openbmc/sensors/powercap/curr_cap",
    "/org/openbmc/sensors/powercap/min_cap",
    "

[2016-11-29 13:25] gkeishin commented on #811
I see that the OCC min power cap is 1100  and max is 1200 watts ? is this the default setting value.. earlier it use to be ranging from 0 to 1000 watts... anything new changed since ?

[2016-11-29 14:07] adamliyi opened #847 "phosphor-inventory-manager build failure"
I can understand there are still patches for PIM to be merged - this issue may disappear as more patches for PIM are merged.

I tried to build PIM (https://github.com/openbmc/phosphor-inventory-manager/commit/e30dd7788547c1e0762606bfa715934e60231e7e) using latest SDK, but failed. Attached the build failure I met. Maybe useful for debugging.
[PIM_build_fail.txt](https://github.com/openbmc/openbmc/f

[2016-11-29 14:17] geissonator commented on #734
We probably should break this into 2 stories.  1 where we figure out the design and define the yaml to do the callouts and update the python code to handle them, then another where we write the code to implement the callouts in the elog server.

[2016-11-29 15:53] geissonator commented on #784
- [ ] Directly map LED calls to LED service (setIdentify, clearIdentify)
- [ ] Directly map softPowerOff to openbmc/phosphor-host-ipmid/host-services.c (sends event to host, waits for it to shutdown, chassis power off issued)
- [ ] Determine "reboot" use case and port to appropriate service (if power is off, it powers on, otherwise it powers off)
- [ ] Move softReboot logic to appropriate service

[2016-11-29 16:30] williamli80 commented on #436
[https://github.com/openbmc/openbmc/issues/840](url)

[2016-11-29 21:48] micwalsh opened #848 "extended/test_bios_update.robot fails with "Error -1 erasing chip""
I ran extended/test_bios_update.robot against barp01 system.  It failed...

Nov 28 19:37:22 barreleye flash_bios.exe[735]: Starting flasher: bios,/tmp/barreleye.pnor,/org/openbmc/control/flash/bios,
Nov 28 19:37:22 barreleye flash_bios.exe[735]: flasher: /tmp/barreleye.pnor, BMC = 1, address = 0x0
Nov 28 19:37:22 barreleye flash_bios.exe[735]: Setting up flash
Nov 28 19:37:22 barreleye flash_bios.

[2016-11-29 22:15] micwalsh commented on #848
Also, I should mention that doing the code update manually as follows worked fine:
pflash -E -f -i -p /tmp/barreleye.pnor

[log.txt](https://github.com/openbmc/openbmc/files/620372/log.txt)

[2016-11-30 00:00] GHF opened #849 "Zaius power-on"
The VCS workaround requires board specializations for turning VCS on and off through i2c writes to UCD.

It also requires a bitbake recipe to install the systemd services that run the workaround boot/power-down sequence.

[2016-11-30 00:01] GHF commented on #849
#647 has P9 changes related to this, but they don't include the bitbake recipe.

[2016-11-30 01:35] shenki commented on #848
Your bug report must contain the OpenBMC commit that you reproduced the issue with. This can be found in the outout of `/etc/os-release`.

[2016-11-30 01:45] geissonator commented on #848
Mike was pinging me on this earlier so I had the info.  Fairly recent build.  Seems like our REST api path to update PNOR is broke but pflash still works fine.

[code]

[2016-11-30 02:29] williamli80 opened #850 "IPMI: Implement the Self Test on BMC if needed"
After discussion, we don't have a plan to support the Self Test now. We'll implement it in future.
When we have a plan to support the "Self Test", we will need to refactor the IPMI Get Self Test Result command as well:
#436

[2016-11-30 12:40] williamspatrick commented on #850
We don't have any plans for any self test at all.

[2016-11-30 12:40] #850 closed

[2016-11-30 12:41] williamspatrick commented on #647
This work is not complete so it should not be closed.

[2016-11-30 14:21] gkeishin commented on #832
Poweron problem seems to fade away in newer drivers.  Did someone fixed it ?

[2016-11-30 14:48] ya-mouse commented on #838
Try to run tcpdump on the 192.168.200.128 side with:

[2016-11-30 18:42] geissonator commented on #631
Hostboot fix is supposed to be in today, will leave this story in 16.11.16 for now to see if we can get things in by next wed.

[2016-11-30 18:52] spinler commented on #631
Yea, today there is a version of the XML that works for hostboot when made with the latest common XML.  So now I can start adding all of my stuff on top of it.

[2016-11-30 18:55] geissonator commented on #721
All tracked in #772

[2016-11-30 18:55] #721 closed

[2016-11-30 18:55] geissonator commented on #671
All tracked in #772

[2016-11-30 18:55] #671 closed

[2016-11-30 18:57] williamspatrick opened #851 "Generate client proxy bindings in sdbusplus"
Split from #478.

Remaining tasks:

- [ ] Generate client binding for methods.
- [ ] Generate client binding for properties.
- [ ] Add support for dbus-error -> exception mapping on client bindings.
- [ ] Add methods for reading multiple properties at once for client.
- [ ] Generate server binding to unpack object / properties from message (a{sv}).

[2016-11-30 18:58] #478 closed

[2016-11-30 19:06] geissonator commented on #807
Gotta track it somehow, we can not associate any points with it though.
FYI @spinler

[2016-11-30 19:10] spinler commented on #807
We must not be getting a 2 chip system for a while?

[2016-11-30 19:14] geissonator commented on #647
Moving to current sprint then since reopened.

[2016-11-30 19:15] geissonator commented on #625
Still under merge review so moved to relevant sprint.

[2016-11-30 20:20] GHF opened #852 "Zaius FSI debug support"
We need pdbg or OpenFSI support for Zaius to boot the host.

pdbg doesn't work out of the box because of open-power/pdbg#8 and because its GPIOs are hardcoded for some other system. Even with fixes for those, I haven't had any luck with it:

[code]

Using these pins:

[code]

[2016-11-30 20:57] anoo1 commented on #733
- [ ] Create a transaction id on the sdbusplus server bindings by hashing the dbus sender and cookie information.
- [ ] Save the transaction id on the server as a thread local variable.
- [ ] Create a random transaction id from the log interface if a transaction id does not exist.
- [ ] Add the transaction id from the log interface as a metadata field to all journal entries.

[2016-11-30 21:47] GHF commented on #852
with a bit more patching (open-power/pdbg/pull/9), I think pdbg is working (?):

[code]

Even so, I don't see how this putcfam command in this script works with pdbg: https://github.com/openbmc/openbmc/blob/0d6405c721af309ddceb004046d849287301ed42/meta-openbmc-machines/meta-openpower/common/recipes-phosphor/host/op-pdbg-host-control/start_host.sh

[2016-11-30 22:31] gwshan commented on #838
If I'm correct enough, "tcudump -evni ethx" on remote side won't capture any packets from the source (BMC). I still want to debug it if possible. Please let me know the best way to contact the tester and get the BMC's access information, thanks!

[2016-12-01 01:11] GHF commented on #849
Also needs clock gen fixup at each power on before trying to start the host.

We might also need memory rail voltage regulator fixups—stay tuned for more as the situation develops.

[2016-12-01 03:47] GHF commented on #852
I talked to Patrick about this. While pdbg is intended to be the userspace frontend for FSI communication, it does not yet have support for the OpenFSI kernel drivers as a backend. Thus, we have to stick with my Zaius-specific patches to SoftFSI pdbg.

Furthermore, those scripts were not tested and carry the ecmd syntax of "set range of bits to value," which pdbg does not support and also does not

[2016-12-01 04:42] apopple commented on #852
Right. Adding an optional mask for the put commands to allow read-modify-write is on my list of things to do still.

The sequence I've been using to start the SBE is:
root@w2:/tmp# pdbg-p9 -b fsi putcfam 0x900 0x1
p0:0x900: 0x0000000000000001
root@w2:/tmp# pdbg-p9 -b fsi putcfam 0x2801 0x80C00000
p0:0x2801: 0x0000000080c00000
root@w2:/tmp# pdbg-p9 -b fsi getcfam 0x2809
p0:0x2809: 0x000000008020000

[2016-12-01 05:38] rahulmah opened #853 "[ Barreleye v1.99.0-301-g7734ca3 ] Barreleye system went into bad state after code update to #392"
Barreleye system went into unpingable state after code update to #392/v1.99.0-301-g7734ca3/20161130142626.

Below is messages seen in serial console of the system before hitting the issue. Seem like there happen to be some NO space problem while writing.

[code]
Tried rebooting but still don't see system getting in pingable state.  Below is the data from serial console after pdu update.

[code]

[2016-12-01 05:52] gkeishin commented on #853
**There are two visible problems I noticed here:**

`From Automation perspective:`

The warm reset closing the connection and the code update error out ( I'm looking into it)
However the code update will still continue to completion in general

`From Code update perspective:`

post activating the image and warm reset the system doesn't come up or hang in boot, that's something to be looked at. Pro

[2016-12-01 10:02] dkodihal commented on #734
@geissonator : how about getting the requirements and design (put into YAML) with the first story?

[2016-12-01 10:26] dkodihal commented on #734
- [ ] Requirements : what should be contained in a callout section.
- [ ] Design : Specify a callout section in errorlog YAML.
- [ ] Design : Specify errorlog server behavior upon identifying a callout.

[2016-12-01 11:23] vishwabmc commented on #802
- [ ] Search openbmc# and find the instances
- [ ] If the code is in production, make the changes
- [ ] Test the changes
- [ ] If the code is in Automation, help FTC team do the changes.

[2016-12-01 11:27] vishwabmc commented on #803
- [ ] Understand basic PERL
- [ ] Understand how MRW is structured
- [ ] Understand Norm's Target.pm
- [ ] Work with Matt to get Witherspoon XML having LED targets in it.
- [ ] Write the perl script to generate the YAML file

Note : I am not very sure if we have all the information available. If something is missing, we need to add that into MRW.

[2016-12-01 11:52] #648 closed

[2016-12-01 13:26] gkeishin commented on #755
@ratagupt Any update on this ?

[2016-12-01 13:33] geissonator commented on #827
Yes, this looks like a duplicate of #824 with the 5 vs 4 argument issue.

[2016-12-01 13:33] #827 closed

[2016-12-01 15:14] williamli80 commented on #668
- use yaml defined in phosphor-dbus-interface to generate sdbusplus binding(new APIs);
- use the new API to replace APIs in phosphor-time-manager repo

[2016-12-01 15:58] adamliyi commented on #665
- [ ] Map IPMI FRU info read from eeprom to dbus objects (inventory object). The object should use the interface defined in phosphor-dbus-interface
- [ ] Ask phosphor-inventory-manager to manage the objects by callying Notify().

[2016-12-01 16:09] adamliyi commented on #767
- [ ] Spend 2-3 days study led-manager to get to know with sdbusplus
- [ ] Define an interface (yaml) for host watchdog module - prefer properties than method
- [ ] Implement the new host watchdog dbus object with the new interface (may utilize existing code)

[2016-12-01 16:27] geissonator commented on #853
George got our systems recovered and reported our latest driver is ok.  May have been a network glitch here in our lab that caused the above issue.

[2016-12-01 16:36] spinler commented on #848
@micwalsh   Your testcases don't collect BMC FFDC on fails?  Maybe I just don't see it?

[2016-12-01 16:58] geissonator commented on #262
Some notes from my analysis of a lot of the skeleton objects:

bmcctl: /org/openbmc/control , org.openbmc.control.Bmc , bmc0
- Registers for 2 signals, handle-init and handle-warm-reset
-- handle-init just calls control_complete_init (goes into the big interface file)
-- handle-warm-reset is where we do the “sleep 3; reboot” call.

hostcheckstop: /org/openbmc/control , org.openbmc.control.Checksto

[2016-12-01 16:58] GHF commented on #852
That machine does have a second module plugged in, though neither module has working SBE so that putcfam always errors out ("putaddr: Error writing register"). I tested your commands on a different bringup machine with a single module Adrian provided and I still see CRC errors. In addition, it's very flaky:

[code]

The probe command also shows errors:

[code]

Also without `-a` (I guess it's not

[2016-12-01 17:13] geissonator commented on #783
As I've dug more and more into implementation, it's become clear we need a long term vision for our system/chassis/host/bmc state management and control.  I've tried to step back and look at the use cases for these areas so we can setup a long term direction.

**System/Host Control Use Cases**

### Primary Use Cases ###
- Determine state of system (bmc, chassis power, host)
-- Must be valid at any

[2016-12-01 17:15] gkeishin commented on #835
This is not seen on new build
Latest build : v1.99.0-302-g0d1a644 - ( https://openpower.xyz/job/openbmc-build/393/ )

[2016-12-01 17:15] #835 closed

[2016-12-01 17:16] gkeishin commented on #832
Not see in latest build
Latest build : v1.99.0-302-g0d1a644 - ( https://openpower.xyz/job/openbmc-build/393/ )

[2016-12-01 17:21] gkeishin commented on #853
We are good here on  v1.99.0-302-g0d1a644 - ( https://openpower.xyz/job/openbmc-build/393/ )

[2016-12-01 18:47] yuennancy commented on #783
What is the difference between BMC_STARTING vs BMC_STARTING2?
What does INVENTORY_UPLOADED refer to? Firmware updates?

What's the difference between HOST_POWERING/ED_ON vs HOST_BOOTING?ED?
BOOT refers to executing code (bios, kernel) and POWER refers to everything before?

[2016-12-01 19:22] geissonator commented on #783
Hah, yeah good questions @yuennancy .  My hope with this refactoring is to simplify things a bit if possible.  If you dig in, BMC_STARTING and STARTING2 represent different objects being started  as we get to BMC_READY.  You can see the details in here on what objects cause which state - https://github.com/openbmc/skeleton/blob/master/configs/Barreleye.py#L18

I believe INVENTORY_UPLOADED is once

[2016-12-01 20:45] spinler commented on #847
@bradbishop Have you seen this?

[2016-12-01 21:23] spinler commented on #848
I'm captured the journal, but there isn't much else interesting other than what Mike first posted.

[journal_beye6.txt](https://github.com/openbmc/openbmc/files/625777/journal_beye6.txt)

[2016-12-02 00:02] amboar commented on #853
Several things strike me from your console output:

[code]

Presumably this is copying rwfs data to a tmpfs for restoration, but somehow we ran out of space. We can't really dig into that now but maybe we should look at adding better error handling to the update script.

[code]

As above, we should better handle this case.

[2016-12-02 00:04] amboar commented on #783
BMC_STARTING2 seems like an implementation detail. If it's not, maybe some more effort should be (have been?) put into the name.

[2016-12-02 02:41] #756 closed

[2016-12-02 03:01] adamliyi commented on #847
Update: tried with latest PIM commit: https://github.com/openbmc/phosphor-inventory-manager/commit/451f8d931a7a10d34c03f4348f64c3057f8d34f3
[code]

[2016-12-02 06:57] apopple commented on #852
Yeah, I need to update the documentation. Without any processors/chips/threads specified pdbg won't try and go find them as it's quite slow - it only probes for the specified targets.

It's likely the CRC errors are due to timing problems. I hadn't realised pdbg was being used more widely for P9 work so hadn't gotten around to pushing the P9 hacks out. I've cleaned them up a bit and pushed them to

[2016-12-02 11:09] adamliyi commented on #767
Add the boot watchdog interface in patch: https://gerrit.openbmc-project.xyz/#/c/1370/.

[2016-12-02 14:28] williamli80 commented on #640
Update: https://gerrit.openbmc-project.xyz/#/c/1276/

[2016-12-02 14:34] tomjoseph83 commented on #432
- [ ] Adapt the sd_event_loop to handle incoming IPMI traffic, monitor activity on host console socket and  add timers for character accumulate interval and retry interval.

- [ ] Design and implement a SOL engine to process the state of the SOL and sent the data to the IPMI client

- [ ] Design and implement a storage for the host buffer

- [ ] Modify the session data to keep channel client infor

[2016-12-02 14:41] geissonator opened #854 "Implement the callout of a logical entity within an error log"
This one comes after #734

[2016-12-02 14:41] geissonator commented on #734
Opened up #854 to track implementation.

[2016-12-02 15:06] ratagupt commented on #666
- [ ] Get the understanding of how write fru command works.

- [ ] Get the understanding of IPMI fru paser

- [ ] Come up with the design for creation of object path.

- [ ] Write the parser for read the data which is to be generated by MRW.

- [ ] Create the application specific conf

- [ ] Write the logic in the ipmi fru parser to get the instance path.

[2016-12-02 15:06] ratagupt commented on #666
-

[2016-12-02 15:28] spinler commented on #848
@shenki  How do we figure out why this call is failing?
[code]
It recreates every time with Mike's testcase.  Is there any extra data I can capture?

[2016-12-02 16:30] GHF commented on #852
Yep, we have a limited number of FSP2 boxes here and no OpenFSI yet, so your pdbg soft FSI work is critical to even powering on a P9. :)

[code]

I patched in Zaius GPIOs on top of your new code again and it looks like the dataful read responses pass the CRC, but we still get some CRC errors for shorter responses (what is 0x7f?).

It looks like the only functional difference for us is `#define P9W

[2016-12-02 17:04] spinler opened #855 "Need Default Witherspoon fan speeds"
There is no fan control code yet, and the fans aren't defaulting to high enough speeds and things are melting.
As a workaround until the fan code is done, we can either
1. figure out the watchdog so it defaults to max (but that may take WDT inits), or
2. pull in the fan script that is floating around the lab

2 is quicker, and though we'll eventually have to figure out the watchdog we can do it la

[2016-12-02 17:19] geissonator opened #856 "Attaching RMCP session to SOL - Part 1"

[2016-12-02 17:19] geissonator opened #857 "Attaching RMCP session to SOL - Part 2"

[2016-12-02 18:02] williamli80 commented on #770
- [ ] Find out the yaml ( where is it? ) and generate the sdbusplus binding.
- [ ] Implement the pcie_slot_present with new binding ( such as update_fru( ) use new APIs/dbus )
- [ ] Update phosphor-host-ipmid repo

right?

[2016-12-02 18:20] geissonator opened #858 "Attaching RMCP session to SOL - Part 3"

[2016-12-02 21:24] geissonator opened #859 "/run 100% full after reboot due to journal logs"
This one just suddenly popped up on BarE-01.  I'm not sure what was going on prior but the system had been ok up until today.

When I got on, I noticed this when trying to do a code update:

[code]

I then asked King to dediprog the chip.  I was also seeing the /run being full issue prior to the dediprog.

My theory is that maybe the bad mtd block is causing some sort of filesystem corruption when

[2016-12-02 21:39] yuennancy commented on #783
Thanks for clarifying these.

[2016-12-03 02:04] GHF commented on #852
A different problem I noticed is that I can't talk to the second socket with pdbg. This is what I'm seeing with `probe`:

[code]

If I add `-p 0` (let alone `-p 1`) or `-a`, getcfam fails and _not_ with a CRC error:

[code]
(I had added a `dump_targets(0, &targets[0]);` to get probe debugging information)

[2016-12-04 23:59] amboar commented on #855
@spinler What watchdog are you talking about here?

[2016-12-05 03:59] gkeishin commented on #612
@bradbishop Anything on this .. is there something we can do about this.. or is this related to PAM module restricting the sessions ?

[2016-12-05 05:21] gkeishin commented on #659
@vishwabmc Any update on this ? or please route/suggest to the person who can look into it. Thanks

[2016-12-05 06:38] apopple commented on #852
You shouldn't be getting any CRC errors, so something is wrong (I don't see any on either Witherspoon or P8). On CRC errors it prints the response received - a value of 0x7f indicates all ones which is typical of either a processor module that is powered down or a mux not working as '1' is the default state of the data pin due to the pull ups. I would double check your FSI_DAT_EN/FSI_ENABLE/CRONUS

[2016-12-05 12:44] ratagupt commented on #681
- [ ] Listing of the data which is required  from MRW for HOST VPD.

- [ ] Listing of the data which is required from MRW for openPowerVPD.

- [ ] Listing of the data which is required  from MRW for EEPROM VPD.

- [ ] Prepare a format of YAML file which is having all the three data.

- [ ] Parse the data from MRW and generate YAML file including data for HOST VPD.

- [ ] Parse the data from MRW fo

[2016-12-05 14:18] spinler commented on #855
@amboar The one that drives WDTRST1 (pin T22)

[2016-12-05 14:27] JoshDKing commented on #670
- [ ] Initial set up of structure
- [ ] Implement Level Purposes
- [ ] Test code written

[2016-12-05 16:48] astallma opened #860 "BMC not responding to IPMI command from Host"
System Type:   Barreleye
BMC version:
          ~# cat /etc/os-release
          ID=openbmc-phosphor
          NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
          VERSION=0.1.0 (jethro)
          VERSION_ID=v1.0.5-5-g6044148-dirty
          PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
          BUILD_ID=v1.0.5
Kernel level:

[2016-12-05 18:56] geissonator commented on #815
Continuing to see this, causing intermittent failures in our automation testing.  Nothing obvious to me on why netman.py is restarting things.

[code]

[code]

[2016-12-05 20:31] #583 closed

[2016-12-06 00:11] GHF commented on #852
Yep, I have that async mode enabled (putcfam manually) and verified the GPIO assignments. This is the boot script I tested:

[code]

I tried tracing the calls and it looks like it's the higher target addresses that cause errors:

[code]

Also, what arguments should I pass in order to talk only to p0? As I mentioned, I tried `-p 0` with and without async mode and it doesn't work either way.

[2016-12-06 04:43] sivassrr commented on #836
Any update here?

[2016-12-06 04:43] sivassrr commented on #831
Are we seeing this problem with the latest driver?

[2016-12-06 04:51] sivassrr commented on #555
Any update?
@SrideviRamesh could you check it on latest level. I think we are not seeing it, I guess.

[2016-12-06 05:03] shenki commented on #836
I can't reproduce on any other machine. Can you follow up with people in the lab to see if there's something special about w1?

[2016-12-06 05:49] gkeishin commented on #836
@shenki I have been tracking this over last few builds and i don't see it popping up except once instance of it.. If there is any I'll re-open this.. For now this stays closed..

[2016-12-06 05:49] #836 closed

[2016-12-06 05:51] gkeishin commented on #555
We haven't seen this so far in many builds we tested since this.. Closing this ..

[2016-12-06 05:51] #555 closed

[2016-12-06 05:53] gkeishin commented on #831
Yes this still seen.,. probably it may intend to hide the settings perhaps.. only @bradbishop can shed some info on this..

[2016-12-06 09:09] johnhcwang commented on #526
@williamspatrick , may I know how to clear the uboot environment variable? Should I call another method to clear it before update?
I tried to update via REST using image (.all.tar) with the slower speed (9600), but the baudrate in uboot environment still keep as 38400 after the update.
If I update the image by socflash, the baud rate 9600 is working.
I'm working on stable branch by the way.

[2016-12-06 09:32] johnhcwang commented on #526
Seems that I have to change the preserve_network_settings as 0 to clear uboot environment variable. I'll try it.

[2016-12-06 11:18] rahulmah commented on #830
@bradbishop : The issue which you had mention earlier is already closed and fixed. But this issue is still seen with the latest build v1.99.0-309. Please try to look at this issue and provide update.

[2016-12-06 11:57] rahulmah commented on #811
@gkeishin : I believe this issue can be closed. I dont see now the problem while power cap properties loading. Tested and checked with v1.99.0-309 build

[2016-12-06 13:09] tomjoseph83 commented on #856
- [ ] Adapt the sd_event_loop to handle incoming IPMI traffic, monitor activity on host console socket and  add timers for character accumulate interval and retry interval.

- [ ] Design and implement a SOL engine to process the state of the SOL and sent the data to the IPMI client based on the flow control parameters(retry threshold, retry interval, character accumulate interval and character sen

[2016-12-06 13:11] tomjoseph83 commented on #858
- [ ] Implement Get Payload Activation Status

- [ ] Implement Changes to handle multiple payload instances

[2016-12-06 18:51] rahulmah opened #861 "[ Palmetto v1.99.0-309-ged181d5] Palmetto system not booting to HOST_BOOTED state"
Palmetto system is not booting to HOST_BOOTED after power on. Waited for almost 30 mins after power on.

This issue is not seen with freshly reboot system using PDU. But after some usage of the system we start seeing this issue again. Once this issue is hit, we are not able to take the system to HOST_BOOTED state unless we do system reboot using PDU

Journal Logs:
[Journal_log_poweron_failure.txt]

[2016-12-06 19:23] geissonator opened #862 "Intermittently hitting org.freedesktop.DBus.Error.ObjectPathInUse: busy processing bus traffic on way to BMC standby"
There's been a variety of issues that list this as a side affect but no clear issue tracking it.  See #831, #832.  I figured it would be best to get one specifically for this problem.

It hits most often after a BMC reboot on the way to BMC_READY.  It seems to hit the org.openbmc.managers.System.service target the most.

[code]

This fixes the issue when we hit it: systemctl restart org.openbmc.ma

[2016-12-06 19:33] spinler commented on #860
@cyrilbur-ibm Cryil, I think this is a btbridged fail... Can you tell what went wrong?

[2016-12-06 19:35] spinler commented on #861
@rahulmah Was there any hostboot console output?

[2016-12-07 00:53] apopple commented on #852
Ok, so that's some useful debug. It looks like it's getting errors probing secondary processor sockets. This could be because async mode is not enabled or some other issue which I haven't hit. I assume you continue to get the errors after running pdbg -b fsi -d p9w putcfam 0x900 0x1?

Actually I just noticed the bug/TODO here which I need to fix - processor selection is ignored for cfam operations

[2016-12-07 02:36] astallma commented on #860
I made some progress on this today by changing the host code.  I can now see the OpenBMC IPMI trace showing my Add Partial eSEL commands.   I corrected some length issues and am only sending the 16 byte SEL with the first Add partial eSEL command (I was previously sending the SEL + the first chunk of data).    So, I'm past this specific problem, but perhaps additional verification can be done so a

[2016-12-07 03:50] johnhcwang opened #863 "[Barreleye v1.0-stable] Connection timed out when power state change"
Reproduce step:
1. Create 6 sessions to polling bmc version
[code]
2. Create one session to polling system state
[code]
3. call /org/openbmc/control/chassis0/action/powerOn or powerOff

Sometimes we'll get the **_connection timed out_** and back to normal after 2~3 minutes.
That's means the user or RM can't know the real-time power state.

![443](https://cloud.githubusercontent.com/assets/17872929

[2016-12-07 14:22] geissonator commented on #832
Hit this today on BarPVT when running HW CI.  I updated to a good build but still hit "ERROR PowerControl: Pgood poll timeout" during power on.  A PDU cycle fixed the issue.

[2016-12-07 15:19] geissonator commented on #862
Hit today on a HW CI job with a different service:

[code]

[code]

[2016-12-07 18:02] bradbishop commented on #757
https://gerrit.openbmc-project.xyz/#/c/1392/

[2016-12-07 18:05] bradbishop commented on #801
https://gerrit.openbmc-project.xyz/#/c/1157/

[2016-12-07 19:25] GHF commented on #852
Yes, it didn't seem to help even with the modules in async mode and clocked. At least we can rule out soft FSI signal integrity issues for the time being.

Patrick mentioned that Adrian Barrera can set up the Zaius machine we left with them at Austin for remote access and time sharing. Please do bug him about it as he is also keen on getting BMC pdbg working.

That's helpful to know. For now I've

[2016-12-07 20:32] spinler commented on #855
https://gerrit.openbmc-project.xyz/#/c/1400/
https://gerrit.openbmc-project.xyz/#/c/1401/
https://gerrit.openbmc-project.xyz/#/c/1402/

[2016-12-07 21:11] spinler commented on #861
I tried ~30 boots on palm309 with no problems.  Can you ping me the next time you hit it?

[2016-12-07 22:40] KennethWilke commented on #500
Commit 6044148e9177c95c6ad62a1cdf52a9ac3954535c has resolved this issue on my end for building the `v1.0-stable` branch for running in qemu and for running on Barreleye.

When I try to build on the master branch I get this result:
[code]

[2016-12-07 22:43] kc8apf commented on #500
Yocto 2.1 introduced uninative which is an attempt to isolate the build
system from the host OS.  Looks like they haven't published a uninative
tarball for ppc64le.  You can build one yourself.  See the details at
http://www.yoctoproject.org/docs/latest/ref-manual/ref-manual.html#ref-classes-uninative
.

On Wed, Dec 7, 2016 at 2:40 PM, Kenneth Wilke <notifications@github.com>
wrote:

[2016-12-08 01:53] geissonator commented on #862
A full trace of it for settings and system manager

[code]

[code]

[2016-12-08 03:28] apopple commented on #852
I bugged Adrian and got access to a single module system. Initially I wasn't seeing the issue but after power cycling the host it re-appeared. This might imply there is an init setting somewhere that we're missing as I have not encountered the issue on our Witherspoon systems.

That said the errors are only occurring during probe of secondary processor modules, so they can be safely ignored for th

[2016-12-08 11:04] rahulmah commented on #853
Closing this issue as we are not seeing this issue. We will reopen this issue if we see it again.

[2016-12-08 11:04] #853 closed

[2016-12-08 12:53] rahulmah commented on #861
Are you looking for serial console log? I tried also to run power on and off 50 times and I don't see the issue. But when we ran our entire test bucket(where our power on and off test case runs after some 9 test cases) and we found the problem again stated hitting. So seem like due to some operation of previous TCs this problem started coming. Not able to make out - Which operation has lead the sy

[2016-12-08 14:06] tomjoseph83 commented on #447
- [ ] Modify the Open Session Request/Response to support integrity and confidentiality algorithms

- [ ] Modify the IPMI2.0 parser unflatten logic to decrypt the payload and validate the integrity data

- [ ] Modify the IPMI2.0 parser flatten logic to encrypt the payload and add integrity data

- [ ] Add the Cipher Data to Session Data

- [ ] Implement the interfaces for the Integrity Algorithm

[2016-12-08 14:36] geissonator commented on #631
https://gerrit.openbmc-project.xyz/#/c/1362/

[2016-12-08 14:36] #631 closed

[2016-12-08 14:44] #732 closed

[2016-12-08 15:09] geissonator commented on #727
Need this one too - https://gerrit.openbmc-project.xyz/#/c/1168/

[2016-12-08 16:37] spinler opened #864 "Investigate if Fault LEDs need to be turned off on a power on"
On previous systems, this has always been the case

[2016-12-08 17:00] msbarth commented on #846
This sounds like the pythondir variable was not set as that should point to the site-packages dir within the SDK. Also, was the python set during configure used within the makefile?

[2016-12-08 19:26] #727 closed

[2016-12-08 20:37] spinler commented on #861
It was recreated.  There was no host console output.
Here are the 9 tests that ran before the fail:
Test SSL Connection
Test non-SSL Connection to port 80
Create error log on single FRU
Create error log on two FRU
Create multiple error logs
Delete error log
Association with invalid FRU
Assocition with no FRU error event
Association unchanged after reboot

[2016-12-08 21:20] geissonator opened #865 "Factory Reset"
MFG has a requirement to "factory reset" the system prior to shipping it.  This story will track figuring out the exact requirements and implementing them.

[2016-12-08 21:21] geissonator commented on #738
Opened #865 to track this function, it will be 2Q2017 before this is ready.

[2016-12-08 21:21] #738 closed

[2016-12-08 21:24] geissonator commented on #856
We're going to do the encryption work first so moving this out of committed.

[2016-12-08 21:33] geissonator commented on #848
@cyrilbur-ibm any thoughts on this one?  Seems like you've been the one recently in this area :)

[2016-12-08 21:48] shenki commented on #848
[code]

We should add more debug output to flasher, such as what it passes to the `arch_flash_init` call, and what the return value of `arch_flash_init` is.

[2016-12-08 21:49] geissonator opened #866 "Use openFSI interfaces to start SBE on P8 and P9"
Initially we're using the pdbg tool to initiate the power on sequence on witherspoon.  Eventually we'll want to use the openFSI interfaces directly in the obmc application code (for better error handling and reporting), and port that function to both P8 and P9 (the sequence will be different for P8 vs. P9 but the logic should be the same)

[2016-12-08 21:50] geissonator commented on #866
Stage 2 for now since that's where the most issues with chips will probably be found so better error handling on FSI issues would be expected.

[2016-12-08 21:52] shenki commented on #848
[code]

@cyrilbur-ibm thinks that this is the wrong function to be calling, and we need to call `arch_flash_init`.

That does not explain why it ever worked though.

[2016-12-08 21:53] geissonator opened #867 "Create shell script within debug tar to collect FFDC"

[2016-12-08 21:53] geissonator opened #868 "Milestone: OpenBMC Dump"
An epic to track all work required to support a BMC dump.  We'll start off with a simple script in the debug tarball that will collect the necessary FFDC.  We'll eventually get to where the dump can be started via the web interface or the REST api and collected via both interfaces as well.

[2016-12-08 22:26] geissonator opened #869 "Implement encrypted RMCP sessions per IPMI 2.0 - Part 1"
Tom to add task break down

[2016-12-08 22:26] geissonator opened #870 "Implement encrypted RMCP sessions per IPMI 2.0 - Part 2"

[2016-12-08 23:14] williamspatrick commented on #864
If this is a requirement on IBM systems, we need to make sure this is a configurable policy and not buried in an always-active program.

[2016-12-09 00:08] cyrilbur-ibm commented on #848
https://github.com/open-power/skiboot/blob/master/external/common/arch_flash_arm.c#L300

I'll send a patch to the skeleton if I can work it out how to gerrit.

Done.

[2016-12-09 00:19] cyrilbur-ibm commented on #848
https://gerrit.openbmc-project.xyz/#/c/1452/

[2016-12-09 03:09] williamspatrick commented on #846
I'm pretty sure everything was resolved before. At one point we were missing the yaml package. Closing.

[2016-12-09 03:09] #846 closed

[2016-12-09 13:01] geissonator commented on #667
Last commit in the chain merged - https://gerrit.openbmc-project.xyz/#/c/1371/

[2016-12-09 13:01] #667 closed

[2016-12-09 14:06] rahulmah commented on #861
@spinler : I spent couple of hours to figure out minimum step to hit this issue. And here are the steps. I tried them couple of times and it is consistent in hitting the issue.

**1. Powercycle system using PDU.** (This is needed, if you want to start on the system which is not booting to HOST_BOOTED state)
root@palmetto:~# obmcutil state
 = BMC_READY				<---- BMC comes at BMC ready state after po

[2016-12-09 14:40] williamspatrick opened #871 "Sprint 16.12.14 - Committed"

[2016-12-09 14:41] williamspatrick opened #872 "Sprint 16.12.14 - Actual"

[2016-12-09 15:18] #628 closed

[2016-12-09 15:35] spinler opened #873 "Create Perl module to generate Inventory list from MRW"
I need to make a common function to pull the inventory items out of the mrw so the different MRW users all have the same inventory to work off of.  Some of the users are:  inventory manager, LED manager, IPMI and FRU VPD parsers.

[2016-12-09 15:37] spinler commented on #873
* [ ] Determine what goes into the inventory and have script find all of those targets
* [ ] Generate the 'openbmc path' for those targets

[2016-12-09 16:35] astallma opened #874 "Incorrect response in Get BT Interface Capabilities Command - Input buffer size supported"
System Type: Barreleye
BMC version:
~# cat /etc/os-release
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=v1.0.5-5-g6044148-dirty
PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
BUILD_ID=v1.0.5
Kernel level:  # uname -a
Linux barreleye 4.4.26-openbmc-4.4-20161021-1 #1 Fri Oct 21 10:32:5

[2016-12-09 17:03] tomjoseph83 commented on #869
- [ ] Implement the interfaces for the Integrity Algorithm

- [ ] Implement the interfaces for the Confidentiality Algorithm

- [ ]  Implement mandatory HMAC-SHA1-96 Integrity Algorithm

[2016-12-09 17:25] gkeishin commented on #612
In new release , we see this error as well even for Login POST request

${resp} = RequestsLibrary.RequestsKeywords . Post Request openbmc, /login, data=${data}, headers=${headers}
Documentation:
Send a POST request on the session object found using the
Start / End / Elapsed:	20161209 22:36:51.472 / 20161209 22:37:00.683 / 00:00:09.211
22:37:00.682	FAIL	SSLError: EOF occurred in violation of protoc

[2016-12-09 17:31] spinler commented on #861
OK, so it looks like reboots are what is breaking things.  That probably has to do with GPIOs.

[2016-12-09 18:04] swanman opened #875 "IPL: ConnectionError: HTTPSConnectionPool(host='beye6', port=443) on bard-04 with 920.1650.20171207a"
We hit this failure while testing 920.1650.20161207a on bard-04, a barreleye system.  There were 38 prior successful power on tests, so this is not a pervasive issue.  This is a shared system, so it is NOT sitting in the failed state.

I am noticing this error message in the journal output - not sure if related
Dec 08 20:48:52 barreleye phosphor-gevent[858]: error: [Errno 24] Too many open files

[2016-12-09 18:06] spinler commented on #861
I grabbed the GPIOs from /sys/class/gpio after a cold reset, and again after a reboot (after power on/off), diffed them, and the differences were:

fail case:
gpio324 FSI_CLK: 0
gpio333 PCIE_RESET: 1
gpio334 USB_RESET : 1
gpio344 FSI_ENABLE: 0

So I set those to their opposites, to match the AC cycle case, but no luck.

[2016-12-09 18:24] spinler commented on #861
@rahulmah Do you know when this last worked?

@amboar @shenki Can you think of anything in the kernel that wouldn't get cleaned up on a reboot that could affect the host, besides the GPIOs I mentioned above?

[2016-12-09 18:37] swanman opened #876 "IPL: OS is not pinging with the latest OpenBMC code on bard-04"
We routinely have not been able to do our Power On to OS tests on our barreleye system, bard-04, as the OS is not pinging.  When gsi checks the system, they have been able to correct the problem by putting on the GA level of openbmc code from rackspace (10 50 256)  .  This will obviously not work for our driver verification testing, as we need to be running with the latest daily builds.

Here is t

[2016-12-09 18:44] swanman commented on #876
Just noticed that the SOL output is not present in our FFDC.  I spoke with the test owners and they will work to get this included today.

[2016-12-09 19:13] kc8apf opened #877 "Jenkins real hardware test failures do not provide sufficient information to debug the issue"
https://gerrit.openbmc-project.xyz/#/c/1445/ triggered a real hardware test run which failed.  The link provided for logs (https://jenkins-openbmc.github.io/openbmc-logs/change-1445/patchset-1/) provides a view of what commands were sent to the REST API but not the console logs or anything showing machine-side errors.  I know that it failed to do the code update but I have no idea why.

[2016-12-09 19:53] kc8apf opened #878 "Jenkins real hardware tests failing on what appears to be a syntax error"
Rerunning tests for https://gerrit.openbmc-project.xyz/#/c/1445/2, the code update succeeded and tests ran.  The results (https://jenkins-openbmc.github.io/openbmc-logs/change-1445/patchset-2/) show many of the tests failing due to:

[2016-12-09 22:38] anoo1 commented on #874
Fix for the stable branch: https://gerrit.openbmc-project.xyz/#/c/1473/

[2016-12-10 13:47] williamspatrick commented on #843
Code is availabe in Gerrit:
[code]
diff --git a/xyz/openbmc_project/Object/Delete.interface.yaml b/xyz/openbmc_project/Object/Delete.interface.yaml
index bcddbeb..da9833e 100644
--- a/xyz/openbmc_project/Object/Delete.interface.yaml
+++ b/xyz/openbmc_project/Object/Delete.interface.yaml
@@ -1,7 +1,7 @@
 description: >
     Implement to provide object removal.
 methods:
-    - name: Delete
+    - n

[2016-12-12 00:46] amboar commented on #876
@swanman Please use the triple-backtick markdown when pasting logs into Github issues. This presents the log text in an easy to read manner and stops Github from mangling the content by trying to parse it as markdown for rendering.

[code]

[2016-12-12 00:48] geissonator commented on #878
@gkeishin please take a look?

[2016-12-12 01:20] amboar commented on #805
Here's a recent update on website publishing: https://github.com/blog/2289-publishing-with-github-pages-now-as-easy-as-1-2-3

[2016-12-12 02:05] shenki commented on #843
On Tue, Nov 29, 2016 at 12:19 PM, Patrick Williams
<notifications@github.com> wrote:

I don't think this alleviates the concerns.

Is there a good reason we need to have this complex layering of dependencies?

What does your proposed implementation provide over compiling the
interface code in the application directly?

[2016-12-12 04:03] gkeishin commented on #878
This seems bit odd to failed like this on an SSH connection to begin with.. The tests should also have failed in that case..  looking into it..

[2016-12-12 04:13] williamspatrick commented on #843
Smaller flash footprint.  Single point of update.  Standard reasons for using a shared library, no?

[2016-12-12 04:20] williamspatrick commented on #843
The 'phosphor-dbus-interfaces' repository contains the collection of well-documented dbus interface files in YAML format.  Without a shared library I have to either:

1. Export generated header and cpp files into someplace like /usr/shared. Each application would need to depend on these generated files and compile them into their own application.
2. Each application would need to depend on the ori

[2016-12-12 04:40] shenki commented on #843
On Mon, Dec 12, 2016 at 3:20 PM, Patrick Williams
<notifications@github.com> wrote:

This seems to be a sensible approach to me.

I think you will end up with a larger disk footprint with multiple
shared libraries, as each .so has it's own headers, as well as
representing a different file on disk (bytes to represent the
filename).

In addition your application startup time is increased as ld.so mu

[2016-12-12 04:58] gkeishin commented on #878
Not sure what has escalated the issue with SSHLibrary however, I noticed that
python -m robot      execute works good but tox execution of the same seems appending extra "timeout" in the session establishment which seems to make it fail here

[2016-12-12 09:07] rahulmah commented on #861
The last working build which I know is v1.99.0-275-g63248b4.

[2016-12-12 09:10] gkeishin commented on #878
I think i know the problem.. the tox doesn't seems to resolve the python package dependencies..

[code]
SSH library from robot framework does need explicitly paramiko

So the deps arg in the tox needs to be updated and seems to work with paramiko version 2.0.2
paramiko==2.0.2

This seems to have fixed the issue for now..

[2016-12-12 11:14] williamspatrick commented on #843
Yocto uses prelink.

The space savings is from not having the generated code in multiple applications.

I can experiment with an archive instead of shared library if you think LTO is really going to save that much.

[2016-12-12 13:18] #878 closed

[2016-12-12 15:14] tomjoseph83 commented on #572
@williamli80 I think that this issue can be closed. Please update if the issue still persist.

[2016-12-12 15:23] geissonator commented on #770
This is focused on updating the new inventory objects.

[2016-12-12 17:47] #640 closed

[2016-12-12 20:33] spinler commented on #876
Stephanie said she's still waiting on having the testcase collect the host console output, and she'll recreate when it's there.

[2016-12-12 22:09] swanman commented on #876
I have uploaded the Host sol output:
[obmc-console.txt](https://github.com/openbmc/openbmc/files/647362/obmc-console.txt)

[2016-12-12 22:27] gwshan commented on #876
It seems a skiboot issue. No network card has been probed successfully in
skiboot.

[   22.023586474,5] PCI: Probing slots...
[   33.024048623,3] PHB#0001:02:04.0 Timeout waiting for downstream link
[   33.026576291,5] PHB#0000:00:00.0 [ROOT] 1014 03dc R:00 C:060400
B:01..ff SLOT=Slot1
[   33.026700815,5] PHB#0001:00:00.0 [ROOT] 1014 03dc R:00 C:060400
B:01..16 SLOT=PLX Switch
[   33.026827032,5]

[2016-12-12 22:45] spinler commented on #875
The journal shows a lot of:
[code]

[2016-12-13 03:17] anoo1 commented on #863
Hi @gwshan , Is this something you may be able to help take a look? Kenneth clarified that the system was in a power on/off loop (for testing a different issue), and since powering on drops the network maybe it exacerbates this scenario.

[2016-12-13 04:48] gkeishin opened #879 "[ Barreleye - v1.99.0-322-g1da3a35 ] Error: "ethaddr" not defined"
On the latest build https://openpower.xyz/job/openbmc-build/410/
VERSION_ID= v1.99.0-322-g1da3a35

We are seeing this at BMC Ready... right now we don't yet know the implication of this error message.

``` Nov 21 06:10:04 barreleye sync_inventory_items.py[833]: ## Error: "ethaddr" not defined```

- [x] Here is the Journal log:
[barreleye_v1.99.0-322-g1da3a35_BMC_READY.txt](https://github.com/openb

[2016-12-13 05:03] gwshan commented on #863
I don't see those errors before. One thing is just as expected: the NCSI interface is temperarily unavailable when powering off and on the host. The NCSI stack running on the BMC side should received AEN packets to bring itself down and up again. However, 2 to 3 minutes consumed by that is more than I expected.

I will try to reproduce this on my local BMC first of all.

[2016-12-13 11:42] vishwabmc commented on #803
https://gerrit.openbmc-project.xyz/1488

[2016-12-13 12:20] amboar commented on #861
I will try to reproduce/bisect this when I get some time.

@spinler These GPIO problems are pretty nebulous without deeper knowledge of the hardware. I don't immediately know whether anything else would affect the power-on sequence. However, there may be a timing dependency between power-on and changing the values of those GPIOs. It's unclear to me at what point in the boot process you tried to ch

[2016-12-13 16:05] gkeishin opened #880 "[Witherspoon - v1.99.0-321-gb4f5019 ] PNOR update Failed"
`root@witherspoon:~# cat /etc/version`
`20161212180427`

[code]

- [x] Journal log here :
[witherspoon_pnor_update.txt](https://github.com/openbmc/openbmc/files/649414/witherspoon_pnor_update.txt)

[2016-12-13 16:17] spinler commented on #880
Same signature as https://github.com/openbmc/openbmc/issues/848

[2016-12-13 16:26] williamspatrick commented on #861
Based on the problem description, I suspect that this commit from skeleton would have been most likely.
[code]

Looks like that commit is in the "known working" level though.

Another potential culprit is this:
[code]

[2016-12-13 17:58] gkeishin opened #881 "[Barreleye v1.99.0-322-g1da3a35 ] DIMM23 properties not loaded"
`root@barreleye:~# uptime; obmcutil state ; cat /etc/version`
` 06:38:39 up 30 min,  load average: 0.39, 0.76, 0.94`
` = HOST_BOOTED`
`20161212213842`
`root@barreleye:~#`

- [x]  Journal Log -  [20161213094743401408_BMC_journalctl.txt](https://github.com/openbmc/openbmc/files/649684/20161213094743401408_BMC_journalctl.txt)

Nov 21 06:08:59 barreleye inventory_items.py[694]: Loading from cache: /va

[2016-12-13 18:16] geissonator commented on #859
Angel replaced our BMC flash chip and we still have this issue, so I'm at a loss on this one.

[2016-12-13 21:38] sdturne opened #882 "Build failure: [barreleye 1da3a353] ERROR: Function failed: do_uboot_mkcimage with ob8.1650.20161213a"
Barreleye build ob8.1650.20161213a at git commit 1da3a353e58e6439f5b7c5a0634e1b382bb27bfc
failed with the following output:

NOTE: Running task 1756 of 2900 (ID: 70, /esw/fspbld-local/obmcbar/Builds/extract/1da3a353e58e6439f5b7c5a0634e1b382bb27bfc/meta-phosphor/common/recipes-kernel/linux/linux-obmc_4.7.bb, do_compile_kernelmodules)
Log data follows:
| DEBUG: Executing shell function do_uboot_mkci

[2016-12-13 22:24] amboar commented on #882
@sdturne when pasting logs into github can you please use the triple-backtick markdown to format the text. The output is easier to read and it stops github from interpreting log character sequences as markdown.

Regardless, the output mentions that

1. `linux.bin` wasn't found, and
2. There's a log file capturing the details of the failure

[code]

If you still have `log.do_uboot_mkcimage.19434` c

[2016-12-13 22:35] sdturne commented on #882
Its content is identical to the "Log data follows:" output that I pasted and you re-quoted in item 2.

[2016-12-13 22:44] amboar commented on #859
@geissonator you've outlined several issues:

1. The rwfs cannot be mounted at update time due to bad magic
2. `/run` is fairly full
3. There are four 3MB of journal files lying around under `/run`

Do you also see 1. during normal system boot (as opposed to update)? Separately I imagine running `journalctl --vacuum-size=1M` will resolve 2. and 3 by removing ~11MB of unwanted data.

Have you tried

[2016-12-13 22:46] amboar commented on #882
Okay, that's unhelpful. Your output also mentions:

[code]

Can you provide the warning output?

[2016-12-14 00:36] sdturne commented on #882
[code]

[2016-12-14 01:02] shenki commented on #859
The output of dmesg will tell us the flash chips and also provide the kernel version

[2016-12-14 02:53] GHF opened #883 "Remove dependencies on org.openbmc.control.Host?"
I was testing out https://gerrit.openbmc-project.xyz/#/c/1217/11 (to fix #647) and found that replacing org.openbmc.control.Host with a one-shot script breaks quite a lot of functionality.

For example, org.openbmc.settings.Host will never start because it waits for Host: b78c6def968a515c5b9f2d44f44c24b19134b6d5

Moreover, org.openbmc.settings.Host (even when run manually) never starts up correctl

[2016-12-14 14:00] williamli80 commented on #770
-[ ] Creating new inventory objects to inventory manager.
-[ ] Implementing pciedetect
-[ ] calling new sdbusplus interface to update them.
Use above created inventory objects, read gpio signal, update gpio inventory objects.

[2016-12-14 15:55] swanman commented on #876
Since we know this happens with newer openbmc code (with the same PNOR level), the openbmc folks need help figuring out what it is that they are not doing correctly to make this "skiboot problem" show up.  Any words of wisdom would be appreciated.

[2016-12-14 16:12] spinler commented on #883
We (obviously) hit this same problem on Witherspoon, and have to hack some things up to reach standby.

[2016-12-14 17:44] #647 closed

[2016-12-14 17:56] williamspatrick commented on #883
I'm not pleased with how that 'object querying' stuff ended up in settingsd.  We had a mess of trying to get it working after it went in and dealing with these systemd dependencies.  It isn't right as it is.

In the long-term, we need that settingsd to be listening for object-created signals if it wants to dynamically create settings objects based on inventory objects.

In the short-term, I think

[2016-12-14 17:59] williamspatrick commented on #883
I think we need settingsd object to exist for `obmc-chassis-start@0` so that we know if we are in "debug-mode" or not.

[2016-12-14 19:43] geissonator commented on #432
We've moved this one out a bit so just going to move into the backlog.

[2016-12-14 19:48] geissonator commented on #572
See comment above from Tom

[2016-12-14 19:48] #572 closed

[2016-12-14 19:49] geissonator commented on #585
Moving again, no response from @adamliyi

[2016-12-14 19:49] geissonator commented on #603
Not much activity here, is this still an issue?  Going to move to backlog for now.

[2016-12-14 19:55] geissonator opened #884 "MRW FRU VPD"

[2016-12-14 19:55] geissonator opened #885 "MRW IPMI VPD"

[2016-12-14 19:56] geissonator opened #886 "MRW Common VPD"
Some notes from sprint planning:

All code required to generate YAML content for inband IPMI format
- Fetch data from mrw
-- Break down into parts (do processors, do memory, ...)
- Write script to generate yaml
- bitbake recipe

Depends on Matt Spinler providing some required MRW data.  Ratan to email Matt with details.

[2016-12-14 20:00] geissonator commented on #734
Deepak out next sprint so just putting in actual, not committed so we don't lose track of it.

[2016-12-14 20:50] spinler opened #887 "P9 DD1 requires AVS bus workaround"
P9 DD1.x requires a workaround for the AVS bus, p9_dd1_avsbus_workaround.

Here it is in the poweron sequence:
[code]

p9_dd1_avsbus_workaround:
[code]

Not sure if these commands are common to all systems or not.

[2016-12-14 20:54] spinler opened #888 "Witherspoon requires VRM tuning"
I heard this is only a short term solution for the lab, but Sertac still wants us to do it.

 ./ucd_disable_vcs
  ./p9_dd1_avsbus_workaround
 ./avsbus_disable   #<------------this
  echo Applying voltage overrides...
  ./vrm vdna=0.9 vddra=1.35 vdnb=0.9 vddrb=1.35   #<---------- this
  ./avsbus_enable #<--------------- this
  ./vcs_off
  echo -n  powering on....
  gpio 345 out 1                # o

[2016-12-14 21:43] anoo1 commented on #847
I incorrectly closed this issue with a commit intended for issue #874.

[2016-12-14 21:44] anoo1 commented on #874
Merged in stable and master branch. Closing.

[2016-12-14 21:44] #874 closed

[2016-12-14 22:14] GHF opened #889 "Boot host from emulated PNOR (memboot)"
Patrick and Benjamin Herrenschmidt both mentioned memboot: LPC bridge mapped to a region in memory other than the PNOR's SPI flash controller. From what I can see, we need:

- a kernel driver to configure the LPC bridge
- an application that copies/extracts the PNOR to memory and request that the LPC bridge map to that window

Host/MRW folks also want to customize the PNOR and thus need code that

[2016-12-14 22:32] swanman commented on #875
[code]

[2016-12-14 23:47] GHF commented on #883
Thanks Patrick. So we need a null/stub daemon that takes the host0 dbus name?

Is debug mode useful without control.Host? It looks to me like it's only used for setting FSI mode between BMC and FSP2 debug.

I'm blocked on this framework working before mailing Zaius VCS control (to be sequenced between workaround and IPL start). Locally, I tried building both obmc-op-control-host and p9-host-start

[2016-12-14 23:56] amboar commented on #882
I assume the MIRRORS alternatives for the failed fetches succeeded?

[2016-12-15 00:10] amboar commented on #889
Here are some bits that I'm aware of on this topic: @cyrilbur-ibm has sent a couple of patches for LPC control and mailbox communications:

* LPC: http://patchwork.ozlabs.org/patch/704320/
* MBOX: http://patchwork.ozlabs.org/patch/704318/

There's also the preliminary memboot hack in skiboot that's been around for a while:

https://github.com/open-power/skiboot/tree/master/external/memboot

Clearl

[2016-12-15 00:30] GHF commented on #852
Adrian said yesterday he will be working with Alistair on secondary module support for pdbg.

I agree that the probe errors continue to be low priority.

[2016-12-15 00:58] GHF commented on #887
the `#for witherspoon only` part is indeed for Witherspoon only, as we've found Zaius can boot with our VRMs' default voltages. However, Zaius's VRs have AVSBus disabled by default so we need to perform `avsbus_enable` in the sequence so that the host can take control of the VRs.

We also need a variant of the voltage tuning: the host apparently sets voltages that are too low to boot again (not to

[2016-12-15 01:56] mikey opened #890 "Enable LPC to AHB bridge on witherspoon"
In the openbmc kernel we set the enabled the LPC to AHB bridge here:
https://github.com/openbmc/linux/blob/731a90c2a97d8909c27cf0ce6b52b03c0068274b/arch/arm/mach-aspeed/aspeed.c#L43
This has bit 8 (ENL2H: Enable LPC to AHB bridge)  set.

But on a real system, I see this.:
[code]
Which has bit 8 (ENL2H: Enable LPC to AHB bridge) disabled.

So is something in userspace playing with this register aft

[2016-12-15 02:42] adamliyi commented on #861
@mine260309 also observed similar abnormal Power-on behavior on Palmetto - I will double check my PCIE reset patch.

[2016-12-15 02:59] shenki commented on #848
This is merged as of 1da3a353e58e6439f5b7c5a0634e1b382bb27bfc. Please re-test with `v1.99.0-322-g1da3a353e58e` or later.

[2016-12-15 03:00] shenki commented on #880
@gkeishin please put the output of `/etc/os-version` in your report instead.

Closing as a duplicate of #848

[2016-12-15 03:00] #880 closed

[2016-12-15 03:06] sdturne commented on #882
Yes they did.  I can only assume that this was some mysterious internal or environmental problem on the build machine whose symptom was not well reported by the build environment, because a subsequent rebuild of the same level of code succeeded today on a different build machine.  I will close this issue.  Thanks for the investigation.

[2016-12-15 03:06] #882 closed

[2016-12-15 03:36] austinwrx opened #891 "AVSBus/PMBus for boot-time voltage adjustment for witherspoon"
From Jordan's note:

1) Set OPERATION to 0x80
2) Set VOUT_COMMAND voltage per whatever was set in XML - if no voltage is needing to be set this is valid and OK...then it would use whatever the VRM HW set in manufacturing.
3) Set OPERATION to 0xB0 - transfer control immediately over to AVSBus and per HW settings this propagates the whatever is currently in VOUT_COMMAND over to the AVSBus voltage.

[2016-12-15 04:40] williamspatrick commented on #887
openbmc/openbmc#891 gives the specifics for Witherspoon.

@spinler - I suspect that we should put the AVS workaround into a separate script and maybe a separate service file.  Can we put a dependency relationship between the VCS workaround service and the AVS workaround service?  Then we can install a system-specific AVS workaround script but still get it called in the right place for all machines

[2016-12-15 04:41] williamspatrick commented on #891
I'm going to close this in favor of the combined Witherspoon / Zaius issue we already have open.  openbmc/openbmc#887.

[2016-12-15 04:41] #891 closed

[2016-12-15 05:21] gkeishin commented on #880
@shenki  In general,  isn't the v1.99.0-321-gb4f5019  mentioned in the title the only needed for the version information if we are looking at /etc/os-version ?

[2016-12-15 05:25] shenki commented on #880
Yes. You're right, I didn't notice the title. Thanks for pointing that out :)

[2016-12-15 06:08] mine260309 commented on #862
I tried a couple of reboots with or without host booted.
The exception in `settings_manager.py` is reproduced twice, each occurs when:
1. BMC ready, and host is powered off;
2. BMC power on host until host is booted;
3. Reboot BMC;
4. During the first reboot, exception in `settings_manager.py` occurs.

But this seems not a problem because `org.openbmc.settings.Host.service` is configured as `Resta

[2016-12-15 06:21] shenki commented on #876
I think there were PCIe GPIO related changes in openbmc recently. I suggest reverting those to see if the network card comes back.

[2016-12-15 06:24] shenki commented on #876
Please test older versions of openbmc master to work out when the regression happened. I suggest this one: https://openpower.xyz/job/openbmc-build/distro=ubuntu,target=barreleye/374/artifact/images/barreleye/

[2016-12-15 07:29] legoater commented on #861
same symptoms on our Palmetto also.

[2016-12-15 07:59] adamliyi commented on #767
Patch committed here: https://gerrit.openbmc-project.xyz/#/c/1513/

[2016-12-15 08:47] mine260309 commented on #766
The inteface `org.openbmc.control.Checkstop` seems to have no methods nor properties.
Is it meaningful to define an empty interface in `phosphor-dbus-interfaces`?

[2016-12-15 09:32] mine260309 commented on #262
What about the refactor of GPIO related configs?
Note that a couple of skeleton code uses the GPIO related code in `libopenbmc_intf`:
  * hostcheckstop
  * rstbutton
  * pciedetect
  * op-pwrctl
  * op-hostctl
  * pwrbutton

When refactoring, it will have dependency to it, so it seems to me that GPIO refactor shall be done before such projects?

[2016-12-15 12:39] adamliyi commented on #881
I will take look.

[2016-12-15 13:30] geissonator commented on #862
Thanks for digging into this one Lei!  I know one thing Patrick was interested in was a full log of the "dbus-monitor —system" during the initial BMC boot.  He'd like to look for any obvious issues with process's abusing the dbus.  If there's nothing obvious there, then I agree, we should probably just bump up the retries, and maybe increase our delay to give the bus more time to settle down.

[2016-12-15 14:53] rahulmah commented on #833
@adamliyi : When we can expect fix for this issue? Due to this issue, all new clock related TCs in automation fails. This need to fix on priority.

[2016-12-15 15:09] geissonator commented on #629
Open design issues here, Matt may just check in a diff of his generated file directly to kernel until we get things resolved.

[2016-12-15 15:56] geissonator commented on #670
Reduce to 1 point since this will now just track getting the BMC version.  The PNOR code version will need to wait until after we get the code update design done.  People can use cronus/pflash to get PNOR version until then.

[2016-12-15 16:52] geissonator commented on #766
Discussed a bit in design meeting.  The thought is to not have a sensor or sdbus property for this.  We'll simply have a process that monitors the checkstop gpio, and issues a systemd transition request to reboot system when it hits.  Patrick proposed we rename this to something more generic like - "Host Termination Signal".  We may also need to create an elog when this happens.

[2016-12-15 17:09] spinler commented on #766
For checkstop debug we'll need a way to disable this.  Is it as easy as stopping the service?

[2016-12-15 17:20] geissonator commented on #766
Good point, yes, that should be a requirement here.

[2016-12-15 17:21] geissonator commented on #766
And also, probably shouldn't use systemd directly, should use the new Host interface to restart things (it calls systemd).

[2016-12-15 19:32] spinler commented on #883
I implemented the short term solution Patrick suggested at:
https://gerrit.openbmc-project.xyz/#/c/1519/
https://gerrit.openbmc-project.xyz/#/c/1520/

With those changes, I can reach the obmc-standby.target.

I also removed the host0 dependency from the old style state management:
https://gerrit.openbmc-project.xyz/#/c/1518/

That's in Witherspoon.py, so each system would need that done separately

[2016-12-15 19:41] geissonator commented on #770
@spinler to check if we even wired up Witherspoon to support this function.

[2016-12-15 19:42] geissonator commented on #770
This will require the sdbusplus client bindings to talk with inventory manager.

[2016-12-15 20:00] geissonator commented on #770
- interrupt driven
- Make generic inventory object that is created when a GPIO is asserted (indicates presence)
- MRW information drives this program (MRW -> service files that launch inventory object)
Talk with Matt S. and Brad for details.

[2016-12-15 20:08] geissonator commented on #777
Some discussion on this
- Do we need to always show something like the system backplane as always present?  Even when we haven't gotten the IPMI data for it?  Brad has idea where he could add a "static" type signal for this.

[2016-12-15 20:52] swanman commented on #876
That level did not work either.

[2016-12-15 21:03] swanman commented on #876
[code]

[2016-12-15 22:36] gwshan commented on #876
@swanman, if possible, you can catch me at sametime (gwshan@au1.ibm.com) so that I can take a close look on this, thanks! It's strange that all PCI devices are missed in skiboot. I didn't figure out how BMC GPIO can affect PCI domain in this large scale.

[2016-12-15 23:26] amboar commented on #876
@gwshan as @shenki mentioned the PCI reset mechanism was reworked in OpenBMC recently, which  could affect the PCI domain at this large a scale. I expect the image @shenki asked @swanman to test was built from a commit prior to the rework, but given that build apparently doesn't work either maybe we've broken something else. The timeout does seem suspiciously like a not-coming-out-of-reset problem

[2016-12-15 23:31] gwshan commented on #876
@ambor, yeah, there is one GPIO PIN (at least) used to issue PERST to one PCI slot, not all PCI slots in the system. Let me talk to @swanman when both of us are on line. To me, it looks like a skiboot bug.

[2016-12-16 00:45] mikey commented on #890
FWIW, I've confirmed this on a second machine after a clean BMC reboot.

[2016-12-16 01:15] rlippert commented on #889
Looks like there is also an unsubmitted pull request for P8 hostboot here:

https://github.com/open-power/hostboot/pull/19

This would need to be rebased for the P9 hostboot branch.

[2016-12-16 02:39] GHF commented on #887
I mailed the Zaius implementation at https://gerrit.openbmc-project.xyz/#/c/1528/

I went with "AVSBus disable at power off." Per #891, this relies on VOUT_COMMAND="whatever the VRM HW set in manufacturing" being a valid boot voltage, which it is for Zaius. If you folks implement reading a VOUT_COMMAND from XML, then we can switch to that as a shared common implementation.

[2016-12-16 03:03] gwshan commented on #876
@shenki reproduced this issue on "palm5" in ozlabs. The all PCIe links are down initially. Then I found the PCIE_RESET_PIN has been put into low-level, which represents resetting the PCIe slot. I forced it to high-level-of-voltage and the PCIe links (the one behind 0001:02:03.0) are up. I guess it's still related to the PCIe reset patch ("https://gerrit.openbmc-project.xyz/#/c/891/").

All PCIe li

[2016-12-16 03:36] GHF opened #892 "Customize services that use pdbg with machine name"
pdbg requires a "-d <device>" argument to select GPIO mappings that work for the board the BMC is on. "<device>" can be "long form": full machine names such as "witherspoon".

The services that use pdbg (SBE start start_host@.service and VCS workaround vcs_workaround@.service) need to be customized at build time with a substitution for machine name into the script invocations (see 927394011a2d63a2

[2016-12-16 03:45] GHF commented on #849
This is the outline of what Zaius BMC needs to do (from internal bug tracker):

[code]

The clock gen/refclock fix is in, as are fixes for P9 SBE start/VCS workaround scripts.

I just mailed systemd service sequencing for those P9 scripts and the VCS and AVSBus control scripts/services for Zaius.

Some issues:
- SBE start and VCS workaround scripts both use pdbg, which requires a `-d <device>` arg

[2016-12-16 04:12] gwshan commented on #876
Below sequence worked for me. So it's related to PCIE_RESET PIN definitely:

bmc# obmcutil poweron
<wait for 3 seconds>
bmc# devmem 0x1e780000
<get the value in register, called 'reg_val'>
bmc# devmem 0x1e780000 (reg_val | (1 << 13))

The network card is seen in petiboot finally.

[2016-12-16 04:14] GHF commented on #705
If the LEDs in the device tree are populated with the wrong names (or missing the ones it wants to see?), it still fails to start. "Failed to add object to dbus: Invalid argument" is not very useful.

[code]

[2016-12-16 06:10] shenki commented on #892
Another alternative is we detect the system from the device tree. This is a change to pdbg that would not depend on adding other parts of the system.

[2016-12-16 07:00] mine260309 commented on #862
With the steps, I managed to reproduce the issue once for both `system_manager.py` and `settings_manager.py`, and captured the `dbus-monitor --system` log.
[issue_862.tar.gz](https://github.com/openbmc/openbmc/files/656545/issue_862.tar.gz)

But in my case `system_manager.py` just gets an exception and keeps working, it seems to do no harm.

[2016-12-16 07:13] Youngzhong commented on #838
If we will add Lan NCSI code or driver.Please tell me where I can modify?Thanks!

[2016-12-16 09:17] gwshan commented on #838
@Youngzhong, NCSI driver is enabled by default. Please let me know the best way to catch you on line. I can be reached by gwshan@au1.ibm.com or shan.gavin@gmail.com

[2016-12-16 09:32] adamliyi commented on #861
As pointed out by @gwshan and @amboar , the reset pin setting based on polarity is not correct. I committed a fix here: https://gerrit.openbmc-project.xyz/#/c/1531/ . The reset pin state is as expected now:
[code]
But even this fix, palmetto still cannot boot to host: the way I reproduce this issue is:

[code]

[2016-12-16 13:56] geissonator commented on #705
@vishwabmc this is all code from skeleton/ledctl/led_controller.c, I think you've pretty much rewrote this all recently?  The code in question seems to be where we're trying to register an object for each LED.
[code]

[2016-12-16 15:25] ratagupt commented on #886
Need data in the format like ..
Fru
     Associated Device
                 Required Attributes(for each device)
Need to make a list of the required attributes for Associated Non Fru device which is required from MRW.
May Need to make the changes in the Inventory DBUS interfaces also depends on the attribute.

[2016-12-16 15:55] geissonator commented on #859
I think with the replacement of the flash chip, issue 1 is gone (or it was really just a side affect of this full filesystem issue).

But the filling up of /run happens on every reboot with every recent build.  The builds are coming from openpower.xyz and are the same builds that work on other barreleye systems.  Even if we prune the journald files, they come back on the next reboot and fill up th

[2016-12-16 21:38] geissonator commented on #862
cat dbus-monitor.log | grep ObjectPathInUse | wc
     708

So, we get that error 708 times here...that's a lot.

I don't see anything too obvious around the errors, it's all over the place.  The sender always seems to be 1.13, be interesting to know which object that is:

It also seems that this 1.13 is calling introspect on every object, which would generate a lot of dbus traffic for sure.

[code

[2016-12-16 21:49] geissonator commented on #862
@bradbishop my guess is the object mapper is calling introspect on all objects as they appear on the bus?  Any thoughts on how to reduce it's impacts on the dbus?  Or do we just need more retries built in around this "busy bus" issue?

[2016-12-16 22:40] GHF opened #893 "ObjectMapper stops responding after error"
At some point the mapper got into a bad state, causing all calls routed through it to fail:

[code]

I tried a `/usr/sbin/mapper call /org/openbmc/control/power0 org.openbmc.control.Power setPowerState i 0` with the same results.

The power0 interface was definitely there:

[code]

And everything worked again after I restarted the mapper daemon (`systemctl restart xyz.openbmc_project.ObjectMapper`

[2016-12-16 23:20] rlippert commented on #893
I also noticed that after the mapper fails this way, IPMI ESEL messages from hostboot start reporting this error about "Failed to reserve_esel":

 26.89092|IPMI|dd: I>read b2h ok 2c:42 seq a8 len 0 cc ce
 26.89104|IPMI|sel: E>Failed to reserve_sel, o_cc ce
 26.89117|IPMI|sel: <<send_esel o_err=00000000, o_cc=xce, sel recID=x00, esel recID=x00
 26.89118|IPMI|sel: <<process_esel
 26.89119|IPMI|sel:

[2016-12-17 06:15] bradbishop commented on #862
The mapper falls back on introspection when something doesn't implement freedesktop.DBus.ObjectManager.  Implementing that would help ( I know settingsd doesn't ).

The dbus-monitor makes it clear:

[code]

We are just deadlocked - NameOwnerChanged signal causes the mapper to introspect settingsd, and settingsd calls the mapper before starting its main loop (thus preventing itself from responding

[2016-12-18 10:30] sivassrr opened #894 "[Witherspoon:v1.99.0-331-g9224355] Phosphor LED Management Daemon not started"
root@witherspoon:# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-331"
VERSION_ID="v1.99.0-331-g9224355-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-331"
BUILD_ID="v1.99.0"
root@witherspoon:# cat /etc/version
20161216213323

[  OK  ] Stopped Phosphor LED Management Daemon.
[F

[2016-12-18 10:31] sivassrr commented on #894
Had kicked off long run test that is 10 Iteration of our CT bucket. At the end of the run found in the serial console that "LED Management Daemon not started".

[2016-12-19 00:04] amboar commented on #894
@sivassrr this sounds related to #705

[2016-12-19 00:11] amboar commented on #859
What does this mean? Are you saying that immediately after reboot `/run` is already full as if the files were there from the start? Or just that after some uptime `/run` becomes full?

[2016-12-19 00:13] amboar commented on #861
@adamliyi Is the step of rebooting the BMC required to reproduce the issue?

[2016-12-19 02:11] amboar commented on #859
So I've looked at why `/run` is reporting as full. The problem is that we're spewing so much data into the journal at `info` level that we're filling up `/run` with logs during the boot process. To verify, I configured:

[code]
And on the following boot we have:

[code]

There are two approaches:

1. Implement a policy either limiting `MaxLevelStore`, `RuntimeMaxUse` or `RuntimeKeepFree`. Unfortun

[2016-12-19 04:02] sivassrr commented on #894
Level what I had used is https://openpower.xyz/job/openbmc-build/417/distro=ubuntu,target=witherspoon/

[2016-12-19 04:07] adamliyi commented on #861
@amboar, on my side - yes. If I do not reboot BMC. 'obmcutil poweron' works well.
[code]

[2016-12-19 06:00] rahulmah commented on #861
@amboar : Yes, reboot command is required to hit this issue.

[2016-12-19 06:10] shenki commented on #890
@geissonator Is there someone who can take a look at our userspace to work out what is going on here?

I confirmed that booting our kernel without the openbmc userspace gives the expected value.

[2016-12-19 06:17] williamli80 commented on #668
PR: https://gerrit.openbmc-project.xyz/#/c/1533/

[2016-12-19 09:27] adamliyi commented on #894
@vishwabmc , looks you are also looking at #705?

[2016-12-19 09:29] adamliyi commented on #893
@bradbishop , will you look at this?

[2016-12-19 09:32] adamliyi commented on #876
Committed a fix here: https://gerrit.openbmc-project.xyz/#/c/1531/, to fix the Reset pin issue. Please have a look.

[2016-12-19 14:03] ya-mouse opened #895 "[bitbake] Taskhash mismatch for os-release"
I've faced two issues:
1. DISTRO_VERSION is not overwritten by phosphor's settings (got v1.99.0-githash-...)
2. When moving .git out get a taskhash mismatch.

To fix this just add a line after [this](https://github.com/openbmc/openbmc/blob/master/meta-phosphor/common/recipes-core/os-release/os-release.bbappend#L21):

[2016-12-19 14:11] ya-mouse commented on #895
Duplicate to #124

[2016-12-19 14:11] #895 closed

[2016-12-19 15:00] geissonator commented on #784
Design meeting discussion today - I'll implement at new systemd target to support soft power off.  This will keep things nice and generic if other systems want to implement soft power off differently then we currently do (SMS attention to host).

[2016-12-19 19:33] geissonator commented on #862
@mine260309 this is causing a _lot_ of instability issues in automation.  Could you try adding some more retries for now to org.openbmc.managers.System.service?

[2016-12-19 20:42] bradbishop commented on #862
I don't think retries are going to help.  I have some ideas to improve the situation...will work on that tomorrow.

[2016-12-19 23:46] amboar commented on #895
@ya-mouse do you mind pushing a fix into gerrit? I've run into this as well and it's a little irritating.

[2016-12-19 23:49] amboar commented on #861
@adamliyi @rahulmah Okay, that's an interesting data point. Thanks.

[2016-12-20 01:50] mine260309 commented on #862
@bradbishop Could you share your detailed idea so that I can work parallelly?

[2016-12-20 06:09] sivassrr commented on #657
dbus exception observed while checking the state of the system.
witherspoon login: root
Password:
root@witherspoon:~# ftgmac100 1e660000.ethernet eth0: [ISR] = 0x57: NO_RXBUF
ftgmac100 1e660000.ethernet eth0: [ISR] = 0x57: NO_RXBUF
ftgmac100 1e660000.ethernet eth0: [ISR] = 0x57: NO_RXBUF
caftgmac100 1e660000.ethernet eth0: [ISR] = 0x57: NO_RXBUF
ftgmac100 1e660000.ethernet eth0: [ISR] = 0x57: NO_R

[2016-12-20 06:12] sivassrr commented on #657
[debugdbusexceptionobmcutilstate.txt](https://github.com/openbmc/openbmc/files/662930/debugdbusexceptionobmcutilstate.txt)

[2016-12-20 07:35] mine260309 commented on #862
Based on the behavior that the exception occurs in setings_manager and system_manager, I tried the below changes as experiment:
1. In `settings_manager.py`, add a while loop to try-catch `mapper.get_subtree_paths()`;
2. In `obmc/mapper/utils.py`, decrease the retry timer to 500ms and increase the retry time to 20;
3. Add the logs of the exceptions.

With the changes, I rebooted Barreleye for a cou

[2016-12-20 09:19] ya-mouse commented on #895
I've found that it fix (while os-release.bb has changed) only for the first time. If I change env, then it came back until I touch the os-release.bb. So, need to dive deeper to find a cause.

[2016-12-20 09:54] SrideviRamesh commented on #861
@amboar : With latest palmetto (#419/20161219141046), I am seeing problem with first power on.  System is not booting to HOST_BOOTED state.  It continuously toggling around following states after "obmcutil poweron"(see attached bmc system info).
HOST_BOOTING,
HOST_POWERING_ON,
HOST_POWERED_ON,
HOST_POWERING_OFF

[20161220014255018974_MyFFDCLogs.zip](https://github.com/openbmc/openbmc/files/663337/

[2016-12-20 13:36] geissonator commented on #862
Thanks Lei, lets get it up in gerrit for review.  Looks like a good workaround to me for now (except for the MINEDBG part of course :)

[2016-12-20 16:27] geissonator opened #896 "reboot hung after code update - umount: can't unmount /oldroot: Device or resource busy"
I was updating BarPVT with some CI images of my new code.  The code in question is just adding some new systemd unit files so should have no affect in this area.  The code is based off of master (which is d6d3ef30d right now).  Here's what I saw in the serial after the code update:

[code]

I'll try a PDU cycle next.

[2016-12-20 16:36] geissonator commented on #896
System came back fine after the power cycle.

[2016-12-20 17:20] spinler commented on #887
https://gerrit.openbmc-project.xyz/#/c/1568/

[2016-12-20 17:21] spinler commented on #888
https://gerrit.openbmc-project.xyz/#/c/1567/

[2016-12-20 23:50] amboar commented on #657
@sivassrr @gkeishin Please use the triple  back-tick markdown when pasting code or console output into github issues. It prevents github's rendering engine interpreting your log output as markdown. What you write looks like:

[code]

[2016-12-21 03:15] mine260309 commented on #862
Submitted for review:
https://gerrit.openbmc-project.xyz/#/c/1571/
https://gerrit.openbmc-project.xyz/#/c/1572/

[2016-12-21 05:08] cyrilbur-ibm opened #897 "Host won't boot"
To reproduce:

On on the serial console
- cut power to palmetto using pdu
- wait 1 minute
- apply power
- wait for boot
- login
- `obmcutil poweron`

I have `obmc-console-client` running in an ssh connection launched before trying to boot the host.

On palmetto:
[code]

Host just doesn't ever come up - blank host console and only repeated:
[code]
on the bmc console

journalctl shows:
[code]

The a

[2016-12-21 07:18] willenlee opened #898 "obmc-console-client escape character "~." is same with ssh connection escape character."
When we use ssh to connect to BMC and executing obmc-console-client then entering escape character "~." to  escape obmc-console-client. that will cause ssh session terminated.
Our questions are :
1. ssh and obmc-console-client escape character should not be the same by default setting,right?
2. Have any method to set escape character of obmc-console-client dynamically?

[2016-12-21 07:44] rahulmah opened #899 "No REST API available to check NTP server address"
REST API to set NTP server address for clock is as below. But there is no REST API available to check this NTP server details. This API is required for user to check existing NTP setting from the system.

[code]

**BMC Firmware info**
Build #419
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-338"
VERS

[2016-12-21 08:59] rahulmah opened #900 "Barreleye: Unable to set NTP server address for clock correctly"
If we try to set NTP address for clock using REST API, then we will see that the server address is set with space between each character. See below step to reproduce for more details.

Due to this incorrect address, clock is unable to sync with NTP server.

Step to reproduce:

1. Try to set NTP server to 123.108.200.124 using below REST request. Here we will see Empty reply.
[code]

2. Now try to

[2016-12-21 09:19] mine260309 commented on #748
Witherspoon's power on scripts are merged (aac4adf831eebc74d97076e94125ebf5b6d5da48)
I will follow this commit to add Romulus' power on scripts.

Additionally, AVSBus and VRM related workarounds are needed for Romulus as well, so I will follow https://gerrit.openbmc-project.xyz/#/c/1567/ to add this workaround to Romulus.

[2016-12-21 09:59] rahulmah opened #901 "HOST time is minutes ahead of BMC time after setting BMC time with Split and Manual mode"
This is how we are hitting this failure, Palmetto system was set with BMC owner and Manual mode. At this point, both HOST and BMC time was 2016-02-29 09:10:08.000.

Then we tried to set owner to Split and owner to Manual. Later we tried to set BMC time to 2016-02-29 09:10:00.

Now after set BMC time operation, we see that BMC time is correctly set to 2016-02-29 09:10:00.000 but HOST time is set to

[2016-12-21 11:45] rahulmah opened #902 "Barreleye: Clock time mode change is not getting applied on poweron system"
Time mode change is not getting applied on power on system. I checked and found that, it needs a reboot to get the setting applied.

Expected results: Time mode related changes should get applied regardless of system state.

See step to reproduce for mode info.

1. Make sure system is in HOST_BOOTED state and Time owner is BMC and Time mode is NTP
[code]

and Time owner is BMC and Time mode is NTP

[2016-12-21 11:55] sdemirhan opened #903 "how to compile u-boot of openbmc using local file"
I would like change u-boot of openbmc. So i download u-boot from https://github.com/openbmc/u-boot and i made a change in that.  I want to get openbmc image using this local directory. How to reference this local directory and how to compile full of openbmc when i changed the source code associated with u-boot.
Do you have any suggestion?
Seda

[2016-12-21 16:31] kc8apf commented on #903
After running '. openbmc-env', a tool called devtool will be in your path.  Run 'devtool modify -n u-boot <path-to-local-source>'.  This first creates a new Yocto layer in your build directory where devtool stores recipe modifications.  It then constructs a .bbappend for the u-boot recipe and uses the externalsource class to replace the download, fetch, and patch steps with no-ops.  The result is

[2016-12-21 18:07] ya-mouse commented on #895
Just to backlog the findings. There is a [build_dependencies](https://github.com/openbmc/openbmc/blob/master/import-layers/yocto-poky/bitbake/lib/bb/data.py#L408) routine to calculate deps depending on flags. We have to use:

instead of:

[Here](https://github.com/openbmc/openbmc/blob/master/import-layers/yocto-poky/bitbake/lib/bb/siggen.py#L136-L141) is the hash calculation part including variabl

[2016-12-21 23:23] ongchris commented on #441
Is the plan to implement an IPMI-compliant SDR? Is the current sensor polling done in pyhwmon/hwmon.py?

[2016-12-21 23:33] ongchris commented on #443
Is the plan to support an IPMI-compliant System Event Log?

[2016-12-21 23:33] kc8apf commented on #441
Zaius needs IPMI SDR so it is definitely on Google's schedule.  There has been some design discussion on the mailing list.

[2016-12-21 23:59] williamspatrick commented on #443
Yes.  There will be a translation between the internal openbmc error structures and SELs.

[2016-12-21 23:59] williamspatrick commented on #441
Yes, that is the plan.  To implement a translation between the local dbus objects and an IPMI SDR.

@bradbishop is working on a replacement for the pyhwmon implementation.

[2016-12-22 00:32] williamspatrick commented on #903
There are three general approaches to modifying any package:

1. Update the SRC_URI variable in the original recipe.bb file to point at a custom git-repo of your own.
2. Modify the SRC_URI variable in a recipe.bbappend file in a machine-specific layer or meta-phosphor layer to point at a custom git-repo of your own.
3. Create a patch file with your changes and update SRC_URI using method 1 or 2 to

[2016-12-22 00:32] #903 closed

[2016-12-22 05:43] sivassrr commented on #894
Able to recreate with 422 driver as well.

[  OK  ] Reached target System Time Synchronized.
[  OK  ] Started Permit User Sessions.
[  OK  ] Started Phosphor LED Management Daemon.
[  OK  ] Started Clear one time boot overrides.
[  OK  ] Started Phosphor Watchdog0.
[  OK  ] Started Phosphor BMC0 Control.
[  OK  ] Started Phosphor Host0 Checkstop Monitor.
[  OK  ] Started Phosphor Event Manager.
[

[2016-12-22 06:33] mine260309 commented on #898
I don't think this is an issue.
* The command to exit from ssh session is `<Return>~.`
* The command to exit from ssh sesseion's ssh session is `<Return>~~.`

So to exit from obmc-console-client, simply type `<Return>~~.`.

[2016-12-22 07:22] staneyshen commented on #898
According to the info from below link, user will use ~. to exit obmc-console-client, therfore user will encounter the ssh session terminate problem.

https://github.com/openbmc/docs/blob/master/console.md

Local console connections
If you're already logged into an OpenBMC machine, you can start a console session directly, using:
**$ obmc-console-client**
To exit from a console, type:
**return ~ .*

[2016-12-22 07:33] mine260309 commented on #898
* If you're using serial console and run `obmc-console-client`, you should type `return ~ .` to quit;
* If you're using ssh to login to OpenBMC, and then run `obmc-console-client`, it is actually running ssh on ssh, so you need to type `return ~~.` to quit `obmc-console-client` and stays in ssh session.

[2016-12-22 08:08] staneyshen commented on #898
I agree with your explanation but user doesn't know obmc-console-client is running ssh, they think it likes SOL function.

May I know that will obmc-console-client support -e parameter(like ssh -e "escape char")? Thanks.

[2016-12-22 11:53] sivassrr opened #904 "[Witherspoon:v1.99.0-351-g8c1f920] Driver 422 - Sensor related TCs fails because of dbus exception"
root@witherspoon:# cat /etc/version
20161222025539
root@witherspoon:# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-351"
VERSION_ID="v1.99.0-351-g8c1f920-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-351"
BUILD_ID="v1.99.0"
root@witherspoon:#

Start / End / Elapsed: 	20161222

[2016-12-22 12:48] williamspatrick commented on #904
Please use backtick escapes on logs.

What was the rest API call being done when this failed?

[2016-12-22 13:42] sivassrr commented on #904
Basically Get request using the url /org/openbmc/enumerate:  Details as follows:

{ret} = RequestsLibrary.RequestsKeywords . Get Request openbmc, ${base_uri}, &{kwargs}, timeout=${timeout}
Documentation:

Send a GET request on the session object found using the
Start / End / Elapsed: 	20161222 13:01:27.818 / 20161222 13:01:31.803 / 00:00:03.985
13:01:31.802 	INFO 	Get Request using : alias=openbmc

[2016-12-22 13:43] sivassrr commented on #904
More detais related to driver available @ https://github.com/openbmc/openbmc-test-automation/issues/220

[2016-12-22 18:56] ongchris commented on #443
Thanks Patrick.

[2016-12-22 22:24] williamspatrick commented on #895
Yes, please do. It would be appreciated.

[2016-12-22 23:52] amboar commented on #898
@mine260309's approach is the normal approach. We just need to document in an obvious place that the double-escape sequence is required. I think that's better than using a non-standard escape sequence.

[2016-12-22 23:56] amboar commented on #894
@sivassrr Please use the triple  back-tick markdown when pasting code or console output into github issues. It prevents github's rendering engine interpreting your log output as markdown. What you write looks like:

[code]

[2016-12-22 23:57] amboar commented on #894
@sivassrr what is this 422 driver you mention?

[2016-12-23 08:38] adamliyi commented on #585
@geissonator, @williamspatrick , I committed a patch here: https://gerrit.openbmc-project.xyz/#/c/1587/ to add a 'ReusePort' option (https://www.freedesktop.org/software/systemd/man/systemd.socket.html#ReusePort=).

I tested with obmc-console-ssh.socket, this option can make a difference and fix "Address already in use" error.

But still, we need to avoid unnecessary dependency which unexpectedly

[2016-12-23 11:10] rahulmah opened #905 "[Barreleye - v1.99.0-351/#422] Barreleye system stucks at BMC_STARTING after reboot"
Barreleye system is getting stuck at BMC_STARTING after reboot. See below step to reproduce for more details. This issue is seen inconsistently.

1. Bring Barreleye system to HOST_POWERED_OFF.

2. Execute /sbin/reboot command on BMC cli.(Here after this command, we will see that BMC will get stuck BMC_STARTING state. Waited for almost 10 mins)

Journal logs:
[20161222085150938874_BMC_journalctl.tx

[2016-12-23 11:26] williamspatrick commented on #905
I see two issues:

[code]

This implies a dependency problem with the rest server.

Also, I see settingsd fail with the "bus busy" error we've been seeing elsewhere.

My suggestion is we use this issue to fix the dependency issue and we track the other part as a duplicate.

[2016-12-23 11:26] ratagupt commented on #886
- [ ] write a perl script to fetch the data from MRW.

- [ ] Write a function which generate YAML file.

- [ ] Write a bitbake file.

[2016-12-23 11:32] ratagupt commented on #886
Currently we are interested in following  IPMI FRU types
Proc,Core,Dimm,Membuff,System,NODE(Chassis),MotherBoard.
@williamspatrick :- Do we need to extract something else which I missed?

[2016-12-23 14:06] spinler commented on #905
I wonder if this is related to the state related changes I made for Witherspoon...

[2016-12-27 07:07] mine260309 commented on #748
Romulus power on sequence with AVSBus and VRM workaround:
1. avs_workaround
2. avsbus_disable
3. vrm_control
4. avs_enable
5. Power on
6. vcs_workaround
7. cpld_trigger (`gpioutil -p S7 -d out -v 0`)
8. start_host

[2016-12-27 07:08] mine260309 commented on #748
Review:
https://gerrit.openbmc-project.xyz/#/c/1612
https://gerrit.openbmc-project.xyz/#/c/1613
https://gerrit.openbmc-project.xyz/#/c/1614

[2016-12-27 07:09] mine260309 commented on #887
Romulus change: https://gerrit.openbmc-project.xyz/#/c/1613

[2016-12-28 02:58] mine260309 opened #907 "Romulus i2c functions timeout"
On Romulus i2c functions (i2cdetect, i2cget, i2cset) all get timeout errors on i2c-3, i2c-4, i2c-5.
But they work well on i2c-2, i2c-11, i2c-12.

E.g.
[code]
This blocks AVSBus/VRM workaround scripts from working, since they use i2c commands.

[2016-12-28 06:48] mine260309 commented on #907
This issue seems related to CPLD power on (GPIOD1):
* If GPIOD1 outputs 0 (power off), i2c 3, 4, 5 all time out;
* If GPIOD1 outputs 1 (power on), i2c 3, 4, 5 work well.

But on Witherspoon, wither GPIOD1 outputs 0 or 1, the related i2c all work well.

[2016-12-28 07:04] mine260309 commented on #748
On Romulus, one problem is found that before power on (step 5 above), all operations on i2c-3,4,5 get timeout.
So the steps 1~4 won't work before power on, the sequence may need to be changed to:
1. Power on
2. avs_workaround
3. avsbus_disable
4. vrm_control
5. avs_enable
6. vcs_workaround
7. cpld_trigger (gpioutil -p S7 -d out -v 0)
8. start_host

But I'm not sure if this will work or not.

I wil

[2016-12-28 13:06] sdemirhan opened #908 "openBmc uart console"
Hi,
I would like to use the u-boot console to get data u-boot of openbmc for palmetto. When i power on openbmc, i want to see u-boot flow of openbmc on console so i use serial channel. Serial channel default is uart5(0x1e784000) at ast2400 platform. I want to change this address to 0x1e78f000. I changed the source code to try different ways. Firstly,
1- I changed  CONFIG_DEBUG_UART_PHYS  address t

[2016-12-30 07:30] sivassrr commented on #862
Ran HWCI test on BarD-4 with Lei Yu patches for 15 Iterations and found all the time Basic Power On test fails. I believe that may not be related to Lei YU (@mine260309).
[BarreleyeHWCIcombined15IterationLeiyupatch.pdf](https://github.com/openbmc/openbmc/files/678404/BarreleyeHWCIcombined15IterationLeiyupatch.pdf)

During the HWCI test, Run following command multiple times and didnt see any except

[2016-12-30 07:31] sivassrr commented on #862
root@barreleye:~# obmcutil state
Traceback (most recent call last):
 File "/usr/sbin/obmcutil", line 189, in <module>
   obj = bus.get_object(bus_name,obj_path)
 File "/usr/lib/python2.7/site-packages/dbus/bus.py", line 241, in get_object
   follow_name_owner_changes=follow_name_owner_changes)
 File "/usr/lib/python2.7/site-packages/dbus/proxies.py", line 248, in __init__
   self._named_service =

[2016-12-30 07:33] mine260309 commented on #862
@sivassrr Please remove all "MINEDBG" related lines in the log, they're just put on the test machine and is not part of the commit.

[2016-12-30 18:24] williamspatrick commented on #862
@sivassrr - Please edit your comments above and add 3 back-ticks around your log dumps.  It is really hard to read these when they are not a fix-spaced font and Github interprets various pieces as markdown.

[2016-12-30 21:48] msbarth commented on #370
- [ ] Thermal team define water cooled zone & floor values(tables)
- [ ] Add water cooled zone & floor values(tables)
- [ ] Interface/read jumper(GPIO?)
- [ ] Initialize/set zone & floor application data to water cooled values when jumper set

[2017-01-02 05:28] sivassrr commented on #862
Thank you @williamspatrick  and learnt it.

[2017-01-02 13:56] sivassrr opened #909 "[Witherspoon - v1.99.0-353-ga3b8a0a] Driver 423 - Clear error log REST not working in some system"
[code]

[2017-01-02 13:59] sivassrr commented on #909
[code]

[2017-01-02 13:59] sivassrr commented on #909
Updated the logs in https://github.com/openbmc/openbmc-test-automation/issues/220

[2017-01-03 05:03] sivassrr commented on #909
[code]

[2017-01-03 05:21] sivassrr commented on #909
[20170101204709294537_BMC_dmesg.txt](https://github.com/openbmc/openbmc/files/681727/20170101204709294537_BMC_dmesg.txt)
[20170101204709294537_BMC_general.txt](https://github.com/openbmc/openbmc/files/681728/20170101204709294537_BMC_general.txt)
[20170101204709294537_BMC_inventory.txt](https://github.com/openbmc/openbmc/files/681730/20170101204709294537_BMC_inventory.txt)
[20170101204709294537_BMC

[2017-01-03 05:56] amboar commented on #908
Hi Seda,

Why do you want to make this change? Do you want to route the console out of a different physical UART port? As an alternative the Aspeed SoCs have a fairly involved switching mechanism which allows almost arbitrary re-routing of UART IOs to Ports. If you have the datasheet, see section `1.7.3
UART Interface Application` and the description of the LPC `HICRA` register.

Regardless, `0x1e

[2017-01-03 06:00] amboar commented on #909
@sivassrr I applaud your use of the triple-backtick here, but you've now gone too far! Please only put *code* or *log output* between the triple-backticks: If you want to make comments about the code or logs please leave your comments *outside* the triple-backticks. Thanks.

[2017-01-03 08:32] yiozkok commented on #908
Dear Amboar,

Thank you very much for your detailed reply. I'm working with Seda. Let me clarify the issue. We have TYAN palmetto with AMI Bios. We are trying to run palmetto with openbmc firmware. As you know palmetto has 128 MB flash by default. We purchased a compatible 256 Mb. winbond flash for openbmc.  First of all we build openbmc for palmetto with default values and flashed the image on ou

[2017-01-03 18:45] msbarth opened #911 "EPOW - Enable OS communication"
- [ ] Determine standard format/data accepted by OS(use IPMI format?)
- [ ] Setup ipmi data and interfaces to notify OS(thru OPAL?)
- [ ] Create function to populate EPOW data
- [ ] Create function to set/clear EPOW events(timers)

[2017-01-03 18:46] msbarth commented on #911
#346

[2017-01-03 20:29] bradbishop commented on #585
Is there any value in the ReusePort option?  I sort of agree with @adamliyi statement on nov 7 that this should be closed as resolved.

[2017-01-04 01:33] amboar commented on #908
Ah, nice. Thanks for trying OpenBMC!

I was incorrect above, it's us who have modified our Palmettos. Essentially you have two options:

1. Manufacture a cable to expose the COM2 header on the motherboard
2. (Untested) Reroute UART5 to COM1 by configuring `HICRA` to `0x10001000` (with an update mask of `0x70007000`) in u-boot and Linux.

That second suggestion I generated simply by eye-balling the

[2017-01-04 01:40] geissonator commented on #896
Hit this again tonight when updating to a CI image.  PDU cycle fixed it again.
[code]

[2017-01-04 01:43] geissonator commented on #896
Here's the output on a working run:
[code]

[2017-01-04 05:27] sivassrr commented on #862
@mine260309 - As I tested using your sandbox, will let it be there. When we test officially those wouldnt come right. Hope it is fine.

[2017-01-04 06:46] yiozkok commented on #908
thank you for clarification,
we manufactured a cable for com2 header. only pins 2, 3 and 5 are connected. We tried both null and cross connection. But unfortunately nothing printed out by default openbmc image (that is uart5 is defined as console).

Now I'm checking if port routing is modified in openbmc source code? And I wonder which uart is connected to COM2 header on palmetto? As I assume it s

[2017-01-04 06:47] rahulmah commented on #876
@williamspatrick : I see that this fix has been integrated in skeleton already. When can we expect to see this fix integrated in openbmc master image.

[2017-01-04 07:09] jk-ozlabs commented on #908
@yiozkok : just to clarify, you're referring to the console of the BMC, right? (not the POWER host)

[2017-01-04 07:14] yiozkok commented on #908
yes, I mean bmc console. We are trying to communicate BMC with our host PC (not power8) on which we have the development environment.

[2017-01-04 07:41] jk-ozlabs commented on #908
@yiozkok : ok, thanks.

On our development machines, for BMC console we're using uart5 (ie, at address `0x1E784000`), and connecting to the small pin header on the board (and not the DB9 port), and have "straight-through" serial routing (so UART5 is IO5). I'm not sure where the "COM2" designation comes from, as that's slightly confusing.

If you're changing from AMI firmware, ensure that you've al

[2017-01-04 08:28] yiozkok commented on #908
Yeah, at the end, we got data from console. We figured out that BMC_Debug1 jumper should be set. After we connected the jumper on 2-3 pins we could get data.

Finally I would like to ask you about a mysterious socket on palmetto board.
There are two sockets for BMC firmware (BMC SPI FW ROM Socket (BMC1)) and PNOR firmware on the (on the socket next to BMC1 there is PNOR image which is related to P

[2017-01-04 09:03] yiozkok commented on #908
By the way, for future record if anybody else need that help;

BMC_DEBUG1 jumper is for TX pin of console (connects TX to outside (COM2))
BMC_DEBUG2 jumper is for RX pin of console (connects RX to outside (COM2))

by setting only BMC_DEBUG1 jumper you can only receive data from BMC but can not send any charecter into BMC :-)

regards,

[2017-01-04 09:20] amboar commented on #908
@yiozkok Nice work on hunting down the issue.

We should start an AMI to OpenBMC conversion wiki page if we don't already have something along those lines.

[2017-01-04 09:28] yiozkok commented on #908
That is a good idea,

Besides, having a txt document in openbmc repository in palmetto folder could be very nice and helpfull.

[2017-01-04 10:20] jk-ozlabs commented on #908
@yiozkok: that looks like SPI flash connected to the SATA controller. I'm not fully across the details what the controller uses it for, but there may be documentation for that Marvell SATA controller (88SE9235) elsewhere.

[2017-01-04 11:29] tomjoseph83 commented on #870
- [ ] Implement the interfaces for the Confidentiality Algorithm

- [ ]  Implement mandatory AES-CBC-128 Confidentiality Algorithm

- [ ]  Modify the IPMI2.0 parser unflatten  to decrypt the payload

- [ ]  Modify the IPMI2.0 parser flatten to encrypt the payload

- [ ]  Add confidentiality algorithm info to session data

- [ ] Modify the Open Session Request/Response to support mandatory confiden

[2017-01-04 14:09] williamspatrick commented on #876
Should be fixed now.

[2017-01-04 14:09] #876 closed

[2017-01-04 15:30] sivassrr commented on #862
[code]

[2017-01-04 15:32] sivassrr commented on #862
[witherspoonDr423Iterations5TimeTCfails.pdf](https://github.com/openbmc/openbmc/files/685062/witherspoonDr423Iterations5TimeTCfails.pdf)

[2017-01-04 18:09] gkeishin opened #912 "[Barrleye v1.99.0-354-gc7248eb ] watchdog: watchdog0: watchdog did not stop!"
Driver : v1.99.0-354-gc7248eb
Build : https://openpower.xyz/job/openbmc-build/424/

``` During code update, we noticed that the BMC goes for back to back reboots due to this watchdog SIGTERM. and hangs in the flash... However on PDU power cycle back it seems to come back normal```
**Log Snippet :**
watchdog: watchdog0: watchdog did not stop!
systemd-shutdown[1]: Sending SIGTERM to remaining proces

[2017-01-04 18:33] geissonator commented on #896
#912 seems to be a recreate of this issue.

[2017-01-04 19:52] gtmills opened #913 "Error on "make" while building a project in SDK"
[code]

[2017-01-04 23:51] causten commented on #640
I'm not sure this is fixed but I could be doing something wrong.  I have a clean install of Ubuntu 16.04.  I cloned openbmc and only installed the packages list on openbmc/openbmc .  I still receive  the error....

ERROR: Uninative selected but not configured correctly, please set UNINATIVE_CHECKSUM[ppc64le]

[2017-01-04 23:59] causten commented on #640
Ok, I figured it out, I still needed to comment out the lines from poky.conf

yocto-poky/meta-poky/conf/distro/poky.conf

require conf/distro/include/yocto-uninative.inc
INHERIT += "uninative"

[2017-01-05 00:04] amboar commented on #912
"watchdog did not stop!" is expected output during code update. See #522.

[2017-01-05 01:49] amboar commented on #908
@yiozkok @jk-ozlabs I've pushed a change to openbmc/docs into gerrit which documents the process:

https://gerrit.openbmc-project.xyz/#/c/1635/1

Feedback welcome!

[2017-01-05 03:11] tomjoseph83 opened #914 "Use systemd socket activation instead of socket/bind code"
In phoshor-net-ipmid use the systemd socket activation instead of socket/bind code.

[2017-01-05 03:48] sivassrr opened #915 "[Witherspoon - v1.99.0-353-ga3b8a0a] Driver 423: Intermittent Dbus exception during execution of Time related TC"
[code]

Had a discussion in yesterday's interlock and decided to open new issue which is associate with time TC.

[2017-01-05 03:50] sivassrr commented on #915
[witherspoonDr423Iterations5TimeTCfails.pdf](https://github.com/openbmc/openbmc/files/686371/witherspoonDr423Iterations5TimeTCfails.pdf)

[2017-01-05 10:23] SrideviRamesh opened #916 "[Palmetto VERSION_ID="v1.99.0-360-g96d8e17"] Failed to boot the host"
Issue:

BMC is not reaching to HOST_BOOTED after Updating BMC with latest image and PNOR with latest pnor

Log Info:

Logs collected form BMC journal logs

palmetto inventory_upload.py[986]: Uploading inventory to PNOR in dtb format...
palmetto inventory_upload.py[986]: Error 100 opening ffs !
palmetto inventory_upload.py[986]: FFS: Flash header not found. Code: 100

system Info:

cat /etc/os-rele

[2017-01-05 11:09] gkeishin commented on #912
so we can close this one out @amboar

[2017-01-05 13:23] gkeishin commented on #912
@amboar  The difference I see from #522 is that of reported during erase operation.. however in this case, it happened post update and was booting up to prompt and then it triggers the SIGTERM.. the symptoms may be the same .. but just the timing where it crashes is what I think, differentiate from it..

Will keep a watch on latter builds before closing this. Thanks

[2017-01-05 14:00] gkeishin commented on #915
I looked at the error and to me its more about timing when the SET and GET was issued. I see that within fraction of a second after setting the time mode, the GET was operation was also issued..

So if the SET operation takes time updating it to reflect then we should try adding a delay and try GET operation..

[2017-01-05 14:07] sivassrr commented on #915
[20170104163641080099_BMC_dmesg.txt](https://github.com/openbmc/openbmc/files/687393/20170104163641080099_BMC_dmesg.txt)
[20170104163641080099_BMC_general.txt](https://github.com/openbmc/openbmc/files/687391/20170104163641080099_BMC_general.txt)
[20170104163641080099_BMC_inventory.txt](https://github.com/openbmc/openbmc/files/687392/20170104163641080099_BMC_inventory.txt)
[20170104163641080099_BMC

[2017-01-05 15:44] gkeishin commented on #915
@sivassrr Well I was just interpreting the log data from the test result perspective.. yes it may happen such scenario in other cases too . so the development folks should help explain here what is this error all about.

[2017-01-05 15:58] geissonator commented on #915
Here's what appears to be the relevant info from the journal for time testing:
[code]

[2017-01-05 19:06] williamspatrick opened #917 "Sprint 16.12.28 - Committed"

[2017-01-05 19:07] williamspatrick opened #918 "Sprint 16.12.28 - Actual"

[2017-01-05 19:07] williamspatrick opened #919 "Sprint 17.01.11 - Committed"
**Brad:bradbishop -**
**16.12.28:**

**17.01.11:**
- (up front work for yaml lifecycle)
- https://github.com/openbmc/openbmc/issues/958 (inventory that should always exist)
    - 01/12: Brad to create task list, needs some technical discussion on ipmi/inventory interlock.
    - 01/13: Will get task list created
    - 01/16: Need task list and sizing
    - 01/19: Started working it, need task list

[2017-01-05 19:08] williamspatrick opened #920 "Sprint 17.01.11 - Actual"

[2017-01-05 19:08] #717 closed

[2017-01-05 19:09] #716 closed

[2017-01-05 19:09] #764 closed

[2017-01-05 19:09] #763 closed

[2017-01-05 20:06] geissonator commented on #781
This needs to at least support the hostboot sensor information (i.e. core functional).
This will just be functional state sensors (Andrew create new story for rest of work)

[2017-01-05 20:08] geissonator commented on #779
The 8 points here tracks the remaining work to move the old stuff to the new stuff (like the error logs and other sensors)

[2017-01-05 20:17] geissonator commented on #354
Sized big due to a lot of unknowns.  There will be things cronus wont be able to do that openbmc will need to do.  Reducing to 40 based on current data.

[2017-01-05 20:21] geissonator commented on #353
Create 2 remaining stories
2 pts - Power Supplies
5 pts - Callout to LED assertion
Then take the 21 points off this epic.

[2017-01-05 20:27] geissonator commented on #352
Take existing code which takes hostboot eSEL as input and parses into our own structure and generates our new event dbus object.
Convert to story, make 5 pts, put under error log epic

[2017-01-05 20:32] geissonator commented on #362
- Physical serial port not used currently (low priority, needed)
- Circular log file to see console (medium priority, needed)
- Service to ship host console to remote server (check with Todd on requirement)
Can come in post LNF

[2017-01-05 20:37] geissonator commented on #266
Design team is handling the 100pts in this story so removing sizing from this.   OpenBmc team work for this covered in #361

[2017-01-05 20:38] geissonator commented on #361
- Web sockets - 5 pts
- Serving static pages - 3 pts
Leave epic at 13 for any unkowns

[2017-01-05 20:39] geissonator commented on #360
Keeping 21 pt buffer for unknowns.

[2017-01-05 20:40] geissonator commented on #359
2.1 candidate, not required for GA

[2017-01-05 20:42] geissonator commented on #337
Need to move the inventory stories over to this and remove the points from this epic.  Anything special for VPD will come from mfg and we have sizing over there.

[2017-01-05 20:44] geissonator commented on #334
This is in backplane vpd which is not available on Witherspoon, so move this to different milestone.  There's a tool in the host you can run to change it.

[2017-01-05 20:46] geissonator commented on #332
@vishwabmc or @shenki anything left for this work or can we close this out?

[2017-01-05 20:48] williamspatrick commented on #892
@GHF - Is this done now?

[2017-01-05 21:24] geissonator opened #921 "Map remaining IPMI sensors to inventory objects"
ref: openbmc/skeleton/configs/Witherspoon.py
occ active, fault sensors, system event sensor, boot count, boot progress
Propose how we maintain this info on the BMC, the implement it for each of them
occ active maps to functional state?

1 story - boot count functionality - take the count, apply to reboot policy in state code - 2pts
1 story - boot progress and inventory states - 2pts
1 story - occ

[2017-01-05 21:27] geissonator opened #922 "led: Support power supply LED's"
Power supplies tend to light up their LED's on fail automatically, seems like we can push this one out.

[2017-01-05 21:27] geissonator opened #923 "led: Hardware callout to LED assertion associations"
This code will create an association between inventory objects and LED groups and assert/deassert the LED groups as the association between the inventory object and error logs comes and goes.

[2017-01-05 21:41] geissonator opened #924 "Web socket support for web UI"

[2017-01-05 21:41] geissonator opened #925 "Integrating GUI nginx into the image"

[2017-01-05 22:25] geissonator commented on #767
This was not fully resolved, implementation still needs to be done in https://gerrit.openbmc-project.xyz/#/c/1513/

[2017-01-05 22:27] geissonator commented on #737
Still need some test cases merged in so moving into current sprint.

[2017-01-05 22:34] geissonator commented on #854
Basic function required for MFG stage 2.

[2017-01-05 22:35] #855 closed

[2017-01-05 22:38] #888 closed

[2017-01-05 22:39] #887 closed

[2017-01-06 00:36] williamspatrick commented on #546
The recipe for this isn't merged yet.

[2017-01-06 01:47] amboar commented on #912
@gkeishin Please attach the entire log to the issue when reporting bugs. The build behind the link has been deleted and so we can no-longer access the log.

[2017-01-06 02:56] apopple commented on #852
So the CRC errors are due to an uninitialised setting on the hMFSI ports. The below script should establish good baseline settings for pdbg to access secondary processor modules:

[code]

[2017-01-06 03:49] gkeishin commented on #912
@amboar  The only log I could save off was from the terminal Serial Console, not sure if this will helps

[Console-log.txt](https://github.com/openbmc/openbmc/files/688957/Console-log.txt)

The other logs we couldn't capture since it crashed as soon it reaches the prompt..

[2017-01-06 04:56] rahulmah commented on #905
Sometime I am also seeing that BMC getting stuck at BASE_APPS after reboot. Below you can find journal logs for the failure.  Should we log a new issue for this.

[Base_APPS_Journal_logs.txt](https://github.com/openbmc/openbmc/files/689015/Base_APPS_Journal_logs.txt)

[2017-01-06 05:56] gkeishin opened #926 "[Barreleye v1.99.0-360-g96d8e17 ] Power Restore policy messing BMC state ?"
Here is a simple test
1. Set the Power policy to LEAVE_OFF
2. reboot / PDU cycle BMC to standby
3. Check the BMC state

The BMC system state  /org/openbmc/managers/System  shows ```BMC_READY```  whereas the /org/openbmc/settings/host0 shows ```HOST_POWERED_ON```

Because of this the Power Restore Policy test are failing.

`So why is the System State mismatched here`

Log snippet and journal log at

[2017-01-06 07:58] rahulmah opened #927 "[Barreleye - v1.99.0-360-g96d8e17] - Present defect for membuf0 is missing"
In one of our Berreleye system, Present detect for membuf0 is missing. This is tested with latest BMC image. For other barreleye system with same BMC image we are not seeing this issue.

Present detect field for membuf0 on failing system (with
BMC fw  v1.99.0-360-g96d8e17 and BIOS version : open-power-barreleye-3c69277)

[code]

Present detect field for membuf0 is there on other system with same a

[2017-01-06 11:18] rahulmah opened #928 "[Barreleye - v1.99.0-360-g96d8e17] - REST API to set HOST time fails with NTP mode and BOTH owner"
Unable to set Host time with NTP mode and BOTH owner. REST API for set HOST time is failing with "Internal Server Error". See step to recreate for more info.

**Step to recreate**
1. Make sure that the clock owner is set to BOTH and mode to NTP.

[code]

2. Now sen the REST API to set HOST time. (Here you will see that the REST API will fail with Internal Server Error)
[code]

BMC FW info
[code]