[2016-09-22 23:46] amboar commented on #513
@textaddict I share your concerns. However I don't think this is the place we should be exploring the fan problems, this issue already has a lack of focus.

@williamspatrick @shenki I think we can close this issue now.

@textaddict I will open a separate issue for the fans.

[2016-09-22 23:55] amboar opened #598 "[master] Palmetto: Fans not powered when host is booted"
@textaddict claims in a https://github.com/openbmc/openbmc/issues/513#issuecomment-248358947 that the host fans do not spin up at host power-on, and in a folloup https://github.com/openbmc/openbmc/issues/513#issuecomment-248971305 that this was working in the past.

[2016-09-23 10:29] textaddict commented on #598
The fans fail to start only if the palmetto has the Fan CTRL cable plugged into the connector along the left hand side of the planar.  Some Tyan Palmettos shipped with this connector unplugged so would not see the problem unless the connector is plugged in.  If the Fan CTRL cable is left unplugged the fan controller defaults the fans to full speed.

This will need to be fixed for active fan contro

[2016-09-23 11:51] rahulmah opened #599 "[Palmetto VERSION_ID="v1.99.0-123-gfc7788a-dirty" ] Internal Server Error for GET operation on cpu inventory url"
In Palmetto, Internal Server Error is thrown out while doing GET operation on cpu inventory url.

Get operation is done on /org/openbmc/inventory/system/chassis/motherboard/cpu/attr/present

URI:https://xx.xx.xx.xx/org/openbmc/inventory/system/chassis/motherboard/cpu/attr/present, method:Get, args:{}
Response code:500, Content:{
  "data": {
    "description": "Internal Server Error",
    "exceptio

[2016-09-23 13:16] bradbishop commented on #591
https://gerrit.openbmc-project.xyz/#/c/610/

[2016-09-23 13:16] geissonator opened #600 "journal flooded with cannot read attributes in2_input"
I've noticed in recent master drivers this one popping up.  It comes every 5s so must be the hwmon polling code defined in skeleton/configs/Barreleye.py

Not quite sure why this shows 10s poll_interval but we seem to get it every 5s.

`'in2_input' : { 'object_path' : 'voltage/P0V9_CPU0_BUF1','poll_interval' : 10000,'scale' : 1,'units' : '' },`

Log Output:

[2016-09-23 13:53] #594 closed

[2016-09-24 00:34] #591 closed

[2016-09-24 03:20] rahulmah commented on #599
Figured out the problem with our automation. We need to sync Plametto.py file with openbmc repo

[2016-09-24 03:20] #599 closed

[2016-09-24 11:08] williamspatrick commented on #599
Keep in mind that those files are all going away. @spinler is moving things over to be generated from the MRW directly.

[2016-09-26 10:38] sivassrr commented on #452
@gkeishin We have bink fast and slow already in our test automation, right

[2016-09-26 10:49] sivassrr commented on #499
@gkeishin Based on the loop test, Still some of our loop test iteration fails because not able to see the system in HOST booted state. Shall we reopen?

[2016-09-26 10:55] sivassrr commented on #594
@SrideviRamesh Please verify when you get chance. Or work with @rahulmah on the same.

[2016-09-26 11:22] gkeishin commented on #452
This needs the design to be changed from the LED dev code.. @vishwabmc  would be working on this ahead , that much I know about it.

[2016-09-26 13:57] anoo1 commented on #137
Available in:
Master - https://github.com/openbmc/skeleton/commit/fb4d22587fdc46d64c253a1ab1b40b228a8c0887
Stable - https://github.com/openbmc/skeleton/commit/6019000c3cc52d33d85906c93ffd1b8614b65c59

[2016-09-26 13:57] #137 closed

[2016-09-26 14:31] anoo1 commented on #593
Hi @johnhcwang , yeah the journal log is the same as we saw in phosphor-rest-server/issues#24 where we added a workaround to restart the rest server when the network config changes.

Could you describe the scenario when this issue is seen. For example, do you see the curl command failing after the power cycle or after a few commands are issued, and are single or parallel curl commands issued, etc.

[2016-09-26 16:06] bradbishop commented on #595
https://gerrit.openbmc-project.xyz/#/c/620/.  Thanks @kc8apf.

[2016-09-26 21:41] geissonator commented on #519
Did a little more digging on this one since I hit it today with a test case.

Here's my log
[code]

Here's the code:

[code]

I manually tried the command and it worked as expected so something to do with the g_spawn_asynch maybe.  Nothing obvious jumping out though.  It's running into some sort of issue with starting the asynch child process.

[2016-09-27 01:17] shenki commented on #513
I flashed the following to palm5, a Palmetto in the lab in Canberra:

* palmetto.pnor
  * master-next 922a1c1441fa24c4d8323255a887b7b08eb1362b
  * https://openpower.xyz/job/openpower-op-build/181/

* flash-palmetto-20160923222626
  * `#265-a81f31c4bb55ed`
  * https://openpower.xyz/job/openbmc-build/265/

[code]

On the host:
[code]

From there it continues to boot to Petitboot.

[2016-09-27 01:30] amboar commented on #513
palm6 host here in Adelaide also boots, reboots and survives a BMC reboot with the images @shenki points to above.

[2016-09-27 01:37] shenki commented on #513
Testing using images at https://ozlabs.au.ibm.com/~joel/openbmc-pgood-1/ (IBM internal URL)

| Machine | PGOOD | Host boot to petitboot | Host reboot | BMC reboot and host stays up|
| ----          | ----         | ----         | ----         | ----         |
| palm5     | Y           | Y            | Y           | Y            |
| palm6     | Y           | Y            | Y           | Y

[2016-09-27 07:01] agangidi53 commented on #530
@johnhcwang  @causten

I believe I am now pretty sure of how to reproduce this. Reboot the BMC while host is up and any consecutive soft-reboots will hang

[2016-09-27 14:03] legoater commented on #513
mine is palm328. all is fine on my side now.

[2016-09-27 18:43] #196 closed

[2016-09-28 00:29] mdmillerii commented on #519
I've been interpreting the error message as a short read of data across DBUS from the REST server and not related to actually invoking the async service.  But I see now it say "from child pid pipe" , so I looked at the `glib` source.

The error says the parent was unable to read 1 `int` worth of bytes from the pipe that the child process should have written after spawning the grandchild and gettin

[2016-09-28 00:58] mdmillerii commented on #519
yocto-2.0.1 updated from glib-2.0_2.44.1 to 2.0_2.46.1, but glib-unix.c and gspawn.c are identical upstream.

[2016-09-28 01:43] shenki opened #601 "Withersoon and ast2500evb failing to build"
https://openpower.xyz/job/openbmc-build/266/

[code]

[2016-09-28 01:45] GHF commented on #601
Wasn't this fixed by https://gerrit.openbmc-project.xyz/#/c/620/ ?

[2016-09-28 01:47] shenki commented on #601
Lets see if Patrick can merge it for us

[2016-09-28 01:54] shenki commented on #513
@legoater thanks. I updated the table

[2016-09-28 02:26] gwshan commented on #564
Copy to internal email exchange to make this complete:

Andrew, thanks a lot for sharing the machines for debugging. it's not surprise to see non-functional
network as two BMCs have same MAC addresses. Please ask the network admin to assign the correct (non-conflicting) MAC addresses to the BMCs.

With same MAC address assigned to two BMC, the gateway (switch) is confused: Which BMC
I should forwa

[2016-09-28 02:52] shenki commented on #513
@geissonator can you please re-test the machines in Austin? You reported earlier that palm309 was working, but if failed for me

[2016-09-28 03:26] johnhcwang commented on #593
One curl command was issued from remote test tool and parallel rest api command were issued from RMC (5 parallel sessions in maximum).
Remote test tool successive PING the OS static IP to make sure the system has booted into the OS and then login BMC through curl.
RMC successive send the REST command and once it get the response from BMC, it will create 5 parallel sessions to retrieve the informat

[2016-09-28 04:24] sivassrr commented on #539
@tomjoseph83 any update - In another issue #572 - you were updating the whitelisted command. Will it be included? Any update on mode switching. @rahulmah not seeing the differences when he switches the mode.

[2016-09-28 06:05] sivassrr opened #602 "[Barreleye VERSION_ID="v1.99.0-131-ga81f31c-dirty"] Unknown Gard records on OS are created repeatedly even after clearing gards and boot to OS"
@SrideviRamesh commented on [Wed Sep 28 2016](https://github.com/openbmc/openbmc-test-automation/issues/135)

Explanation of the issue:

Unknown Gard records on OS are created repeatedly even after clearing gards and boot to OS
Expected Behavior:

Gard records should not be created after clearing gard records on HOST OS and reboot to OS
Actual Behavior:

Unknown Gard records on OS are created repe

[2016-09-28 06:06] sivassrr commented on #602
Please take a look and it may have to go to host firmware.

[2016-09-28 06:07] sivassrr opened #603 "[Barreleye VERSION_ID="v1.99.0-131-ga81f31c-dirty"] BMC did not reset when HOST OS is hung after performing checkstop sensor operation on HOST OS"
@SrideviRamesh commented on [Wed Sep 28 2016](https://github.com/openbmc/openbmc-test-automation/issues/133)

Explanation of the issue:
BMC did not reset when HOST OS is hung after performing checkstop sensor operation on HOST OS

Expected Behavior:

BMC resets the system if the OS is hung.

root@barreleye:~#  ps | grep host
  687 root       0:01 /usr/sbin/host_checkstop.exe
  691 root       0:05

[2016-09-28 06:08] sivassrr commented on #603
@SrideviRamesh Issue to be open in openbmc repository. Only automation related issues/enhancement need to be opened in Openbmc-automation repository.

[2016-09-28 06:14] gkeishin commented on #603
@anoo1 Anything on this issue we observed here..

[2016-09-28 07:38] Arjun-Padmanabhan commented on #399
Hi,

I copied obmc-phosphor-image-raspberrypi3.rpi-sdimg and tried booting from sd card in RP3.
RP3 is not booting up with the image in sd card

[2016-09-28 12:10] #545 closed

[2016-09-28 12:44] rahulmah opened #604 "[Palmetto VERSION_ID="v1.99.0-131-ga81f31c-dirty" ] Presence detect for main planar and memory buffer fails"
In Palmetto, presence detect for memory buffer (membuf) and main planar (motherboard) is failing. Same issue is not seen with Barreleye. This seem to have come with recent inventory changes.

Latest, I tested with Palmetto VERSION_ID="v1.99.0-131-ga81f31c-dirty”.

}rahulmah@rackspace:~$ curl -c cjar -b cjar -k -H "Content-Type: application/json" -X GET -d "{\"data\":[xx.xx.xx.xx]}" https://9.3.164

[2016-09-28 14:22] kachini opened #605 "how to flash Tyan Palmetto server running AMI bmc with Openbmc?"
folks,

we've got a Palmetto server running AMI BMC and would like to flash it with openbmc.
How can we do this ?
Do we need to update host FW along with BMC also?

thanks in advance,

[2016-09-28 14:35] agangidi53 commented on #605
Hey @kachini  What is the size of BMC flash chip ? I remember you telling me that you have a 16MB part only. In that case you wouldn't be able to run openBMC

[2016-09-28 14:41] sivassrr commented on #605
Run the command "pflash -b -i" - That can tell the size of BMC PNOR flash chip
Flash info:
-----------
Name          = Micron N25Q256Ax    <==============
Total size    = 32MB
Erase granule = 4KB

[2016-09-28 14:56] kachini commented on #605
hey @agangidi53, in this case the flash size is not an issue. This is a different server. We got it with AMI bmc and want to move from AMI to Openbmc. We are stuck with this as don't know if there any way to flash it without pulling flash out of the box.  AMI even don't have any cli interface to run pflash.

[2016-09-28 15:20] mdmillerii commented on #605
@kachini if you can get to the u-boot prompt with the AMI firmware, you can boot the OpenBMC stack from a network attached tftp server and from there flash the chip.  However, as @agangidi53 pointed palmetto systems shipped with a 16MB chip and do not have enough space for the OpenBMC build.  If you are just wanting to do some evaluation you can set some variables and run completely from RAM.  Oth

[2016-09-28 16:01] geissonator opened #606 "master (bda20f3) not booting on palmetto"
Flashed this on palm309 this morning and saw that "obmcutil state" was not working.  Here's what seems like some relevant traces from the journal.

All the process's seem to be failing on this "KeyError : validator"

[2016-09-28 19:00] hamzy opened #607 "/org/openbmc/enumerate"
[hamzy@hamzy-tp-w540 ~]$ curl -b cjar -k https://9.3.185.29/org/openbmc/; echo
{
  "data": [
    "/org/openbmc/HostServices",
    "/org/openbmc/settings",
    "/org/openbmc/UserManager",
    "/org/openbmc/records",
    "/org/openbmc/examples",
    "/org/openbmc/NetworkManager"
  ],
  "message": "200 OK",
  "status": "ok"
}
[hamzy@hamzy-tp-w540 ~]$ curl -b cjar -k https://9.3.185.29/org/openbmc/lis

[2016-09-28 19:08] #606 closed

[2016-09-28 19:44] hamzy commented on #607
[hamzy@hamzy-tp-w540 ~]$ curl -b cjar -k https://9.3.185.29/org/openbmc/examples/enumerate; echo

also fails.

[hamzy@hamzy-tp-w540 ~]$ curl -b cjar -k https://9.3.185.29/org/openbmc/examples/; echo
{
  "data": [
    "/org/openbmc/examples/path0",
    "/org/openbmc/examples/path1"
  ],
  "message": "200 OK",
  "status": "ok"
}
[hamzy@hamzy-tp-w540 ~]$ curl -b cjar -k https://9.3.185.29/org/openbmc

[2016-09-28 19:56] bradbishop commented on #607
These example applications have been yanked in HEAD so the problem should not manifest there.

[2016-09-28 20:01] geissonator commented on #513
I put the below (master from yesterday) on palm309  along with a PNOR from Adriana.  All tests passed fine (booted up to petitboot fine, petitboot stayed up during a BMC reboot, and a "reboot" from petitboot re-ipl'd the system fine).

[2016-09-29 00:33] shenki opened #608 "journal filled with hwmon warnings"
Every 30 seconds a new hwmon warning is added to the journal by hwmon.py:

[code]

The system is a Palmetto. BMC version information:
[code]
[code]

[2016-09-29 02:05] geissonator opened #609 "settings_manager.py failing repeatedly on barreleye with latest master (ace81b5)"
Seeing this repeatedly in latest code on BarE01.

[code]

[code]

[2016-09-29 02:07] williamspatrick commented on #609
Is this triggered via testing of some sort or just a boot to standby?  It could be that we are accurately catching a test case failure now but inaccurately reporting it?

[2016-09-29 02:10] geissonator commented on #609
Just happens on the way to standby, then keeps happening.

[2016-09-29 05:13] gkeishin opened #610 "[Barreleye VERSION="v1.99.0-143" ] Boots to BMC_READY state taking longer time"
root@barreleye:~# cat /etc/version
20160929020225
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-143"
VERSION_ID="v1.99.0-143-g1ffadd9-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-143"
BUILD_ID="v1.99.0"
root@barreleye:~# uptime
 05:04:42 up 21 min,  load av

[2016-09-29 05:33] gkeishin commented on #610
I see the BMC_READY state came back like after 30+ minutes
root@barreleye:~# obmcutil state
 = BMC_READY
root@barreleye:~# uptime
 05:30:13 up 46 min,  load average: 1.25, 1.21, 1.27
root@barreleye:~#

**1. It is flooded with the following message on the syslog**
Sep 29 05:31:58 barreleye systemd[1]: phosphor-settings.service: Service hold-off time over, scheduling restart.
Sep 29 05:31:58 barrele

[2016-09-29 05:37] gkeishin commented on #610
I did this experiment by using latest build on 2 systems and they exhibits the same behavior as stated above of flooding error messages and BMC boots to READY state taking longer time then normal behavior booting in few couple of minutes earlier.

[2016-09-29 06:42] rahulmah commented on #604
@spinler : Can you please look into this issue? And provide update on the same.

[2016-09-29 11:13] williamspatrick commented on #610
This might be resolved by https://gerrit.openbmc-project.xyz/#/c/648/ which I just merged?  @anoo1 , @bradbishop would like you to look at the behavior and report if you think it is just due to a back-level version of settingsd being included.

[2016-09-29 11:16] williamspatrick commented on #607
@hamzy - Brad is suggesting that images built off 'master' should no longer exhibit this issue.  There are a few other issues (#609, #610) that will hopefully be resolved today with master, but I don't think those would impact the type of testing you are doing.  You can either build an image off of master or wait for fixes for those two, but I suggest upgrading the machine you are working on to a

[2016-09-29 11:16] #607 closed

[2016-09-29 12:48] rahulmah opened #611 "[Palmetto VERSION_ID="v1.99.0-131-ga81f31c-dirty" ] Systemevent url does not exist in Palmetto."
Systemevent url has been complete remove from Palmetto. While this exist in Barelleye system.
This url is used for event association with virtual sensor case.

**Palmetto Run**
rahulmah@rackspace:~$ curl -c cjar -b cjar -k https://xx.xx.xx.xx/org/openbmc/inventory/system/systemevent/
{
  "data": {
    "description": "org.freedesktop.DBus.Error.FileNotFound: path or object not found: /org/openbmc/i

[2016-09-29 13:23] #609 closed

[2016-09-29 13:31] bradbishop commented on #610
this seems like the same problem as #609

[2016-09-29 14:33] gkeishin opened #612 "[Barreleye VERSION="v1.99.0-161 ] REST POST request on BMC failed with SSLEOFError"
[code]
[code]

[2016-09-29 15:04] gkeishin commented on #612
Another failure on Palmetto

root@palmetto:~# cat /etc/version
20160929091546
root@palmetto:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-143"
VERSION_ID="v1.99.0-143-g1ffadd9-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-143"
BUILD_ID="v1.99.0"
root@palmetto:~# obmcutil s

[2016-09-29 15:05] gkeishin commented on #612
@bradbishop Anything on the above failure on Barreleye and Palmetto..

[2016-09-29 17:33] geissonator commented on #516
Also, it's not just ubuntu:16.04, I get on ubuntu:14.04 as well.

[2016-09-29 18:34] KennethWilke opened #613 "kernel panics with v1.0.5 on single server"
Howdy folks,

I'm getting the following kernel panic on one of my DVT Barreleye servers:

[code]

When I reflash this server to our `6.15` build it will boot fine. I've tried using a clean flash directly to `1.0.5` and a clean flash to `6.15` followed by an update to `1.0.5`. In both cases the `1.0.5` version hits this error.

I'm not sure why only one server is hitting this, any advise on next tr

[2016-09-29 20:17] geissonator opened #614 "skeleton does not build against the sdk"
Downloaded todays openbmc/openbmc master and built the SDK.  I then extracted skeleton and did a "make" from within the SDK env in skeleton (1ffadd9-qemuarm-obmc-phosphor-image).

I get this failure:

[code]

Per Patrick, you can just build the specific area you want (as long as it's not op-flasher)
i.e. make bmcctl

[2016-09-29 20:20] mdmillerii commented on #613
The PC is completey in the wrong address range, not sure where it came from (I see it at x7e84 and x7e4c).
The string at the top of stack starting at 7e1f is "1275_driver_init\0" .  Looking further 0x7e18..7e4f matches 0x7e50..7e87 which may just be 2 register save areas taking the exception.

Doing some digging, that would be part of the name of the `adm1275_driver` `_init` from `module_i2c_drive

[2016-09-29 20:24] mdmillerii commented on #613
I just looked at the log and noticed `i2c i2c-4: i2c_ast: timeout waiting for bus free` just before your fail, so maybe the lines are stuck low or the pullup resistors are damaged?  (combined with an error path)

[2016-09-29 21:34] anoo1 commented on #519
@bradbishop recommends that we replace the g_spawn_command_line_async() call that spawns the request in the background with a call to a systemd api.

[2016-09-29 21:44] mdmillerii commented on #519
@bradbishop that won't address the desire to ack the ipmi before doing the reset ... but it would likely bypass whatever glib issues are being encountered.

[2016-09-29 21:51] spinler commented on #604
I found the problem.  has to do with a FRU_NAME mismatch.

[2016-09-30 01:28] amboar commented on #516
@causten @geissonator we should fix the issue summary if the problem isn't specific to Ubuntu 16.04

[2016-09-30 01:34] shenki commented on #613
@KennethWilke Can you point me to the commit that your build is made from?

Failing that, the output of `/etc/os-release` and `uname -a`

[2016-09-30 01:50] williamspatrick commented on #612
@gkeishin - Please don't leave two totally different errors in the same issue.  The palmetto issue was resolved today.  The SSL looks like the client incorrectly terminated the connection.  @bradbishop what do you think?

[2016-09-30 01:51] #610 closed

[2016-09-30 01:52] williamspatrick commented on #611
@spinler - I don't recall what we discussed today to do with this one.

[2016-09-30 02:00] williamspatrick commented on #608
This indicates that someone added a new hwmon driver that we don't have support for from a configs/Palmetto perspective.  I'm not sure how much energy we will invest in this right now when that file is going to go away.

[2016-09-30 02:03] williamspatrick commented on #604
I believe this was resolved already.  Please reopen if you see this occur again on master.  (We had a number of duplicates of this same issue)

[2016-09-30 02:06] williamspatrick commented on #603
I don't understand this issue report.  You keep using the word "BMC reset" but I think you mean that the BMC is not rebooting the host?  The BMC itself should not reset for this.

What does "Through BMC obmc-console-client observe that BMC resets and HOST OS comes to operating" mean?  The real problem here is that the BMC does not identify that the host has checkstopped and we do not power off / r

[2016-09-30 02:10] williamspatrick commented on #602
The BMC does not create gard records.

I see this in your console log:
[code]

This is garbled, but it is an error message from the diagnostic software running on the Host (PRD) that is detecting an error reported by the hardware itself.  I cannot tell if it is P8 or Centaur.  You'll need to get a non-garbled recreate of that trace message and have someone from the PRD team at IBM help you identif

[2016-09-30 02:10] #602 closed

[2016-09-30 02:11] williamspatrick commented on #601
Merged a few days ago.  Resolved?

[2016-09-30 02:14] williamspatrick commented on #519
Make sure you call Reboot on logind object and not the systemd object.  The documentation states that systemd interface performs a reboot immediately and does not shutdown any processes, while the logind one goes through a graceful shutdown.  (Appears to be reboot vs reboot -f).

https://www.freedesktop.org/wiki/Software/systemd/logind/
https://www.freedesktop.org/wiki/Software/systemd/dbus/

[2016-09-30 02:14] #595 closed

[2016-09-30 02:23] williamspatrick commented on #614
@bradbishop - This should be a simple 'delete' of the flasher directory, right?

[2016-09-30 02:52] #552 closed

[2016-09-30 09:07] SrideviRamesh commented on #603
yes as per @anoo1 BMC should go for reboot when the checkstop is issued

[2016-09-30 09:11] rahulmah opened #615 "[Palmetto VERSION_ID="v1.99.0-144-g78d9255-dirty" ] UserAdd REST API giving DBusException: org.freedesktop.DBus.Error.NoReply error"
Again seeing that REST API to add user giving DBusException: org.freedesktop.DBus.Error.NoReply error with latest OpenBMC fw v1.99.0-144-g78d9255-dirty. This issue is seen on both Palmetto and Barreleye.

[code]

Cross checked and found that user is getting created and even able to login to the system. So this issue is only with respect to error seen.

[code]

User is also present in BMC

[code]

[2016-09-30 09:36] gkeishin opened #616 "[ Barreleye VERSION="v1.99.0-145" ] Phosphor Setting Main pid is Zero"
The Phosphor setting pid shouldn't be Zero but we are seeing now.  here is a comparison with older build vs latest.

Any Change made this impact ?

root@barreleye:~# cat /etc/version
20160930013645
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-145"
VERSION_ID="v1.99.0-145-gf37eede-dirty"
PRETTY_NAME=

[2016-09-30 09:48] rahulmah commented on #604
@williamspatrick : I am still seeing this problem on palmetto with below build. Please reopen this issue.

root@palmetto:~# cat /etc/version
20160929211433
root@palmetto:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-144"
VERSION_ID="v1.99.0-144-g78d9255-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project

[2016-09-30 10:36] williamspatrick commented on #616
Is the settings service even running?  We have had some problems with it lately and maybe those are not fixed?

[2016-09-30 10:38] williamspatrick commented on #603
Please be more precise with your words. The BMC does not reboot. The BMC issues a reboot of the host.

[2016-09-30 12:36] KennethWilke commented on #613
@shenki I believe this build was based on https://github.com/ken1029/openbmc/tree/v10.50.256

`/etc/os-release`
[code]

`uname -a`
[code]

@mdmillerii it could be something hardware related to the specific server, we have 20 other Barreleye DVT servers running this version that are not hitting this error. Since this server is able to run some of the older OpenBMC versions I'm wondering if you have

[2016-09-30 12:40] geissonator commented on #616
yeah, still got problems :(

[code]

[2016-09-30 12:48] williamspatrick commented on #616
This indicates that the value being restored from /var/lib/obmc (or defaulted) is invalid.

[2016-09-30 12:50] williamspatrick commented on #604
I'm tentatively reopening this but I suspect what is going on is the following:

1. #616 - indicates that settingsd is not starting.
2. ipmid tries to read the 'restricted_mode' setting from settingsd, which is unavailable so it assumes restricted mode.
3. Inventory records are ignored from the host when in restricted mode.

[2016-09-30 12:50] williamspatrick commented on #604
I don't want any work done on this until #616 is resolved.

[2016-09-30 12:51] williamspatrick commented on #604
@bradbishop - This gave me a thought with regard to inventory.  I'm not sure we've entirely thought through the 'restricted mode' setting, but if we are dropping inventory information in restricted mode this will affect your inventory redesign.  We may need to modify the IPMI code to at least update present state even if it ignores the rest of the inventory data.

[2016-09-30 13:03] geissonator commented on #616
I added a few prints:

[code]

[2016-09-30 13:36] geissonator commented on #616
"rm /var/lib/obmc/boot_flags" seemed to fix the issue, I'll keep an eye out for it to come back.

This is still 0 though, not sure what that means:
systemctl -p MainPID show settings.service| cut -d = -f2
0

ps -ef | grep setting
  678 root       0:04 {settings_manage} /usr/bin/python -u /usr/sbin/settings_manager.py

[2016-09-30 14:05] spinler commented on #604
What's going on here is the MRW gives the motherboard a MOTHERBOARD FRU type.  However, in the IPMI code in sensorhandler.cpp it has this hardcoded:
[code]
 palmetto ipmid[853]: fru data size:[57], area offset:[8], area_size:[64]
palmetto ipmid[853]: IPMI SET_SENSOR [0x2e]
palmetto ipmid[853]: Failed to find Sensor Type MEMBUF
palmetto ipmid[853]: LOOKATME: Sensor should not be reported:  Type 0x0

[2016-09-30 14:28] williamspatrick opened #617 "Sprint 16.10.01 - Committed"

[2016-09-30 14:29] williamspatrick opened #618 "Sprint 16.10.01 - Actual"

[2016-09-30 18:23] spinler commented on #611
We were going to figure out why there's a tie between an inventory object and and a sensor value, because we don't want this entry in the physical inventory.   I haven't dug into it yet.  @causten might know off the top of his head since he wrote it.

[2016-09-30 20:10] anoo1 commented on #603
@SrideviRamesh It's my understanding from your offline message that this test case rebooted the host as expected, and that you were just concerned about the gard record left on the system, (confirmed by the attached host console log that only conttains the output of gard records). You can clear the gard record with the gard command.

[2016-10-02 06:56] SrideviRamesh commented on #603
@anoo1 No this testcase did not reboot the HOST after performing SCOM operation on HOST OS. HOST OS was not pingable. In order to bring the HOST OS up i tried to power off & on using obmutil commands.
I am not worried about the gard records. gard record has to be present after the SCOM operation on HOST OS

[2016-10-02 07:03] SrideviRamesh commented on #603
@anoo1 I would like to know the valid reason for closing this issue

[2016-10-02 19:08] bradbishop commented on #519
I had mentioned that to Andrew but he found that logind isn't running.  I think it may have been removing during one of the footprint pruning exercises...

[2016-10-03 06:59] vishwabmc commented on #616
root@barreleye:~# systemctl -p MainPID show phosphor-settings.service| cut -d = -f2
704
root@barreleye:~#

The Service file name has changed to phosphor-settings.service.

[2016-10-03 10:20] gkeishin opened #619 "[Barreleye VERSION="v1.99.0-145" ] Missing pam_systemd.so file"
From the syslog I see this message related to PAM module..

Sep 20 21:22:36 barreleye settings_manager.py[686]: Running HostSettingsService
Sep 20 21:22:37 barreleye login[705]: PAM unable to dlopen(/lib/security/pam_systemd.so): /lib/security/pam_systemd.so: cannot open shared object file: No such file or directory
Sep 20 21:22:37 barreleye login[705]: PAM adding faulty module: /lib/security/pam_

[2016-10-03 10:46] williamli80 opened #620 "Update hardcoded parameters of IPMI Get Chassis Capabilities command when they are ready"

[2016-10-03 10:52] williamli80 commented on #438
Update https://gerrit.openbmc-project.xyz/#/c/216/.
Some parameters are hard coded, can be refactored when we can get them.
TODO: https://github.com/openbmc/openbmc/issues/620

[2016-10-03 13:17] bradbishop opened #621 "Propose an inventory design for OpenBMC"
Output here would be a documented set of Inventory related DBus interfaces.

[2016-10-03 15:48] geissonator commented on #519
- [ ] Fix up formatting in bmcctl/control_bmc_obj.c
- [ ] Call reboot interface which will shutdown process's prior to reboot

[2016-10-03 16:09] williamspatrick commented on #519
You might also check with Eddie due to issue #619.  It is possible that due to PAM support we added we also need to add logind back in.

[2016-10-03 16:10] williamspatrick commented on #519
@eddiejames -- see previous comment.

[2016-10-03 17:00] ratagupt opened #622 "Set the mac address, if the requested value had the locally admin mask"
Currently network manager doesn't look  at the Mac address whether it is locally administered address or not.
We should put a validation check there.

[2016-10-03 18:17] geissonator commented on #340
** Story Task Proposal **
- [ ] Create /test dir showing current code work, get it merged
- [ ] Throw exception on error creation, write test case demonstrating it’s use
- [ ] Update recipes to export header to clients and build generated error hpp during compile
- [ ] Investigate DBUS built in errors, if applicable create documentation for their usage
- [ ] Incorporate commit interface from errl

[2016-10-03 18:29] hamzy opened #623 "Unsupported Ubuntu-16.04 and No recipe available for python-gevent_%.bbappend"
ubuntu@oscloud3:~$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04 LTS
Release:        16.04
Codename:       xenial
ubuntu@oscloud3:~$ cd openbmc/
ubuntu@oscloud3:~/openbmc$ git remote update; git checkout master; git pull --ff-only origin master
ubuntu@oscloud3:~/openbmc$ TEMPLATECONF=meta-openbmc-machines/meta-openpower/meta-ibm/meta-firestone/con

[2016-10-03 20:17] anoo1 commented on #338
Task list for error / event server:
[ ] Initial prototype, define interfaces but don’t put anything in
[ ] Implement DBUS based on new VTABLE framework
[ ] Implement interface to retrieve data from the journal
[ ] Implement commit interface and create error log

[2016-10-03 21:14] geissonator opened #624 "Get P8 OCC driver up-streamable and refactored for P9"

[2016-10-03 21:18] geissonator opened #625 "Test P9 OCC data against OpenBMC OCC driver"

[2016-10-03 22:34] dugroc commented on #593
Can you tell me what the value of tcp_max_syn_backlog is ?
4 or 5 connections should not be triggering Possible SYN flooding on port 443....

[2016-10-04 00:29] amboar commented on #625
@geissonator can you add a description here? Is the P8 OCC driver expected to work without modification for P9? The OCC driver could do with some love regardless, it's a bit of a maze.

[2016-10-04 00:35] amboar commented on #622
@ratagupt What is the use case here? It's not clear to me what the goal of this issue is. What are we validating?

[2016-10-04 00:52] amboar commented on #615
@rahulmah *please* use the triple-backtick (```) [markdown](https://guides.github.com/features/mastering-markdown/) when posting log or console output, otherwise github interprets your log/console text as markdown when rendering the issue and mangles the output.

[2016-10-04 00:57] amboar commented on #608
@shenki what machine did you see this on?

[2016-10-04 00:57] dugroc commented on #593
If one beats the call to accept in the rest server, it could cause this. Since it works most of the time, it is likely a timing issue. If you put a couple of seconds delay from when the ping works, to when you send the curl requests, this might fix this.

[2016-10-04 02:05] williamspatrick commented on #622
@amboar - We were looking through some of the IPMI commands related to network settings and decided that we were not handling the "set mac address" type interfaces correctly.

What we would like the code (both REST and IPMI) to do is the follows:
    1. If the user sets a MAC address, it must be a local admin type MAC.
    2. If a local admin type MAC is currently set, we would allow the user to w

[2016-10-04 03:10] #399 closed

[2016-10-04 03:11] #604 closed

[2016-10-04 04:29] shenki commented on #601
No, as you can see here Witherspoon is still failing:

https://openpower.xyz/job/openbmc-build/

[code]

[2016-10-04 04:35] shenki commented on #608
Palm5

[2016-10-04 07:07] gkeishin commented on #520
The Current few driver are not yet good to confirm this. Will check on it...

[2016-10-04 08:49] gkeishin opened #626 "[ Barreleye VERSION="v1.99.0-146" ] Host unrecoverable error BC20090F"
I think this error needs to be looked at by hostboot team ?

root@barreleye:~# cat /etc/version
20161004031316
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-146"
VERSION_ID="v1.99.0-146-g08ba306-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-146"
BUILD_ID="v1

[2016-10-04 08:58] gkeishin commented on #612
[code]
root@barreleye:~# cat /etc/version
20161004031316
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-146"
VERSION_ID="v1.99.0-146-g08ba306-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-146"
BUILD_ID="v1.99.0"
root@barreleye:~#

[code]
Sep 20 21:42:59 barre

[2016-10-04 09:10] johnhcwang commented on #593
RMC starts the connection to send the curl requests once it receives the inarp response from BMC, not depend on the ping response.
Can we still treat it as timing issue in this case?
If yes, is it possible that we can postpone the inarp service until BMC is ready to fix this issue?

[2016-10-04 09:37] gwshan commented on #593
It's possible that the backlog is specified to 5 on TCP server side when calling listen(). It's worthy to check the parameters passed to listen() on TCP server (BMC) side.

static inline int inet_csk_reqsk_queue_is_full(const struct sock *sk)
{
        return inet_csk_reqsk_queue_len(sk) >= sk->sk_max_ack_backlog;
}

int inet_listen(struct socket *sock, int backlog)
{
       ...
       sk->sk_max_

[2016-10-04 09:46] gwshan commented on #184
Please update if we still hit this issue after resolving the same MAC address assigned to two BMCs which are resident in same LAN.

[2016-10-04 11:58] #548 closed

[2016-10-04 11:58] #549 closed

[2016-10-04 12:37] geissonator commented on #184
Hey Gavin, fixing the mac address issue and ensuring we didn't run test cases that changed the mac address definitely fixed a lot of our issues.  We continue to occasionally see situations where our barreleyes get the down/up message and then no longer ping.  A power cycle of the system fixes the issue (I've seen it twice in the last week so very intermittent).

palm205 (our problem child palmetto

[2016-10-04 14:44] mdmillerii commented on #622
We  need to support systems that don't have a defined (or known to the stack) location for the assigned MAC address.

[2016-10-04 15:10] williamspatrick opened #627 "[skeleton/openbmc-v1.0-stable] Fail sync MAC from io_board fru if using random MAC address by default"
@johnhcwang commented on [Tue Oct 04 2016](https://github.com/openbmc/skeleton/issues/129)

If we didn't set 'ethaddr' in uboot, random locally administered address would be used by default.
In this case, MAC can't be sync even if we had configured the address in io_board FRU Custom Filed 2 since [here](https://github.com/openbmc/skeleton/blob/openbmc-v1.0-stable/pyinventorymgr/sync_inventory_item

[2016-10-04 15:10] williamspatrick commented on #627
@johnhcwang - I moved this to the openbmc/openbmc repository.  That is where we prefer most issues be opened.

[2016-10-04 18:26] anoo1 commented on #603
Please provide the bmc journal log and host console from the time the putscom command is executed.

[2016-10-04 19:22] geissonator commented on #625
This sprint will focus on #624 so we'll move this to backlog for now.  Needs to be broken down further.

[2016-10-04 19:25] williamspatrick commented on #622
@mdmillerii - That would be a manufacturing interface on the VPD interface object, right?

[2016-10-04 19:59] msbarth commented on #561
- [ ] Add gtest build framework

- [ ] Breakdown current unit tests into gtest functions

- [ ] Implement each unit test as gtest

[2016-10-04 20:04] msbarth commented on #380
- [ ] Convert phosphor-event

- [ ] Convert phosphor-objmgr

- [ ] Convert phosphor-hwmon

- [ ] Convert ipmi-fru-parser

- [ ] Convert inarp

- [ ] Convert btbridge

[2016-10-04 21:08] geissonator commented on #559
This story specifically tracks the following now:

- [ ] memory, mac, vuart - https://gerrit.openbmc-project.xyz/#/c/637/
- [ ] UART, SPI, and LED nodes - https://gerrit.openbmc-project.xyz/#/c/664/

The remaining device tree work will be tracked in new stories.

[2016-10-04 21:10] geissonator opened #628 "Pin mux settings put in MRW and incorporated into device tree"

[2016-10-04 21:13] geissonator opened #629 "Integrate new generated device tree files into kernel"

[2016-10-04 21:14] geissonator opened #630 "Incorporate I2C devices into MRW and get in device tree or udev"
Still need to determine if this is just getting into MRW for udev to handle or if we're putting in device tree.

[2016-10-04 21:22] geissonator opened #631 "Pull witherspoon mrw xml into openbmc build process"
I believe Matt is waiting on Sertac to get the final pieces checked in.

[2016-10-04 21:59] eddiejames commented on #624
Tasks:

Separate bus transfer code from the hwmon interface
General clean-up with LTC team's guidance

[2016-10-05 00:11] amboar commented on #630
@geissonator The I2C devices must be described in the device tree, so that's not optional. Further, as long as the kernel is configured with CONFIG_I2C_CHARDEV I don't think we need udev help. @shenki should be able to chime in here to confirm.

[2016-10-05 00:17] williamspatrick commented on #630
@amboar , @shenki - Don't we always have the option to probe from userspace?  This is exactly what lm-sensors typically does.

[2016-10-05 00:24] bradbishop commented on #630
lm sensors uses the i2c-dev driver so it can probe.  if you can know ahead of time what is there that seems better to me (note all the warnings lm sensors gives you about probing sometimes not being safe).

I think udev still has a role here...we would still get coldplug events for the i2c devices described in the DT no?  which would then kick of a systemd unit?

[2016-10-05 00:25] amboar commented on #628
Is there a plan yet for how this is going to be achieved? My gut feeling is you're going to have to put some devicetree-specific information into the MRW. Is that on the cards?

[2016-10-05 00:25] shenki commented on #630
Yeah, the device drivers can be attached in userspace. You can read more here:

 https://www.kernel.org/doc/Documentation/i2c/instantiating-devices

If I were implementing this I would put them all in the device tree. This way you have all the drivers loaded before entering userspace.

[2016-10-05 00:26] bradbishop commented on #630
a side question..I'm curious what we think happens in the kernel when there are remote i2c busses over fsi links.

[2016-10-05 00:33] amboar commented on #630
Ah, possible mixup on my part. I was thinking of the I2C buses not the slave devices.

[2016-10-05 00:49] jk-ozlabs commented on #630
@bradbishop : good question. We'd need to either describe those i2c busses in the device tree, or we can implement the device-to-driver binding in userspace.

For the former option, we'd need the fsi-slave-i2c driver to be able to bind to a DT node, describing the i2c (using standard bindings there). This would best be under the correct FSI bus heirachy, so we may also want the fsi core driver to

[2016-10-05 02:10] bradbishop opened #632 "Mapper interface enhancements"
As of today the mapper provides:

GetObject
GetSubtree
GetSubtreePaths

For the latter two, it would help applications to be able to specify an interface filter, and to allow applications to specify the format of the dictionary that is returned ( with either path, interface or service as the key).

I haven't considered if the latter ends up having any utility or not.  Its certainly possible - the

[2016-10-05 02:12] bradbishop commented on #621
- [ ] Provide yaml documents for xyz.openbmc_project.Inventory interfaces.
- [ ] Document yaml format for build time unmanaged inventory data providers.

[2016-10-05 02:44] bradbishop opened #633 "Inventory Manager reimplementation"
Moving to sdbus.

The new inventory manager (PIM or phosphor inventory manager) would use this to mark inventory items as cached or not present as ipmi channels go up and down, etc...
- [ ] bbclass for inventory providing apps with example
- [x] code generator for inventory data aggregate
- [x] signal callback filter functor - wait for property to change to a value
- [x] trigger - wait for unit to

[2016-10-05 05:20] gkeishin opened #634 "[Barreleye VERSION="v1.99.0-152" ] Inventory ERROR (name_properties) and Partition 'BMC_INV' not found"
root@barreleye:~# cat /etc/version
20161005002104
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-152"
VERSION_ID="v1.99.0-152-g613641e-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-152"
BUILD_ID="v1.99.0"
root@barreleye:~#

root@barreleye:~# uptime
 21:39:03

[2016-10-05 05:45] gkeishin opened #635 "DNS ZeroConf avahi-daemon.service startup failure"
[code]
[code]

[2016-10-05 08:06] SrideviRamesh commented on #603
please find FFDC  and host console logs in the attachments
[OBMC_OS_HUNG.zip](https://github.com/openbmc/openbmc/files/510358/OBMC_OS_HUNG.zip)
[host_console_logs.txt](https://github.com/openbmc/openbmc/files/510364/host_console_logs.txt)

[2016-10-05 10:26] williamspatrick commented on #634
BMC_INV not found is not an issue. Brad can comment on the others.

[2016-10-05 10:34] williamspatrick commented on #630
Since FSI is effectively dynamic, similar to USB, I don't imagine we can fully express the device information in the device tree at build time, or even if we can, there will be hotplug triggers needed as the FSI devices come and go.

If we need some items to be static and some to be "hotplug" this seems to require addition, implementation specific, information in the MRW so we can know which is wh

[2016-10-05 12:24] geissonator opened #636 "Firestone and Garrison failing to build"
Looks like it started with this commit - https://github.com/openbmc/openbmc/commit/205bfb879aae9a04127a78fc8e960e24c9f3fdc4

# Link to build
https://openpower.xyz/job/openbmc-build/279/

# Error msg
[code]

Similar one for garrison

[2016-10-05 12:26] geissonator opened #637 "Witherspoon does not build"
Thought we had an issue for this but couldn't find it.

Example is out here - https://openpower.xyz/job/openbmc-build/distro=ubuntu,target=witherspoon/282/console

[code]

[2016-10-05 12:58] williamspatrick opened #638 "Create settingsd first-level categories dynamically based on inventory object."
Presently, the settingsd code will statically create 'host0' and 'bmc0'.  There should be a mapping between the category (host) and an inventory query (.../inventory/systemN) so that there is a 1-to-1 mapping between real inventory objects and real settingsd holders.  This will likely also require the file format to change so that a setting (/host/foo) is not simply in a single file (.../foo), but

[2016-10-05 13:02] williamspatrick commented on #577
Is this resolved with the latest master?

[2016-10-05 13:04] williamspatrick commented on #477
- [ ] Create example interface specfication.
- [ ] Document file format
- [ ] Add support for enumerations.
- [ ] Add support for error identifiers.
- [ ] Generate markdown documentation similar to existing docs repo.

[2016-10-05 13:06] williamspatrick commented on #475
- [ ] Add vtable in C++ support
- [ ] Add object registration method(s).
- [ ] Ensure method(s) exist for typical process/wait loop.
- [ ] Add signal broadcast method(s).
- [ ] Add interface(s) to watch for signals.
- [ ] Ensure method exists to broadcast 'org.freedesktop.PropertyChanged' signals.
- [ ] Add interface(s) to get underlying sd-event reference.

[2016-10-05 13:10] williamspatrick commented on #478
- [ ] Generate server binding for methods.
- [ ] Generate server bindings for signals.
- [ ] Generate server bindings for properties.
- [ ] Generate exception bindings for dbus errors.
- [ ] Generate client binding for methods.
- [ ] Generate client binding for properties.
- [ ] Add support for dbus-error -> exception mapping on client bindings.
- [ ] Add methods for reading multiple properties at

[2016-10-05 13:20] spinler commented on #629
- [ ] Create recipe to fetch gen_devtree.pl, run it against the XML, run the dtc against that output, and then put the output of that somewhere

[2016-10-05 13:22] spinler commented on #631
- [ ] Submit pull request to github.com/open-power/witherspoon-xml with my XML updates, and after it is accepted:
- [ ] Put the Witherspoon XML URI & REV into witherspoon.conf

[2016-10-05 13:27] spinler commented on #628
There is an XML model of the AST2500 that we can put whatever we need into it, and the MRW supports the concept of selecting pin groups differently based on the system the chip is in.

First I need to gather the requirements.   What pingroup related information needs to go into witherspoon.dts?

[2016-10-05 14:00] tomjoseph83 commented on #429
- Message Handler
- Message
- Socket Channel
- Sessions Manager
- Session
- Command Table

[2016-10-05 14:12] geissonator commented on #638
### Proposed task list
- [ ] Look at files and scope based on category, handle duplicate names across categories
- [ ] Define a mapping between 1st level query and inventory item (work with Brad)
- [ ] Use mapping, call mapper object to find inventory object and create 1st level objects

[2016-10-05 14:32] geissonator commented on #628
### Tasks

- [ ] Gather requirements, get data into MRW
- [ ] Write code to parse from mrw and create device tree

TBD: Need more discussion with LTC team.  Setup something Thursday night.

[2016-10-05 14:36] GHF commented on #636
I broke it with https://gerrit.openbmc-project.xyz/#/c/606/ by removing what those patches patch.

[2016-10-05 14:39] geissonator commented on #630
Sprint Planning Notes

Only do things directly wired to BMC, do downstream and FSI in later story.
Concern with kernel compatibilities?

- [ ] Get directly wired to BMC devices into MRW
- [ ] Write code to take MRW devices and put in device tree

[2016-10-05 14:44] geissonator commented on #381
### Sprint Planning Notes

- [ ] git submodule decision/implementation

[2016-10-05 14:49] geissonator commented on #382
- [ ] Create script which can run in docker container to do simple dependency item
- [ ] Script can handle complex dependencies accross repos
- [ ] Create template jenkins jobs that allows new repos to easily be added
- [ ] Automatically run jenkins job against gerrit changes

[2016-10-05 14:53] GHF commented on #637
the issue open for this is #601

[2016-10-05 15:02] geissonator commented on #622
Ratan, please break down task list for review in our next meeting.  Thanks!

[2016-10-05 15:21] williamspatrick commented on #636
@bradbishop - How do we get these patches out of here and put into the main repository?  Do we need a config flag in skeleton for this?

[2016-10-05 16:40] GHF commented on #636
@williamspatrick @bradbishop I should explain that the functionality of those patches was replaced by the new code. The fix here is to remove the per-machine patches altogether: https://gerrit.openbmc-project.xyz/#/c/689/

[2016-10-05 16:52] GHF commented on #601
to be clear, the error message here differs from #636 because Witherspoon patches skeleton rather than obmc-op-power-control, but it's basically the same failure.

[2016-10-05 16:53] GHF opened #639 "Please bump linux-obmc"
Please bump linux-obmc to at least https://github.com/openbmc/linux/commit/31491101bab1f11b01fd880d7d34dd36d26cf8fb so that MACHINE=zaius will build.

It won't actually power on the machine without @amboar's full pinctrl bindings, but I'd like to get a master revision that builds for our team.

@williamspatrick I'd mail a commit for review but I don't know how far you want to bump the recipe.

[2016-10-05 17:13] williamspatrick commented on #639
@GHF , @shenki - I'm expecting Joel to keep this up to the level he'd like to see us using.  Joel, let me know if my expectation is wrong.

[2016-10-05 17:17] #601 closed

[2016-10-05 17:17] #636 closed

[2016-10-05 17:17] #637 closed

[2016-10-05 20:22] geissonator commented on #636
Thanks for the quick fix Xo, first time I've seen them all build successfully!  https://openpower.xyz/job/openbmc-build/

[2016-10-05 21:45] anoo1 commented on #603
Thanks, but the host console log only shows that a "gard list" command was issued. Please collect the logs from when the putscom command to checkstop the host is issued.

[2016-10-05 23:13] amboar commented on #639
@shenki given you've ack'ed the pinctrl patches should we apply them to dev-4.7? Or better, start cooking up a dev-4.8 with them applied?

[2016-10-05 23:15] amboar commented on #622
@williamspatrick that all sounds sensible to me, it just wasn't clear to me from the initial description.

[2016-10-05 23:35] amboar commented on #628
@spinler For a reference, check out the [dtsi for the AST2400](https://github.com/openbmc/linux/blob/dev-4.7/arch/arm/boot/dts/aspeed-g4.dtsi#L77), it has has a pinctrl node with subnodes for all "pingroups" or mux functions (pins, groups and functions are separate concepts in the Linux pinctrl subsystem, but are obviously tied together by the platform's pinmux implementation):

[code]
From there,

[2016-10-05 23:40] shenki commented on #639
@amboar I was waiting for Linus to ack them before applying. Has there been any activity from him on the list?

@williamspatrick Yep, that's how I'd like to operate. I'll get on this today.

[2016-10-05 23:44] amboar commented on #639
@shenki Nothing from Linus yet, maybe he's off skiing again. Anyway, the pinctrl patches aren't the subject of the issue so I'll stop that OT discussion here.

[2016-10-06 00:25] amboar commented on #629
@spinler My gut feeling is that you'd then need to patch [kernel-cuimage.bbclass](https://github.com/openbmc/openbmc/blob/master/meta-phosphor/classes/kernel-cuimage.bbclass#L23) to look in the right place for your generated dtb, where-ever it ends up living.

[2016-10-06 01:09] geissonator opened #640 "Master no longer builds on ppc64le - hang on gobject-introspection build"
Everything compiled as well as it had before with commit 08ba306 on ppc64le hardware (Ubuntu running a 16.04 docker image).

The daily build picked up 02da455 today and it's now hanging during the build process.  It gets here on all machine type builds and then hangs (I'm going on 3.5 hours so far).

[code]

The system shows this running continuously (qemu is used by the introspection code)
qemu-a

[2016-10-06 01:38] geissonator commented on #612
I'm not sure if this is what's causing the actual code update failure.  Here's a trace of the actual update attempt (this comes after the above error) (yes we may need new issue for this one)

[code]

Nothing after this, it just seems to keep running and then you see the test case come in and retry the same command a few seconds later.  I was thinking this was another warmReset issue but don't see

[2016-10-06 01:54] gwshan commented on #593
Had a discussion with @johnhcwang and we found, the Rocket's maximum allowed TCP connection by default is 5 as below:

rocket/__init__.py:DEFAULT_LISTEN_QUEUE_SIZE = 5

[2016-10-06 02:05] geissonator opened #641 "sync_inventory_items.py[858]: NameError: name 'os' is not defined"
Seeing this in boot up on barreleye with latest master (02da4558)

Looks to me like the file just needs an import of os.  There's a few other nuggets in the logs so not positive it's this or not, but we're not getting to BMC_READY (stuck at BMC_STARTING)

[code]

[2016-10-06 02:14] johnhcwang commented on #593
REST server uses Rocket to handle the connections but didn't specify the queue_size.
By Rocket's definition, the operating system’s maximum or 5 passed to the listen() function.
''''
queue_size - An integer number of connections allowed to be queued before Rocket accepts them. This number is passed to the listen() function in the operating system’s socket library. It defaults to None which either

[2016-10-06 02:44] #407 closed

[2016-10-06 02:50] bradbishop commented on #641
oops.

[2016-10-06 02:53] williamspatrick commented on #546
This is blocked by the FSP manufacturing tools team confirming that using Avahi only is workable.

[2016-10-06 02:55] #438 closed

[2016-10-06 02:56] #437 closed

[2016-10-06 03:56] gkeishin commented on #612
Thanks @geissonator . However this particular failure is seen in test as well for POST operation .. even though initially it was seen in code update.. So there is some generic failure which is making the failure.. Looking forward for the fixes if there is any ahead...

[2016-10-06 04:56] gkeishin opened #642 "[Barreleye VERSION="v1.99.0-161"] Events not purged after CLEAR request Succeed"
**The test expectation is to clear the event log created. However it is seen not cleared after the POST clear operation is completed successfully.  Data for your reference bellow**

**Driver info**
root@barreleye:~# cat /etc/version
20161006024821
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-161"
VE

[2016-10-06 06:25] shenki commented on #635
I also see this on palmetto. Note that avahi is attempting to start before the network is up.

[code]

[code]

[2016-10-06 06:32] shenki commented on #639
Please review and test: https://gerrit.openbmc-project.xyz/#/c/702/

[2016-10-06 07:17] shenki opened #643 "settings_manager KeyError: 'org.openbmc.settings.Host' when booting host"
I netbooted openbmc on a Palmetto with the host already powered on. I then shutdown the host (shutdown -h now on the host), and attempted to power back on with `obmcutil poweron`. There was no hostboot output, but I did notice systemd was using 100% CPU on the BMC.

[code]

[code]

The output of `journalctl -f` showed:

[code]

[2016-10-06 07:30] gkeishin commented on #612
**The test runs is badly hit even for CI, all the REST post operation has failed because of this issue .**

root@barreleye:~# cat /etc/version
20161006024821
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-161"
VERSION_ID="v1.99.0-161-ge4bfd68-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Proj

[2016-10-06 10:26] rahulmah opened #644 "[Barreleye VERSION="v1.99.0-161"] IPMItool command to set network override setting fails"
IPMItool command to set network override setting in openbmc fails due to Invalid input(Data not in allowed values). Checked journal logs and found that settings_manager.py expect "addr_type" as "STATIC", "DYNAMIC" while network override seting's ipmi raw command is designed to provide 0x00 0x00 (for dhcp) or 0x00 0x01 (for static ip).

**IPMI command executed**

[code]

**OpenBmc fw details**
root

[2016-10-06 10:32] ratagupt commented on #635
I was running the same command which is there in the avahi bb file.Seems  our busy box adduser doesn't support the --user-group..
root@barreleye:~# adduser --system --home /var/run/avahi-daemon --no-create-home --shell /bin/false --user-group avahi
adduser: unrecognized option '--user-group'
BusyBox v1.24.1 (2016-08-26 01:40:36 UTC) multi-call binary.

[2016-10-06 11:00] ratagupt commented on #635
I built a image with the qemu...It is working fine and seems that there is a kernel level difference between qemu and the hardware
qemu:-
======
uname -a
Linux qemuarm 4.4.3-yocto-standard #1 PREEMPT Thu Oct 6 05:23:17 CDT 2016 armv5tejl GNU/Linux

Hardware
=========
uname -a
Linux barreleye 4.7.3-be2001133835be80ba4657232b823ba2daaac0d6 #1 Wed Sep 14 12:04:41 UTC 2016 armv5tejl GNU/Linux.
it appe

[2016-10-06 11:23] rahulmah opened #645 "[Barreleye VERSION="v1.99.0-161"] Valid MAC address is not taken while setting network override setting"
Valid MAC address is not taken while setting network override setting using ipmitool. Checked journal log and found that regex fails for MAC address f4:52:14:f3:01:df. "Invalid input. Data does not satisfy regex". But with f4:52:14:f3:11:df MAC address it works fine.

[code]

**OpenBmc fw details**
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC

[2016-10-06 11:39] amboar commented on #575
@shenki @williamspatrick this issue can be closed.

[2016-10-06 11:42] amboar commented on #513
@shenki the table should be updated with @geissonator's result. Also you appeared to have pgood issues with palm4 earlier, did you resolve that?

[2016-10-06 11:47] amboar commented on #522
@williamspatrick @mdmillerii what is the plan for this issue? Do we extend the watchdog timeout? Something else?

[2016-10-06 13:31] anoo1 commented on #627
The code currently uses the mac provided by the GetHwAddress dbus interface to make the comparison, but this interface returns the mac that's set in 'org.freedesktop.network1.Link', (which includes the random mac), not what's set in u-boot.
It'll be more accurate for the sync code to look at u-boot directly. Will make that change.

[2016-10-06 14:24] #641 closed

[2016-10-06 16:27] gkeishin commented on #642
@anoo1 anything on this one.. Looks like the Clear request went through but the events are not cleared..

[2016-10-06 18:34] williamspatrick opened #646 "Witherspoon Power-On"

[2016-10-06 19:35] mdmillerii commented on #622
@williamspatrick I am concerned that we not limit the ability to set the mac if the system does not have a VPD object with a defined container for the MAC address.

[2016-10-06 19:50] geissonator commented on #646
### external requirements

- [ ] A build/release of openbmc from Cliff S. and team to release to the lab
- [ ] OpenFSI support from Chris Bostic, including the ability to run "putcfam pu 2801 80000000"
- [ ] Required Witherspoon MRW from Sertac out in op-build

[2016-10-06 19:53] geissonator opened #647 "Ensure power on code works with Witherspoon"
Initially this was just going to be a GPIO but maybe it changed?  This issue is to investigate if the openbmc code will work as-is to power on Witherspoon, and if not, to make the code work.

[2016-10-06 19:57] geissonator opened #648 "Witherspoon ineventory, gpio, and sensor scrub"
This issue is to investigate all the different system specific data structures we have in openbmc code.
- Updates to skeleton/configs/Witherspoon.py required?
- Updates to kernel system hard codes?
  -- Specifically the setting of the scratch registers in the superio chip for hostboot ( @shenki )
- Updates to device tree?

Also, need to see how this plays in with the work @spinler is doing with MR

[2016-10-06 20:02] geissonator opened #649 "Ability to write hostboot scratch registers from obmc"
For debug and testing, we need to have an interface to write the scratch registers from the openbmc.  These are set in the kernel currently so we'll need some discussion on how best to provide a debug tool that can change them.

[2016-10-06 20:04] geissonator opened #650 "Execute CFAM to boot witherspoon"
A one liner we need in openbmc code to power on witherspoon.  It requires openFSI and basic scom/mbox support.

This is what we need to start the P9 boot process

putcfam pu 2801 80000000

[2016-10-06 23:48] amboar commented on #635
@ratagupt are you confident the kernel configuration is the _only_ difference between your qemu and hardware tests?

[2016-10-06 23:52] amboar commented on #640
`git bisect` will help here. Should only take 4 runs to identify the commit.

[2016-10-07 01:45] williamspatrick commented on #635
@amboar - We discussed it today and then @ratagupt didn't update the issue.  kernel has nothing to do with this.  He is investigating further.

[2016-10-07 01:46] williamspatrick commented on #640
Just because 08ba306 "built" doesn't mean it was good.  We build with the sstate cache reused so it would have only rebuilt gobject-introspection if it found a need to.  It is possible that it has been "broken" for a while but was just never rebuilt.  Not sure what is causing it to rebuild lately unless the cache became invalid on this ppc64 machine.

[2016-10-07 02:56] #93 closed

[2016-10-07 06:04] gwshan commented on #184
@geissonator, thanks for sharing the BMC for me to reproduce the issue. Unfortunately, I cannot recreate it on palm 205. Joel has pushed couple of NCSI fixes to last 4.7 kernel. Lets see if any one of those NCSI patches resolves this issue.

However, there is one experiment I will do as Joel suggested: connect laptop and BMC directly and write up a program to send ARP request or ICMP request to BM

[2016-10-07 11:04] gkeishin commented on #642
Doesn't see this error on latter build

root@barreleye:~# cat /etc/version
20161006204239
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-164"
VERSION_ID="v1.99.0-164-g7b645d1-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-164"
BUILD_ID="v1.99.0"

[2016-10-07 11:04] #642 closed

[2016-10-07 13:16] geissonator commented on #640
Started working backwards, found that for whatever reason this is the commit that broke the ppc64le builds - https://github.com/openbmc/openbmc/commit/df7dfd46d3142289ddec9d38601e4e434dfe7d7f

[2016-10-07 13:16] gkeishin commented on #520
Not seeing in latter drivers.. closing this

[2016-10-07 13:16] #520 closed

[2016-10-07 13:23] gkeishin commented on #565
This is no longer seen in latter build drivers.. Closing

[2016-10-07 13:23] #565 closed

[2016-10-07 16:12] geissonator commented on #647
Uma to verify there's a way via fsp debug box to do this for initial power on.

[2016-10-07 16:17] #639 closed

[2016-10-07 19:39] spinler opened #651 "Need PMBUS Power Supply device driver"
Witherspoon has 2 PMBus compliant power supplies that require monitoring, so an I2C device driver for them is required.  I'm not sure if a driver is required for the specific power supply model or not.

Joel asked for an issue to be created to track it.

[2016-10-07 19:42] spinler opened #652 "Upstream: Need fully functional MAX31785 fan controller device driver"
The fan control code will need a device driver for the MAX31785 fan control chip on Witherspoon.  I heard a partial one might exist already?

[2016-10-07 19:45] spinler opened #653 "Need device driver for ucd90160 power sequencer chip"
Witherspoon code will need to monitor it for faults, possibly using interrupts.

[2016-10-07 19:47] spinler opened #654 "Need device driver for RX8900CE RTC"
For witherspoon.

[2016-10-07 21:12] JoshDKing commented on #583
- [ ] Task One * Set up structure and documentation for implementation in server.py and ssl.py
- [ ] Task Two * Implement the design in server.py
- [ ] Task Three * Implement the design in ssl.py

[2016-10-08 04:11] agangidi53 commented on #652
This is me being curious. For Barreleye we had an issue where if BMC goes down abruptly , there was no timeout capability in the fan control chip we used. Is that fixed for witherspoon ?

[2016-10-08 12:45] spinler commented on #652
Yes, Witherspoon has a watchdog circuit that the BMC has to keep pinging or the fans will go to high speed.

[2016-10-10 02:12] shenki commented on #653
* http://www.ti.com/lit/ds/symlink/ucd90160.pdf
 * http://www.ti.com/product/UCD90160

There is drivers/hwmon/pmbus/ucd9000.c that may be applicable

[2016-10-10 04:38] shenki commented on #654
* http://www5.epsondevice.com/en/products/i2c/
 * https://support.epson.biz/td/api/doc_check.php?dl=app_RX8900CE&lang=en

Has an out of tree driver. May be less hassle to write our own.

[2016-10-10 04:40] shenki commented on #652
Current driver:
https://patchwork.ozlabs.org/patch/672045/

Needs to be reworked:

[2016-10-10 05:42] shenki commented on #649
I think we will write a simple kernel driver to expose the scratch registers. They can then be set from userspace with sysfs or a similar API.

[2016-10-10 05:43] shenki commented on #651
What are the part numbers that need to be supported?

[2016-10-10 06:16] sivassrr commented on #649
Good to have tool like this. Hope it will be for internal purpose only.
BMC suppose not to manipulate HW registers as per the security.
 
Or is it fine ? because we are doing what we are planning to do it from OS, right.
Want to get better understanding.
 
Sivas R. S
E-mail: sivas.srr@in.ibm.com
 
----- Original message -----From: Joel Stanley <notifications@github.com>To: openbmc/openbmc <openbmc

[2016-10-10 06:52] williamspatrick commented on #649
These are registers in the SIO logic of the BMC. Hostboot (and Skiboot) read them for configuration reasons to know certain state about the BMC. For instance, SUART vs vUART and 'memboot' mode are selected this way. There is no security concern with these registers.

[2016-10-10 11:18] ratagupt commented on #635
Seems it is a build time issue,Some how the file which we generate as build time (/etc/passwd and /etc/group) is not correctly picked up by the image...I am looking more why the fies are not being picked up by the image?

[2016-10-10 11:21] ratagupt commented on #635
I saw in my build env that " work/palmetto-openbmc-linux-gnueabi/obmc-phosphor-image/1.0-r0/rootfs/etc/passwd"  as well as "sysroots/palmetto/etc/passwd" both are having the avahi user...

[2016-10-10 12:10] bradbishop commented on #634
The other problems are covered here:

https://github.com/openbmc/openbmc/issues/554

[2016-10-10 12:15] bradbishop commented on #612
`Sep 21 00:37:14 barreleye phosphor-gevent[906]: >(, ('::c023:a2b6:8e91:f402%1312655688', 53372, 0, 131)> failed with SSLEOFError`

is this an ipv6 address?

[2016-10-10 12:21] #634 closed

[2016-10-10 14:53] gkeishin commented on #612
Its seen on all systems with builds which seems to have both v4 and v6 as well..
so i picked up one system just to check..

root@barreleye:~# modprobe ipv6
modprobe: FATAL: Module ipv6 not found in directory /lib/modules/4.7.6-ae3a462415c7c05a138658ef8ffa2f321262c4ec
root@barreleye:~#

looks like the kernel is not built for v6.. but having said that... I don't remember running anything specific wi

[2016-10-10 15:08] williamspatrick commented on #550
Minutes from 2016-10-10 discussion we had on this topic.

LED management:
    * Key points of the design:
        - Abstract physical LED management from "virtual" LED causes.  Applications should be interested in causes / actions, not how the LED policy applies those onto physical LEDs.
        - Abstract LED policy from code into the MRW.  If two systems have different LED policies, we should no

[2016-10-10 19:08] spinler commented on #651
2200W HV AC/DC Power Supply
EC Number: P17531

[2016-10-10 20:43] GHF opened #655 "Kernel driver for AST2500 ADC"
Need ADC for analog inputs monitoring power rails and RTC battery.

mattconolly@fb.com mentioned a forward-port/rewrite on IRC.

[2016-10-10 22:01] jkeusema commented on #651
The power supply follows standard "PMBus" command set which is more or less universal across IBM power supplies. The key items we should be able to get are fault codes. The registers of primary interest would be STATUS_WORD, STATUS_VIN, STATUS_VOUT, STATUS_IOUT, STATUS_TEMPERATURE, STATUS_MFR_SPECIFIC, STATUS_FANS_1_2, STATUS_OTHER, STATUS_INPUT. When a power supply fault occurs this information s

[2016-10-10 23:33] mdmillerii commented on #649
I think we should consider the nvmem subsystem to export these _scratch_ registers.  While its designed to extract per-chip customization for the kernel there are ways to name the bits, specify them in the device tree, and provide user interface though sysfs including read and write.

[2016-10-11 00:59] GHF commented on #579
@yuennancy Our Zaius EVT1 boards only _sort of_ have this issue (our resistor straps ended up as "10: Reserved, enable SPI Master and SPI Slave to AHB Bridge (debug mode)") which we're working around using option 2. EVT2 boards will have the correct straps (option 3) so no Zaius-specific software strap overriding should be necessary.

[2016-10-11 11:50] Youngzhong commented on #651
You need do all fault flag for recording the fault SEL

[2016-10-11 13:52] geissonator commented on #648
Uma flashed this on our witherspoon:

[witherspoon]# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-167"
VERSION_ID="v1.99.0-167-g7216f42-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-167"
BUILD_ID="v1.99.0"

Here are some suspicious things to look at:

### GPIO

[code]

dmesg

[2016-10-11 13:56] spinler commented on #648
FWIW, the FRU and sensor list in Witherspoon.py is still just a copy of Firestone and definitely needs to be fixed.

[2016-10-11 14:01] geissonator commented on #648
Looks like the main thing we need ASAP is the ability for users to turn on/off power.

gpioutil -p D1 -d out -v 1      # on
gpioutil -p D1 -d out -v 0      # off
gpioutil -p D2 -d in                # PGOOD

Sep 28 12:30:39 w5 kernel: export_store: invalid GPIO 345
Sep 28 12:30:39 w5 kernel[860]: export_store: invalid GPIO 345
Sep 28 12:30:43 w5 kernel: export_store: invalid GPIO 346
Sep 28 12:30:4

[2016-10-11 15:55] geissonator commented on #648
Uma verified an old image provided by @williamspatrick / @shenki  during initial Witherspoon bringup still works as expected.  @amboar some updates required with our latest changes to GPIO code on Witherspoon?

[2016-10-11 19:01] jazurin commented on #612
I am also seeing this error while trying to clear the event logs (POST operation).  @bradbishop do you know when we can expect a fix? Thank you.

[code]

[code]

[2016-10-11 23:13] shenki commented on #648
Please review and merge this change, and then reverify on the system. Out of interest, is this a pass1 or pass2 Boxelder (Witherspoon BMC) system?

 https://gerrit.openbmc-project.xyz/#/c/731/

[2016-10-12 03:07] williamspatrick opened #656 "gtest: Move from SDK and into repositories."
See discussion in https://gerrit.openbmc-project.xyz/#/c/525/

[2016-10-12 03:08] williamspatrick commented on #656
@kc8apf , @msbarth - FYI.

[2016-10-12 06:24] gkeishin opened #657 "[Barreleye VERSION="v1.99.0-169"] Discover system throws DBus.Error.ServiceUnknown"
[code]
[code]

[2016-10-12 07:14] gkeishin opened #658 "[Barreleye VERSION="v1.99.0-169"] obmc-console-client: Can't connect to console server: Connection refused"
New driver failed to start to SOL client.

root@barreleye:~# cat /etc/version
20161012032551
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-169"
VERSION_ID="v1.99.0-169-g12e3d60-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-169"
BUILD_ID="v1.99.0"
root@barrel

[2016-10-12 07:23] gkeishin opened #659 "[Barreleye VERSION="v1.99.0-169"] IPv6 DHCP client ?"
`I don't think the driver build has IPv6 support yet... if that is a yes, what is this V6 DHCP client doing here with timeout message ?`

`Should we ignore this ?`

`root@barreleye:~# cat /etc/version
20161012032551`
`root@barreleye:~# cat /etc/os-release`
`ID="openbmc-phosphor"`
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-169"
VERSION_ID="v1.99.0-169-g12e3

[2016-10-12 08:36] williamli80 commented on #608
[code]

[2016-10-12 09:08] mine260309 commented on #600
May I ask if this issue is for
  a) the journal flood of `Cannot read attributes: /sys/class/hwmon/hwmon4/in2_input`
or
  b) the interval of the log is not expected (10s), it's 5s instead?

[2016-10-12 09:36] sivassrr opened #660 "Feature: Fan speed toggling based on the need"
Use Case Scenario 1:  One fan fails, then BMC should detect and increase other fans speed - Counter Rotating
Use Case Scenario 2:  Provision to set fan speed
Use Case Scenario 3:  Based on the temperature reading, Fan Speed should be adjusted

[2016-10-12 10:03] vishwabmc commented on #659
@gkeishin look at this : https://bbs.archlinux.org/viewtopic.php?id=207597

Fixed in - systemd-228-4 => bug fixed

[2016-10-12 10:04] vishwabmc commented on #659
paste result of systemctl --version

[2016-10-12 10:04] gkeishin commented on #659
root@barreleye:~# systemctl --version
systemd 229
+PAM -AUDIT -SELINUX -IMA -APPARMOR -SMACK +SYSVINIT -UTMP -LIBCRYPTSETUP -GCRYPT -GNUTLS +ACL +XZ -LZ4 -SECCOMP +BLKID -ELFUTILS +KMOD -IDN
root@barreleye:~#

[2016-10-12 10:05] vishwabmc commented on #659
okay.. Looks like its still an issue : Suggestion is to use  IPv6AcceptRouterAdvertisements=0 in /etc/systemd/network/00-*.network

[2016-10-12 10:10] rahulmah commented on #644
@ratagupt : Can you please take this issue forward?

[2016-10-12 10:13] ratagupt commented on #644
Seems vishwa is working on that..

[2016-10-12 10:28] rahulmah commented on #644
@williamspatrick : I believe this issue can be transferred to Viswa. It needs to be fixed.

[2016-10-12 10:45] williamspatrick commented on #612
@jazurin - we believe this is actually a problem on the pool machines (SSL client) at this point. The test team ran on another machine and didn't see this problem a single time.

[2016-10-12 10:48] williamspatrick commented on #600
The issue is for the flood of journal messages.

[2016-10-12 10:50] williamspatrick commented on #608
0 is the bus 68 is the iic address of the hwmon device. It looks like, by one of the other names, that this is the RTC device?  Maybe it has a thermal sensor on it as well.

[2016-10-12 10:53] williamspatrick commented on #644
I thought I had already assigned him. Is this a duplicate?

[2016-10-12 12:10] rahulmah commented on #645
@williamspatrick : I guess, this issue also need to be assigned to Vishwa.

[2016-10-12 12:11] williamspatrick commented on #660
I'm not sure I understand why you opened this.  We have a whole epic for fan control.

[2016-10-12 12:13] williamspatrick commented on #658
This implies obmc-console-server is no longer running.

[2016-10-12 12:15] geissonator commented on #658
Is this a dup of https://github.com/openbmc/obmc-console/issues/7 ?

[2016-10-12 12:16] vishwabmc commented on #550
Breakdown of this story into tasks.

- [ ] Create a .yaml file that contains groups and associated LEDs.

[2016-10-12 12:19] williamspatrick commented on #658
Unknown.  Would need to see the journal information for the obmc-console.service.

[2016-10-12 13:11] geissonator commented on #612
We seem to hit this intermittently in our testing so not sure if running one place or another proves too much.  I noticed a network config change before my recent fail, could that be something?  Notice how it doesn't seem to recover until after the fail.

[code]

[2016-10-12 13:55] geissonator commented on #184
Put the latest kernel on BarPVT

Saw same issue I'd pinged Gavin on a while ago.  As soon as I issue the power on, the network drops and does not come back.

We get this in the console:
ftgmac100 1e660000.ethernet eth0: NCSI interface down
ftgmac100 1e660000.ethernet eth0: NCSI interface up

Doing this did not help:
root@barreleye:~#  ifconfig eth0 down; ifconfig eth0 up; echo $?
ftgmac100 1e66000

[2016-10-12 14:26] geissonator commented on #184
@gwshan I'm going to leave BarPVT in the fail state.  I did a 2nd PDU power cycle, got network back, issued the power on and once again the network dropped on me.  You should have all the access info for the system but I'll also be online tonight if needed.

[2016-10-12 14:33] gkeishin opened #661 "[Barreleye VERSION="v1.99.0-170"] BMC failed to boot to BMC_READY"
The new https://openpower.xyz/job/openbmc-build/298/  build seems broken.
Brad took a look and suggested to open the issue to track this.

root@barreleye:~# uptime;obmcutil state; cat /etc/os-release
 21:50:54 up 29 min,  load average: 0.38, 0.22, 0.34
 = BMC_STARTING
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-170"
VERSION_ID="v1.99.0

[2016-10-12 14:34] yadlapati commented on #648
System has pass-2 Boxelder

[2016-10-12 15:48] geissonator commented on #638
Sergey, can we cross off some of the above tasks?  Can you provide links within the tasks to the corresponding gerrit code reviews?  Thanks!

[2016-10-12 16:27] yadlapati opened #662 "Witherspoon: Kernel is not getting updated after code update"
Copied image-bmc, image-initramfs and image-kernel to /run/initramfs on w5.aus.stglabs.ibm.com. and issued reboot.  Kernel version did not change.

root@witherspoon:~# uname -a
Linux witherspoon 4.7.0-rc6-b172f8b68d85450a12d4348ee4a006ef8844fe95 #1 Tue Sep 13 18:13:34 UTC 2016 armv6l GNU/Linux
root@witherspoon:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Pr

[2016-10-12 17:07] geissonator commented on #662
@mdmillerii any thoughts on this one?

[2016-10-12 18:09] mdmillerii commented on #662
The build date seems to match the full image name from jenkins

	cuImage--4.7+git0+b172f8b68d-r0-aspeed-bmc-opp-witherspoon-20160913180550.dtb

So it would seem bitbake thought that recipe was up-to-date, or the deploy directory is stale.

[2016-10-12 18:46] ratagupt commented on #643
Oct 10 09:31:58 palmetto settings_manager.py[1302]: use_dhcp_ntp
Oct 10 09:31:58 palmetto settings_manager.py[1302]: Traceback (most recent call last):
Oct 10 09:31:58 palmetto settings_manager.py[1302]:   File "/usr/sbin/settings_manager.py", line 232, in <module>
Oct 10 09:31:58 palmetto settings_manager.py[1302]:     allobjects = create_object(s.SETTINGS)
Oct 10 09:31:58 palmetto settings_manag

[2016-10-12 23:12] gwshan commented on #184
Andrew, thanks for sharing the machine for debugging. I think the BCM57xx
was stuck. After executing below command to reset it, the network is coming
back.

root@barreleye# gpioutil -n "PCIE_RESET" -v 1
GPIO ID: 333; DIRECTION: out
ftgmac100 1e660000.ethernet eth0: NCSI interface down
ftgmac100 1e660000.ethernet eth0: NCSI interface up

root@barreleye# gpioutil -n "PCIE_RESET"
GPIO ID: 333; DIRECT

[2016-10-13 00:48] gwshan commented on #184
I assume the issue happens only after giving a power-cycle to BMC. I used below script doing host power cycle for 200 times. I cannot hit the issue:

let i=0; \
while true; \
   do echo "[$i] Power cycle"; \
   obmcutil poweroff; sleep 1; \
   obmcutil poweron; sleep 5; \
   ping -c 1 -w 3 9.3.23.1; \
   if [ $? -ne 0 ]; then break; fi; \
   i=$[$i+1]; done

[206] Power cycle
 = None
 = None
ftgma

[2016-10-13 04:10] williamli80 commented on #608
@williamspatrick @shenki  Yes.  Milton said that we added a RTC device as 0-0068. (Message 4, openbmc Digest, Vol 6, Issue 43, Feb 11)
[code]

[2016-10-13 04:16] williamli80 commented on #608
And 0-0068 was mentioned here:
[code]

[2016-10-13 06:11] csmart commented on #654
I'll take a crack at this.

[2016-10-13 06:37] gwshan commented on #184
The issue is 100% reproducible on this barreleye machine. I believe two ethernet cables are connected on this machine, @geissonator, please help to confirm. I built private kernel from dev-4.7 and use below commands to do power host on/off. The observed AEN packets are as below:

# GPIO E1 for host's power, high level sensitive
devmem 0x1e780024 32 0x00000002
devmem 0x1e780020 32 0xFFC8F71D

[2016-10-13 08:30] staneyshen commented on #512
Hi @gwshan
Update the test status for your reference.
We used your patches that you provided last week with v1.0.5 for AC Cycle stress test. it passed over 300 cycles, I think the solution works for this issue, we're going to do the test with formal release version again.

[2016-10-13 11:21] gwshan commented on #512
@staneyshen, thank you very much for the continuous testing which is very
time consuming. Sometimes, we just hit the issue for once in one week's
testing. The last kernel (dev-4.7) also needs the fix. I will push it
upstream and then backport it to 4.7 and 4.4 branches. Thanks again for
your efforts on this!

2016-10-13 19:30 GMT+11:00 staneyshen <notifications@github.com>:

[2016-10-13 11:21] ratagupt commented on #635
I verified that in the flash  RO is having the correct passwd file but rw is pointing to the incorrect one.Seems it is a flash update issue..

[2016-10-13 11:28] ratagupt commented on #556
@williamspatrick :- Yes it was intended that we should not give false info to the petiboot,thats why during parsing of the data it got failed as nothing has been set.

[2016-10-13 12:40] geissonator commented on #184
Yes, 2 enet cables are plugged into this system.

[2016-10-13 12:56] gwshan commented on #184
@geissonator, thanks for confirm. I also believe the IP addresses assigned to those two ethernet ports (BMC and OS) are in different LAN, they cannot talk to each other directly. So far, the issue (initially caused by BCM57xx's strange behaviour) and fix are clear. Please wait for the fix to show in dev-4.7 branch. For now, the workaround is: you have to issue two host power-off/on cycle. After th

[2016-10-13 13:39] #551 closed

[2016-10-13 14:01] geissonator commented on #622
https://gerrit.openbmc-project.xyz/#/c/711/

[2016-10-13 14:27] rahulmah opened #663 "[Barreleye VERSION="v1.99.0-170"] Unable to clear network override setting using ipmi"
Network override setting are not getting cleared by ipmi. Below is the command response I am getting while doing so.

[code]
As per journal log, "ValueError: Invalid key or Data" error is raised.

[code]

**BMC FW Info**
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-170"
VERSION_ID="v1.99.0-170-gf735

[2016-10-13 14:33] rahulmah commented on #663
Had a discussion with @vishwabmc on this problem. He will be fixing as part of https://github.com/openbmc/openbmc/issues/644 issue. So closing it.

[2016-10-13 14:33] #663 closed

[2016-10-13 14:46] rahulmah commented on #644
@vishwabmc : As discussed, network setting override which is not getting cleared using ipmi. Please fix this also.

[2016-10-13 15:15] msbarth commented on #652
There will need to be support within the MAX31785 driver for both v1 and v2 of this chip. It is intended to have v2 within Witherspoon, but support for both will be necessary as initial cards will have v1. v2 has an extra 2bytes of data on the tach feedback register(READ_FAN_SPEED_1). The MFR_REVISION can be used to determine which version of the MAX31785 exists.

[2016-10-13 17:59] williamspatrick opened #664 "Milestone: Witherspoon Mfg Stage 2"

[2016-10-13 18:48] geissonator commented on #647
Actually, there's a gpio command line tool they run on the BMC to do the power on, so we need to have that function working.

[2016-10-13 18:53] geissonator commented on #647
This will include any workarounds required for power on.

[2016-10-13 18:55] geissonator commented on #650
Looks like initially we're going to use pdbg to do power on work.  This will track us moving over to openFSI once ready.

[2016-10-13 20:04] geissonator opened #665 "getvpd: FRU VPD into new inventory structures"
phosphor-vpd-eeprom update
- MRW points to an eeprom and gives purpose - @spinler needs to have required info in place
  -- Could potentially hard code the data into the system layer until MRW data is available
- Basically calling a new method in inventory.
- Create some new .yaml files to tell new inventory manager required info

[2016-10-13 20:05] geissonator opened #666 "getvpd: IPMI VPD into new inventory structures"
Requires a list of affected inventory from the MRW (will create separate issue for MRW work).
- This could use hard coded data in system layer until MRW is ready if needed

[2016-10-13 20:05] geissonator opened #667 "getvpd: OpenPower VPD into new inventory structures"
- Just like #665 except we also need to create a parser for the IBM VPD.
- Use hostboot code as reference?

[2016-10-13 20:07] geissonator opened #668 "rtc: Implement real time clock interfaces in new format"
- Implement the approved interface(s) from #719

[2016-10-13 20:08] geissonator opened #669 "power on/off: Implement power on and off interfaces to conform to new design"
- Implement the interface defined in #720

[2016-10-13 20:09] geissonator opened #670 "fw version: Implement get firmware version interface to conform to new design for BMC"
- Implement the approved interface(s) from #722
- Need to tie in with code update vision

Need 2 repos from Patrick, 1 for BMC, 1 for OpenPower.
This story will just track doing BMC for now
MFG can use cronus to dump version partition until we get code update in place.

[2016-10-13 20:10] geissonator opened #671 "bmc state: Implement bmc state interface to conform to new design"
- Implement interface defined in #721

[2016-10-13 21:27] geissonator commented on #648
Blocked on https://github.com/openbmc/openbmc/issues/662 currently with testing this latest kernel on witherspoon.

[2016-10-13 23:35] shenki commented on #650
@geissonator do we have a ticket to track that?

Alistair is about to release a major update to pdbg that improves it's stability. We should target that version for power on.

[2016-10-13 23:38] apopple commented on #650
Hey, for information once OpenFSI is ready I plan on making an OpenFSI backend for pdbg as well. This means the same commands should continue to work with pdbg but using the OpenFSI kernel driver (which will hopefully be quicker/more reliable than bit-banging from userspace :)

[2016-10-13 23:39] shenki commented on #662
I think the bug is "witherspoon hardcoded to crazy old version of the kernel".

I went to add some new config options to our witherspoon kernel config today and noticed it contained it's own .bb for the kernel that pinned it to a very old version.

https://gerrit.openbmc-project.xyz/761

[2016-10-13 23:39] geissonator commented on #650
Good stuff guys, this work is tracked in https://github.com/openbmc/openbmc/issues/647.  pdbg is currently only in the debug tarball, we're going to bring it into the main image with that issue and run the appropriate scripts to get power on working.

[2016-10-13 23:46] shenki commented on #647
We will want to move to the latest pdbg.

@apopple will also be making a new tagged release soon, so ideally that will be the version we use

[2016-10-14 02:34] mine260309 commented on #608
I tried to add `0-0068` in HWMON_CONFIG as rtc's temperature, and the issue is gone:
[code]

@williamli80 @williamspatrick Could you kindly help to check if it is the solution for this bug?

[2016-10-14 03:02] madscientist159 commented on #315
I think we're hitting this issue on our Firestone machine; certain PCIe cards directly attached to the CPUs (i.e. not via the PCIe bridge) are randomly working / not working after power down / power up (actually, they seem to fail over 80% of the time).

Will try the patch from @adamliyi shortly but I share the same concerns in general about us patching something we already have control over -- Pa

[2016-10-14 03:16] shenki commented on #608
This looks okay to me. @mine260309 I suggest you submit a patch in Gerrit

[2016-10-14 03:55] mine260309 commented on #608
Submitted to gerrit: https://gerrit.openbmc-project.xyz/#/c/764/

[2016-10-14 05:40] gkeishin opened #672 "[Barreleye VERSION="v1.99.0-172"] pam_unix(passwd:chauthtok): unrecognized option [obscure]"
root@barreleye:/tmp# journalctl --no-pager | grep 901
Oct 11 10:54:23 barreleye passwd[901]: pam_unix(passwd:chauthtok): unrecognized option [obscure]
Oct 11 10:54:23 barreleye passwd[901]: pam_unix(passwd:chauthtok): unrecognized option [obscure]
Oct 11 10:54:52 barreleye passwd[901]: pam_unix(passwd:chauthtok): conversation failed
root@barreleye:/tmp#

root@barreleye:/tmp# cat /etc/version
20161

[2016-10-14 06:49] mine260309 commented on #600
Some information:
* `hwmon4` points to `i2c-4/4-0010/hwmon/hwmon4`
* `hwmon5` points to `i2c-5/5-0010/hwmon/hwmon5`

And from `Barreleye.py`:
[code]

Check what `hwmon4` has:
[code]
So,
1. The interval is 5s, which is OK and consistent with the log;
2. The `in2_input` does not exist in `hwmon4` or `hwmon5`, that's why the logs shows `Cannot read attributes: /sys/class/hwmon/hwmon4/in2_input`.

[2016-10-14 07:13] adamliyi commented on #315
@madscientist159 , please note the patch: "https://github.com/openbmc/openbmc/blob/master/meta-openbmc-machines/meta-openpower/meta-ibm/meta-firestone/recipes-phosphor/skeleton/skeleton/0001-Add-power-control-support-for-the-Garrison-system.patch", has been removed in git master. I am working to updating my patch.

[2016-10-14 07:29] legoater commented on #662
I have a recent kernel tree with a couple of patches (mostly Milton's) adding flash support for the ast2500

https://github.com/legoater/linux/commits/openbmc-4.7

I gave them a good test on a palmetto and witherspoon. But I am still on a 4.7.3 as 4.7.6 has some
timing issue with the SPI NOR flash. Need to investigate.

[2016-10-14 07:33] legoater commented on #662
It is running on w1 currently.

[2016-10-14 07:36] Youngzhong commented on #666
Do you need help?

[2016-10-14 07:53] shenki commented on #662
Wrong bug @legoater :) Open a new one for your ast2500 flash. We can update the kernel again once they are merged.

@yadlapati can you please try https://openpower.xyz/job/openbmc-build-gerrit-trigger-multi/811/ to see if it resolves your issue?

[2016-10-14 08:16] legoater commented on #662
@shenki: ok. will do on the kernel component. sorry for the noise.

[2016-10-14 09:01] adamliyi commented on #600
@shenki , looks the dev-4.7 kernel does not include my adm1278 patch
https://github.com/openbmc/linux/pull/80/commits/e337f8eef44c37d0611ff63763d7e3ff7511e9dc
 to fix issue: https://github.com/openbmc/linux/issues/71.

Will you apply that patch, or I can submit a new patch for dev-4.7.

[2016-10-14 09:11] adamliyi commented on #608
Curious about the name *temperature/rtc*, what sensor is this? A temperature sensor for RTC? We might need to choose a proper name for the object.

[2016-10-14 09:25] shenki commented on #600
@adamliyi thanks for catching this. I have added the patch to dev-4.7.

We should submit it upstream too

[2016-10-14 09:44] gkeishin commented on #672
I observe this in general with Useradd requests

[2016-10-14 10:13] shenki commented on #608
It's a temperature sensor that is part of the same IC as the RTC. I guess it's actually the ambient temperature?

[2016-10-14 10:19] shenki commented on #600
https://lkml.org/lkml/2016/10/14/132

[2016-10-14 12:51] yadlapati commented on #662
New build is working with images from https://openpower.xyz/job/openbmc-build-gerrit-trigger-multi/811/distro=ubuntu,target=witherspoon/artifact/images/witherspoon:

root@witherspoon:~# uname -a
Linux witherspoon 4.7.7-9fc87f9c1103ad94063f2a819f21117c166e059d #1 Thu Oct 13 23:47:11 UTC 2016 armv6l GNU/Linux

[2016-10-14 13:22] rahulmah opened #673 "[Palmetto VERSION="v1.99.0-172"] BMC MAC Address is changing after reboot"
MAC Address is changing after doing reboot from BMC CLI.  Seen this problem with Palmetto at present.

**System was having MAC Address as 6E:B6:4C:EA:24:76**
[code]
**Trigger Reboot using "reboot" from BMC CLI**

After reboot, BMC came back to login prompt after 1 mins. But system IP was pingable after around 6 mins. Debuged and found that **MAC address has changed to 4E:E7:D2:7A:DB:CD after reboo

[2016-10-14 14:25] madscientist159 commented on #315
@adamliyi I did see that shortly after commenting.  Do you know when you might have an updated patch?

[2016-10-14 15:04] #662 closed

[2016-10-14 15:16] spinler commented on #648
@williamspatrick Why did you close this? Witherspoon.py is still outdated.

[2016-10-14 16:29] gkeishin opened #674 "[Barrreleye] Build #301-7ad75ece9a21f1 (Oct 14, 2016 3:21:27 PM) Update failed"
``` Post update booting ... the update hung at login prompt ```

https://openpower.xyz/job/openbmc-build/301/
Changes
Git (git https://github.com/openbmc/openbmc.git)
    meta-obmc-machines: Witherspoon kernel override (commit: 0df9bcf) (detail)
    meta-phosphor: Remove outdated linux-obmc_4.6.bb (commit: 7ad75ec) (detail)

[  OK  ] Reached target System Time Synchronized.
[  OK  ] Started Clear

[2016-10-14 17:34] ratagupt commented on #635
We verified today that after doing a full code update this issues goes away as in the normal code update persistent files doesn't get update....

[2016-10-14 18:26] mdmillerii commented on #673
@rahulmah this says it came back with the same MAC `HWaddr 6E:B6:4C:EA:24:76`

... although the dmesg says otherwise:
[code]

[2016-10-14 18:43] williamspatrick commented on #648
Ugh. It got closed because @shenki put "fixes #648" in his commit message, which it obviously doesn't.  Reopened.

[2016-10-14 20:33] mdmillerii commented on #635
@ratagupt contacted me on a chat medium and pointed out the RO file system `/etc/passwd` was updated with an additional user but the overlay in the RW file system did not see this.

Since `/etc/passwd` is in the preserved files whitelist, updates to the base file are not updated in a normal update.  Only if the `clear_persistent_files` option is selected when the `rwfs` is supplied (either via a f

[2016-10-15 03:00] ratagupt commented on #673
@rahulmah :- did you paste the correct ifconfig output after reboot,I remember the ifconfig was showing different macaddress after reboot..Can you check once more and update the issue?

[2016-10-15 03:22] rahulmah commented on #673
@ratagupt : Yeah did not pasted it correctly. Corrected now.

[2016-10-16 03:14] adamliyi commented on #315
@madscientist159, I should be able to finish before 10/18. If you could try on older code base, using my previous patch - just to verify the patch can really fix your issue, that would be great. I have no Firestone at hand so I don't know how to tell the PCIe devices working or not.

[2016-10-16 17:55] anoo1 opened #675 "phosphor-dbus-interfaces: Provide interface for dbus object"
See Brad's comment under: https://gerrit.openbmc-project.xyz/#/c/733/1/log_manager.c

[2016-10-17 00:01] williamspatrick commented on #675
This should effectively be done as part of that original work (certainly for all new interfaces going forward), but we could also do this at the point that we do the refactoring to the sdbus interfaces.

[2016-10-17 07:13] mine260309 commented on #600
As @adamliyi 's suggest, I tried [v2-0001-hwmon-adm1275-Enable-adm1278-VOUT-sampling.patch](https://ozlabs.org/~joel/v2-0001-hwmon-adm1275-Enable-adm1278-VOUT-sampling.patch), and it works fine: `in2_input` becomes available for both `hwmon4` and `hwmon5`.

@shenki Would you help to apply the patch to linux-obmc and close this issue?

[2016-10-17 07:43] mine260309 commented on #608
@shenki Do you know where (and how) to get the information about the sensor, so that we can give it a proper name?

It's noticed that Barreleye has the same issue (`Unhandled hwmon: /sys/class/hwmon/hwmon0/`), and Barreleye has the same RTC on the same i2c address as Palmetto, so this change applies to Barreleye as well.

I will update my review to change both `Barreleye.py` and `Palmetto.py`, but

[2016-10-17 08:18] adamliyi commented on #315
Hi @madscientist159 , I just updated the patch at: https://gerrit.openbmc-project.xyz/#/c/414/ and https://gerrit.openbmc-project.xyz/#/c/415/.  Please have a look. I tried it with github master head on Firestone, but host CPU still cannot boot. Looks the fix for https://github.com/openbmc/openbmc/issues/533 still not merged. Please let me know if you have any issue.

[2016-10-17 08:25] gkeishin opened #676 "[Barreleye VERSION="v1.99.0-173"] System Network Un reachable when Powered ON"
The system went offline from network when powered on.  The system can back online on reboot only.

The system was still able to be accessed from Serial Console and not from other session outside.

Driver and build details
https://openpower.xyz/job/openbmc-build/300/

root@barreleye:~# cat /etc/version
20161014150717
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC

[2016-10-17 08:39] shenki commented on #608
I don't know anything about our naming schemes. I think the name in the patch is okay for now.

@bradbishop do you have feedback here?

[2016-10-17 08:40] shenki commented on #600
This patch has been submitted upstream. I will wait for upstream review before backporting it to our repository; I expect this to happen in the next day or so.

[2016-10-17 10:17] rahulmah commented on #673
@mdmillerii : I have reproduce the issue with same build and captured all the logs which you have asked. This time MAC address was changed from CE:C8:22:C9:BA:A4 to 22:F6:B7:6F:7C:8B after reboot.

fw_printenv output from the system is as below. Serial console (which I guess has required u-boot data) and other logs from the system are attached below.

[code]

[dmesg_MAC_Change.txt](https://github.

[2016-10-17 12:21] geissonator commented on #676
George, is this BarPVT?  If so, this is a known issue due to it's enet config and Gavin is working on a fix in https://github.com/openbmc/openbmc/issues/184 (just read the last few entries).

[2016-10-17 12:28] gkeishin commented on #676
@geissonator Yes that's on BarPVT..  Closing this issue then since https://github.com/openbmc/openbmc/issues/184 is going to address this..

[2016-10-17 13:50] williamspatrick commented on #600
@shenki - Please add a commit to openbmc with a kernel update when you have it merged so this closes out.

[2016-10-17 18:16] madscientist159 commented on #533
Be advised that hostboot still fails due to hostboot commit https://github.com/open-power/hostboot/commit/1fbe5e7bf5042ee9e7353a169d13eec54c270f04 as noted in https://github.com/open-power/hostboot/issues/53 .  This issue is still being worked on at IBM.

[2016-10-17 19:01] mdmillerii commented on #673
Your `fw_printenv` output shows the MAC address is not set in `ethaddr`.  Since `palmetto` does not have an inventory item with the MAC address you need to set the mac address either directly in the environment or through REST.

[2016-10-17 19:26] madscientist159 commented on #315
@adamliyi Unfortunately a quick update to the latest OpenBMC version seems to have caused more problems than expected.  This is going to have to wait until I can get time to debug Firestone again, and this probably won't happen until some kind of resolution to https://github.com/open-power/hostboot/issues/53 has been found.

[2016-10-17 19:27] madscientist159 commented on #315
@adamliyi That being said, your patch looks like it should do the right thing.  Further comments are on Gerrit.

[2016-10-17 19:31] anoo1 opened #677 "docs: Create tutorial doc for journal logging and BMC error reporting"

[2016-10-18 03:10] williamspatrick commented on #677
Should this be inside docs or inside the error log / trace interface repository?  I would lean towards the repository itself.

[2016-10-18 03:30] mine260309 commented on #608
The review is updated to modify both Palmetto.py and Barreleye.py

[2016-10-18 03:45] shenki commented on #184
Gavin has submitted a series upstream for review. Once he sends v2, we can backport those changes to our dev-4.7 tree.

https://patchwork.ozlabs.org/patch/682097/
https://patchwork.ozlabs.org/patch/682098/
https://patchwork.ozlabs.org/patch/682099/
https://patchwork.ozlabs.org/patch/682101/
https://patchwork.ozlabs.org/patch/682100/

[2016-10-18 03:59] sivassrr commented on #661
It will be helpful if we get update on the same.

[2016-10-18 06:49] shenki commented on #600
https://gerrit.openbmc-project.xyz/#/c/819/

[2016-10-18 06:58] mine260309 commented on #653
From https://patchwork.kernel.org/patch/9291515/, it looks like current driver `drivers/hwmon/pmbus/ucd9000.c` can be used to support ucd90160.

So what I plan to do is:
1. Apply the above patch to current build;
2. Add `ucd90160` at `i2c-11` in device tree;

Then I expect the driver should just work.
@shenki could you kindly help to check what the i2c address does `ucd90160` connect to? Is it 0x6

[2016-10-18 07:56] shenki commented on #653
@mine260309 Good discovery.

I do not know what address the part is at. @spinler might be able to help us there.

[2016-10-18 08:17] shenki commented on #653
@mine260309 The patch looked good to me, so I pulled it into the kernel. See https://gerrit.openbmc-project.xyz/#/c/819/

[2016-10-18 12:45] gkeishin commented on #635
Tried with clearing the persistent but stills the problem..

[  OK  ] Reached target Login Prompts.
[  OK  ] Started Startup Hacks.
[FAILED] Failed to start Avahi mDNS/DNS-SD Stack.
See 'systemctl status avahi-daemon.service' for details.
[  OK  ] Started Network Service.
[  OK  ] Reached target Multi-User System.
[  OK  ] Reached target Network.
[  OK  ] Started Phosphor Inband IPMI.

Phosphor Op

[2016-10-18 12:52] ratagupt commented on #635
I just verified that this option didn't clear the persistent file...

[2016-10-18 12:54] ratagupt commented on #635
root@barreleye:~# ls -la /etc/passwd
-rw-r--r--    1 root     root          1030 Feb 29  2016 /etc/passwd
root@barreleye:~# ls -la /etc/group
-rw-r--r--    1 root     root           670 Feb 29  2016 /etc/group

[2016-10-18 13:00] gkeishin commented on #674
@williamspatrick  Anyone seen this or reported by others..  The PDU cycle also didn't bring back the system...

[2016-10-18 13:27] spinler commented on #653
Yea, it is 0x64 on i2c11

[2016-10-18 13:49] #381 closed

[2016-10-18 13:49] williamspatrick commented on #381
Work completed.

[2016-10-18 14:14] shenki commented on #429
I can't see any commits that add the tests for this code

[2016-10-18 14:18] shenki commented on #381
What did we end up going with?

Did we implement a project as an example?

[2016-10-18 15:19] shenki commented on #654
There is upstream support in 4.9:

https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=eff6675b5cc191308c0144dcd5dd2b49257e83d7

[code]

We need to pull this into dev-4.7 so we can use it on Witherspoon, as well as adding it to the kernel configuration and device tree.

@csmart, we will need to find you a different driver to hack on

[2016-10-18 15:50] shenki commented on #652
Upstream discussion: http://www.spinics.net/lists/linux-hwmon/msg00884.html

[2016-10-18 16:21] gkeishin commented on #676
We hit this on again on different system BarPVT   while we were validating the https://gerrit.openbmc-project.xyz/#/c/819/   build https://openpower.xyz/job/openbmc-build-gerrit-trigger-multi/848/

root@barreleye:~# cat /etc/version
20161018080832
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-176"
VE

[2016-10-18 16:22] gkeishin commented on #676
@shenki and @gwshan Could you folks take a look at this..

[2016-10-18 16:33] williamspatrick commented on #381
Yes.  The host-ipmid package.

[2016-10-18 16:44] gkeishin commented on #657
This seems to be intermittent.. If seen in latter will re-open..

[2016-10-18 17:47] geissonator commented on #676
@gwshan We'll leave BarD-04 in the fail state for you to look at.  You should have all the access info.  Similar symptom where we lost network when we power on.  I'll ask someone to confirm it has 2 enet cables plugged in.

[2016-10-18 17:56] geissonator commented on #676
Bashem confirmed it had an eth1 cable plugged in, he unplugged it and everything started working again.  For now we'll just leave it unplugged, we can test your fix on BarPVT once available.

[2016-10-19 02:00] shenki commented on #676
I logged into BarD-04 and the networking was working fine. Can you clarify what the issue is, and how to reproduce it?

[2016-10-19 02:05] geissonator commented on #676
Same issue as BarPVT, it had 2 enet cables plugged in, one to eth0 and one to eth1.  During power on, eth0 seems to toggle it's enet connection so it fails over to eth1, which is not setup to use the IP address info from eth0...so we end up with no network.  We fixed BarD-04 today by just unplugging the enet cable to eth1.  I believe @gwshan has a fix coming for this.

[2016-10-19 02:08] gwshan commented on #676
we should have a fix and it is being pushed upstream. After that, I will
port it to dev-4.7.

2016年10月19日 下午1:00，"Joel Stanley" <notifications@github.com>写道：

[2016-10-19 02:11] shenki commented on #676
Okay, this is a dupe of https://github.com/openbmc/openbmc/issues/184 as mentioned in comment https://github.com/openbmc/openbmc/issues/676#issuecomment-254193427

Lets track it in there

[2016-10-19 02:11] #676 closed

[2016-10-19 02:14] geissonator commented on #676
@williamspatrick was concerned we were just kind of dumping all network related issues into #184 .  This is a very specific issue you only hit with eth0 and eth1 cables plugged in.

[2016-10-19 02:41] shenki commented on #676
@geissonator Yeah, agreed. We will stop re-opening #184 once we land those patches I think

[2016-10-19 19:32] spinler opened #678 "Need PCA9552 device driver support for both LEDs and GPIOs"
The 9552 chip is connected to both GPIOs and LEDs, so the driver would need to handle both.  The existing leds-pca955x driver only handles LEDs, and I don't believe it handles user selectable blink rates.

[2016-10-20 03:15] williamspatrick commented on #341
Closed via https://gerrit.openbmc-project.xyz/#/c/53/ : [phosphor-logging] anoo1 91da453 - Add logging log template

[2016-10-20 03:15] #341 closed

[2016-10-20 03:15] #536 closed

[2016-10-20 03:15] #535 closed

[2016-10-20 03:32] csmart commented on #654
\o/

[2016-10-20 06:34] mine260309 commented on #538
I'm not quite sure, but it looks like commit 0df9bcf9 removes the patch `0001-Add-flash-and-layout-to-Witherspoon-devtree.patch`, but the changes are not committed to linux-obmc, and the `host-pnor` device is missing.

[2016-10-20 07:31] williamli80 commented on #439
Waiting for review: https://gerrit.openbmc-project.xyz/#/c/306/

[2016-10-20 08:58] adamliyi commented on #585
I tried to restart obmc-console-ssh.socket by doing:
[code]
Changing obmc-console-ssh.socket to:

[code]
Can solve the above `Unit obmc-console.service not found. `error - is that an issue?

[2016-10-20 10:00] mine260309 commented on #653
I can confirm that with the above changes (including kernel, device tree, and kernel config), 0x64@i2c-11 does work, and then we have `/sys/class/hwmon/hwmon0` linked to `../../devices/platform/ahb/ahb:apb/1e78a000.i2c/i2c-11/i2c-11/11-0064/hwmon/hwmon0`.

@shenki currently the changes to kernel and device tree are done by a patch put under `meta-openbmc-machines/meta-openpower/meta-ibm/meta-withe

[2016-10-20 14:26] rahulmah commented on #673
@mdmillerii : Okay. Let me try to set MAC using REST and see if it persist on reboot.

[2016-10-20 15:45] bradbishop commented on #633
'find an existing or implement  'hostboot done' signaling mechanism:

[code]

[2016-10-20 15:47] bradbishop commented on #633
'find an existing or implement IPMI up/down signaling mechanism'

Just going to use a power off signal for now.  Marking task as done.

[2016-10-20 15:55] mdmillerii commented on #633
One thing to be aware of, `HOST_BOOTED` is issued by both hostboot handing off control to skiboot and skiboot handing off control to the petitboot linux kernel.

Also, should this be moved elsewhere when/if the signal for this sensor is added for the [pci reset handling](https://gerrit.openbmc-project.xyz/#/c/415/)?

[2016-10-20 16:44] bradbishop commented on #633
Thanks for the heads up @mdmillerii.

Sure.  At this point I just wanted to establish that there was in fact something usable as a first-pass attempt making this work.  If I've done it correctly..moving to a different signaling mechanism later should be easy.

[2016-10-20 16:45] bradbishop commented on #633
'Find an existing or implement a coldplug finished signaling mechanism'

systemd emits plenty of signals for this.  the trick is at least one client has to have called 'subscribe' (and that client has to stay connected).

Marking task as done.

[2016-10-20 17:26] #586 closed

[2016-10-20 18:33] fspbld opened #679 "create symlink for <platform>.all.tar file"
To allow for easier consumption by the automated tools, please update the make process to create a symlink for the <platform>.all.tar file to point to the <platform>-<timestamp>.all.tar

[2016-10-20 18:35] fspbld commented on #679
should  be xxx.all.tar link to the xxx-timestamp.all.tar  (it lost my special characters)

[2016-10-20 19:21] #504 closed

[2016-10-20 19:22] #608 closed

[2016-10-20 23:16] gwshan commented on #184
Couple of patches that have been put into Dave's git repo ("net" branch) and should reach upstream shortly. I also backported and posted them for our dev-4.7 branch. For the particular issue (network lost after power host on) should be fixed by below one:

https://patchwork.ozlabs.org/patch/684803/

If possible, please close this one and create new bug when having further issue with NCSI stack. It

[2016-10-21 00:51] gwshan commented on #512
A series backporting fixes from upstream or linux.net git repo has been posted. Great thanks again to Staney and John for their continuous testing:

https://patchwork.ozlabs.org/patch/684813/

[2016-10-21 00:53] #600 closed

[2016-10-21 00:57] shenki commented on #653
The kernel part has landed in dev-4.7, and as of bf18e18d4d8ba9cdf608438641de7cbe69f3490a it is part of the openbmc build.

The next step is to submit a change to our device trees to enable this driver.

[2016-10-21 02:38] #475 closed

[2016-10-21 02:40] #619 closed

[2016-10-21 03:08] shenki commented on #538
Lets close this bug. The pflash that was being used in the original report did not have support for the ast2500, which I missed at the time.

The work to enable the ast2500 PNOR controller is tracked in https://github.com/openbmc/linux/issues/100

[2016-10-21 03:17] williamspatrick commented on #538
This bug was converted into an epic to track all the pieces we need to update and control PNOR for Witherspoon power on.  We need to keep it open until we are certain PNOR "works".

Outstanding work items I see:

- [] kernel support for SPI controller.
- [] corresponding device tree updates
- [] update to pflash to utilize mtd interface.
- [] openbmc/skeleton : op-flasher/flasher_obj.c can utilize

[2016-10-21 05:04] adamliyi commented on #585
Committed a patch here: https://gerrit.openbmc-project.xyz/#/c/874/1

[2016-10-21 06:24] shenki commented on #654
@spinler What's the i2c address of this part?

[2016-10-21 06:45] mine260309 commented on #653
@shenki let me know when openbmc's linux version is updated, and then I will update `witherspoon.cfg` to enable `CONFIG_SENSORS_UCD9000`

[2016-10-21 07:01] shenki commented on #653
The change has been posted for review:

https://gerrit.openbmc-project.xyz/#/c/876/

You can pull that change into your branch and submit a change to enable the driver in Witherspoon.

[2016-10-21 13:11] gkeishin commented on #674
Newer builds works just fine. so there are few post this and working good.. so closing this.

[2016-10-21 13:11] #674 closed

[2016-10-21 13:11] #184 closed

[2016-10-21 15:39] GHF opened #680 "Add Zaius board in U-Boot"
Create a U-Boot target, board support, device tree, etc for Zaius. @maksymko is already working on this in his branch: https://github.com/maksymko/u-boot

This will let us avoid machine-specific build patches.

[2016-10-21 20:48] geissonator opened #681 "getvpd: Generate required data for VPD from MRW"
FRU, IPMI, and OpenPower VPD inventory objects will require information from the MRW.  This issue tracks getting that data into the MRW and then into a format that these objects can consume.

[2016-10-21 20:51] geissonator opened #682 "getvpd: Define dbus interface for FRU vpd inventory"

[2016-10-21 20:52] geissonator opened #683 "getvpd: Define dbus interface for IPMI vpd inventory"
This is a pre-req to #666
The goal is a documented and approved interface for IPMI vpd inventory.

[2016-10-21 20:53] geissonator opened #684 "getvpd: Define dbus interface for OpenPower vpd inventory"
This is a pre-req to #667
The goal is a documented and approved interface for OpenPower vpd inventory.

[2016-10-22 04:37] williamli80 opened #685 "IPMI LAN cmd parameter - IPv4 Header Parameters"
Refers to #444

[2016-10-22 04:43] williamli80 opened #686 "IPMI LAN cmd parameters - Primary/Secondary RMCP Port (optional)"
Parameter number : 8/9.
Refers to #444

[2016-10-22 04:46] williamli80 opened #687 "IPMI LAN cmd parameters - ARP(optional)"
IPMI LAN Command Parameter          Number
BMC-generated ARP control (optional)    10
Gratuitous ARP interval (optional)          11

Refers to #444

[2016-10-22 04:53] williamli80 opened #688 "IPMI LAN cmd parameters - Gateway related"
IPMI LAN Command Parameter  Number
Default Gateway MAC Address         13
Backup Gateway Address                  14
Backup Gateway MAC Address         15

Refers to #444

[2016-10-22 04:54] williamli80 opened #689 "IPMI LAN cmd parameter - Community String(Num 16)"
Refers to # #444

[2016-10-22 04:57] williamli80 opened #690 "IPMI LAN cmd parameters - Destinations related"
IPMI LAN Command Parameter                                          Number
Number of Destinations( Read Only )                                 17
Destination Type (volatile / non-volatile – see description ) 18
Destination Address                                                                 19

Refers to #444

[2016-10-22 05:02] williamli80 opened #691 "IPMI LAN cmd parameters - RMCP+ introduced"
IPMI LAN Command Parameter  Number
802.1q VLAN ID (12-bit) 20
802.1q VLAN Priority    21
RMCP+ Messaging Cipher Suite Entry Support( Read Only ) 22
RMCP+ Messaging Cipher Suite Entries( Read Only )   23
RMCP+ Messaging Cipher Suite Privilege Levels   24
Destination Address VLAN TAGs   25
Bad Password Threshold  26
IPv6/IPv4 Support   50
IPv6/IPv4 Addressing Enables    51
IPv6/IPv4 Header Static Tr

[2016-10-22 05:20] williamli80 opened #692 "IPMI LAN cmd parameters - Dynamic Router Info"
IPMI LAN Command Parameter  Number
Number of Dynamic Router Info Sets  73
IPv6 Dynamic Router Info IP Address 74
IPv6 Dynamic Router Info MAC Address    75
IPv6 Dynamic Router Info Prefix Length  76
IPv6 Dynamic Router Info Prefix Value   77
IPv6 Dynamic Router Received Hop Limit  78
IPv6 Neighbor Discovery / SLAAC Timing Configuration Support    79
IPv6 Neighbor Discovery / SLAAC Timing Configura

[2016-10-22 05:28] williamli80 opened #693 "IPMI LAN cmd OEM parameters"
IPMI LAN Command Parameter  Number
OEM  parameters                             192:255

Refers to #444

[2016-10-24 01:18] amboar commented on #661
At least the hwmon flood should be resolved by the kernel bump committed recently: https://github.com/openbmc/openbmc/issues/600

[2016-10-24 02:50] mine260309 commented on #653
`witherspoon.cfg` change has been posted for review:
https://gerrit.openbmc-project.xyz/#/c/881/

[2016-10-24 03:24] shenki commented on #569
This has been resolved.

[2016-10-24 03:24] #569 closed

[2016-10-24 03:27] shenki opened #694 "Move to upstream IPMI BT driver"
Linux 4.9-rc2 contains our upstream IPMI BT driver.

We should move to this driver, which changes the location of the character device node. Cedric has patches for this.

We should move to matching on the device with udev instead of hardcoding, if that is appropriate.

[2016-10-24 03:28] shenki commented on #694
- [ ] Revert the old driver and commit the new
- [ ] Update the device tree
- [ ] Move userspace to the new API

The last step should include the bumping of the kernel so we do not break the build.

[2016-10-24 04:50] sivassrr commented on #429
@shenki Partially implemented using https://gerrit.openbmc-project.xyz/#/c/395/

[2016-10-24 05:33] shenki commented on #429
@sivassrr those are integration tests, which is good

I expect to see unit tests too.

[2016-10-24 09:02] legoater commented on #694
you will find a backport of the mainline kernel patches and an update of the device tree here :

  https://github.com/legoater/linux/commits/openbmc-4.7-ipmi-bt

and an updated version of btbridged for the new kernel :

https://github.com/legoater/btbridge/commits/master

The ```btbridged``` tree also includes an extension adding a ```--device <FILE>``` command line option which can be used by to

[2016-10-24 09:16] williamli80 opened #695 "Get Chassis Status cmd - Current Power State - need to implement parameters"
power control fault
power fault
interlock
Power overload

Refers to #439

[2016-10-24 09:18] williamli80 opened #696 "Get Chassis Status cmd - Last Power Event - need to implement parameters"
Refers to #439

[2016-10-24 09:20] williamli80 opened #697 "Get Chassis Status cmd - Misc Chassis State - need to implement parameters"
Refers to #439

[2016-10-24 09:28] williamli80 opened #698 "Get Chassis Status cmd - Front Panel Button Capabilities and disable/enable status - need to implement parameters"
Refers to #439

[2016-10-24 11:44] prkatti1 opened #699 "Critical issue reported by Nessus security scanner"
These are vulnerabilities reported by nessus on openbmc

Severity Plugin Id Name
Critical (10.0) 93650 Dropbear SSH Server < 2016.72 Multiple Vulnerabilities
High (7.8) 80101 IPMI v2.0 Password Hash Disclosure
Medium (6.4) 51192 SSL Certificate Cannot Be Trusted
Medium (6.4) 57582 SSL Self-Signed Certificate
Medium (4.3) 85582 Web Application Potentially Vulnerable to Clickjacking

[2016-10-24 12:21] rahulmah opened #700 "[Palmetto- v1.99.0-212-gf1c10dd] : Present, fault, fru_type, is_fru and version fields are missing from some dimm"
In Palmetto, presence detect filed "present" is not available for dimm3. While for other dimm like dimm0, dimm1 and dimm2, it is present. This problem was not seen earlier. It is recently seen with recent build on Palmetto.

Same problem is not seen on Barelleye system.

**DIMM3 URI output**

[code]

**DIMM2 URI output**

[code]

**Openbmc Fw info**
root@palmetto:/tmp# cat /etc/os-release
ID="open

[2016-10-24 13:43] spinler commented on #654
0x32 (7 bit)

[2016-10-24 13:48] eddiejames commented on #625
Task list:

- [ ] implement the different P9 data structures in the OCC driver (different sensor formats, etc)
- [ ] mock up or obtain P9 OCC poll response data
- [ ] create quick test framework to read in and parse P9 OCC poll response data

[2016-10-24 13:53] tk-wfischer commented on #605
@kachini Could it be that you are in fact using a 2U [TYAN TN71-BP012 (codename "Habanero")](http://www.tyan.com/solutions/tyan_openpower_system.html) system? This system comes with a AMI based BMC-firmware. The "Habanero" system is similar to "Palmetto", but in details they differ so for "Habanero" a different OpenPOWER firmware must be used. For OpenBMC, I'm not sure whether or not it will run o

[2016-10-24 14:51] gkeishin opened #701 "[Barreleye build 313] Kernel broken on BARE-01"
root@barreleye:~# cat /etc/version
20161024050430

jffs2: jffs2_scan_eraseblock(): Magic bitmask 0x1985 not found at 0x00387fa4: 0xc142 instead
jffs2: jffs2_scan_eraseblock(): Magic bitmask 0x1985 not found at 0x00387fa8: 0xc142 instead
jffs2: Further such events for this erase block will not be printed
jffs2: error: (379) jffs2_link_node_ref: Adding new ref de66ed98 at (0x00388008-0x0038804c) not

[2016-10-24 14:53] gkeishin commented on #701
https://openpower.xyz/job/openbmc-build/313/
meta-zaius: Patch U-Boot to enable BMC networking (commit: 266af44) (detail)

[2016-10-24 17:07] mjturek opened #702 "Building qemuarm image on Ubuntu 16.10 fails"
I have been having trouble building the qemuarm image on Ubuntu 16.10

First I run:
[code]
Which eventually fails with the following error:

[code]

What seems to be happening is that the -Werror flag is set, which causes the elfutils compile to fail due to some pretty benign warnings (bad indentation on the 'if' and 'switch' statements).

I haven't tried any other environments, so it could just b

[2016-10-24 17:23] geissonator commented on #701
From Patrick: "We might need to check with @mdmillerii  on it.  There was a patch he had in the older kernel and I wonder if that got dropped with the new NOR support."

[2016-10-24 17:30] msbarth opened #703 "systemd dependency missing from network recipe"

[2016-10-24 19:54] mdmillerii commented on #701
Last time the device tree node wasn't passed to the spi-nor layer and that enabled fast-read in the nor chip but there was no support in the linux driver code, causing a 1 byte shift in all data read.

[2016-10-24 21:21] agangidi53 commented on #605
@tk-wfischer
In your 1st step of compiling the openBMC for Firestone you would pass the corresponding config for "firestone" in the commands specified my blog post:

So:
cd openbmc
TEMPLATECONF=meta-openbmc-machines/meta-openpower/meta-ibm/meta-firestone/conf . oe-init-build-env
bitbake obmc-phosphor-image

Everything else remains the same.

[2016-10-24 22:58] williamspatrick commented on #605
We do not support Habenaro. That is a different board from Palmetto and Firestone. We are limited as a team with how many boards we have bandwidth to support considering none of those are shipped as a real OpenBMC-based product.

[2016-10-24 23:45] amboar commented on #702
Looks like this series should resolve the issue:

https://patchwork.openembedded.org/series/433/

Original pull-request here:

https://patchwork.openembedded.org/patch/127137/

[2016-10-24 23:48] shenki commented on #702
@mjturek I encourage you to submit those patches to gerrit as backports to our tree

[2016-10-25 00:57] amboar commented on #701
I tried to reproduce the issues on a palmetto, so grabbed the palmetto images from build 313. The `magic bitmask` issues appeared, but the rw filesystem mounted successfully (i.e. no segfault occurred in this case).

[code]

[code]

[2016-10-25 01:26] anoo1 opened #704 "Barreleye: Do not boot BMC if MAC address is not set instead of setting random MAC"
@agangidi53 reports that there has been some issues at Barreleye datacenters where systems booting with the same random mac address cause network issues and systems are unreachable.
Therefore this is a request to change the bmc fw logic from setting a random mac when mac is not set, to not letting the BMC boot. Adi will provide further details on the desired behavior.

[2016-10-25 01:36] amboar commented on #701
Given:

* `jffs2: Perhaps the file system was created with the wrong erase size?` in the output above
* 313 is built from openbmc/openbmc@266af4458b1b2b3c06d3330f5e20f4aa4aa9fb88,
* which builds a kernel at openbmc/linux@79bcff668f9903e191391979c2d46ebceed0f29f
* which is a patch that apparently [breaks existing jffs filesystems on such flash devices](https://lists.ozlabs.org/pipermail/openbmc/201

[2016-10-25 03:12] shenki opened #705 "Phosphor LED Management Daemon restarting"
Using https://openpower.xyz/job/openbmc-build/311/distro=ubuntu,target=witherspoon/artifact/images/images/images/witherspoon/

Where HEAD is https://github.com/openbmc/openbmc/commit/c4fb73e744d4eb7dc845031dec9aa0543652c02f I see this when booting the BMC:

[code]

[2016-10-25 03:15] shenki commented on #701
I tested https://openpower.xyz/job/openbmc-build/311/ which introduced the new kernel patches on a Witherspoon. I could not reproduce the issue.

@amboar will repeat on a palmetto, in case it's an ast2400 specific issue.

[2016-10-25 05:25] amboar opened #706 "Timeout waiting for VUART, fail to reach getty on console"
I've encountered the failure to reach a getty a number of times now on a Palmetto, running openbmc/openbmc@266af4458b1b2b3c06d3330f5e20f4aa4aa9fb88:

[code]

Full boot log:

[code]

[2016-10-25 05:41] amboar commented on #706
As a note I've just built openbmc/openbmc@385b537ef94c0d73b932d9d57afb9e2e0f08708e, which has booted 3 times in a row without failure.

[2016-10-25 05:59] ratagupt opened #707 "zeroconfiguration is not working."
avahi-autoipd was not pulled in the image and started,I have pushed the code for review.
https://gerrit.openbmc-project.xyz/#/c/887/

[2016-10-25 06:02] sivassrr opened #708 "bitbake host-ipmid-tool is failing"
/usr/bin/crossscripts:/tmp/srsiva/build/tmp/sysroots/x86_64-linux/usr/sbin:/tmp/srsiva/build/tmp/sysroots/x86_64-linux/usr/bin:/tmp/srsiva/build/tmp/sysroots/x86_64-linux/sbin:/tmp/srsiva/build/tmp/sysroots/x86_64-linux/bin:/esw/san2/srsiva/obmc/openbmc/scripts:/esw/san2/srsiva/obmc/openbmc/yocto-poky/bitbake/bin:/esw/san2/iawillia/python/python-2.7.10/bin:/gsa/ausgsa/projects/p/pfd_rat_tools/prod

[2016-10-25 06:10] ratagupt commented on #546
Manufacturing teaam has a use case which can not be done by avahi..They use the slp to serach the services in unicast manner,hence we need to give the support for slp.
1) We are evaluating openslp
2) We are writing our own daemon(poc) to cater the need of manufacturing.

[2016-10-25 06:27] legoater commented on #701
I suppose the culprit is the 4K erase change on the mx25l25635e :

 commit 79bcff668f99 ("mtd: spi-nor: add SECT_4K to mx25l25635e")

This is a bad idea as it breaks jff2 and so we should revert the patch I think.

[2016-10-25 06:35] shenki commented on #701
https://gerrit.openbmc-project.xyz/#/c/892/

[2016-10-25 07:14] tk-wfischer commented on #605
@williamspatrick thank you for your clarification that you do not support Habanero. Although I'm not a developer/programmer, I've skimmed through the OpenBMC code and I've found that e.g. for Palmetto it seems that the machine-specific code comes from https://github.com/open-power/palmetto-xml
What would be the necessary steps for someone to support Habanero? Would it be enough to create the corre

[2016-10-25 10:30] adamliyi commented on #585
In current `obmc-console-ssh.socket` configure:
[code]
`obmc-console-ssh.socket` has **Requires** dependency on `obmc-console` service. As a result, killing `obmc-console` service will restarting `obmc-console-ssh.socket`.
[code]
If we remove this dependency, how can systemd restarts a socket?
I searched here: https://www.freedesktop.org/software/systemd/man/systemd.socket.html
Looks systemd does

[2016-10-25 14:29] #703 closed

[2016-10-25 14:29] #701 closed

[2016-10-25 16:06] gkeishin commented on #701
https://openpower.xyz/job/openbmc-build/316 came up good on BARPvT

[2016-10-25 17:05] gkeishin commented on #706
https://openpower.xyz/job/openbmc-build/316/ we are seeing this on BarPvT..

[2016-10-25 18:50] agangidi53 commented on #704
@anoo1
**Current Implementation for Barreleye** (Please correct me if I am inaccurate):
1. Scan I/O Board EEPROM for Mac
2. IF Mac address Does not exist in I/O Board EEPROM -> Scan U-Boot env
3. IF Mac address Does not exist in I/O U-boot env ->  Generate Random Mac

**Suggested Implementation for Barreleye** :
1. Scan I/O Board EEPROM for Mac
2. IF Mac address Does not exist in I/O Board EEPROM

[2016-10-25 22:11] #653 closed

[2016-10-25 22:14] shenki commented on #706
@amboar and I took a look a the state of the system from within the initramfs and the kernel driver for the vuart had done the correct thing - we could find both the /dev and the /sys nodes for it.

This is an issue with the systemd unit or something else in userspace

[2016-10-26 00:02] amboar commented on #706
I couldn't reproduce the issue when bisecting openbmc to find it.

[2016-10-26 00:49] amboar commented on #699
@prkatti1 Regarding dropbear, does nessus list the CVEs? Some patches were just applied to staging fixing four: https://patchwork.openembedded.org/patch/133098/

[2016-10-26 03:28] adamliyi commented on #315
Put the fix as a patch to skeleton: https://gerrit.openbmc-project.xyz/#/c/891/
@williamspatrick Any suggestion to integrate system specific code into skeleton?

[2016-10-26 03:53] adamliyi commented on #658
This should not be a duplication of openbmc/obmc-console#7.
If `obmc-console-ssh.socket` fails to start, `obmc-console-ssh@.service` will not be started (since it listens on the socket), and there will no message: `Child connection from ::ffff:xx.xx.xx.216:40153`.

It looks like the remote connection for some reason closed.
Is this issue still existing?

[2016-10-26 05:37] shenki commented on #649
@amboar is taking a look at this

[2016-10-26 06:17] adamliyi commented on #694
Hi @legoater , @shenki asked me to continue work on this issue, will you send your bt driver to mailing list for review? Also the btbridge patch to Gerrit? Or do you want me to do that?

[2016-10-26 06:26] legoater commented on #694
@adamliyi: the driver is merged in mainline linux. We should  be fine on that side.

I can send the brbridge patches on the mailing list but  I don't think this required if we go through gerrit.

What I think we would need to do now, is to integrate all these changes in an openbmc patch and maybe add a udev rule to set the bt device name also. Then we can check the whole on gerrit.

[2016-10-26 06:46] csmart commented on #654
https://patchwork.ozlabs.org/patch/686883/

[2016-10-26 06:48] shenki commented on #654
@spinler, @csmart had some questions:

This commit adds the relevant device tree entry for the Epson RX8900CE
RTC module on the I2C bus.

Do you know what the battery backup configuration is for the rtc?

[2016-10-26 06:59] csmart commented on #654
@spinler looks like the circuitry is there, but it's broken out into a connector. So if there is a battery, it appears to be offboard?

[2016-10-26 07:00] csmart commented on #654
Also, v2 https://patchwork.ozlabs.org/patch/686891/

[2016-10-26 08:04] williamli80 commented on #436
Do we have a "self test" in openbmc? Or do we have "self test" in each app of openbmc?

[2016-10-26 11:09] rahulmah commented on #673
I dont see the issue with latest Palmetto build v1.99.0-190-gc4fb73e.  So closing it.

[code]

[2016-10-26 11:09] #673 closed

[2016-10-26 11:13] rahulmah commented on #700
@spinler : This is a minor problem which is seen with recent builds. Can you please take a look at this?

[2016-10-26 12:36] spinler commented on #654
The  battery is on a riser card, the card that either the left or right power supply plugs into (I forget which).
There is also wiring present to use a BMC ADC pin to read the  remaining battery voltage so we can generate low battery warnings.  Not sure if the driver supports that or not?  I think that would be extra credit.

[2016-10-26 14:26] adamliyi commented on #648
For device tree:
We have noticed many i2c devices definition is missing from the Witherspoon dts file https://github.com/openbmc/linux/blob/dev-4.7/arch/arm/boot/dts/aspeed-bmc-opp-witherspoon.dts.
Hi @spinler , is there already a Witherspoon device tree file generated from MRW? Or we may need to fill the dts file from Witherspoon.xml by hand.

[2016-10-26 18:42] spinler commented on #678
@shenki Can you give your thoughts on this one? If it's possible to add support to the leds-pca955x driver (or maybe create a new driver), to support use of GPIOs and LEDs off of it?

[2016-10-27 01:34] spinler commented on #648
I don't have the plumbing quite ready yet to integrate into yocto.  Really though, since there is no user space code to make use of those I2C devices at the moment, you could probably just leave the in-tree device tree as it is for now and I should be able to get the MRW generated one integrated before anyone misses them.

[2016-10-27 01:36] spinler commented on #700
Do you guys run this test every day and it just started failing in this driver?

[2016-10-27 01:41] shenki commented on #648
@spinler can you please send us a MRW generated device tree? We want it for kernel testing now.

[2016-10-27 09:31] rahulmah commented on #700
Not running frequently on Palmetto. From my old logs, the last time it was passing was with build v1.99.0-172-g1807649. This build is little old.

[2016-10-27 10:18] adamliyi commented on #694
Submitted the btbridge patch to Gerrit: https://gerrit.openbmc-project.xyz/#/c/904/
https://gerrit.openbmc-project.xyz/#/c/903/, for review.
Tested on Palmetto, the host CPU boots well.

[2016-10-27 12:54] williamspatrick opened #709 "Updating BIOS via REST API wipes out the Boot options (NVRam) not UBI"
@agangidi53 commented on [Tue Oct 25 2016](https://github.com/openbmc/skeleton/issues/132)

The current update BIOS via BMC TFTP REST API feature does not persist boot options (stored in NVRAM partition of BIOS). It would nice to provide a flag to persist or clear the host boot options before doing the update.

[2016-10-27 15:50] yadlapati opened #710 "Witherspoon: FSI mux select, gpio326 stuck high in latest code"
Paul Robertson is seeing issue using FSP-2 with new OpenBMC code.

[code]

His comments from CQ defect (summary: gpio326 is not changing):

The significant gpio difference appears to be gpio326.  It is out,high in the case the of FSI failing, and out,low when it works.  gpio326 is tied to mux select for FSI bus, and should be pulled low automatically when FSI cable is plugged into Sequoia JMFG0.

[2016-10-27 23:25] csmart commented on #654
ok, thanks @spinler

[2016-10-28 00:20] amboar opened #711 "Palmetto serial console becomes unresponsive"
The BMC serial console is sluggish to the point of being useless if the BMC is left to idle for some time after boot. I haven't tried to diagnose the issue.

[2016-10-28 00:34] amboar commented on #710
@yadlapati any chance you or Paul Robertson can dump the pinmux registers on the BMC?

[code]

Example output:

[code]

[2016-10-28 03:04] amboar opened #712 "Build SDKs on CI infra"
Ensure the SDK builds successfully (see e.g. #516).

[2016-10-28 06:00] adamliyi commented on #648
For GPIO configuration in Witherspoon.py, there are many FIXME, e.g: https://github.com/openbmc/skeleton/blob/master/configs/Witherspoon.py#L322. I added those comments based on my understanding of Witherspoon workbook. But I am not sure.
Could anyone review the GPIO configurations?

[2016-10-28 09:43] williamli80 commented on #437
Hi team, would the patch on skeleton repo be merged?'cold reset' will not work now. Or should I revise this patch?
https://gerrit.openbmc-project.xyz/#/c/268

[2016-10-28 12:48] yadlapati commented on #710
This is from a different system (w5) which is running same level of OpenBMC code

root@w5:~# for i in 80 84 88 8c 90 94 98 9c a0 a4 a8 ac

0x1e6e2080
0x00000000
0x1e6e2084
0x0000F000
0x1e6e2088
0x03000000
0x1e6e208c
0x00000000
0x1e6e2090
0x0F8F0040
0x1e6e2094
0x00004000
0x1e6e2098
0x00000000
0x1e6e209c
0x023FFFF3
0x1e6e20a0
0x00000000
0x1e6e20a4
0x0000F000
0x1e6e20a8
0x000FFFF0
0x1e6e20ac
0x000000

[2016-10-29 00:11] GHF opened #713 "pflash/flasher hang blocks boot"
This is a problem I saw on Zaius BMC but I don't think it's specific to us. It looks like pflash is called by op-inventory-upload without `-m` (MTD access), causing it to busy wait and block the boot. Eventually pflash is killed, causing the boot to fail altogether:

[code]

I think there's a similar busy wait from flasher.exe instances spawned by org.openbmc.control.Flash at boot. These run in th

[2016-10-29 10:47] williamspatrick commented on #713
@shenki - I believe there was a change to pflash coming to resolve this, correct?  Do you know where that is?  I think Stewart has some rc tags we could point at.

[2016-10-30 09:25] shenki commented on #713
yeah, this could be resolved by bumping to the skiboot-5.4.0-rc2 tag

[2016-10-31 00:05] amboar commented on #710
@yadlapati thanks. It looks like there's at least one bug in the pinmux driver for the ast2500. Bit SCU90[6] is being set, but the datasheet says "Reserved, must keep at value ”0”". As an experiment, can you see if this fixes your issue:

[code]

Regardless, I'll send a patch fixing that bug.

[2016-10-31 01:13] williamli80 commented on #436
My plan:
Find out fault property sequentially from  dbus;
Return error message when I meet a "true" of fault property.

[2016-10-31 06:38] shenki commented on #713
https://gerrit.openbmc-project.xyz/#/c/907/

[2016-10-31 06:39] shenki commented on #710
Fix is at http://patchwork.ozlabs.org/patch/689212/

I will integrate this into the new kernel revision.

[2016-10-31 07:03] shenki opened #714 "libflash API change"
When attempting to bump the version of libflash used, the flasher application broke:

[code]

[2016-10-31 12:59] paulgrobertson commented on #710
That seems to solved the issue.

root@w5:~# gpioutil -p A6 -d out -v 0
root@w5:~# gpioutil -p A6
1

root@w5:~# devmem 0x1e6e2090 32 0x0F8F0000
root@w5:~# gpioutil -p A6
0

root@w5:~# gpioutil -p A6 -d out -v 1
root@w5:~# gpioutil -p A6
1

root@w5:~# gpioutil -p A6 -d out -v 0
root@w5:~# gpioutil -p A6
0

[2016-10-31 13:02] tk-wfischer commented on #605
@mdmillerii or @agangidi53 could you maybe give me some hints on my questions, in case that @williamspatrick is currently away:

I'd be helpful for any hints, as I'd really be pleased if there'd be a way to get OpenBMC running on Habanero.

[2016-10-31 13:29] spinler commented on #648
@shenki I need to make some updates for that new SPI device driver and then I'll send it out.

[2016-10-31 13:43] spinler opened #715 "Add support for new SPI device driver to device tree generator script"
- [x] Update XML and script to support the new device tree binding for BMC flash chips
- [x] Update XML and script to support the new device tree binding for the PNOR flash chip

[2016-10-31 13:59] geissonator commented on #635
Where we at with this one @ratagupt?  Have you found a good way to clear this out?

[2016-10-31 14:13] msbarth commented on #382
- [ ] Create script which can run in docker container to do simple dependency item

- [ ] Script can handle complex dependencies accross repos

- [ ] Create template jenkins jobs that allows new repos to easily be added

- [ ] Automatically run jenkins job against gerrit changes

[2016-10-31 14:46] agangidi53 commented on #605
@tk-wfischer  Creating an XML IF it already doesn't exist would be a good start. If I am gonna have to summarize what to do beyond that, I need some more time.

[2016-10-31 15:18] tk-wfischer commented on #605
Thank you @agangidi53 for this first information. @mdmillerii if you have any infos already, it'd be great if you could share them with us.

[2016-10-31 16:48] williamspatrick commented on #605
@tk-wfischer - In order to create support for a new machine, there are currently two major files that need to be added. 1. Kernel device tree for the BMC. 2. System.py config file. Both of these are effectively codified subsets of the board schematics, which describe what pets are in the system and how they are connected to the BMC. I would need to check what information we are allowed to make pub

[2016-10-31 16:48] williamspatrick commented on #605
"Pets" => "Parts" in previous comment.

[2016-10-31 16:52] williamspatrick commented on #605
The current XML files on open-power are only a subset of the information. Most of that is host-centric and not bmc-centric. There is extra info not contained in those XML files that we would need.

For P9, we have also added bmc-centric data so that we can generate everything we need out of the system-XML. The Witherspoon XML is starting to get these. I doubt anyone is planning to invest the time

[2016-10-31 18:59] williamspatrick opened #716 "Sprint 16.11.02 - Committed"

[2016-10-31 18:59] williamspatrick opened #717 "Sprint 16.11.02 - Actual"

[2016-10-31 18:59] gkeishin opened #718 "[Barrelleye VERSION_ID="v1.99.0-200-g48d0241"] dev-ttyVUART0.device start timed out."
[code]
**Journal snippet**
[code]

[2016-10-31 19:00] agangidi53 commented on #704
Hi @anoo1  any updates ?

[2016-10-31 19:23] #540 closed

[2016-10-31 19:53] geissonator commented on #546
Initial thought was this was just a recipe update but turns out this is going to be fairly more complicated.  Moved from 1 to 3 points to reflect this.

[2016-10-31 19:59] gkeishin commented on #718
Attached syslog for reference
[20161031135405219834_BMC_journalctl.txt](https://github.com/openbmc/openbmc/files/562764/20161031135405219834_BMC_journalctl.txt)

[2016-10-31 23:00] amboar commented on #710
@paulgrobertson thanks for testing. @shenki is planning to bump the openbmc kernel today with the patch linked above.

[2016-11-01 01:38] geissonator commented on #718
@adamliyi - You're the pro in this area now :)  Any thoughts?

[2016-11-01 01:42] geissonator opened #719 "rtc: Define dbus interface for rtc"
This is a pre-req to #668
The goal is a documented and approved interface for rtc functionality.

[2016-11-01 01:46] geissonator opened #720 "power on/off: Define dbus interface for power on/off"
This is a pre-req to #669
The goal is a documented and approved interface for power on/off functionality.

[2016-11-01 01:47] geissonator commented on #668
Reduced from 2 to 1 point because definition of interface is now in #719

[2016-11-01 01:51] geissonator opened #721 "bmc state: Define dbus interface for bmc state functionality"
This is a pre-req to #671
The goal is a documented and approved interface for bmc state functionality.

[2016-11-01 01:59] geissonator opened #722 "fw version: Define dbus interface for fw version interface"
This is a pre-req to #670
The goal is a documented and approved interface for fw version functionality.
- Should include BMC and Host firmware versions.

[2016-11-01 04:47] shenki opened #723 "Run CI images under Aspeed Qemu model"
The following machines should boot on openbmc/qemu master:

 * Witherspoon `-M witherspoon-bmc`
 * Palmetto `-M palmetto-bmc`
 * ast2500-evb `-M ast2500-evb`

We should take the artefacts from these CI builds and boot them

@geissonator may already have an issue for this

[2016-11-01 06:22] shenki opened #724 "Romulus warnings at boot"
Received a journal log from @mine260309 [journal.txt](https://github.com/openbmc/openbmc/files/563458/journal.txt)

### ipmid
[code]

### LED manager
LED manager needs to stop restarting in the case were there are no LEDs
[code]

### Mapper
[code]

### GPIO devicetree/userspace conflict?
[code]

[2016-11-01 07:47] adamliyi commented on #648
An related witherspoon GPIO issue: https://github.com/openbmc/openbmc/issues/710

[2016-11-01 08:34] adamliyi commented on #706
Can you check the ttyVUART0 state when this issue happens:
[code]
Compared with boot message in normal case, there is a message **Found device /dev/ttyVUART0** from systemd, which is missing from above message when error happens.
[code]

[2016-11-01 08:47] adamliyi commented on #718
Related issue: https://github.com/openbmc/openbmc/issues/706
Can you check the ttyVUART0 state when this issue happens:
[code]
Also:
[code]

[2016-11-01 10:12] adamliyi opened #725 "Revise fan control module"
Open this issue to track the response to Brad's comments on the skeleton fan control module in:
https://gerrit.openbmc-project.xyz/#/c/120/
[code]

[2016-11-01 12:55] bradbishop opened #726 "xyz inventory manager needs a recipe"

[2016-11-01 12:56] geissonator opened #727 "Use new dbusplus vtable interfaces and move to generated bindings for event log server"
Story #338 defined a event log server, it used the older dbus bindings since the new bindings were not available yet.  This story tracks moving to the new one's.

[2016-11-01 13:08] bradbishop opened #728 "define xyz sensors api"
Propose a set of interfaces for the xyz DBus sensors API.  Exit criteria is a set of interface files in phosphor-dbus-interfaces.

[2016-11-01 13:11] bradbishop opened #729 "mapper interface enhancements"
The mapper needs a more flexible API for searching.  This probably means filtering results based on interface.

[2016-11-01 13:11] bradbishop opened #730 "move mapper to xyz namespace"

[2016-11-01 15:01] #439 closed

[2016-11-01 15:09] geissonator commented on #727
The DBUS yaml interface for this will be defined within the logging repo since it is not a public interface (users call the client commit, under the covers that calls the DBUS interface)

[2016-11-01 18:11] williamspatrick commented on #710
Merged fix via 913e81dbf0910f931497fc5b93fedf9fa39f12fc

[2016-11-01 18:11] #710 closed

[2016-11-01 19:26] gkeishin commented on #718
root@barreleye:~# udevadm info -n /dev/ttyVUART0
device node not found
root@barreleye:~#

root@barreleye:~# systemctl status dev-ttyVUART0.device --no-pager
● dev-ttyVUART0.device
   Loaded: loaded
   Active: inactive (dead)

Oct 20 19:58:53 barreleye systemd[1]: dev-ttyVUART0.device: Job dev-ttyVUART0.device/start timed out.
Oct 20 19:58:53 barreleye systemd[1]: Timed out waiting for device dev-t

[2016-11-01 20:01] geissonator opened #731 "Merge dbus interface and error log meta data definition"

[2016-11-01 20:01] geissonator opened #732 "Define and implement dbus API to list and view event logs"

[2016-11-01 20:02] geissonator opened #733 "Match error log metadata with error log commits"
Sprint planning discussion:
Start with transaction id of 0 or update sdbusplus to support a transaction id and put in a thread local variable.  There's some "cookie" that gets assigned to a message when it's created, we can do some sort of hash.

[2016-11-01 20:02] geissonator opened #734 "Support the callout of a logical entity within an error log (design)"

[2016-11-01 20:29] spinler commented on #648
I took a look at the FIXMEs in Witherspoon.py.
My only comments are:
* BMC_THROTTLE - that was an input on Firestone, so not sure why the power on sequence was ever trying to write to it.  That signal was used to indicate a single power supply DC_GOOD loss, and actually now the BMC will get that from the OCC anyway.  Don't need it for Witherspoon. (And should probably take it out of the power-on s

[2016-11-01 20:39] geissonator commented on #342
Not included in this epic but a refactor of the dbus interfaces is tracked under #727

[2016-11-01 20:40] gkeishin opened #735 "[Barreleye VERSION_ID="v1.99.0-210-g913e81d" ] REST Login Session connection Failed"
Oct 20 20:07:18 barreleye login[1016]: pam_unix(login:session): session opened for user root by LOGIN(uid=0)
```Oct 20 20:07:18 barreleye login[1016]: pam_systemd(login:session): Failed to create session: The name org.freedesktop.login1 was not provided by any .service files ```
Oct 20 20:07:18 barreleye login[1053]: ROOT LOGIN  on '/dev/ttyS4'

Journal log attached..
[20161101133228114988_BMC_jou

[2016-11-01 20:53] eddiejames commented on #625
[p9_occ_results.txt](https://github.com/openbmc/openbmc/files/565042/p9_occ_results.txt)

Tested with a chunk of poll response data from Martha. Everything appears to be in order.

[2016-11-01 21:01] gkeishin commented on #735
This error was seen during standard test suite run where it was trying to open up REST session via root to /login object to do clear `events...`

${resp} = RequestsLibrary.RequestsKeywords . Post Request openbmc, /login, data=${data}, headers=${headers}
Documentation:
Send a POST request on the session object found using the
Start / End / Elapsed:	20161101 15:14:46.358 / 20161101 15:14:54.546 / 00

[2016-11-01 21:02] williamspatrick commented on #694
@shenki - Is the kernel stuff in already?  Do we need a prereq on a commit with this btbridge stuff I just merged?

[2016-11-01 21:24] geissonator opened #736 "led: Define dbus interface to interact with LED's"
The goal is a documented and approved interface for LED functionality using the new dbusplus yaml architecture.

[2016-11-01 21:25] shenki commented on #694
There's been some confusion here.

This patch should not have been merged: https://gerrit.openbmc-project.xyz/#/c/904/2

I would have preferred to have seen this one merged only: https://gerrit.openbmc-project.xyz/#/c/903/

As I said in the second comment, we needed to move to the new chardev path at the same time as including the new kernel version.

As this was a change that would cause an incom

[2016-11-01 21:25] geissonator opened #737 "led: Implement LED dbus interfaces"
Interfaces defined in #736. This story is to implement them.

[2016-11-01 21:25] geissonator commented on #736
#737 implements what we define with this story.

[2016-11-01 21:27] shenki commented on #694
In my pre-coffee confusion, I realise we haven't changed the btbridge version included in openbmc.

@williamspatrick yep, we need to make sure we bump the kernel version in the same commit as bumping the btbridge. I'll do that patch.

[2016-11-01 22:25] GHF commented on #713
Great, we also need that version bump to pick up this fix: https://github.com/open-power/skiboot/commit/9c3b35a15f3a2762288e1e460843c9c1246e1acd

Otherwise pflash will always fail with "Architecture doesn't support write protection on flash" when erasing/writing to host PNOR.

[2016-11-01 22:31] mine260309 commented on #724
Regarding GPIO conflict, it's found that the GPIOI3's pin defined in `drivers/pinctrl/aspeed/pinctrl-aspeed-g5.c`:
[code]
So it looks like `GPIOI3` is expected to be part of `SPI1DEBUG` and `SPI1PASSTHRU`, however, this GPIO is used as POWER_BUTTON according to schematic, and it applies to both Romulus and Witherspoon. (I guess Witherspoon should have the same issue?)

I'm not sure if this is the

[2016-11-01 22:50] shenki commented on #713
We're blocked on #714 which breaks flasher. I'm reworking flasher to resolve this

[2016-11-01 23:20] amboar commented on #724
@mine260309 Given that Romulus is strapped in spi1debug mode this will certainly cause issues. To the best of my knowledge the groups are accurate, so the strapping needs to be changed. Debug mode is marked as reserved in the datasheet - do we actually know what we're doing by enabling it? Does anyone have information on (presumably) snooping via the ahb bridge?

[2016-11-02 00:34] shenki commented on #678
The current driver does not support exposing the pins as GPIO.

I was looking at the Witherspoon schematic and it appears we do not use any of the 16 pins as LEDs - they are all GPIOs. This would mean we need to write a driver to control the chip as a GPIO multiplexer, but don't need to worry about sharing functionality with LEDs, nor the PWM controls.

Can you confirm that none of the pins are LE

[2016-11-02 00:37] shenki commented on #678
http://cache.nxp.com/documents/data_sheet/PCA9552.pdf?pspll=1

https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/tree/drivers/leds/leds-pca955x.c

[2016-11-02 00:43] staneyshen commented on #512
We're verifying @gwshan 's NCSI patches with our v10.40.A version, and no problem found after 300+ continuous rounds of testing. The situation is improved greatly and we always stopped after 70+ rounds of testing before.

[2016-11-02 00:51] gwshan commented on #512
@staneyshen, thanks for updating your testing result. I guess it can be closed, but I'd received John Wang's confirm before closing it.

[2016-11-02 01:34] johnhcwang commented on #512
Hi @gwshan , thanks for your great support.
I believe the issue was fixed in kernel 4.4-20160804-1 plus these patches on Barreleye.

Hi @anoo1 , as I mentioned in the meeting, there's another issue using latest kernel 4.4-20161021-1.
I'll collect the information and create a new issue for it.

[2016-11-02 01:34] #512 closed

[2016-11-02 01:35] spinler commented on #678
@shenki The Witherspoon backplane does just use the GPIOs, but there's another 9552 on the Teak (was called Fir in Firestone/Garrison) fan riser card that uses both.  I'll send you the schematics.

[2016-11-02 02:01] shenki commented on #678
Ok, I see. We will extend the upstream driver to allow using individual lines as GPIOs.

[2016-11-02 03:48] sivassrr commented on #708
Had requested @tomjoseph83 to take a look, He had look at it and initially he found out he couldnt recreate and then he mentioned that his sandbox was pointing to older clone. He will try to check with the latest clone.

[2016-11-02 04:34] tomjoseph83 commented on #708
@sivassrr I just cloned the openbmc project and baked it. I did'nt hit any failures.

[2016-11-02 04:52] prkatti1 opened #738 "OpenBMC- Factory reset & zero config through IPMI is not working"
Factory reset & zero config through IPMI is not working.
We used following IPMI commands to reset to factory

Commands are running successful, but without any impact on system.

[2016-11-02 04:56] williamspatrick commented on #738
We do not support any ipmi interface using the lanplus access method today. We do not plan on supporting all of the OEM commands that the AMI implementation on some open-power systems supported. What is it you are expecting to work?

[2016-11-02 05:01] sivassrr commented on #738
@williamspatrick Is there a way to do MFG reset . We want to test zeroconf, Patrick.

[2016-11-02 05:06] shenki commented on #724
It has been identified that the Witherspoon and Romulus strapping for SPI1 is incorrect. We've let the hardware team know.

I will cook up a patch to modify the strapping in the board file for now.

[2016-11-02 06:07] sivassrr opened #739 "[Witherspoon VERSION_ID="v1.99.0-212-gf1c10dd-dirty" ] code update succeed but fails with REST Authentication"
Had code update on witherspoon with 329 build.
cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-212"
VERSION_ID="v1.99.0-212-gf1c10dd-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-212"
BUILD_ID="v1.99.0"
root@witherspoon:~# obmcutil state
 = BMC_READY

Able to ping, Code update

[2016-11-02 06:13] sivassrr commented on #739
Initiate Code update BMC :: BMC code update process initiation        | FAIL |
Keyword 'Verify Ping and REST Authentication' failed after retrying for 30 minutes. The last error was: REST Authentication Failed
------------------------------------------------------------------------------
Update Bmc :: Trigger code update to a target BMC.                    | FAIL |
1 critical test, 0 passed, 1 fai

[2016-11-02 06:31] sivassrr commented on #739
[journaldumpcodeupdate.txt](https://github.com/openbmc/openbmc/files/565810/journaldumpcodeupdate.txt)

[2016-11-02 06:33] shenki commented on #724
Patches posted for review:

http://patchwork.ozlabs.org/patch/690261/
http://patchwork.ozlabs.org/patch/690260/

[2016-11-02 07:02] adamliyi commented on #718
Thanks @gkeishin .
It looks this issue does not happen always, is there a Barreleye with this bug, so I can login in to debug?
Could you also check whether `/dev/ttyS0` and `/sys/devices/platform/ahb/ahb:apb/1e787000.vuart/tty/ttyS0` exist?
According to @shenki 's comments in openbmc/openbmc#706, these devices nodes are existing, if so we can narrow down this problem to udev/systemd - for some rea

[2016-11-02 10:05] williamspatrick commented on #738
There is not a REST command yet to return the machine to manufacturer new state. That will be tackled as part of code update work.

I thought when you do a code update now you identify which pieces to preserve. Anytime you do a full image rewrite (including the rw partition) without preserving anything it should go back to a clean state, doesn't it?

[2016-11-02 10:12] williamspatrick commented on #708
This looks like your download tree has invalid content. I'm not sure what would have caused it to get into that state.

[2016-11-02 10:14] williamspatrick commented on #739
[code]

[2016-11-02 10:16] sivassrr commented on #738
Yes @williamspatrick we can try that, but that may not be same as factory reset,  I guess. We expect some default IP address. We can try without preserving IP address during code update.

[2016-11-02 10:55] rahulmah opened #740 "[Palmetto - v1.99.0-212-gf1c10dd] - Bios update fails on Palmetto with both REST and pflash"
Bios update on Palmetto is failing with both REST and pflash method. I have used Palmetto bios build #205 (md5sum e3bb9045efe8a7681c037d563b92fc50) and #199(md5sum 5b44316a31d1fc0e8498e84e7136a26f).

With REST, Bios update command works fine. But just after this command, flash status went into "Flash Error" state.

[code]

With pflash, bios update fails with "Verification failed for chunk at 0x000

[2016-11-02 13:02] geissonator commented on #731
Task List
- [ ] Define yaml format in dbus repo for error codes, upload code showing example
- [ ] Update recipes to handle dependency between dbus yaml and logging yaml (ensure we build dbus first and export it's yaml for logging repo to use)
- [ ] Define meta data for dbus defined error within logging repo, compile script should merge the 2 into the generated hpp file

Questions: The dbusplus co

[2016-11-02 13:21] bradbishop commented on #729
- [ ] add interface filter parameter to interface methods
- [ ] fix up python/c mapper bindings

[2016-11-02 13:22] bradbishop commented on #728
- [ ] document interfaces in yaml form.

[2016-11-02 13:33] bradbishop commented on #730
https://gerrit.openbmc-project.xyz/#/c/970/

[2016-11-02 13:37] sivassrr commented on #708
Had did fresh git clone git://github.com/openbmc/ipmitool and did bitbake host-ipmid-tool

Still failed in following way.

Waiting for 23 running tasks to finish:
ERROR: The recipe cryptodev-linux-native is trying to install files into a shared area when those files already exist. Those files and their manifest location are:
   /tmp/srsiva/build/tmp/sysroots/x86_64-linux/sysroot-providers/cryptode

[2016-11-02 13:38] shenki commented on #740
We moved to using mtd for flasher. This could be a regression caused by that.

I suggest testing with 6ddfdfb1ff120e855dbeb6c5a319e8d1b4dc3968 reverted to see if it helps. (The commit from skeleton we want to revert is https://github.com/openbmc/skeleton/commit/9d61237e4b669002b340fedcf66ce36f99ba32ce).

[2016-11-02 13:40] tomjoseph83 commented on #430
- [ ]  Separate the commands from the libapphandler that should be executed only from host-ipmid path(For example Read Event Message Buffer, Set BMC Global Enables)
- [ ]  Modify the Command Table to add infrastructure for provider functions
- [ ]  Add code in netipmid to read the libraries and register the provider functions in the /usr/lib/phosphor-net-ipmid
- [ ]   Modify the registration funct

[2016-11-02 13:57] sivassrr commented on #739
Mem: 161004K used, 338004K free, 49364K shrd, 9768K buff, 80264K cached
CPU: 100% usr   0% sys   0% nic   0% idle   0% io   0% irq   0% sirq
Load average: 6.74 6.76 6.85 8/101 3948
  PID  PPID USER     STAT   VSZ %VSZ %CPU COMMAND
  806   795 root     R      97m  20% 100% flasher.exe bios  /org/openbmc/control
  819     1 root     S    32636   7%   0% /usr/sbin/power_control.exe 3000 10
  818

[2016-11-02 14:30] adamliyi commented on #533
Hi @madscientist159 Timothy, an obmc user is trying to boot Firestone Host CPU. I suggest to use your patch: https://github.com/madscientist159/linux-openbmc/commits/dev-4.7-firestone-fixes with a IBM GA Hostboot image. Are you pushing your patch to upstream openbmc/linux?

[2016-11-02 15:16] madscientist159 commented on #533
@adamliyi The patches should all be merged at this point.  They were submitted as soon as Firestone was stabilized enough to find the hostboot problem.

[2016-11-02 16:02] rahulmah commented on #604
@spinler : With latest fw(v1.99.0-212-gf1c10dd/20161102043616), I still see that presence detect for motherboard is coming as false in Palmetto. For membuf now the present detect is coming correct.

[code]

[2016-11-02 16:54] mine260309 commented on #724
I confirm that @shenki's patches work, now the GPIO conflict issue is gone.
And we get other GPIO errors though.
Attached [journal.txt](https://github.com/openbmc/openbmc/files/567181/journal.txt)

[2016-11-02 18:04] anoo1 commented on #727
- [ ] Update the log server to use the vtable interfaces and generated bindings.

[2016-11-02 18:05] anoo1 commented on #732
- [ ] Define API to list event logs
- [ ] Implement API to list event logs

[2016-11-02 18:12] yadlapati opened #741 "Witherspoon: Slow response with 1.99.0-212 driver"
Flashed new code on Witherspoon (w5.aus.stglabs.ibm.com).
root@witherspoon:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-212"
VERSION_ID="v1.99.0-212-gf1c10dd-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-212"
BUILD_ID="v1.99.0"

root@witherspoon:~# uname -a
Linux withersp

[2016-11-02 18:37] JoshDKing commented on #561
- [ ] Create the gtest framework
- [ ] Breakdown our unit tests into the gtest functions
- [ ] Implement the unit tests in the gtest functions

[2016-11-02 21:17] mine260309 commented on #724
And it's noticed that sometime `flasher.exe` process takes 100% CPU:
[code]

[2016-11-02 21:28] SS-IBM commented on #647
- Recipe update: Create .bb / .bbappend to reference the script
- Write a script to toggle power on GPIO, turn VCS on and off, run SBE and 'putcfam' commands

[2016-11-03 00:30] amboar commented on #724
@mine260309 #713 is probably related.

[2016-11-03 02:47] rahulmah commented on #700
With latest openbmc build (v1.99.0-212-gf1c10dd/20161102043616) on Palmetto, I dont see problem with dimm3. But now I see same problem with dimm0. Fields which are missing in dimm0 are fault, fru_type, is_fru, present and version. For all other dimms (like dimm2, dimm1), these are available. So the problem is with dimm0 now.

**DIMM0**
[code]

**DIMM3**
[code]

[2016-11-03 06:10] shenki opened #742 "TFTP code update fails with path"
I have my pnor on an image at `palm4/palmetto.pnor`.

[code]

The update code struggles with this:

[code]

[2016-11-03 06:45] adamliyi commented on #648
Thanks @spinler , I will commit a patch to update Witherspoon.py GPIO setting. Still not 100% sure about some of the pin as bellow. I will also ask some HW engineer:
[code]

[2016-11-03 09:22] sivassrr commented on #741
https://github.com/openbmc/openbmc/issues/739 - May be REST failing because of flasher.exe issue, I guess.

[2016-11-03 09:47] adamliyi commented on #648
A patch submitted to clean up GPIOs in Witherspoon.py: https://gerrit.openbmc-project.xyz/#/c/992/. Please have a review - as noted by above comments - there is still open questions for this fix.

[2016-11-03 10:35] adamliyi opened #743 "Romulus error message: not found in GPIO config table"
From the Romulus boot log in: https://github.com/openbmc/openbmc/issues/724
[code]
The error message will show up if there is no GPIO configure in system configure files (Romulus.py, Witherspoon.py).

In: https://github.com/openbmc/skeleton/blob/master/op-hostctl/control_host_obj.c#L280
the host booting code will invoke:
[code]
But pins like `Throttle` or `idbtn` may not be necessary for Witherspo

[2016-11-03 10:37] adamliyi commented on #724
Opened a related issue openbmc/openbmc#743 for Error message:
[code]

[2016-11-03 12:41] geissonator commented on #741
Probably all intertwined with #740  There was a regression in the pflash area recently.

[2016-11-03 14:45] mine260309 commented on #743
Regarding `IDBTN`, both Witherspoon and Romulus uses GPIOQ7, we can add this in config;
But for `BMC_THROTTLE`, it is not expected to be used in power on sequence (see Matt's comment in #648). So probably the related code in `control_host_obj.c` should be removed.

[2016-11-03 14:55] mine260309 commented on #743
Part of the fix (GPIO config) is post for review: https://gerrit.openbmc-project.xyz/#/c/994/

[2016-11-03 15:49] mine260309 commented on #648
@Matt I traced back the `BMC_THROTTLE` code, it was added in commit 2fd67f90, which indicates it's used to "Set default LED status, pull high BMC_Throttle", by ken.sk.lai@mail.foxconn.com.
Not sure what is the "default LED", but `BMC_THROTTLE` GPIO config does exist on Palmetto, Bareleye, Firestone and Garrison.
I'm guessing that Withersoon/Romulus may has an equivalent GPIO to set "default LED",

[2016-11-03 15:55] spinler commented on #648
OK, Sertac should know for sure for Witherspoon.

[2016-11-03 16:33] mine260309 commented on #648
Asked Nick on Romulus, the GPIO name is changed to `N_MODE_N` for P9, and it's still `GPIOJ3`, the same as P8. Witherspoon has the same define on this.
The difference is, on P8 this GPIO is `OUT`, but it becomes `IN` on P9, the reason is quoted:

By the time the BMC has figured that out.... it is far too late to try and throttle
Which is why it is an input.

So in BMC code, we can still define `BM

[2016-11-03 19:45] anoo1 commented on #733
Also use elog-gen.hpp to get the required metadata fields.

[2016-11-03 20:48] spinler commented on #628
@amboar, do you know why the SPI1 node in Witherspoon needs this?
[code]

[2016-11-04 00:23] shenki commented on #628
The strapping of the processor is incorrect. I have let Sertac know that this needs to be fixed in future machines.

We are in code review for a software work around. Once we have settled on that, the correct node will look like this:

[code]

[2016-11-04 00:28] shenki commented on #741
Yes. This is a duplicate of #740.

[2016-11-04 00:28] #741 closed

[2016-11-04 00:28] shenki commented on #740
Here are the patches that will resolve this:

https://gerrit.openbmc-project.xyz/#/q/flasher+is:open+openbmc/skeleton

Please review.

[2016-11-04 01:27] amboar commented on #628
@spinler further to @shenki 's response, it's telling the hardware that we want to use the associated pins for SPI. This is already the case as the configuration is held in the hardware strapping register (and so we would carry on working without it), but we need it to tell the pinctrl/pinmux subsystems about the required hardware state. pinctrl provides mutual exclusion for pins, which means that

[2016-11-04 05:06] amboar commented on #741
Regarding

[code]

This was a strapping issue that's resolved by http://patchwork.ozlabs.org/patch/691126/

[2016-11-04 06:42] sivassrr commented on #739
As of now, I found REST works using the latest build for witherspoon - which I had flashed using pflash. https://openpower.xyz/job/openbmc-build/332/distro=ubuntu,target=witherspoon/artifact/images/witherspoon/

[2016-11-04 07:03] sivassrr opened #744 "Need update in README from where new images are available (openpower.xyz)"
As REST is kind of broken due to flasher.exe https://github.com/openbmc/openbmc/issues/740 ,
So only way to move to new level is using pflash code update method only.

It will be helpful to have details like which image to use for pflash and REST way.
https://openpower.xyz/job/openbmc-build/332/distro=ubuntu,target=witherspoon/artifact/images/witherspoon/

Also if customer uses pflash then IP addr

[2016-11-04 07:59] tk-wfischer commented on #605
Thank you @williamspatrick for the valuable information. I'll forward this to my contact at TYAN - they should have all access to the information that is under NDA. Maybe my contact sees a way to generate the necessary data for Habanero. I'll keep you updated once I have an answer there.

[2016-11-04 09:24] adamliyi commented on #648
@spinler , Hi Matt, the inventory definition in *Witherspoon.py* are outdated, e.g.:
[code]
I am not clear in the future shall we generate those definition from MRW? If so, since these inventory definitions do not block Witherspoon power-on, shall we just wait for MRW become ready?

[2016-11-04 09:28] adamliyi opened #745 "Witherspoon: inventory definition outdated"
The inventory definition in *Witherspoon.py* is outdated, e.g.: there is still memory buffers:
https://github.com/openbmc/skeleton/blob/master/configs/Witherspoon.py#L79
[code]

[2016-11-04 10:51] williamspatrick commented on #744
Why would we document a workaround for a bug?  On no open source project is master assumed to always be bug free. We are in the middle of transitioning from one driver to another which caused userspace impact as well. That is nearly all fixed, hopefully by Monday your time.

[2016-11-04 10:52] williamspatrick commented on #739
This sounds like you are saying this is a duplicate of the flash images issues?  Can you close if that is the case?

[2016-11-04 11:17] #740 closed

[2016-11-04 12:44] bradbishop opened #746 "Add python-mako, python-pyyaml to SDK"
Several projects will be using mako/yaml to generate source code.

[2016-11-04 13:12] ratagupt commented on #546
- [ ] Create a server which is listening on 427 for unicast udp packets

- [ ] Write the message parser for the SLPmessage

- [ ] Message Handler for the  message "findsrvtypes"

- [ ] Message Handler for the  message "findsrvs"

[2016-11-04 14:43] spinler commented on #648
@williamspatrick The plan is for Yi to just fix the inventory FRU list in Witherspoon.py quick until Brad finishes his inventory rewrite, or for me to turn on generating the inventory list from the MRW?

[2016-11-04 14:52] spinler commented on #628
@shenki @amboar Thanks for the explanation.
For the lines needed in the system level device tree, will it always look like?
[code]
Where XXX is listed in pinctrl-aspeed.txt?  So, if I needed to dynamically generate these 2 lines, I could hardcode everything but the XXX, which I would get from the chip specific MRW data?  The XML model has an element representing this SPI1 interface (called a SPI m

[2016-11-04 16:02] #713 closed

[2016-11-04 16:59] vishwabmc commented on #736
Task list breakdown.

- [ ] Identifying the interface names
- [ ] Identifying properties
- [ ] Documenting them in yaml file

[2016-11-04 18:11] geissonator opened #747 "pflash fails on barreleye with latest e7b0fd5 (flasher and mtd fixes)"
Nothing pops up in dmesg or journal on the fail.

[code]

[2016-11-04 20:31] mine260309 opened #748 "Romulus Power-On"
Similar to #647, Romulus shall use a script to power on the system, with different steps.
The steps are as follow:
1. Power system up:
[code]
2. FSI workaround to enable Nest mesh clock to clear out potential high VCS current draw on master processor
[code]
 3. Tell CPLD to continue the power on sequence
[code]

Note after next version of board and CPU, the FSI workaround will not be needed anymor

[2016-11-04 20:40] amboar commented on #628
Yes and no. You will always need the two properties in some form, but the number of functions you'll need to request will vary. For example for spi2 as it stands requires [something like Xo's Zaius patch](http://patchwork.ozlabs.org/patch/690220/):

[code]

@shenki isn't happy with this specific example because spi2 requires most of those signals to properly act as a bus: They could be grouped int

[2016-11-04 21:19] mine260309 commented on #648
`IDBTN` is an `IN` GPIO for both Withspoon and Romulus, and connected with a button to signal a LED light. If we write to 0 to this GPIO, it may cause the button not working.
So for P9, we should probably remove the code related to `BMC_THROTTLE` and `IDBTN`.

@williamspatrick @shenki Do you have any idea how to manage this case: keep using the above two GPIO for P8 and remove them for P9?

Using

[2016-11-04 23:34] cyrilbur-ibm commented on #747
Please rerun with -g

I'll need to put more debugging in though I suspect.

On 5 Nov 2016 10:32, "Joel Stanley" <notifications@github.com> wrote:

[2016-11-07 03:52] sivassrr commented on #739
@williamspatrick Still I am seeing failure in witherspoon - Related to REST.

[2016-11-07 04:27] shenki commented on #747
[code]

[2016-11-07 04:43] cyrilbur-ibm commented on #747
Note to self need more debugging prints in that path. Definitely no MTD errors in dmesg? The -1 is suspicious and leads me to think the erase ioctl has failed and the problem is in the kernel. Another hint at this is the 4k erase granule, I thought that the kernel was favouring 64k erase blocks, is the kernel confused?

Another possibility is that pflash has tried to optimise to use a 64k erase bu

[2016-11-07 05:03] shenki commented on #747
[code]

[2016-11-07 05:08] cyrilbur-ibm commented on #747
Found the issue:

arch_flash_erase_chip() is (correctly...) bailing as it doesn't know how to erase a 'chip' opened via MTD, the procedure is simple but it just doesn't know how.

I'll have a patch by the end of the day.

[2016-11-07 05:57] sivassrr commented on #739
With Nov 4 level, Observed that 32 TCs associate with REST fails out of 50
50 test total, 18 passed, 32 failed.
=================================================================
root@witherspoon:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-216"
VERSION_ID="v1.99.0-216-gcecba5f-dirty"
PRETTY_NAME="Phosphor OpenBMC

[2016-11-07 06:02] gkeishin commented on #739
On the following driver VERSION_ID="v1.99.0-216-gcecba5f-dirty"
root@witherspoon:~# obmcutil state
 = BMC_READY
root@witherspoon:~#

**A basic REST POST operation to get the system state is throwing error, example**

Oct 20 21:03:50 witherspoon phosphor-gevent[753]: ::c0f3:a376:8e91:f402%1260622248 - - [2016-10-20 21:03:50] "POST /login HTTP/1.1" 200 320 0.031019
Oct 20 21:03:50 witherspoon phosph

[2016-11-07 06:12] shenki opened #749 "obmc-console-server not starting"
[code]

[code]

This just sits there without returning:
[code]

This is the reason udev does not trigger, as the lpc address is 0x417 when we expect 0x3f8:

[code]

- `obmc-console-server` is launched when `/dev/ttyVUART0` is created.
- `/dev/ttyVUART0` is created when a device with `lpc_address` of `0x3f8` is created
- `lpc_address` is configured by obmc-console-server.
- GOTO 10;

A fix would be

[2016-11-07 06:13] shenki commented on #749
Original issue: https://github.com/openbmc/openbmc/issues/528#issuecomment-243356371

Potential dupes #718 #706

[2016-11-07 06:29] shenki commented on #749
https://gerrit.openbmc-project.xyz/#/c/1016/

[2016-11-07 06:30] cyrilbur-ibm commented on #747
This should solve (just patch 1/3): http://patchwork.ozlabs.org/patch/691765/

[2016-11-07 07:29] prkatti1 commented on #738
We used dbus commands here to do factory reset

[2016-11-07 09:23] dkodihal commented on #683
- [ ] foo

[2016-11-07 09:39] dkodihal commented on #683
- [x] Go through IPMI FRU information storage specification
- [x] Go through hostboot code to understand what VPD is sent down
- [ ] Write YAML files to describe VPD properties for various FRU types

[2016-11-07 09:40] dkodihal commented on #684
- [ ] Go through OpenPower FRU VPD specification
- [ ] Write YAML files to describe VPD properties for various FRU types

[2016-11-07 09:41] dkodihal commented on #682
- [ ] Go through OpenPower FRU VPD specification
- [ ] Write YAML files to describe VPD properties for various FRU types

[2016-11-07 11:05] shenki commented on #747
Tested the fix on a plametto. Thanks @cyrilbur-ibm

[code]

[2016-11-07 11:25] gkeishin opened #750 "[ Barreleye v1.99.0-220-ge7b0fd5 ] System went for maintenance mode post reboot"
[code]

jffs2: jffs2_scan_eraseblock(): Magic bitmask 0x1985 not found at 0x002a0024: 0x7974 instead
jffs2: Further such events for this erase block will not be printed
jffs2: Cowardly refusing to erase blocks on filesystem with no valid JFFS2 nodes
jffs2: empty_blocks 63, bad_blocks 0, c->nr_blocks 64
mount: mounting /dev/mtdblock6 on run/initramfs/rw failed: Input/output error

Mounting read-wri

[2016-11-07 11:31] shenki commented on #750
[code]

I suggest you do as the text suggests: reflash your system from within the initramfs environment it has dropped you to.

The kernel version you are running is https://github.com/openbmc/linux/commit/c5682cbc3542add705e35152329436067bb1f94a which has the bad spi-nor patch reverted, so there should not be any persisting issue.

[2016-11-07 11:36] gkeishin commented on #750
The Serial console and network are gone for toss to do those.. Probably need to ask lab folks to recover..

[2016-11-07 13:50] yadlapati opened #751 "Witherspoon: UCD driver is claiming device but raw access required for workarounds"
Paul Robertson is seeing this issue:

Having problems with some devices on I2C12 after loading latest BMC image.  Being unable to talk to UCD chip, dev 0x64, causing problems with power on script.

[code]

[code]

Following is the output (correct one) with older driver:
[code]

[2016-11-07 14:10] adamliyi commented on #751
This may not be an bug. May be related with https://github.com/openbmc/openbmc/issues/653
@mine260309 , what do you think?

[2016-11-07 14:21] geissonator commented on #749
@adamliyi - You've been our console issue guy recently, please take a look.

[2016-11-07 14:23] shenki commented on #751
This is normal system behaviour when a driver is loaded and bound to the address on the bus. As the kernel driver is in control of the device, you see UU at the address when using i2cdetect.

We need to provide Paul with documentation on how to use the pmbus sysfs files to perform the tests that he is doing. What are these tests? Which bits of information is he looking for?

[2016-11-07 14:50] adamliyi commented on #749
OK. I think @shenki has fixed those tty timeout issues. I've add myself to https://gerrit.openbmc-project.xyz/#/c/1016/ reviewer.
Just a quick question: Why in kernel we change LPC address from *0x3f8* to *0x417*? And I do not understand the relationship between *ATTR{iomem_base}== "0x1E787000"* and address *0x417*? Could you point me to the kernel patch?

[2016-11-07 15:15] shenki commented on #749
We don't change that value in the kernel at all, and never have. It is read from the hardware at boot, and the documentation defines it as `x` (don't care) at reset. The value is supposed to be initialised by userspace and is currently done so by `obmc-console-server` in our OpenBMC.

`obmc-console-server` is started when it's character device (`/dev/tty*`) is created.

In the past we did not spec

[2016-11-07 15:30] adamliyi commented on #749
@shenki . Thanks Joel for the detail comment- it clarified my doubt - why this timeout issue not always happen.

[2016-11-07 15:33] spinler opened #752 "BMP280 needs to be enabled in witherspoon.cfg"
@mine260309  I think you handle these?

[2016-11-07 15:40] williamli80 commented on #748
@williamspatrick  @geissonator Maybe @mine260309 or @SS-IBM  can take this? Refers to #647

[2016-11-07 15:46] #706 closed

[2016-11-07 15:46] #718 closed

[2016-11-07 15:46] #749 closed

[2016-11-07 15:47] #747 closed

[2016-11-07 15:58] mine260309 commented on #752
Sure, I will take this task.

[2016-11-07 16:09] mine260309 commented on #743
The real fix should be to remove `IDBTN` and `BMC_THROTTLE` related code for Witherspoon and Romulus, but keep them for P8 machines.

[2016-11-07 17:12] mine260309 commented on #743
From an email discussion, @williamspatrick mentioned that @shenki will have a refactor proposal on these parts of code, and currently we will focus on P9 power on.
So the temp fix could be define both `IDBTN` and `BMC_THROTTLE` for Witherspoon and Romulus, so that it does not block the power on sequence code.

[2016-11-07 22:04] paulgrobertson commented on #751
Here is the UCD script containing i2c commands that are failing.   How do we do this with UCD driver installed?

#!/bin/sh
# #############################################################
# script to disable UCD VCS rails.
echo Disable UCD control of VCS
i2cset -y 11 0x64 0xF7 0x00 i
i2cset -y 11 0x64 0xF8 0x15 0x6E 0x80 0x0A 0x00 0x00 0x10 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x0

[2016-11-07 22:16] mine260309 commented on #751
@paulgrobertson I know a way to do the test, but it could be a bit complicated: remove `ucd90160@64` part from `arch/arm/boot/dts/aspeed-bmc-opp-witherspoon.dts`, rebuild the kernel, and then do the above test.
Maybe @shenki have better ways.

[2016-11-07 22:28] geissonator commented on #444
Will this code be merged by Nov 9th?  Otherwise I need to move to next sprint.

[2016-11-07 23:23] mine260309 commented on #752
Review posted: https://gerrit.openbmc-project.xyz/#/c/1026/

And I did some investigation of the device, it should be on `0x77@i2c-3`, and the device name should be `bmp180`.

[2016-11-08 02:25] geissonator commented on #638
https://gerrit.openbmc-project.xyz/#/c/719/

[2016-11-08 02:49] geissonator commented on #522
This issue popped back up again on BarD04 today.  I assume the new pflash updates we put into the code recently are the issue (we bricked 2 systems yesterday).  The erase portion of the update was running super slow and we hit this watchdog again :(  We'd mostly worked around this issue on our system by putting the faster flash chips in.  We really need a long term solution to this problem.

[2016-11-08 02:51] shenki commented on #522
@geissonator can you please provide details with your bug report.

What was the kernel version?

What was the system version (/etc/os-release)?

What were you flashing?

What was the command(s) you used?

Have you reproduced it more than once?

Thanks

[2016-11-08 02:58] geissonator commented on #522
I didn't check the code level before the update :(
I was going to ubuntu,barreleye #337-b168869f062b3d
Code update flow is prepareForUpdate, preserve network settings, copy in all.tar, reboot into update.
System was BarD04

[code]

[2016-11-08 03:30] shenki opened #753 "Add rsync to the image"
Requested by our users

[2016-11-08 03:48] adamliyi commented on #743
A better fix is mentioned by @GHF:
[code]

[2016-11-08 03:50] adamliyi commented on #743
@mine260309 , you mentioned:
[code]
So define IDBTN in Witherspoon and Romulus will `break the function of its related front panel button`?

[2016-11-08 04:02] williamspatrick commented on #753
Why is rsync preferred when scp is already provided?  Can we get more background.

Doesn't appear that busybox supports rsync so that means we'll need to get "real" rsync.  On my x86 box it is .5 MB in size.  Hopefully we can disable a bunch of options and make it much smaller on ARM.

[2016-11-08 04:06] sivassrr commented on #699
@prkatti1 could you rerun and see whether we are seeing any issues, here

[2016-11-08 04:22] shenki opened #754 "Debug tarball busybox is built into all images"
We enable a bunch of extra tools in busybox. This does two things:

 - Builds them into the busybox binary
 - Creates symlinks for the extra tools

That busybox binary is then the one that ends up in all images, not just the debug tarball.

So we're paying for the space but not getting the tools. You can reproduce by creating a symlink:

[code]

[2016-11-08 04:24] shenki commented on #754
[code]

[2016-11-08 04:26] shenki commented on #754
The mystery missing symlinks are in `/usr/bin`.

[2016-11-08 04:26] #754 closed

[2016-11-08 05:22] mikey commented on #753
rsync does incremental updates which is useful when on the other side of the world. There's a reason rsync was invented in Australia..

[2016-11-08 06:11] prkatti1 commented on #699
@sivassrr sure, will & share the report.

[2016-11-08 06:37] shenki commented on #753
[code]

[2016-11-08 07:16] williamli80 commented on #708
After git clone it, get into the ipmitool's path
[code]
Those we can close this?

[2016-11-08 07:24] gkeishin opened #755 "[Barreleye "v1.99.0-226-g068b41c"] Failed to start Restore Last State."
Keep seeing this error in case of code update.

``` Oct 20 19:59:10 barreleye systemd[1]: Failed to start Restore Last State. ```

So doe this means the Restore policy is not persistent during code update..

Journal log attached here
[journal_restore.txt](https://github.com/openbmc/openbmc/files/577548/journal_restore.txt)

[2016-11-08 07:24] gkeishin commented on #755
@ratagupt  anything on the restore policy here to look at..

[2016-11-08 07:40] gkeishin commented on #705
I also see similar issue on witherspoon as well

root@witherspoon:~# obmcutil state
 = BMC_READY
root@witherspoon:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="v1.99.0-226"
VERSION_ID="v1.99.0-226-g068b41c-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) v1.99.0-226"
BUILD_ID="v1.99.0"
root@

[2016-11-08 07:55] adamliyi commented on #533
@madscientist159 , @mine260309 mentioned that if we want to IPL Firestone, we need:
[code]
I am wondering - if all your patch has been merged to openbmc, then the master head of openbmc should be able to IPL firestone? (plus the `redirect host output to VUART` step)?

[2016-11-08 08:19] williamli80 commented on #755
Last system state is stored in  SYS_STATE_FILE = '/var/lib/obmc/last-system-state'.
system_manager.py will set the property of "system_last_state".
discover_system_state.py will read system_last_state. ...
During Code update, is SYS_STATE_FILE readable?

[2016-11-08 08:21] williamli80 commented on #742
@williamspatrick @geissonator  Who can help on this?

[2016-11-08 11:52] williamspatrick commented on #753
[code]

I was able to get it a decent bit smaller by changing the configure options to this.  We should probably also do similar on openbmc.  Any concerns with any of these options?  '--without-included-zlib' made a big dent in the size by itself.

[2016-11-08 14:11] ratagupt commented on #755
@gkeishin:- restore last state is not a binary so I am confused with the above error message...
Seems that there is problem in starting of discover_system_state.py...
Do you have the system in the same state?I saw the system which you were using but seems you reverted it to some other build.

[2016-11-08 14:19] sivassrr commented on #603
@SrideviRamesh working on the same to have OS install and will retry this and provide the data.

[2016-11-08 14:23] sivassrr commented on #519
@gkeishin -Are we still seeing it in the latest driver? could you try it on

[2016-11-08 14:37] ratagupt commented on #755
meta-phosphor/common/recipes-phosphor/system/obmc-mgr-state/obmc-mgr-state.service...Here we are starting the discover_system_state.py..

[2016-11-08 14:37] sivassrr commented on #658
@gkeishin  can we recheck it with the latest driver

[2016-11-08 15:25] mine260309 commented on #743
@adamliyi Yup, according to Nick's explanation, IDBTN on P9 is a IN GPIO connected with a front panel button, if user push the button, a LED in the back will light.
If BMC override and write this GPIO to 1, (from the schematic) it **may** cause the function to break, that pushing the button will not turn on the LED.

[2016-11-08 16:39] madscientist159 commented on #533
@adamliyi The redirect step is a hack -- Firestone has a dedicated physical serial port that is active under the proprietary BMC firmware.  I would greatly prefer that this dedicated serial port remain active under OpenBMC as well, as it does function with older hostboot versions and OpenBMC.

I think there is still a pinmux patch that is being worked on and is not yet merged.  I am not able to al

[2016-11-08 19:10] #622 closed

[2016-11-08 20:30] bradbishop opened #756 "inventory: wrap sdbusplus interfaces with sdbusplus object"

[2016-11-08 20:31] bradbishop opened #757 "inventory: add mechanism to change a property"

[2016-11-08 20:53] #638 closed

[2016-11-09 01:56] amboar commented on #533
@madscientist159 As a note, all required pinmux functionality is in openbmc/linux, the patches that I Cc'ed you on are for upstream.

[2016-11-09 02:00] shenki commented on #522
I believe this bug as been resolved as of  b168869f062b3d6ef49bfa51022c99959cc03160. Please reopen if you find it persists.

[2016-11-09 02:09] adamliyi commented on #742
@shenki , please refer to @mine260309 's patch here:
https://gerrit.openbmc-project.xyz/#/c/544/4/code-update.md

Looks to me the updateViaTftp only recognize *.tar.
[code]

[2016-11-09 02:11] ratagupt commented on #546
- [ ] Make the changes in the BBclass to generate the conf file for slp.

- [ ] Write a function to fetch the all the interfaces on the system which would be required in the findsrvs.

[2016-11-09 02:12] madscientist159 commented on #533
@amboar Thank you for the clarification!  I had tried to compile master a week or two ago but it wouldn't IPL Firestone and I shelved that project waiting for the hostboot fixes in case the same root cause is in play.  I'll pay more attention to the Email headers next time! :wink:

[2016-11-09 02:12] ratagupt commented on #546
- [ ] Make file creation for the new repo.

[2016-11-09 03:33] adamliyi commented on #640
@geissonator , you mentioned: `ppc64le hardware (Ubuntu running a 16.04 docker image)`, do you mean building in a `ppc64le machine installed with ubuntu-16.04`, or building in a `pcc64le ubuntu-16.04 docker image`?

[2016-11-09 03:56] mine260309 commented on #640
I tried to build OpenBMC on Power today and meet the same error, so I believe this issue is for error when building OpenBMC on ppc64le machine, which runs ubuntu-16.04 in docker.

[2016-11-09 05:16] shenki commented on #753
Yeah I think it's okay. I assume we already include the zlib and libpopt in the image? (Otherwise the reduced binary size might be offset by the larger libs)

[2016-11-09 08:44] adamliyi commented on #640
@mine260309 , I am confused - why on Power we need another docker image to build openbmc?  I never build openbmc on Power.  By the way, could you help to let @williamli80 know how to reproduce the bug?

[2016-11-09 08:47] sivassrr commented on #744
@williamspatrick we are publishishing all the images https://openpower.xyz/job/openbmc-build/332/distro=ubuntu,target=witherspoon/artifact/images/witherspoon/,  Do we have document on which image should be used on which interface (Codeupdate via REST, Codeupdate via pflash). If it is available then we can close this.

[2016-11-09 11:56] vishwabmc commented on #736
https://gerrit.openbmc-project.xyz/#/c/1073/

[2016-11-09 13:58] mine260309 commented on #640
@williamli80 I think this issue can be reproduced on any Power server running Ubuntu16.04 (14.04 may reproduce as well).
Note: if the build fails with message like `ERROR: Uninative selected but not configured correctly, please set UNINATIVE_CHECKSUM[ppc64le]`, it is a known issue, and can be workarounded with removing below lines from file `yocto-poky/meta-poky/conf/distro/poky.conf`:
[code]

[2016-11-09 14:05] geissonator commented on #640
Correct, I recreated this issue outside of docker.  It's just that we use docker to do our automated builds so it's where the issue first popped up.  This is not the uninative issue, that workaround is in place.  This is a hang in QEMU when trying to process the gobject-introspection-1.46.0-r0 package (the compile of this package uses QEMU for something).

[2016-11-09 15:57] vishwabmc commented on #705
Is it happening always ?. Has this been fixed in latest ?.

[2016-11-09 15:59] vishwabmc commented on #408
Is it still an issue ?

[2016-11-09 16:01] spinler commented on #705
Witherspoon doesn't have any LEDs defined in the device tree yet.  Is that an error condition in the code?

[2016-11-09 16:57] eddiejames opened #758 "Handle OCC error conditions in hwmon driver"
- [ ] create hwmon sysfs files for error conditions, such as power/temperature throttle
- [ ] log other error conditions, such as OCC "safe" state
- [ ] test error conditions with mocked up data

[2016-11-09 20:43] spinler commented on #752
@mine260309 Why is it called bmp180 vs  bmp280?  The 280 is the one on the board.

[2016-11-09 21:04] mine260309 commented on #752
@spinler I tried to read the chip id from the register, it shows "0x55" which means it's `bmp180`.
And from the witherspoon dts's comment, it indicatees it's BMP180 as well.
So I think the chip should be BMP180 instead of BMP280. While the linux config is `CONFIG_BMP280` for both devices.

[2016-11-09 21:09] spinler commented on #752
The BMP180 hit end of life, so witherspoon is going to ship with the 280.  It's possible these early systems may have some old hardware with the bmp180 on it, since the card was shared with firestone/preGA garrison).

I assume the device driver will do the probe and handle the device that is actually there so we can handle both anyway?

[2016-11-09 21:33] #621 closed

[2016-11-09 21:34] bradbishop commented on #633
I opened issues for remaining unchecked tasks:
https://github.com/openbmc/openbmc/issues/726
https://github.com/openbmc/openbmc/issues/757

[2016-11-09 21:34] #633 closed

[2016-11-09 21:49] geissonator commented on #315
Not merged so moving to next sprint.

[2016-11-09 21:53] geissonator commented on #444
No code merge so moving to next sprint.

[2016-11-09 22:03] #630 closed

[2016-11-09 22:04] mine260309 commented on #742
I met such issue before, the root cause is that the `<filename>` contains directory (here it's `palm4/palmetto.pnor`), the update script just simply does not handle such case, trying to save the file to `/tmp/palm4/palmetto.pnor`, where the parent directoy does not exist yet, that why it gets error `No such file or directory`.

We can address this issue by either:
* indicate in documentation that

[2016-11-09 22:05] geissonator commented on #98
I assume this is https://gerrit.openbmc-project.xyz/#/c/316/ ?

[2016-11-09 22:23] geissonator commented on #658
@gkeishin please confirm if this is still an issue or not in latest driver

[2016-11-09 22:28] geissonator commented on #675
Seems like already tracked with current story, @anoo1 to verify.

[2016-11-09 23:17] shenki commented on #742
I think we should modify the script to handle the directory issue. Once the file has been tftp'd over to the BMC, we should discard the directory part of the path.

[2016-11-09 23:24] amboar commented on #758
@eddiejames can you please provide more of a description for the first item? What is the behaviour of these sysfs files? When will they be present? Always? Only in the face of errors? Is sysfs the right interface for exposing this information? What about logging the problem (to the journal) instead?

[2016-11-10 01:44] #340 closed

[2016-11-10 01:45] #338 closed

[2016-11-10 01:48] geissonator commented on #585
Gotta either move this to next sprint or close it out.  Need some feedback from @williamspatrick I guess?

[2016-11-10 01:49] geissonator commented on #635
No updates, moving to next sprint.

[2016-11-10 04:09] mine260309 commented on #752
Yup, the driver handles both bmp180 and bmp280， and the kernel config is `CONFIG_BMP280` anyway.
@williamspatrick Since the review is closed and merged, could you help to close this issue？

[2016-11-10 04:11] johnhcwang opened #759 "[Barreleye v1.0-stable] Fail to boot host because of pflash has stuck"
Sometimes we got the pflash error message **LIBFLASH: WREN has WIP status set !** and **pflash occupied high CPU resource** during AC cycle test with always power on policy.
In this case, the state didn't be change to INVENTORY_UPLOADED, so BMC didn't start FSI command to boot host.

Hi @anoo1 , have you seen this situation? Does it related to pflash updates since Sep 12?

[code]
[code]
[journal l

[2016-11-10 04:13] mine260309 commented on #742
Yup, I prefer to fix this issue as well.

[2016-11-10 04:15] williamspatrick commented on #759
@johnhcwang - This is a question with respect to the stable branch?  I see the following in your journal output, so I assume so.

[code]

[2016-11-10 04:34] shenki commented on #751
I think you're correct that the driver does not provide the functionality we need.

While I work through the issue, you can unbind the driver from the device. This allows you to use your i2cset command again. I assume once the host has been brought up you could re-bind the driver.

To unbind:
[code]

To re-bind once you're finished with the sequence:
[code]

I could not test this, so I am guessing

[2016-11-10 04:37] shenki commented on #751
I emailed @paulgrobertson with these details

[2016-11-10 04:48] shenki commented on #752
@mine260309 did you verify that the driver is enabled?

You need to set CONFIG_IIO=y :)

[2016-11-10 04:51] gkeishin opened #760 "[Barreleye VERSION_ID="v1.99.0-237-gb02da7b] Failed to start Phosphor IPMI BT DBus Bridge."
[  OK  ] Started Clear one time boot overrides.
[code]
Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 barreleye ttyS4

barreleye login: ftgmac100 1e660000.ethernet eth0: NCSI interface up
random: nonblocking pool is initialized

Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 barreleye ttyS4

barreleye login: root
Password:
root@barreleye:~#

● org.openbmc.Ho

[2016-11-10 04:51] johnhcwang commented on #759
@williamspatrick - Yes, the issue we found on the v1.0-stable.

[2016-11-10 04:55] gkeishin commented on #658
@geissonator Now i dont see this but it seems more of an intermittent issues showing up now and then..   however few driver in last couple of days is showing no sign of such failure so far..

[2016-11-10 04:56] shenki commented on #760
btbrdiged is not i nthe filesystem on my machine:

[code]

What happened to it?

[2016-11-10 04:57] gkeishin commented on #705
@vishwabmc I need to see if this shows up in latter.. will report if seen.

[2016-11-10 05:02] gkeishin commented on #760
On barreleye also i dont see that btbridged file anywhere...

[2016-11-10 05:23] shenki commented on #760
Fixed by reverting 7729fe6efcf72a3e3057f13c27c922bfac570196.

https://gerrit.openbmc-project.xyz/#/c/1093/

[2016-11-10 05:27] shenki commented on #658
Given you cannot reproduce, lets close the issue. Please re-open if you see it again.