[2015-10-01 17:31] bradbishop opened #10 "Unable to boot using GCC 5.2.0"
At the moment, we are using Yocto master head which generates a GCC 5.2.0 based toolchain.  This toolchain doesn't produce a usable kernel on Palmetto:

AST2400EVB>bootm 0x50000000
## Booting image at 50000000 ...
   Image Name:
   Image Type:   ARM Linux Kernel Image (uncompressed)
   Data Size:    2312568 Bytes = 2.2 MiB
   Load Address: 40008000
   Entry Point:  40008000
   Verifying Checksum .

[2015-10-16 04:44] shenki opened #18 "u-boot fixes for palmetto"
- set the kernel command line to output on ttyS4
- enable DHCP

[2015-10-16 05:41] jk-ozlabs commented on #18
The first one should be covered by https://github.com/openbmc/openbmc/pull/19

[2015-10-19 03:13] bradbishop opened #20 "reboot -f hang"
reboot -f is hanging:

root@palmetto:~# reboot -f
Rebooting.reboot: Restarting system

I tried the 'reboot=force' cmdline option but that didn't seem to help any.  I'd strace it but strace isn't in the build.  Does it make sense to add that?

[2015-10-19 05:36] jk-ozlabs commented on #20
`strace` won't help with this, but it might be useful in general.

[2015-10-19 05:50] shenki commented on #20
@bradbishop Were you on the serial console, or ssh'd in?

[2015-10-19 05:51] bradbishop commented on #20
serial console

[2015-10-21 12:36] nkskjames opened #28 "stdout not captured in journald log for subprocesses of system_manager"
system_manager launches required dbus processes and short lived processes.   The stdout from those processes is not captured in journald log.   Need an alternative method.

[2015-10-21 12:39] nkskjames opened #29 "can't include i2c-tools without perl"
The i2c-tools recipe has a RDEPENDs on perl because of some utility perl scripts.  we don't need those scripts, so I removed scripts and dependency on Perl, but bitbake still thinks there is a dependency.  A "smart install" maybe sees /usr/bin/perl in scripts and assumes it needs it?

[2015-10-22 03:12] williamspatrick commented on #28
Thinking about this a little bit I'm surprised it doesn't already work.  The system_manager is launched from systemd so its stdout and stderr route to journald.  When it creates a sub-process, don't the children inherit the same stdout / stderr?  Can you tell what the stdout / stderr point to for the children?  Use /proc/<pid>/fd entries to identify.

[2015-10-22 03:13] williamspatrick commented on #29
Can you explain what you already tried so that we don't need to rediscover the approach that doesn't work?

Did you remove the dependency on the i2c-tools-misc package from i2c-tools?  I would be surprised if bitbake is identifying perl scripts to install.

[2015-10-22 21:54] nkskjames commented on #20
reboot without the -f hangs too for what it's worth.

[2015-10-22 21:56] nkskjames commented on #28
I found issue.   there is a known issue with systemd not playing nicely with python stdout buffering.   so adding -u to python command line says to not buffer and now stdout shows up in journald log.

[2015-10-22 21:56] #28 closed

[2015-10-22 23:26] shenki commented on #20
@jk-ozlabs did some investigation and found that setting WDT_CTRL_RESET_MODE_FULL_CHIP in the watchdog resolved the issue.

https://github.com/jk-ozlabs/linux/commit/2f1711908ac92968e2d533616c4cdb8d7b848677

I'm unsure why we now need this flag, when reboot was working before.

[2015-10-22 23:47] bradbishop opened #34 "Need to pass the correct argument to system manager for Barreleye"
Opening an issue because I'm not sure how to do this at the moment.

[2015-10-23 09:41] Kenthliu opened #35 "Can not build image."
Hi IBM team,
I'm Foxconn BMC FW engineer Ken.
It's my pleasure to co-work with you.
We download zip in the right side, and get an openbmc-master folder.
Under openbmc-master folder, we follow the instruction executed .openbmc-env.
But just see the below error message.

openpower@openpower-VirtualBox:~/openbmc-master$ ./openbmc-env
### Initializing OE build env ###
yocto-poky/oe-init-build-env: 47:

[2015-10-23 14:14] williamspatrick commented on #35
Two issues:

1. You can build directly from the extracted directory, but the recommendation from bitbake is to go to a new empty directory.  When you run the command to set up the bitbake environment it will create a 'build' subdirectory in your current location.  If you do this in an empty directory it doesn't pollute your code repository / zip extraction at all.

2. It should be <dot><space> not

[2015-10-23 23:23] nkskjames commented on #29
i removed the whole misc package:
#PACKAGES =+ "${PN}-misc"
#FILES_${PN}-misc = "${sbindir}/i2c-stub-from-dump \
#                        ${bindir}/ddcmon \
#                        ${bindir}/decode-edid \
#                        ${bindir}/decode-dimms \
#                        ${bindir}/decode-vaio \
#                       "
#RDEPENDS_${PN} += "${PN}-misc"
#RDEPENDS_${PN}-misc += "perl"

Then:

[2015-10-24 00:19] nkskjames commented on #29
Changing to this works:
PACKAGES =+ "${PN}-misc"
FILES_${PN}-misc = "${sbindir}/i2c-stub-from-dump \
                        ${bindir}/ddcmon \
                        ${bindir}/decode-edid \
                        ${bindir}/decode-dimms \
                        ${bindir}/decode-vaio \
                       "
#RDEPENDS_${PN} += "${PN}-misc"
RDEPENDS_${PN}-misc += "perl"

[2015-10-24 00:19] #29 closed

[2015-10-26 09:59] Kenthliu commented on #35
Hi William,
We can build succefully.
Please close this issue.
Thank you very much!

[2015-10-26 09:59] #35 closed

[2015-10-27 22:45] shenki opened #41 "Add kernel config to board layers"
We should be keeping the Linux kernel configuration in the board specific layers.

We will leave the `aspeed_defconfig` for Kernel developers to customise to their needs, and ensure that the systems have a minimal, secure, configuration.

I'm unsure on the poky bits that need to be done here. If @bradbishop could move the `aspeed_defconfig` config into the tree, I will then follow up with any conf

[2015-10-28 02:55] jk-ozlabs commented on #20
My money is on magic SCU register configuration.

[2015-10-28 14:10] bradbishop commented on #34
addressed here: https://github.com/openbmc/openbmc/pull/42

[2015-10-29 18:58] causten opened #46 "sdk failes to compile against palmetto"
without exporting the templateconf it works fine but fails to build if pointing towards a palmetto conf

export TEMPLATECONF=meta-openbmc-machines/meta-openpower/meta-ibm/meta-palmetto/conf
. oe-init-build-env
bitbake -c populate_sdk obmc-phosphor-image
results in...

NOTE: Executing RunQueue Tasks
ERROR: Function failed: do_install (log file is located at /home/causten/openbmc-barreleye/build/tmp

[2015-10-29 19:06] bradbishop commented on #34
I think this can be closed.

[2015-10-29 19:50] #34 closed

[2015-10-30 07:23] bradbishop commented on #41
Done.  https://github.com/openbmc/openbmc/pull/50

[2015-10-30 08:29] Kenthliu commented on #46
The root cause may related to SRCREV in meta-phosphor/common/recipes-kernel/linux/linux-obmc_4.2.bb

[2015-11-01 04:31] williamspatrick opened #56 "Add device trees to correct phosphor layer."
openbmc/linux#10 added device trees to the Linux tree.  These should be in the meta-phosphor-machines layer instead.

[2015-11-01 13:14] nkskjames commented on #56
I think you mean meta-openbmc-machines layer

[2015-11-02 04:03] bradbishop commented on #56
Did this here: https://github.com/openbmc/openbmc/pull/62

[2015-11-02 04:05] bradbishop commented on #46
I'm pretty sure this is fixed by https://github.com/openbmc/openbmc/commit/4f1decd6c7a4487e813c711b49bf675a62c489d4

[2015-11-07 19:59] #46 closed

[2015-11-13 17:20] bradbishop opened #81 "Add fallback version information for building outside git"

[2015-11-20 04:51] bradbishop commented on #81
fixed here: https://github.com/openbmc/openbmc/pull/88

[2015-11-20 14:08] #81 closed

[2015-11-20 18:14] causten opened #90 "No VPD for system or chassis"
$ curl -k https://9.3.29.119/org/openbmc/inventory/enumerate
{
  "data": {
    "/org/openbmc/inventory/system": {
      "fault": "None",
      "fru_type": "SYSTEM",
      "is_fru": 1,
      "present": "Inactive",
      "version": "None"
    },
Was expecting teh VPD from Hostboot about the product to show up here

[2015-11-20 18:15] causten opened #91 "Review Centaur VPD for accuracy"
"/org/openbmc/inventory/system/chassis/motherboard/centaur4": {
      "Custom Field 1": "ECID:019A007000185718110D0000004401E1",
      "Custom Field 2": [],
      "Custom Field 3": [],
      "Custom Field 4": [],
      "Custom Field 5": [],
      "Custom Field 6": [],
      "Custom Field 7": [],
      "Custom Field 8": [],
      "FRU File ID": [],
      "Manufacturer": "0000000000000000",
      "N

[2015-11-20 18:16] causten opened #92 "Every core and dimm not populated shows fault"
"/org/openbmc/inventory/system/chassis/motherboard/cpu0/core8": {
      "fault": "True",
      "fru_type": "CORE",
      "is_fru": 0,
      "present": "False",
      "version": "None"
    },

The core is not present nor will it ever.  Why set the Fault value to True?

[2015-11-20 18:19] causten opened #93 "Presence Detect failing on things that exist fans, system, chassis"
BMC based devices not controlled by the host do not get presence.  True for fans, system and chassis too

curl -k https://<ip>/org/openbmc/inventory/enumerate
{
  "data": {
    "/org/openbmc/inventory/system": {
      "fault": "None",
      "fru_type": "SYSTEM",
      "is_fru": 1,
      "present": "Inactive",
      "version": "None"
    },
    "/org/openbmc/inventory/system/chassis": {
      "faul

[2015-11-20 18:25] causten opened #94 "ps from petitboot has over 4000 processes"
not sure it this is a problem but does seem odd.

[2015-11-20 21:04] williamspatrick commented on #94
How is this an openbmc problem?  Isn't it a open-power/skiboot or open-power/buildroot problem?

[2015-11-20 21:05] williamspatrick commented on #92
The open-power/hostboot code sends it down that way from IPMI.

[2015-11-23 22:43] williamspatrick opened #98 "Clock management."
openbmc/phosphor-host-ipmid#40 introduced an implementation of the set-sel-time IPMI function.  Inside it makes a system call to 'hwclock -w' to force write the time to the RTC.
1. Do we want a dbus object for updating the clock(s)?  We discussed possibly having separate BMC and Host clocks as a configuration option.
2. When is the appropriate time to call 'hwclock' and how does is that dealt with

[2015-11-23 22:47] shenki commented on #98
A third point:

There is a i2c attached DS3231 rtc, which is battery backed (at least on Palmetto), and the internal rtc which is not battery backed.

A normal boot will have the internal RTC at /dev/rtc0, which hwclock -w will default to. The DS3231 will be at /dev/rtc1.

When do we want to sync to/from the battery backed RTC? Do we want to use the internal one at all, if so, it should be disable

[2015-11-24 05:14] shenki commented on #56
I think this can be closed now that we are back to using in-tree device trees

[2015-11-24 05:22] shenki commented on #20
On ```Linux barreleye 4.3.0-openbmc-20151123-1 #1 Mon Nov 23 16:15:26 UTC 2015 armv5tejl GNU/Linux``` with OpenBMC userspace, plus the userspace tool `watchdog` running:

[code]

[code]

And then the system hangs.

It appears that systemd is bringing down the watchdog daemon here `[  OK  ] Stopped SYSV: A software watchdog.`, and from then on we don't get any pings.

The watchdog is then configure

[2015-11-24 05:26] shenki commented on #20
[code]

And then the system was hung.

[2015-11-24 17:23] williamspatrick commented on #56
Long-term we should move back to openbmc device trees.  That was the previous discussion we had.

[2015-11-25 00:16] causten opened #101 "Candidate3 driver failing to create a network"
root@palmetto:~# uname -a
Linux palmetto 4.3.0-openbmc-20151123-1 #1 Mon Nov 23 13:03:15 CST 2015 armv5tejl GNU/Linux
root@palmetto:~# ifconfig eth0 9.3.164.147 netmask 255.255.255.128
root@palmetto:~# route add default gw 9.3.164.129
root@palmetto:~# cho "nameserver 9.3.1.200" >> /etc/resolv.conf
-sh: cho: command not found
root@palmetto:~# echo "nameserver 9.3.1.200" >> /etc/resolv.conf
root@pal

[2015-11-25 01:05] gwshan commented on #101
I tried to load a private kernel built from mainline. Also I tried to load the kernel by uboot command "run netboot" for couple of times. The problem can't be reproduced. The root cause is the NCSI interface isn't up in time when hitting the kernel crash as below:

- Bring up eth0. NCSI interface isn't up.
- Bring down eth0 and causes kernel crash. It's a known issue I'm tracing currently.

[2015-11-25 01:26] causten commented on #101
So what happens next?

 Sent from my iPhone using IBM Verse

 On Nov 24, 2015, 7:06:06 PM, "Gavin Shan" <notifications@github.com> wrote:

   I tried to load a private kernel built from mainline. Also I tried to load the kernel by uboot command "run netboot" for couple of times. The problem can't be reproduced. The root cause is the NCSI interface isn't up in time when hitting the kernel crash as

[2015-11-25 01:54] gwshan commented on #101
There're two issues here as mentioned: (1) NCSI interface isn't up in time (2) kernel crash

I'm working on a fix for (2). Hopefully I can get something for it. Next step is to recreate (1) then I jump in to debug...

[2015-11-25 02:56] jk-ozlabs commented on #101
Looks very similar to https://github.com/openbmc/linux/issues/17

[2015-11-25 04:38] shenki commented on #101
Gavin has posted patches that should resolve the kernel crash. I have merged these patches into the dev-4.3 branch, and tag a release COB today.

[2015-11-26 23:48] shenki opened #103 "Package pflash"
Create a bitbake recipe and upstream it for building pflash for the BMC. Upstream it, and add it to our images.

As of https://github.com/open-power/skiboot/commit/ed7753c8e12fc3a17a7c32da5873ff1f830e2aa7 we have support for the 32MB flash as used by Barreleye.

[2015-11-26 23:50] shenki opened #104 "Ensure all tools are building with -Wall"
Most of our custom makefiles do not set -Wall. We found a few real bugs, and lots of warnings, in our ipmid by turning this on.

We should turn it on for all repos, and once the issues are cleaned up consider adding `-Werror` to ensure we don't regress.

Having CI builds for individual packages under Travis and/or Jenkins should be a prerequisite for turning on `-Werror`, to help developers diagno

[2015-11-27 02:43] causten opened #105 "ELF relocations in build... bad?"
WARNING: QA Issue: ELF binary '/home/causten/openbmc-barreleye/build/tmp/work/armv5e-openbmc-linux-gnueabi/host-ipmid-fru/1.0-r1/packages-split/host-ipmid-fru-dev/usr/lib/libwritefrudata.so' has relocations in .text [textrel]

WARNING: QA Issue: ELF binary '/home/causten/openbmc-barreleye/build/tmp/work/armv5e-openbmc-linux-gnueabi/host-ipmid-fru/1.0-r1/packages-split/host-ipmid-fru/usr/lib/host-i

[2015-12-01 13:17] shenki opened #107 "linux: WARN on boot in networking code"
Using an OpenBMC userspace and a 4.3 kernel with some unrelated watchdog debugging patches.

[code]

[2015-12-01 13:19] shenki commented on #107
@gwshan to take a look

[2015-12-01 15:45] williamspatrick opened #109 "Create dropbear key on boot."
First time you connect via SSH, connection is pretty slow.  We should create the dropbear key on boot.

See:

https://github.com/koenkooi/Angstrom-integration-layer/blob/master/meta-oe/recipes-core/dropbear/dropbear-systemd/dropbearkey.service

[2015-12-01 23:08] shenki commented on #109
Is this asynchronous? We don't want to block booting for key generation.

How much does it slow down our boot time?

[2015-12-02 11:16] shenki commented on #94
This is normal, as you will see all of the kernel threads in `ps`. For many parts of the kernel create a kthread for each online CPU, and this is how the list grows so large.

Please close.

[2015-12-02 11:22] shenki commented on #20
In my testing I have added print statements to the watchdog code. It appears that systemd activates the watchdog as it shuts down userspace, as a precaution against a hang at shutdown time. It was suspected that this interaction was causing issues, but that is not the case.

I used some userspace code to open /dev/watchdog0, and after patting it a few times, let it expire. This causes the same han

[2015-12-02 14:31] nkskjames commented on #20
So its 1 bit causing the issue.   bit 4 in SCU reg 0x70 which sets the SPI addressing mode.    I had started with devmems from bringup which use a 16MB SPI flash.  We later switched to 32MB flash which needs 4 byte addressing mode.  This bit was overriding to 3 byte addressing mode which since the BMC is already booted when this gets set, it didn't affect anything, until a reboot....

[2015-12-02 14:38] nkskjames commented on #20
I'm not sure why we are setting that register to begin with.  it is setup properly by strapping.  fix is to remove entire register set.

[2015-12-02 14:55] #94 closed

[2015-12-02 17:05] bradbishop commented on #109
@shenki its async.  It won't slow the boot time down at all.

[2015-12-02 17:15] bradbishop commented on #109
resolved here: https://github.com/openbmc/openbmc/pull/112

[2015-12-03 01:20] #20 closed

[2015-12-03 11:01] gwshan commented on #107
It's a warning message printed when enabling bottom half in softIRQ path and it's not critical issue. The issue isn't reproducible every time. I might hit one in continuous 10+ times. I'm travelling now and will look for more after settlement.

[2015-12-07 05:54] causten opened #117 "Missing cool tools"
I see the ability to dump messages and get good error logs in the systemsd code.  But I don't seem to get those awesome functions like (bus_message_dump or bus_creds_dump).  How come?

systemd/src/libsystemd/sd-bus/bus-dump.c

[2015-12-07 15:53] causten commented on #117
Seems like these interfaces are not exposed for general use.  I'll fire off a note to the systemd mailing list to ask about best practices.

[2015-12-07 16:19] causten commented on #117
[code]

[2015-12-08 03:24] causten commented on #117
I'll look in to this on the side

[2015-12-08 03:24] #117 closed

[2015-12-08 05:46] cyrilbur-ibm opened #118 "u-boot: NCSI stops working"
While fixing another networking issue I've noticed that if many tftpboot commands are run on the BMC eventually the NCSI layer stops initialising properly rendering the networking non-operational on the BMC.

It appears that nothing can be done to recover except reset which solves this problem (but it will return if too many tftp commands are run).

I was testing by downloading 16MB of firmware, I

[2015-12-15 03:15] bradbishop commented on #103
I'll take this.

[2015-12-15 03:16] bradbishop commented on #41
@shenki can this get closed?

[2015-12-15 03:25] shenki commented on #41
Have we checked that the config only enables the bits that we need? I can take a look if you want.

I think it would make sense to put the configs in the one file instead of having the hwmon chunk separate.

[2015-12-15 03:32] shenki commented on #103
@bradbishop I've got a bitbake file in my repo https://github.com/shenki/poky/commit/1761d0bb88acfcd1e6db32a82087832c3c53a350. If you could ensure that it works and integrate it into our tree that would be great!

[2015-12-15 21:44] agangidi53 opened #122 "SDK build fails on ppc64le"
While configuring libgcc SDK build fails when run on ppc64le. I tried this on Barreleye with Ubuntu 15.04 .

[2015-12-16 22:43] shenki commented on #122
Can you please provide the logs for your failed build?

[2015-12-17 03:27] shenki commented on #105
I also see this when building the latest:

[code]

[2015-12-17 22:48] agangidi53 commented on #122
Hi Shenki

@causten  should have the logs. I did this build live image and lost access to it. Ii'll re-run the build if he doesn't have them.

[2015-12-17 23:29] anoo1 commented on #122
$ bitbake -v -c populate_sdk obmc-phosphor-image
ERROR:  OE-core's config sanity checker detected a potential misconfiguration.
    Either fix the cause of this error or at your own risk disable the checker (see sanity.conf).
    Following is the list of potential problems / advisories:

    libsdl-native is set to be ASSUME_PROVIDED but sdl-config can't be found in PATH. Please either install it,

[2015-12-17 23:35] shenki commented on #122
That's strange.

As a workaround, you can build Qemu without SDL. Find `build/conf/local.conf` and comment out the this block:

[code]

[2015-12-17 23:46] shenki commented on #122
[code]
[code]

[2015-12-18 15:59] bradbishop opened #124 "os-release is not updated after change to git repository"
I'm working on a way to make this get regenerated whenever something changes in git.

also..I used git tag where I should have used git describe.

[2015-12-18 20:41] bradbishop commented on #124
I have https://github.com/openbmc/openbmc/pull/125 that addresses this in a hacky way.  Planning on leaving this open until I can figure out how to make the package rebuild only after a git repository change.

[2016-01-07 23:37] jk-ozlabs opened #128 "palmetto build still tries to build qemu"
I've configured openbmc for the palmetto target:

[code]

Resulting in:

[code]

However, build is failing during qemu do_compile. While the actual build failure (of `qemu-native`) is a problem, can we just skip this step for non-qemu platforms?

[2016-01-07 23:38] jk-ozlabs commented on #128
Also, qemu seems to be the package that is most sensitive to build-system differences, so this would prevent build problems on varied build systems...

[2016-01-08 14:52] anoo1 commented on #128
If you've built qemu before, you might need to delete the conf dir: rm -rf build/conf  ..  then try the export and bitbake commands once more.

[2016-01-09 02:52] williamspatrick commented on #107
@gwshan - Is this resolved?

[2016-01-11 20:35] dcrowell77 commented on #92
Can you be more specific about where you are detecting the 'fault' setting?  What bit(s) are you looking at?  Which sensor type are you looking at (we have both functional and fault sensors)?  For a non-present part, we deassert the present offset and assert the disabled offset.  Is the disabled offset the problem?

[2016-01-12 19:06] causten commented on #101
I have tried to recreate and it appears the fix is holding.  Thank you

[2016-01-12 19:06] #101 closed

[2016-01-13 04:09] shenki opened #132 "Fails to boot host on palmetto"
I'm running the latest pnor and openbmc builds:

OpenBMC: https://github.com/openbmc/openbmc/commit/df37619ce77c8b7f6805b8bc319ec15abfcdf9dc
PNOR: https://github.com/open-power/op-build/commit/da2732d9bde6351c4668f50a63c9a02aeaec30d6

OpenBMC boots fine. I then run the following to start the host:

[code]

And nothing happens on the host serial port.

[code]

[2016-01-13 21:41] anoo1 commented on #132
Power on is failing because the Throttle gpio was added only to Barreleye and not Palmetto. This is now fixed in openbmc commit 23ffc6d. Just need to refresh your openbmc repo and rebuild the image.

root@palmetto:~# obmcutil poweron
 = None
root@palmetto:~# journalctl --follow
-- Logs begin at Sun 2015-12-13 21:19:41 UTC. --
Jan 13 19:31:23 palmetto system_manager.py[797]: Turn on power and boot

[2016-01-14 00:34] shenki opened #134 "DNS not configured on boot"
In our lab, we have DHCP configured. At boot my palmetto BMC gets an ip address, but does not come up with `/etc/resolv.conf` populated.

Running `udhcpc` manually does fix this, but it should be done at boot time.

[2016-01-14 00:35] shenki opened #135 "wget does not work"
In our lab, test machines are firewalled from the web and must go through a http proxy:

[code]

Setting the proxy still fails:

[code]

[2016-01-14 00:38] jk-ozlabs commented on #135
How about:

    export https_proxy=http://proxy:3128/

?

[2016-01-14 00:42] shenki commented on #135
@jk-ozlabs oops, that's what I was doing, but I copied it incorrectly into this issue.

Obviously setting http_proxy for a HTTPS connection has no effect.

[2016-01-14 02:43] shenki commented on #132
Thanks for the quick response @anoo1.

I updated to https://github.com/openbmc/openbmc/commit/23ffc6d9d39c0b48fafb8ac4f1efe65611a27922 (Build 35 https://openpower.xyz/job/openbmc-build/35/distro=ubuntu,target=palmetto/) and I still cannot boot my host. Are you able to test the image that our build system has produced?

[2016-01-14 19:53] anoo1 commented on #132
We've narrowed down the issue to the op-build master-next image. It doesn't boot on palmetto with openbmc. But the op-build master image (most recent is from oct 2015) boots ok with the latest openbmc. Working with hostboot team to identify what change that was dropped between oct and now that may be causing the issue.

[2016-01-18 07:17] shenki opened #137 "Verify mac addresses are set correctly"
We currently rely on the uboot environment variable to store the mac address. Both uboot and Linux should use this information; verify that this is the case and ensure we can detect when it fails.

[2016-01-18 07:20] jk-ozlabs commented on #137
.. also, this means that a system implementer will need to set per-machine u-boot variables during manufacturing. We'll need to ensure that this is acceptable, or find somewhere else (another EEPROM?) to store the MAC address.

[2016-01-18 13:49] nkskjames commented on #137
The plan was for the manufactuer to use the IPMI set LAN from host to set MAC address.  This should set both MACs.  Once we have the fw flash tools in Linux, we can use to set uboot variables.

[2016-01-18 17:50] #109 closed

[2016-01-27 06:07] shenki opened #147 "obmc-rest is using more than 40% of RAM"
While running a recent build of openbmc I noticed the following:

[code]

[2016-01-27 06:10] bradbishop commented on #147
Are you sure that's not memory?  I have a pull request to drop the number of server threads that helped some.

[2016-01-27 06:12] shenki commented on #147
Ah yep, you're right.

That's lots of memory. Do we expect it to use that much?

[2016-01-27 06:16] bradbishop commented on #147
Yeah.  With less threads (2 I think it was) it went down to about 17%, which still seems high.  Rocket is pretty fast - we can probably trade up for something slower that uses less memory.  The WSGI servers are just drop in replacements and there are quite a few to pick from.

[2016-01-27 06:18] shenki commented on #147
Thanks for the explanation, I'll leave the bug open as a reminder.

[2016-01-29 06:45] agangidi commented on #137
I verified today on my 24 servers that the mac address you set via uboot is persistent in both uboot and linux. However as Norm said, setting it via linux / host OS is a better idea for future purposes.

[2016-01-30 10:12] mkumatag commented on #132
Even I tried booting up the machine in one of the palmetto with build 42 - https://openpower.xyz/job/openbmc-build/distro=ubuntu,target=palmetto/42/ but couldn't boot up and seen following messages in journalctl --follow command:

Jan 30 10:07:35 palmetto system_manager.py[824]: Turn on power and boot
Jan 30 10:07:35 palmetto system_manager.py[824]: Running System State: HOST_POWERING_ON
Jan 30 10

[2016-01-30 17:10] anoo1 opened #152 "Serial console is disabled on first boot after persistent filesystem is flashed"
With pull request https://github.com/openbmc/openbmc/pull/150 to add the persistent filesystem, the serial console is disabled on the first boot after flash and a power cycle is required unless the network settings were configured before the flash to be able to remotely access the BMC and reboot.
As a workaround, a "ln -s /dev/null /etc/systemd/system/systemd-hwdb-update.service" is being added to

[2016-02-02 03:37] #152 closed

[2016-02-10 23:15] causten opened #174 "valgrind is not installing"
In the local.conf file I see these options.  I was able to pull in the gdb package by adding "tools-debug"  to the EXTRA_IMAGE_FEATURES list.  When I tried to do the same for valgrind by adding "tools-profile" it did not.

Please find a way to get Valgrind compiled for arm and installed as part of the build.
[code]

[2016-02-12 15:05] KennethWilke commented on #147
This is a good comparison of wsgi servers, don't think they measure rocket but it might help anyway: http://nichol.as/benchmark-of-python-web-servers

I recommend [uWSGI](https://uwsgi-docs.readthedocs.org/en/latest/) though, it's pretty fast and light

[2016-02-17 17:17] KennethWilke opened #182 "Missing header error when building skeleton_1.0-r1 for Barreleye"
Hello!

I'm trying to build the current master branch of OpenBMC  for Barreleye, but I'm getting a missing header error during the `do_compile` step for `openbmc/skeleton`

I am building this on a Barreleye host running Ubuntu 15.10 ppc64el using the following steps:
[code]

This is the some of the output I'm getting with the missing header error:
[code]

When I build OpenBMC without setting the `

[2016-02-17 20:07] KennethWilke commented on #182
This has been fixed, closing this issue

[2016-02-17 20:07] #182 closed

[2016-02-18 14:19] anoo1 commented on #132
@williamspatrick , this is the issue that hostboot team is asking if you could help.

[2016-02-18 16:50] causten opened #184 "ftgmac hitting errors"
I let the BMC sit for >10 minutes with the host in a hung state.  These prints just started popping up

-rw-r--r--    1 root     root           154 Feb 18 16:33 9
root@palmetto:~# ftgmac100 1e660000.ethernet eth0: [ISR] = 0x207: NO_RXBUF
ftgmac100 1e660000.ethernet eth0: [ISR] = 0x20f: NO_RXBUF RPKT_LOST
ftgmac100 1e660000.ethernet eth0: [ISR] = 0x20f: NO_RXBUF RPKT_LOST
ftgmac100 1e660000.etherne

[2016-02-18 20:21] shenki commented on #184
Do you have the output of `dmesg`?

What is the kernel version?

[2016-02-18 20:39] causten commented on #184
root@palmetto:~# uname -r
4.3.5-openbmc-20160212-1

dmesg is full of the prints.  maybe it wrapped?

[2016-02-19 00:04] causten opened #185 "TESTING: Fundamental hardware showing Present as False"
Both the "System Present" and "Chassis Present" test case from test_sensors.robot have found that the present property is set to false not matter what state the system is in (on/off)

$ curl -c cjar -b cjar -k https://9.3.164.177/org/openbmc/inventory/system
{
  "data": {
    "Asset Tag": [],
    "Custom Field 1": "\thostboot-3f64494-opdirty-fbd9031",
    "Custom Field 2": "\tocc-0726e69-opdirty",

[2016-02-19 00:08] causten commented on #90
Issue is fixed now.  II am using Tag 0.5

[2016-02-19 00:08] #90 closed

[2016-02-19 00:10] causten commented on #92
Looks promising, just need to get this version on to a system

[2016-02-19 00:11] causten commented on #185
I knew I fired off a defect on this already
https://github.com/openbmc/openbmc/issues/93

[2016-02-19 00:11] #185 closed

[2016-02-19 00:14] causten commented on #174
The decision was to run valgrind checks locally and not on the BMC hardware.  So I am to use an x86 sdk and run the deamon against that.  I'll use that technique and close this issue out

[2016-02-19 00:14] #174 closed

[2016-02-19 00:16] causten commented on #105
fixed

[2016-02-19 00:16] #105 closed

[2016-02-19 00:43] causten opened #186 "TESTING: OCC Powercap bad path not posting https 40x"
The test_occ_powercap.robot suite is failing on a palmetto.  In two tests "Set More Than Maximum PowerCAP"  and "Set Less Than Minimum PowerCAP" the user is forcing the code down a bad path and yet the HTTP response is 200.  This is wrong and should be fixed.

/org/openbmc/sensors/host/PowerCap/action/setValue
It was setting it to 1000 when the minpower cap read was 1100.  This should have been an

[2016-02-19 20:28] anoo1 commented on #132
The issue is not seeing anymore now that openbmc added vuart support. I'll open a hostboot issue so they can follow-up for systems that do not have vuart and use hw instead.

[2016-02-20 05:58] causten opened #187 "bootcount is not changing for failures in Hostboot"
147 is a system with a lot of problems.  Seems like there is no working memory dimms.  It turns out that it constantly restarts the ipl.  Boot Count is suppose to determine that we are only trying 3 times before we but the system in a failed state.  Because of the lack of stopping the system event log gets filled with 7xreboot.  A system trying to reboot over night can easily create over 400 event

[2016-02-25 16:46] KennethWilke opened #190 "Segfault encountered when rebooting"
Hello!

I ran into a segfault today when rebooting a BMC, I'm not 100% sure what version this box was on but I believe it was a build from the master branch within the last couple of days. I will build a new image based on 927d81657e58292f9c1226e76c85f3a23a409b6b and see if I run into this again, but wanted to report just in case.

[code]

[2016-02-25 19:13] KennethWilke opened #191 "OCC errors on host shutoff"
Howdy OpenBMC folks,

We've noticed that sometimes we'll get a bunch of OCC related errors after a shutoff, and wanted to see if this is expected behavior.

[code]

[2016-02-25 20:12] nkskjames commented on #191
This is known behavior.  Basically we disable the OCC driver after we get a host powered off message.  There is a window between when host is powered off and this disabling of the driver when it still tries to read the OCC, but it can't because host is powered off.  It won't hurt anything and one day it will be cleaned up.

[2016-02-25 20:17] KennethWilke commented on #191
@nkskjames mike says hi

should we close this issue since it's known behavior, or would you like to leave it open as a reminder to clean up?

[2016-02-26 02:36] nkskjames commented on #191
Leave it open until we fix the errors.

[2016-02-26 02:44] adamliyi commented on #186
Fixed in PR: https://github.com/openbmc/skeleton/pull/50
When setting an invalid powercap value, a dub Exception will be returned:
E.g, a test on Barreleye (should be same on Palmetto):

 curl -c cjar -b cjar -k -H "Content-Type: application/json" -X POST -d "{\"data\": [ 1900 ]}"  https://9.3.23.24/org/openbmc/sensors/hot/PowerCap/action/setValue
{
  "data": {
    "description": "Internal Server

[2016-02-26 03:27] nkskjames commented on #190
I believe those seg faults will go away now that we have gone to jffs2 filesystem.

[2016-02-26 18:29] nkskjames commented on #190
Scratch that.   I just hit a seg fault with jffs2.  I'll turn up the priority on investigating this issue.

[2016-02-26 22:05] KennethWilke opened #192 "BMC automatically turns on host"
Howdy,

I'm not sure if this is expected behavior, but lately it seems the BMC will power on the host a while after booting, I don't think older builds used to do this. Is this expected?

Thanks,
Kenneth

[2016-02-26 22:52] KennethWilke commented on #192
@anoo1 and @mdmillerii helped clear this up why this was happening via IRC. Thank you!

If anyone else runs into this, check out `/org/openbmc/settings/host0/attr/power_policy` :wink:

[2016-02-26 22:52] #192 closed

[2016-02-29 13:21] shenki commented on #190
@nkskjames just some ideas:

I was poking around our uboot code, and there is a 'dramtest' command. It requires an argument, but doesn't do anything with it. Perhaps give this a go on one of your failing barreleyes:

[code]

https://github.com/openbmc/u-boot/blob/v2013.07-aspeed-openbmc/arch/arm/cpu/arm926ejs/aspeed/STRESS.c#L106

It's using the memory test functionality of the dram controller. I

[2016-03-01 15:39] KennethWilke opened #194 "inventory_items error"
This morning I build a new OpenBMC based on 927d81657e58292f9c1226e76c85f3a23a409b6b and saw this message on my first boot, this was while I using an `obmcutil` command, but the box was still starting it's services. Attached is the error I received and my process list which shows the `inventory_items` program and a few others in a zombie state

[code]

[2016-03-01 19:31] anoo1 commented on #187
How do you recreate, is it a continuous power on/off? Want to verify this pull request addresses it:
https://github.com/openbmc/phosphor-host-ipmid/pull/70

[2016-03-01 21:57] anoo1 commented on #187
I just remembered, it's with the pnor image that doesn't support the old dimms. Will try it out.

[2016-03-02 02:16] adamliyi commented on #191
@nkskjames , ok. I will clean up these message.

[2016-03-03 10:04] adamliyi commented on #191
Fixed by PR: https://github.com/openbmc/linux/pull/56

[2016-03-03 11:45] ratagupt opened #196 "Power Restoration Policy is not working as expected"
1) System was Powered On..
2) Power_policy was set to LEAVE_OFF
3) I did a PDU reboot
4) when it came back, and checked the host settings system state said it was POWERED_ON

[2016-03-03 17:15] causten opened #197 "Add debug tools for sdbus in to our environment"
https://github.com/systemd/systemd/blob/16a798deb3b560f8b27848fe292a76b362c0b581/src/libsystemd/sd-bus/bus-dump.c#L63

That is a pretty powerful debug tool.  Unfortunately it is not available for our project (or any other from what I understand).  I'd like the capability in our environment.  I think tools like bus-dump would be helpful when you are trying to test out your code.  How many reference

[2016-03-03 18:31] nkskjames commented on #190
On Failing EVT system with this commit: 927d81657e58292f9c1226e76c85f3a23a409b6b

boot# dramtest 1
****************************************************
*** ASPEED Stress DRAM                           ***
***                          20131107 for u-boot ***
****************************************************

Pattern = 8F5C57B5 : Pass 1/1
boot# dramtest 1
*****************************************

[2016-03-03 22:40] #191 closed

[2016-03-03 22:47] nkskjames commented on #137
Marking as an enhancement to store MAC in EEPROM and copy into uboot environment.

[2016-03-03 22:49] nkskjames commented on #135
marking as an enhancement to enable https proxy.

[2016-03-03 22:54] nkskjames commented on #134
Need to enable DNS setup via REST and IPMI or DHCP default

[2016-03-03 22:54] #132 closed

[2016-03-03 22:57] #122 closed

[2016-03-03 23:25] nkskjames commented on #91
reviewed.  ECID is all we have.

[2016-03-03 23:25] #91 closed

[2016-03-03 23:29] #186 closed

[2016-03-03 23:30] nkskjames commented on #107
this is fixed

[2016-03-03 23:30] #107 closed

[2016-03-03 23:31] nkskjames commented on #92
This is fixed.

[2016-03-03 23:31] #92 closed

[2016-03-07 15:10] ratagupt opened #202 "Networking:- Ip address validation"
Some Ip addresses which are not valid so we should not add it on the interface
1) x.x.x.0
2) x.x.x.255
3)0.0.0.0

[2016-03-07 15:11] ratagupt commented on #202
The same verification should be valid for Gateway Parameter....

[2016-03-09 15:49] KennethWilke opened #206 "Zombie processes on startup"
Howdy!

Today I'm doing some OpenBMC testing on Barreleye using the current master https://github.com/openbmc/openbmc/commit/d7eea1d1c79e85538ab775dc7fc25b44d26c82c0

I'm seeing a few zombie processes in the process list shortly after startup, and wanted to report it as that seems unusual.

My full process list below:
[code]

[2016-03-09 17:08] KennethWilke commented on #190
Hit this bug again on today's master https://github.com/openbmc/openbmc/commit/d7eea1d1c79e85538ab775dc7fc25b44d26c82c0

I think there was some suspicion that this bug may be triggered/caused by network activity (or that may have been a different bug). In this case this BMC was wired directly to an ethernet port on a Barreleye server with no traffic flowing over it.

This reboot wasn't very long a

[2016-03-09 23:36] jk-ozlabs commented on #206
@KennethWilke thanks for posting; we should take a look at these. Even if they're harmless, it makes it difficult to tell if something else has actually gone wrong.

[2016-03-10 00:56] jk-ozlabs commented on #128
@anoo1: this is a fresh build

[2016-03-11 00:11] liufujun135 opened #207 "How to biuild a QEMU simulation environment?"
How to biuild a QEMU Simulation environment?

Thanks.

[2016-03-12 00:36] liufujun135 commented on #207
Close it because I finish the compile code and it can be run at QUME environment.

[2016-03-12 00:36] #207 closed

[2016-03-17 03:49] mdmillerii commented on #135
busybox wget today only looks for http_proxy and ftp_proxy and calls out to openssl for HTTPS.

openssl just added a -proxy option in May and it isn't in our current version.  We can check again after our next yocto update, and update openssl or backport the patch.  I didn't find any update for busybox to use the new functionality yet either, but that should be straight forward from my initial loo

[2016-03-17 20:08] KennethWilke opened #209 "Ansible errors with OpenBMC"
Howdy folks,

In the process of trying to use Ansible with OpenBMC, I ran across a few snags. It looks like the dropbear service doesn't support SFTP, but this can be mitigated with ansibles `scp_if_ssh` option. The next thing I ran into was an error related to some missing python modules:

[code]

[2016-03-22 23:48] mdmillerii commented on #209
As you found, **Ansible** can be configured tor `scp` instead of `sftp`.  Alternatively you can add `openssh-sftp-server` but I have not tested that.  The `python` package is split into several micro packages, if you require additonal components you will need to look at the recipes to find which ones you require.  Perhaps you can contribute back a `package-group` to enable whats needed for **Ansib

[2016-03-24 19:24] bradbishop commented on #209
Hi Ken

The first step would be to create a recipe for Ansible.  Even if it doesn't actually do anything right now you can at least list the package dependencies here, and then when you include this recipe in the build the deps will get pulled in.

You can see how the python modules in the base python distro are split up looking at python-2.7-manifest.inc in yocto core.  For example the compiler m

[2016-03-29 14:30] mkumatag opened #216 "Eventlog service need to use conf file for setting dblog instead of hardcoding the size"
https://github.com/openbmc/openbmc/pull/214

IMO we should use EnvironmentFile entry under the service section and read the option from that file instead of hardcoding the value directly. This option will even help to change the value runtime and test it.

Reference - http://fedoraproject.org/wiki/Packaging:Systemd#EnvironmentFiles_and_support_for_.2Fetc.2Fsysconfig_files

[2016-04-01 14:27] causten commented on #216
The systemd config file has the value settable in there.
meta-phosphor/common/recipes-phosphor/obmc-phosphor-event/files/obmc-phosphor-event.service

Are you thinking of a different technique?

[2016-04-01 14:32] causten opened #218 "enumerate is now a keyword, method names should not match"
Found this issue while using our obmc UI.
https://github.com/LRRoberts0122/openbmc/issues/13

Once the /enumerate became part of the REST schema it can no longer be a dbus interface.  Need to remove org.openbmc.enumerate from /org/openbmc/inventory and anywhere else it is found.  The same information can be retrieved via /org/openbmc/inventory/enumerate

[2016-04-01 15:28] williamspatrick commented on #218
The enumerate method was meant as a performance optimization for the enumerate REST interface. Can you give more of an explanation what the problem is?

Patrick
Sent from my iPhone

[2016-04-01 16:46] williamspatrick opened #219 "Shrink or eliminate /lib/udev/hwdb.d contents."
@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/5)

[2016-04-01 16:47] williamspatrick opened #220 "Eliminate glib."
@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/8)

[code]

Are there some package configuration options we can do to make these smaller?

---

@williamspatrick commented on [Tue Oct 06 2015](https://github.com/openbmc/meta-phosphor/issues/8#issuecomment-145990581)

test comment.

---

@williamspatrick commented on [Tue Oct 06 2015](https://github.co

[2016-04-01 16:48] williamspatrick opened #221 "Shrink python package."
@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/13)

11824   /usr/lib/python2.7
1504    /usr/lib/libpython2.7.so.1.0
676 /usr/lib/python2.7/lib-dynload/unicodedata.so

Do we need to install *.py or just *.pyc.  Can we do some build-time processing to ensure everything is pyc?

[code]

---

@shenki commented on [Mon Sep 21 2015](https://github.com/ope

[2016-04-01 16:48] williamspatrick opened #222 "Shrink systemd package contents."
@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/7)

Audit items installed by the systemd package and see if we can eliminate them.  'loginctl' and 'machinectl' at least do not seem useful to us.

---

@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/7#issuecomment-141462022)

Need to confirm that we are

[2016-04-01 16:48] williamspatrick opened #223 "Switch to btrfs."
@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/11)

Switch to using btrfs instead of ext4.

* Built-in zlib compression.
* Snapshots can be used for code update.
* Built-in sub-volumes.  Add persistent volume separate from rootfs volume.

Some of these may require either make.btrfs update or build magic to enable.  The current make.btrfs doesn't sup

[2016-04-01 16:49] williamspatrick opened #224 "Remove ldconfig?"
@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/10)

Can we remove this?

596	/sbin/ldconfig

I suspect this should all be done at build time and we don't need a copy installed in the flash image.

[2016-04-01 16:50] williamspatrick opened #225 "Add 'ldd' to image."
@williamspatrick commented on [Fri Sep 18 2015](https://github.com/openbmc/meta-phosphor/issues/6)

---

@jk-ozlabs commented on [Tue Sep 22 2015](https://github.com/openbmc/meta-phosphor/issues/6#issuecomment-142465772)

I don't think we really need a separate `ldd` tool; for library dependency checks during development we can just query ld.so manually:

    [jk@pudge ~]$ LD_TRACE_LOADED_OBJECTS=

[2016-04-01 17:18] causten commented on #218
Brad mentioned the issue.  The existing REST interface doesn't handle it well
See the issue above for more details

[2016-04-01 19:29] williamspatrick commented on #135
I put this in the v2.0 backlog because we will be sticking with yocto-2.0.1 for the v1.0 release.  2.0.1 is on the OpenSSL 1.0.2 stream and this feature was not added until 1.1.

[code]

[2016-04-01 19:32] williamspatrick commented on #128
Adding qemu for palmetto was being worked.  I think the real issue is that qemu-native should not fail to compile when the host machine does not have SDL.  It should detect this and degrade to an SDL-less compile.

[2016-04-01 19:34] williamspatrick commented on #103
We should use the real pflash for v1.0 instead of the skeleton one.

[2016-04-01 19:35] williamspatrick commented on #41
Any idea how this is different from #56 ?

[2016-04-01 19:37] williamspatrick commented on #10
Has this been resolved?

[2016-04-01 21:37] williamspatrick opened #226 "Re-enable openbmc/obmc-console."
See openbmc/obmc-console#2.  Had to disable here until the issue is resolved.

[2016-04-01 22:28] mdmillerii commented on #10
The release notes delta in the yocto-2.0.1 update included refs to these bugs:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65932
(fixed in 6 backported to gcc 5.4)

And  kernel workaround (part of linux 4.2)
https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit?id=a077224fd35b2f7fbc93f14cf67074fc792fbac2

[2016-04-01 22:29] mdmillerii commented on #190
The belief is these should be fixed by the u-boot stop-network patches.  The most recent report stated the network was connected to a switch so it could have gotten a link up/down report or a packet from the barreleye host when it was started.

[2016-04-02 16:51] mkumatag commented on #216
currently we have following code in meta-phosphor/common/recipes-phosphor/obmc-phosphor-event/files/obmc-phosphor-event.service for size

[Service]
ExecStart=/usr/sbin/obmc-phosphor-eventd -s 200000

Having value directly here will become very difficult to change it programmatically, instead it will good if we read same value from environment file like below:

[Service]
EnvironmentFile=-/etc/event

[2016-04-04 11:57] shenki commented on #10
More bugs:

https://github.com/openbmc/ipmi-fru-parser/issues/12

https://github.com/openbmc/u-boot/issues/5

[2016-04-04 16:53] mkumatag opened #228 "Merge https://github.com/openbmc/openbmc/pull/214 to master branch"
https://github.com/openbmc/openbmc/pull/214 is missing in master, should be merged into master as well.

[2016-04-04 16:56] mkumatag opened #229 "obmc-phosphor-event.bb recipe needs to be updated"
obmc-phosphor-event.bb recipe needs to be updated to latest to pull eventlog dbsize changes

[2016-04-11 15:57] williamspatrick commented on #228
Manually cherry-picked as 6a861ddd11cca8558f371ade53ab43c7855f5a6d

[2016-04-11 15:57] #228 closed

[2016-04-13 21:56] agangidi53 opened #231 "Host Console broken on Barreleye PVT Server"
Host console is broken on one of our Barreleye PVT server.
These are the commands I tried in the same order after booting the BMC up (racked the server in) :

   obmcutil state
   obmcutil poweron
   hconsole

HCONSOLE OUTPUT:
Error getting authority: Error initializing authority: Could not connect: No such file or directory (g-io-error-quark, 1)

Welcome to emergency mode! After logging in, type

[2016-04-13 22:19] agangidi53 commented on #231
Attached are jorunalctl logs.[](url)
[debug_log_journalctl.txt](https://github.com/openbmc/openbmc/files/218072/debug_log_journalctl.txt)

[2016-04-13 22:48] nkskjames commented on #231
That is not a pure 0.6.1 build.  Something is very wrong.  Maybe start with a pure tagged level?

[2016-04-13 22:52] agangidi53 commented on #231
Foxconn spun this out of pure 0.6.1 build I think. But this is the one that got deployed in DC.    May be Ken from Foxconn can comment on what else went in there.

[2016-04-14 09:13] Kenthliu commented on #231
@agangidi53  Does this issue happen in every board? We can not reproduce by our side. Does the system idle for a while? What's the timing you issue hconsole? Do you see BMC_READY in obmcutil state then obmcutil poweron?
@nkskjames  The Build ID is because we use local build. This version is based on 19a1c40007d11cc0702a342702b66a77da523753 in v0.6-stable and merged some code like fan algorithm.

[2016-04-14 11:48] agangidi53 commented on #231
@Kenthliu  No. This does NOT happen on every board but we have tried this build only on 2 PVT servers till now. This happens for first boot. Yes I wait for BMC_READY before doing a poweron. When I check after powering it on I get a HOST_BOOTED after sometime.

[2016-04-14 13:10] bradbishop commented on #41
The concept is the same but the mechanics of doing it in recipes is different.

[2016-04-15 21:56] anoo1 commented on #226
Seems that https://github.com/openbmc/obmc-console/issues/2 has been closed/resolved. Can we re-enable obmc-console now?

[2016-04-15 21:59] williamspatrick commented on #226
This was resolved by #232 .

[2016-04-15 21:59] #226 closed

[2016-04-18 15:02] causten opened #234 "version_id needs to be exposed via REST"
Right now we are using the BUILD_ID as "version" property in /org/openbmc/inventory/system/chassis/motherboard/bmc

According to the systemd documentation BUILD_ID should not change between code updates.
https://www.freedesktop.org/software/systemd/man/os-release.html#BUILD_ID=
So after a code update the use case we want is to show the new code version, not the old version.

Adriana had a good use

[2016-04-19 15:47] agangidi53 commented on #231
Can we figure out why this happened from the logs ? I haven't been able to reproduce it on another server till now .

[2016-04-19 20:19] #103 closed

[2016-04-20 22:16] GHF opened #235 "TEMPLATECONF doesn't get picked up by oe-setup-builddir"
on my workstation, bitbake always builds for qemuarm regardless of what I set TEMPLATECONF to when sourcing oe-init-build-env. It's fixed upstream in OE but isn't part of the Yocto Jethro release.

http://git.openembedded.org/openembedded-core/commit/oe-init-build-env?id=0bf9d919bba5780d34cc6ac9dde2c74bb07b8342

http://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/oe-init-build-env?h=jethro

[2016-04-21 08:14] shenki opened #236 "squashfs corruption over time"
Adi mentioned they are seeing corruption after leaving the bmc to run for about 54 hours

[code]

[2016-04-21 13:52] mdmillerii commented on #236
From other reports the decompression fails causing the caches to be populated with error entries.  The file system in flash is ok when upon reboot.

We can try `dmesg` or a log capture at the start of the corruption, or add instrumentation of the data being decompressed.  Could be some error preventing the flash to be read or memory corruption maybe of the decompression workspace or cache pointing

[2016-04-21 14:12] shenki commented on #236
On 21 Apr 2016 11:22 pm, "Milton D. Miller II" <notifications@github.com>
wrote:

populated with error entries. The file system in flash is ok when upon
reboot.

Where are the other reports? Can we collect them here please.

Have we seen it happen with development machines, or just those in the
datacentre?

instrumentation of the data being decompressed. Could be some error
preventing the flash to

[2016-04-21 14:38] mdmillerii commented on #236
I received a report Monday.  The claim was 12 systems were flashed Friday with PVT code and monitoring of the periodic (30s) ssh connect attempts was made and recorded.

_Since we've had this kind of thing happen a few times I setup monitoring to keep an eye on the BMCs and it looks like 12 of them are down this morning, failing roughly in the order I reflashed them in (bottom of the rack, up)._

[2016-04-21 21:39] mdmillerii commented on #236
Todays debug has one system with `free` showing `Active(anon)` growing, free shrinking, and buffered shrinking faster, and another run captured an OOM kill of `/usr/sbin/info` with
`[232001.260000] Killed process 1027 (info) total-vm:142496kB, anon-rss:139012kB, file-rss:0kB`
On that kill `active_anon:205668kB`.  This `info` command seems to be part of   openbmc/skeleton#59.

That said, there is p

[2016-04-22 23:40] agangidi53 commented on #236
We are running a test on 6.15 (According to Foxconn, the version with memory leaks fixed). Monitoring the memory pretty close. We can check back on memory profile on Monday to see if it's dying.

[2016-04-24 19:50] causten opened #238 "modules failing to load at boot, maybe not needed?"
restart the bmc os.  dump the journal output.  Near the beginning of the boot you will see thee messages.  Are they needed?

Apr 21 17:52:45 barreleye kernel[942]: systemd[1]: Failed to insert module 'ipv6': Function not implemented
Apr 21 17:52:45 barreleye kernel[942]: systemd[1]: Failed to insert module 'kdbus': Function not implemented

Should the yocto build be told to not even try to load th

[2016-04-24 19:54] causten opened #239 "Journald showing errors about lookups missing"
Brand new system from MFG.  I captured this trace from dumping the journal.  What are those product numbers and why are they failing

Apr 21 17:53:52 barreleye system_manager.py[948]: Running System State: BMC_STARTING2
...
Apr 21 17:53:54 barreleye system_manager.py[948]: ERROR SystemManager: dbus.String(u'INTERNAL_102') not found in lookup
Apr 21 17:53:54 barreleye system_manager.py[948]: ERROR

[2016-04-24 19:58] causten opened #240 "Failed to resolve getPowerState to dbus"
I dumped the journald output from a brand new from MFG system. I see this error a lot....

Apr 21 17:54:08 barreleye system_manager.py[948]: Failed to resolve getPowerState to dbus: The name org.openbmc.control.Chassis was not provided by any .service files

ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (master)
VERSION_ID=6.12
PRETTY_NAME=Phos

[2016-04-24 19:59] causten opened #241 "Failed to resolve fruid to dbus"
I dumped the journald output from a brand new from MFG system. I see this error a lot....
Apr 21 17:54:23 barreleye system_manager.py[948]: Failed to resolve fruid to dbus: Method "getValue" with signature "" on interface "org.openbmc.SensorValue" doesn't exist

Here is the message in context of what else is happening...
Apr 21 17:54:22 barreleye system_manager.py[948]: Running System State: HOST_

[2016-04-24 20:08] causten opened #242 "Highest DIMM temperatur is value xx blasting to journald."
Not sure why but I see this text appear a lot (117 times in <2 seconds).  Is this really the best use of journald?  we will lose a lot of information is to continue.  I have no idea what drives this print but wouldn't it make sense to print some if it changes, not stays the same?

Apr 21 18:22:43 barreleye system_manager.py[948]: IMM temperatur is value 43
Apr 21 18:22:43 barreleye system_manager.

[2016-04-24 20:11] causten opened #243 "PowerState value=[1] blasting in to journald"
Not sure why but I see this text appear a lot. Is this really the best use of journald? we will lose a lot of information if this is to continue. I have no idea what drives this print but wouldn't it make sense to print some if it changes, not stays the same?

Apr 21 18:25:55 barreleye system_manager.py[948]: te value=[1]
Apr 21 18:25:55 barreleye system_manager.py[948]: PowerState value=[1]
Apr 2

[2016-04-24 20:26] causten opened #244 "ipmi failing on dbus communication"
I added a few lines before and after but it seems @56:23 there was a call to dbus without an interface/method/path.

Apr 21 17:56:14 barreleye system_manager.py[948]: Running System State: HOST_BOOTED
Apr 21 17:56:15 barreleye system_manager.py[948]: Failed to resolve fruid to dbus: Method "getValue" with signature "" on interface "org.openbmc.SensorValue" doesn't exist
Apr 21 17:56:17 barreleye s

[2016-04-25 01:49] johnhcwang commented on #243
That should be the debug message to make sure the current power state in info. so I helped to mark it on [ef9add](https://github.com/johnhcwang/skeleton/commit/ef9adda0444b7eee7482092454f8179a02fd912e#diff-6c21597f2199eea0c40b2028732d1923R244).

[2016-04-25 01:53] johnhcwang commented on #242
That should be the debug message to make sure the highest DIMM temperature for fan speed control. so I helped to mark it on [ef9add](https://github.com/johnhcwang/skeleton/commit/ef9adda0444b7eee7482092454f8179a02fd912e#diff-43a94e52bb1ea291a0a0e57c46aa5d51R419).
We won't see this message in 6.14 and later.

[2016-04-25 09:59] agangidi53 commented on #236
We ran the test on 6.15 with Fan Control leak fixes from Ken for 2.5 days. Attached screen shot shows that free memory is still decreasing albeit at a slower rater than previous versions.

![screen shot 2016-04-25 at 4 43 23 am](https://cloud.githubusercontent.com/assets/14833059/14780364/36f3eee8-0aa2-11e6-9d77-74603187a930.png)

[2016-04-25 14:02] KennethWilke commented on #236
Looking at our data on this a bit closer, the BMC seems to now lose memory at a rate of about 344KB per hour. The decline in memory is pretty linear, at this trend the BMC would run out of free memory in about 14-15 days.

[2016-04-25 14:54] nkskjames commented on #236
Would it be worth running base 0.6.1 from github and make sure no memory leaks in base code?

[2016-04-25 14:56] agangidi53 commented on #236
Was thinking the same thing. May be we'll run couple of the servers with base code for 3-4 days to see how the memory looks over there.

[2016-04-25 17:03] KennethWilke commented on #236
I'll build v0.6.1 and flash it on a box as a base of comparison

[2016-04-25 17:36] anoo1 commented on #239
These are being addressed via:
https://github.com/openbmc/skeleton/pull/60
https://github.com/openbmc/ipmi-fru-parser/pull/14

[2016-04-25 20:06] KennethWilke commented on #236
So far on the v0.6.1 branch it's losing about 330KB an hour, though this is only looking at about an hours worth of data

[2016-04-26 13:55] KennethWilke commented on #236
Here's our chart on the v0.6.1 free memory thus far. The little drop at the end is likely due to my SSHing into the box and running a few things to take a look around.

![061-stable](https://cloud.githubusercontent.com/assets/2534692/14820460/5b4d9b50-0b8c-11e6-95d2-e1efa9a5e76a.png)

[2016-04-26 16:58] KennethWilke commented on #236
I whipped up a script to monitor the virtual and resident memory usages of all PIDs on the BMC. The script looked at the /proc/{pid}/stat for each process every second and logged increases and decreases. Over the course of an hour I saw a few behaviors:

* My monitor script, hwmon.py and systemd (init) would occasionally allocate 4096 bytes of virtual memory, sometimes a page of resident memory, b

[2016-04-26 17:01] KennethWilke commented on #236
Also, to add to the above, since busybox's `ps` implementation doesn't show resident memory for each process, this could explain why this issue is easily overlooked.

[2016-04-26 17:32] agangidi53 commented on #236
If this is related to the systemd journal log: Here is the rough output on couple of our boxes. Every 3.5 hours or so it makes a new entry (probably because the buffer fills up ) and then goes to the new one. At any point of time there are about 4 instances of 4MB logs.

 Is it possible that there is some leak in cleaning up and overwriting these logs ?

root@barreleye:~# ls -l /run/log/journal/07

[2016-04-26 17:40] agangidi53 commented on #236
So looking at above log and chart from Kenneth on 0.6.1:
The first 4 steps in the graph correspond to journal logs (Every 3.5 hours you have a new blob being created):

![image](https://cloud.githubusercontent.com/assets/14833059/14828287/eef0804c-0bab-11e6-9bfb-35dd175e7f72.png)

[2016-04-27 13:08] KennethWilke commented on #236
So I let my PID memory watcher script run overnight, looks like every once in a while systemd-journal does dump it's memory once it hits about 4MB or so and rotates the log, which is probably to be expected. We'll keep on eye on it for a bit longer and see if this plateaus at some point, at this point I don't see any specific process that looks to be leaking memory.

[2016-04-27 15:45] anoo1 opened #246 "Do not start the host watchdog when debug_mode is on"
Enabling the host_control property debug_mode allows the BMC to boot without powering on the host for debug purposes like using cronus.
During power on, the BMC enables the watchdog timer, and is up to hostboot to refresh and stop it. But on debug mode, hostboot is not started so the watchdog timer expires and powers off the BMC.
This issue is to not start the watchdog timer if debug mode is on.

[2016-04-28 02:39] nkskjames commented on #231
@Kenthliu Is this still an issue?

[2016-04-28 03:18] agangidi53 commented on #231
couldn't reproduce it ... let's close this. Will open it as a bug and reference this if I observe this again.

[2016-04-28 06:07] shenki commented on #238
That's systemd being special; these modules do not exist. The error message is harmless.

 - We disable ipv6 support in the kernel. Users of openbmc may wish to enable it, but it saves space in cases we're it's not used
 - Until kdbus gets into the mainline kernel we will not be using it

[2016-04-28 13:51] KennethWilke commented on #236
So far the decline persists and remains fairly linear

![061-stable2](https://cloud.githubusercontent.com/assets/2534692/14888128/5c6125dc-0d1e-11e6-8bf9-38729107cd95.png)

[2016-04-28 21:38] agangidi53 opened #249 "BMC build tar ball generation: Missing files for some partitions"
Hi All

2 things:
**First:
****According the BMC users guide 0.6:
 [system_name]-[datetime].tar: contains (6) individual images for:
1. u-boot,
2. uboot settings (u-boot-env),
3. initramfs,
4. kernel
5.  R/W file system overlay (rwfs),
6.  the read-only filesystem (rofs).

But According to the latest build I generated it contains only only 5 images (u-boot-env partiton is not present):
1. image-rw

[2016-04-29 11:56] nkskjames commented on #249
bmc is the full image. pnor is the pnor which we don't build. We currently don't build a set of default u-boot-env.   When preserving the uboot environment variables, before the flash operation, we copy the current values to the u-boot-env partition to preserve them.

[2016-05-03 15:49] causten commented on #236
KennethWilke, any chance you could share your memory monitor script?

[2016-05-04 02:45] jk-ozlabs commented on #236
One point: it's fairly normal for the free memory to reduce, as we start filling the buffer cache (free memory is useless to the OS, so the kernel will consume it with cache as appropriate).

Do these charts take this into account? Or is it just the absolute value of "free" memory? As @causten has mentioned, the monitor script source would be helpful too.

[2016-05-04 03:45] agangidi53 commented on #236
Hey @causten and @jk-ozlabs  No the free memory calculator doesn't take into account the buffer cache. We are aware of the fact that this free memory could simply get flushed by a updata / dbflush type process when there isn't enough free memory when another process is in need of it.

I can share the code with you but it's quite simple, we just parse /proc/meminfo line by line to get the free / To

[2016-05-04 04:05] agangidi53 commented on #236
So it was buffer cache. Minimum free memory until buffer caching is done was set to 2MB:

_root@barreleye:~# cat /proc/sys/vm/min_free_kbytes
2017
root@barreleye:~# cat /proc/sys/vm/swappiness
60_

So I decided to play around a bit. Checked how much my current free memory is and set the min free memory size to that amount:

_root@barreleye:~# free
             total         used         free

[2016-05-04 04:08] agangidi53 commented on #236
This is what setting the min free memory size did to my free memory (Red):

![image](https://cloud.githubusercontent.com/assets/14833059/15004977/df412e48-1183-11e6-9d78-8d67548874e1.png)

[2016-05-04 05:00] jk-ozlabs commented on #236
I suspect that the "roughly double" setting there is the kernel hitting the low watermark (that you've just set), so freeing buffers/cache to the high watermark. From the vm balance docs:

When you're setting the `min_free_kbytes` sysctl, we set the high watermark to double the low one:

    		zone->watermark[WMARK_LOW]  = min_wmark_pages(zone) + tmp;
    		zone->watermark[WMARK_HIGH] = min_wmark_

[2016-05-04 05:05] agangidi53 commented on #236
I was just read about watermarks. And was looking to find the watermark calculations to reason the roughly double thing. But you seem to have given that info here anyways.Thanks.

Sure. Let me add that to the monitor, probably tomorrow AM.

[2016-05-04 05:12] jk-ozlabs commented on #236
So the general strategy here:

- check the resulting data to see if we actually have a memory leak (rather than just filling up caches)
-  if we do:
   - check against the per-process memory figures to see what may be consuming memory; and
   - check the kernel slabinfo to check for a leak in the kernel

[2016-05-04 20:10] anoo1 commented on #229
Fixed with 6a861ddd11cca8558f371ade53ab43c7855f5a6d

[2016-05-04 20:14] anoo1 commented on #218
@bradbishop , is this still an issue?

[2016-05-04 20:20] anoo1 commented on #234
Fixed with d8d9b4fdc1d781657200f0108dbb20f89d46c67c

[2016-05-06 13:07] Kenthliu opened #257 "RestAPI curl response 443: connection refuse"
The curl command get 443 response. This issue happen after stress curl command or DC cycle test.
The BMC can be still ping. SSH is OK. Port:3000.
![bmc_connection_confuse](https://cloud.githubusercontent.com/assets/15260220/15073799/230032a4-13ce-11e6-942a-fc624046eab0.png)
Attach the top data and journalctl log.
![bmc_top_info](https://cloud.githubusercontent.com/assets/15260220/15073882/8b67f2be

[2016-05-06 20:11] anoo1 commented on #187
Boot count fixed with https://github.com/openbmc/phosphor-host-ipmid/pull/70
The system would still try to power back on after the watchdog expires (since hostboot fails to start up, a stop watchdog request is not sent). This would be a different discussion to see if hostboot expects the BMC to stop the watchdog if they fail to start.

[2016-05-09 17:10] anoo1 opened #258 "Security Feature: Lockdown BMC chip"
This is a customer request agreed by to lockdown the chip from users for security reasons.

[2016-05-09 17:17] anoo1 commented on #258
Per previous discussions, this may need input from the IBM's LTC team to see if an interim implementation could be done sooner while the full lockdown feature is designed.

[2016-05-09 17:17] anoo1 opened #259 "Refactor the support for BIOS (PNOR) update to use REST"
This work would be done concurrently with the chip lockdown implementation https://github.com/openbmc/openbmc/issues/258

Also includes the parallel work to #670 to provide the PNOR FW version information.

[2016-05-09 17:22] anoo1 opened #260 "Implement PAM Authentication"
Some initial work found that adding the PAM package to openbmc makes the image too big to fit on flash. Also it turns off busybox. So this work would need some recipe manipulation to only add the desired PAM package to the image and prevent busybox from turning off busybox.

[2016-05-09 17:29] anoo1 opened #261 "Implement Remote Media Support"
This is a work in progress.

[2016-05-09 17:35] anoo1 opened #262 "Refactor openbmc/skeleton"
The openbmc/skeleton repository is a temporary one. Need to re-implement its interfaces in the permanent locations.

[2016-05-09 19:28] anoo1 opened #263 "BMC Error Reporting Strategy"
How to report / log BMC errors in openbmc.

[2016-05-09 20:17] anoo1 opened #264 "Openbmc IPMI 2.0 Compliant"
Issue to track the work to make openbmc IPMI 2.0 compliant.

[2016-05-09 20:19] anoo1 opened #265 "Openbmc Redfish for 2.7 Release"
Track the Redfish work needed for OpenBMC's 2.7 Release

[2016-05-09 20:20] anoo1 opened #266 "Openbmc Web Frontend"
Create an openbmc GUI management interface

[2016-05-09 20:30] anoo1 opened #267 "Implement IPMI Network Settings Override"
From Jeremy regarding the IPMI boot options:

we may want to implement the "network settings
override" functionality in SL GA2 here. That is an OEM boot parameter
selector, using parameter ID 0x61.

The first byte of the parameter data is the same as parameter ID 5 (ie,
the valid flag in the top bit). Persistency doesn't matter here, as
petitboot will not clear out this setting.

The rest of the p

[2016-05-09 21:36] KennethWilke commented on #236
Howdy folks,

I made a couple modifications to the scripts we're running to gather these metrics, to remove hard coded internal endpoints and the like. It's built to push data to graphite specifically though, so you'll need a graphite instance to push data to: https://github.com/KennethWilke/bmc-metric-watcher

To get a graphite up and running quickly, this docker image is pretty nice:
https://git

[2016-05-10 00:10] amboar commented on #261
@anoo1 can you provide more detail here? What media are we exposing? What's the motivation behind the work? Also, it sounds like someone's taken up the task and I think it would be useful to set the Assignee field so we know who's doing what.

[2016-05-10 00:13] amboar commented on #260
@anoo1 can we add some words explaining the motivation for introducing PAM? How do we plan to use it?

[2016-05-10 02:54] nkskjames commented on #257
@Kenthliu there should be a process called 'obmc-rest' running.  Can you do a 'ps | grep rest' and see what is running?

[2016-05-10 03:57] Kenthliu commented on #257
[curlfail.txt](https://github.com/openbmc/openbmc/files/256326/curlfail.txt)

[2016-05-10 13:19] nkskjames commented on #257
The failing curl commands are not in that log.   I was hoping to also see the error message when you tried to restart obmc-rest process.

[2016-05-10 13:23] bradbishop commented on #257
Apr 15 09:26:46 barreleye systemd[1]: obmc-mapper.service: Start operation timed out. Terminating.
Apr 15 09:26:46 barreleye systemd[1]: Failed to start Phosphor OpenBMC DBus service management daemon.
Apr 15 09:26:46 barreleye systemd[1]: Dependency failed for Phosphor OpenBMC DBus REST daemon.
Apr 15 09:26:46 barreleye systemd[1]: obmc-rest.service: Job obmc-rest.service/start failed with result

[2016-05-10 13:26] bradbishop commented on #257
I don't even want to think about how long it would take to introspect the 1200 event log objects....

I have a change coming that should help here - rather than doing 1200 introspections it will just be one dbus call to GetManagedObjects.

Even still....1200 event logs seems excessive.  Would it make sense to have a cap?

[2016-05-10 13:28] shenki commented on #267
The URL is not accessible

@sammj can you publish the content?

[2016-05-10 13:30] nkskjames commented on #257
probably makes sense to have a cap.   so sounds like we have 3 issues:
1. there is something wrong with the hardware that this test was ran on.  it is generating a ton of event logs
2. need fix for using GetManagedObjects
3. need a cap on event logs (or lower size allocation).

[2016-05-10 13:32] shenki commented on #262
This needs to include

 - remove all use of `/dev/mem` in favour of kernel interfaces
 - remove the copy of `pflash` from skeleton
 - instead use https://github.com/open-power/skiboot/tree/master/libflash for flash operations, taking advantage of the mtd support

[2016-05-10 14:26] KennethWilke commented on #257
Based on the 'connection refused' message, it looks like the service that was listening on port 443 may have died, when this happens again the results of `netstat -tnl` should show what ports are still being listened on.

[2016-05-10 20:55] anoo1 commented on #261
@mdmillerii  has being working on this item, he would be able to provide more details.
Don't have permissions to set the Assignee, will ask Patrick to assign.

[2016-05-10 20:57] anoo1 commented on #260
@bradbishop will be able to provide a better background for implementing PAM.

[2016-05-10 21:22] anoo1 opened #268 "Add a cap to number of event logs"
In issue https://github.com/openbmc/openbmc/issues/257, a system logged over 1200 event logs, which are too many to be useful for debug.
The event log manager caps the number of logs based on filesystem space, but the hardware logs are small and a lot of them can fit in the allocated event log space.
This issue is to add a cap on the number of event logs in addition to the existing space cap.

[2016-05-11 00:03] Kenthliu commented on #257
@bradbishop So do you think the root cause is related to the event over flow?

[2016-05-11 00:30] sammj commented on #267
Ah, that link was more an internal draft, but re-reading it it looks sane to me - I've copied it over to http://ozlabs.org/~sam/ipmi-network-format
It's really aimed more at the user-side, the BMC probably only really cares about the format of the "set" request header (0x00 0x08 0x61 0x80) and "get" request header (0x00 0x09 0x61 0x80 0x00), the rest is up to Petitboot to interpret.

Petitboot sup

[2016-05-11 00:34] sammj commented on #267
Also persistence _does_ matter, as Petitboot respects it as of https://github.com/open-power/petitboot/commit/79f738d13fa491abac82c77ac42f59aef4217b1d , but I believe it reads the persistent bit from the 'data1' byte, not the first byte. Still, it should probably be set to non-persistent in the first byte for sanity :)

[2016-05-11 00:52] Kenthliu commented on #268
Does this commit make the cap?
https://github.com/openbmc/openbmc/commit/6a861ddd11cca8558f371ade53ab43c7855f5a6d

[2016-05-11 13:28] anoo1 commented on #268
That commit adds a cap to the total size the event logs take up, regardless of how many. If there are hostboot eSEL events which are bigger, there would only be a few saved. But in this case the HW events are smaller, so a lot more can fit in the allocated space. So we need to add a cap to the number of logs as well even if the allocated space has not been filled.

[2016-05-11 18:45] causten commented on #268
Limiting the number of logs requires some additional thoughts.  What do you want to drop?  Oldest log, new log coming in, severity level based ?

[2016-05-12 00:56] jk-ozlabs commented on #236
Thanks for the scripts @KennethWilke - it looks like they're not taking the caches into account at the moment, which is good to know.

@agangidi53 , are you still able to get a report with the cache & buffer usage too?

And finally, have we actually seen the squashfs bug occur, since fixing the memory leaks discussed above?

[2016-05-12 03:48] Kenthliu commented on #268
Traditonally, BMC drop the oldest log when SEL is full.

[2016-05-16 12:38] KennethWilke commented on #236
@jk-ozlabs I will add some logic to those scripts to record cache and buffer utilization as well.

So far we haven't seen any of our BMCs keel over in a couple weeks so at this point I feel safe running this version in the data center and we can probably treat this as fixed, if we see any recurrence we can always reference this issue in a new report.

[2016-05-16 18:35] #229 closed

[2016-05-16 19:07] #187 closed

[2016-05-16 20:52] anoo1 opened #272 "Define autorestart retry limit and recovery for phosphor processes"
Autorestart was added with https://github.com/openbmc/openbmc/pull/149 .
Next step is to define a retry limit for each process so that if there's an issue, the faulty process stops trying to restart after a number of retries. Also for some processes, after or instead a retry, a different recovery may be desired like rebooting the BMC or logging an event.

[2016-05-16 20:57] KennethWilke commented on #206
As a follow up on this one, on the `0.6.1` tag:

 `flasher-exe` processes are both child processes of `/usr/sbin/flash_bios.exe`

There is also now a zombie process `pcie_slot_prese` that is a child process of `{system_manager.} /usr/bin/python -u /usr/sbin/system_manager.py Barreleye`

[2016-05-16 20:59] anoo1 opened #273 "IBM Milestone 3 : Implement user roles"
Implement user roles (via whitelist first, then based on the Redfish role model), to allow the ability to make the DBUS interfaces private.

[2016-05-17 01:29] nkskjames commented on #236
memory leak is fixed.  BMC has been running for multiple weeks and memory usage is normal

[2016-05-17 01:29] #236 closed

[2016-05-17 01:53] Kenthliu commented on #236
@KennethWilke Just make confirm. Both 0.6.1 stable and 6.15 are fine in the system, right?

[2016-05-17 02:02] jk-ozlabs commented on #236
@KennethWilke excellent news! Thanks for the update.

[2016-05-17 05:33] causten commented on #268
I'm putting in a fix.  Like the size limiter the change will stop recording logs.  It will proclaim to the syslog that it did not record the log.
https://github.com/openbmc/phosphor-event/pull/18

[2016-05-17 14:53] anoo1 commented on #257
1. there is something wrong with the hardware that this test was ran on. it is generating a ton of event logs - Ken, is this something your team can take a look from the event logs, or perhaps provide some of the logs?
2. need fix for using GetManagedObjects - https://github.com/openbmc/phosphor-objmgr/pull/11
3. need a cap on event logs (or lower size allocation). - https://github.com/openbmc/pho

[2016-05-17 21:28] anoo1 commented on #216
We need to add an additional argument for the max number of logs (added via https://github.com/openbmc/phosphor-event/pull/18), so this may be an opportunity to move the size and number into the config file.

[2016-05-17 21:32] anoo1 commented on #231
Closing per above comments.

[2016-05-17 21:32] #231 closed

[2016-05-17 21:34] anoo1 commented on #234
Fixed with https://github.com/openbmc/skeleton/pull/63

[2016-05-17 21:34] #234 closed

[2016-05-18 23:59] johnhcwang commented on #257
Regarding to the question 1, we expect that is a normal event which comes from HDD info service.
Every AC cycle it will add this event to tell user how many HDD was detected.

[2016-05-19 16:28] anoo1 opened #278 "Add checkstop sensor to non-Barreleye platforms"
Change https://github.com/openbmc/skeleton/pull/74 added the handling of the checkstop sensor so that the BMC resets the system if the OS is hung. It also added the checkstop sensor to Barreleye.
Need to look up the specifications for the other supported openbmc platforms like palmetto, garrison, etc and add the checkstop sensor as well so that they make use of this function for handling OS checks

[2016-05-19 21:20] causten opened #280 "PreTag 0.8 Testing failure for 'Set the power with string of characters'"
Robot Test Case failed
Full Name: 	Tests.Test Generic Conf.Set the power with string of characters
Documentation:

**BAD PATH** This test case set the power values with string of characters Expectation is to return error.
Start / End / Elapsed: 	20160519 15:17:43.333 / 20160519 15:17:46.618 / 00:00:03.285
Status: 	FAIL (critical)
Message: 	''abcdefg'=='abcdefg'' should not be true.

[2016-05-19 21:23] causten opened #281 "PreTag 0.8 Testing failure for 'Set the power with greater then MAX_POWER_VALUE'"
Full Name: 	Tests.Test Generic Conf.Set the power with greater then MAX_POWER_VALUE
Documentation:

**BAD PATH** This test case sets the power value which is greater then MAX_ALLOWED_VALUE,Expectation is to return error
Start / End / Elapsed: 	20160519 15:17:46.619 / 20160519 15:17:50.565 / 00:00:03.946
Status: 	FAIL (critical)
Message: 	1010 == 1010

[2016-05-19 21:24] causten opened #282 "PreTag 0.8 Testing failure for 'Set the boot flags with string'"
Full Name: 	Tests.Test Generic Conf.Set the boot flags with string
Documentation:

**BAD PATH** This test case sets the boot flag with some invalid string Expectation is it should not be set.
Start / End / Elapsed: 	20160519 15:17:57.046 / 20160519 15:18:00.763 / 00:00:03.717
Status: 	FAIL (critical)
Message: 	3ab56f == 3ab56f

[2016-05-19 21:26] causten opened #283 "PreTag 0.8 Testing failure for 'minimal fan inventory'"
Full Name: 	Tests.Test Inventory.minimal fan inventory
Start / End / Elapsed: 	20160519 15:20:33.029 / 20160519 15:20:33.050 / 00:00:00.021
Status: 	FAIL (critical)
Message: 	'0>4' should be true.

This test checks the number of fans with a presence value of 'True' .  Seems like there is not any

[2016-05-19 21:30] causten opened #284 "PreTag 0.8 Testing failure for 'Verify system vpd properties'"
Full Name: 	Tests.Test Inventory.Verify system vpd properties
Start / End / Elapsed: 	20160519 15:20:33.478 / 20160519 15:20:33.493 / 00:00:00.015
Status: 	FAIL (critical)
Message: 	Lengths are different: 20 != 5

[2016-05-19 21:31] causten opened #285 "PreTag 0.8 Testing failure for 'Blink Slow the Identify LED'"
Blink Slow the Identify LED
Full Name: 	Tests.Test Led.Blink Slow the Identify LED
Documentation:

This testcase is to test the setBlinkSlow functionality of the Identify LED. The LED state is sampled to figure out whether the LED is blinking. There is no distinguishing between whether the LED is blinking fast or slow for this testcase to pass.
Start / End / Elapsed: 	20160519 15:21:21.448 / 20160

[2016-05-19 21:33] causten opened #286 "PreTag 0.8 Testing failure for 'Set IP address on valid Interface'"
Full Name: 	Tests.Test Networkd.Set IP address on valid Interface
Documentation:
This test case sets the ip on the interface and validates that ip address has been set or not. Expectation is the ip address shoTags: 	GOOD-PATH
Start / End / Elapsed: 	20160519 15:22:29.625 / 20160519 15:22:29.627 / 00:00:00.002
Status: 	FAIL (critical)
Message: 	Environment variable 'NEW_BMC_IP' does not exist.uld g

[2016-05-19 21:35] causten opened #287 "PreTag 0.8 Testing failure for 'get names /'"
Full Name: 	Tests.Test Obmcrest.get names /
Start / End / Elapsed: 	20160519 15:23:39.010 / 20160519 15:23:53.120 / 00:00:14.110
Status: 	FAIL (critical)
Message: 	ConnectionError: HTTPSConnectionPool(host='9.3.23.24', port=443): Max retries exceeded with url: /enumerate (Caused by ReadTimeoutError("HTTPSConnectionPool(host='9.3.23.24', port=443): Read timed out. (read timeout=5.0)",))
00:00:14.10

[2016-05-19 21:38] causten opened #288 "PreTag 0.8 Testing failure for 'Get OCC Status'"
Get OCC status
Full Name: 	Tests.Test Occ Powercap.Get OCC status
Documentation:

This testcase is to test the OCCstatus for the system is Enabled or not
Start / End / Elapsed: 	20160519 15:24:54.197 / 20160519 15:24:57.960 / 00:00:03.763
Status: 	FAIL (critical)
Message: 	 != Enabled

[2016-05-19 21:41] causten opened #289 "PreTag 0.8 Testing failure for 'Set System Time after setting epoch time'"
Set System Time after setting epoch time
Full Name: 	Tests.Test Time.Set System Time after setting epoch time
Documentation:

**GOOD PATH** This test case tries to set system time to epoch time using ipmi and then tries to set to to valid time. Expectation is that new time can be set on a system with epoch time.
Start / End / Elapsed: 	20160519 15:28:14.471 / 20160519 15:28:15.108 / 00:00:00.637
S

[2016-05-19 21:44] causten opened #290 "PreTag 0.8 Testing failure for 'user/group authentication'"
6 failures, I am using one issue to resolve all

Create and delete user with user group name
Full Name: 	Tests.Test User.Create and delete user with user group name
Documentation:

**GOOD PATH** This testcase is for testing user creation with user name, password, comment and group name(user group) in open bmc.
Start / End / Elapsed: 	20160519 15:28:31.740 / 20160519 15:28:40.484 / 00:00:08.744
Sta

[2016-05-20 17:34] agangidi53 opened #292 "Fan Control fails to set Fan speed to safe setting during Reboot / Firmware Update"
**Current**: Fan Control fails to set Fan speed to safe setting before going into a Reboot / Firmware Update.  This is important because we leave the system at risk if the Host load ramps up while BMC is rebooting (~2 minutes) or during a firmware update via /run/initramfs/image-*****\*  (~14 minutes).

**Expectation**: Fan control sets the Fans to max speed before going down and takes back the co

[2016-05-20 17:45] agangidi53 opened #293 "Flashing BMC via /run/initramfs : No way to monitor if firmware update fails"
For the BMC firmware update: If we copy images to /run/initramfs (via REST API Flashing method OR Manual copy) and reboot there is no way to monitor how the flash method is progressing or if it has failed.

This becomes super important specially since it takes about 12-15 minutes for the BMC to come back up on the network if we choose this flash method and hence poses a huge risk in a Data Center

[2016-05-21 10:27] shenki opened #295 "Flashing takes a really long time if not using UBI"
Flashing the BMC using our update method takes far longer than using pflash. This ticket is to investigate why and fix it if possible.

Doing this will mitigate issues such as https://github.com/openbmc/openbmc/issues/293

[2016-05-21 17:47] causten commented on #295
There certainly is a chip technology component to this problem, there are parts that know how to fast erase

[2016-05-23 13:17] mdmillerii commented on #295
There are several of known reaasons:

1. The kernel only handles one erase block size (plus whole flash erase).  To support 4k erase sectors the kernel is configured for 4k blocks.  `pflash` opportunistically uses larger blocks.
2.  There is a large variation in flash chip technology: the `MX25L25635E` from `MACRONIX INTERNATIONAL CO., LTD.` has 4k sector erase at 60/300ms typical/max (thats .06/.

[2016-05-23 13:41] mdmillerii commented on #293
Lets discuss your desired update sequence.

The update script can be run anytime the corresponding part of the flash is not being used by the kernel for read-on-demand paging.  The `openbmc-init-fs` `init` script already has configuration hooks to copy the read-only file system image to ram, or to download it from a network via `tftp` or `wget` via `http` or `ftp` (`https` requires `openssl` helpe

[2016-05-23 17:14] anoo1 opened #296 "Add P9 platform to openbmc"
Add support for the new P9 platform to openbmc.
@adamliyi will be working on this.

[2016-05-23 17:18] anoo1 commented on #246
@gussch will take a look.

[2016-05-23 18:12] anoo1 commented on #216
Doug can take a look

[2016-05-23 18:13] anoo1 commented on #202
Doug can take a look.

[2016-05-23 19:08] anoo1 commented on #292
hi @Kenthliu , is this something your team can help with?

[2016-05-23 19:21] anoo1 commented on #289
If I remember correctly, there were some issues setting the epoch time so we were not going to have test cases for it. @tomjoseph83 could you take a look?

[2016-05-23 19:24] anoo1 commented on #288
The powercap should be available and working through the sensors. Perhaps the test case is looking at the settings file. @rahulmah could you take a look?

[2016-05-23 19:26] anoo1 commented on #287
What is the test case trying to do? @rahulmah could you take a  look?

[2016-05-23 19:27] anoo1 commented on #286
@rahulmah seems the env variable doesn't exist in the test case? Could you take a look?

[2016-05-23 19:28] anoo1 commented on #284
@rahulmah what is the test case trying to do?

[2016-05-23 22:44] causten commented on #216
This isn't a v1.0 Backlog request.  The service works the way it does now fine.  This is a feature change request not a bug.  Nothing wrong with the request but we can ship as it is.  I do believe there will be a review of the event log service for GA3 in which case the milestone can be changed.  Nothing to do here for v1.0 Backlog

[2016-05-23 22:45] causten commented on #216
I vote this moves to a different backlog.  Not a needed change for v1.0
 
 
Chris AustenPOWER Systems Enablement Manager(512) 286-5184 (T/L: 363-5184)
 
 
----- Original message -----From: anoo1 <notifications@github.com>To: openbmc/openbmc <openbmc@noreply.github.com>Cc: Chris Austen/Austin/IBM@IBMUS, Comment <comment@noreply.github.com>Subject: Re: [openbmc/openbmc] Eventlog service need to use

[2016-05-23 23:15] causten commented on #284
the test cases doesn't exist anymore. Hold off on this one

[2016-05-24 06:31] vishwabmc commented on #285
Alright... I feel its not a bug wrt the LED blinking.. It should be about how we are sampling it. Doing it via network REST way definitely adds onto time. I would visually verify if the LED is blinking slow and if there are issues we can look into it. The duty cycle ratio was agreed with Norm after he visually inspected the LEDs..

Or are you saying its just about the Automated Testability request

[2016-05-24 06:45] causten commented on #285
Can the user use rest to discover if the led is set to what they asked it to be set to?  The test case indicates they can not.  So how does the user determine if the Led is blinking via rest ?

 Sent from my iPhone using IBM Verse

 On May 24, 2016, 1:31:30 AM, notifications@github.com wrote:

 From: notifications@github.com
 To: openbmc@noreply.github.com
 Cc: austenc@us.ibm.com, author@noreply.g

[2016-05-24 06:51] vishwabmc commented on #285
So the user can use REST to see if its blinking looking at the pattern.. REST way can not today tell if its binking fast or slow since there would always be these network odds.. So back then, the requirement was to see if its blinking.. If we need at the granularity of duty cycle, we need to put some change into code and return what is the state  by looking at our own settings since those settings

[2016-05-24 07:02] legoater opened #298 "add diagnostic and development tools"
Here is an initial list :

- gard from https://github.com/open-power/skiboot
- pdbg from https://github.com/open-power/pdbg

[2016-05-24 08:16] Kenthliu opened #299 "MBE error events DIMM number is wrong"
Run test OpenPOWER RAS Verification Guide Version 1.0 -- section 3.4 Trial 4: Memory DIMM UE Checkstop Error.
Use "putscom -c 0x80000001 0201145E 0x0840000000000000" to trigger MBE. on memory buff ID 80000001.
RestApi will record two MBE error events on the same DIMM. There are no DIMM 1,4,5 events.
And check the RestApi DIMM iverntory information. DIMM 0,1,4,5 has fault present.
Blow in openbmc e

[2016-05-24 11:37] causten commented on #299
send me the logs, I'll figure it out
How are you injecting the errors?

[2016-05-24 13:24] rahulmah commented on #289
@anoo1 : I have open below pull request to remove this epoch test case.
https://github.com/mkumatag/openbmc-automation/pull/54

[2016-05-24 13:32] rahulmah commented on #286
This seem to have happen because NEW_BMC_IP env variable was not initilize (using export) before running this test case.

[2016-05-24 13:34] rahulmah commented on #286
@anoo1 This seem to have happen because NEW_BMC_IP env variable was not initilize (using export) before running this test case.

[2016-05-24 13:49] KennethWilke opened #300 "Segfault during reboot"
On a server using the v0.6.1 BMC version, we encountered a segfault when rebooting the BMC. I did happen to have a debug cable plugged into this server so I have this log of the occurrence:

After hitting this it seems the file system it tries to mount from /dev/mtdblock6 is corrupt and the BMC hit's the emergency maintenance shell. I can drop a debug cable in my own boxes to fix this, but need to

[2016-05-24 13:53] rahulmah commented on #287
@anoo1 : 'get names /' internally fo GET for /enumerate

}rahuls-MacBook-Pro:~ rahulmaheshwari$ curl -c cjar -b cjar -k -X GET -d "{\"data\":[]}" https://9.3.23.30/enumerate
{
  "data": {
    "/org/openbmc": {},
    "/org/openbmc/HostIpmi/1": {},
    "/org/openbmc/NetworkManager/Interface": {},
    "/org/openbmc/UserManager/Group": {},
    "/org/openbmc/UserManager/Groups": {},
    "/org/openbmc/U

[2016-05-25 01:07] shenki commented on #300
@mdmillerii is this related to the corruption caused by i2c?

[2016-05-25 01:17] Kenthliu commented on #299
Please reference section 3.4 Trial 4 in below file.
[RASverif_22January2016_pub.pdf](https://github.com/openbmc/openbmc/files/280815/RASverif_22January2016_pub.pdf)

[2016-05-25 02:21] shenki commented on #298
Untested bitbake files are in this tree: https://github.com/shenki/openbmc/tree/openpower-tools

If someone can show me how to build the one package with bitbake that would be great.

[2016-05-25 03:02] causten commented on #299
Ken can you add the log to box for me to view?
 
 
Chris AustenPOWER Systems Enablement Manager(512) 286-5184 (T/L: 363-5184)
 
 
----- Original message -----From: KenLiu <notifications@github.com>To: openbmc/openbmc <openbmc@noreply.github.com>Cc: Chris Austen/Austin/IBM@IBMUS, Comment <comment@noreply.github.com>Subject: Re: [openbmc/openbmc] MBE error events DIMM number is wrong (#299)Date: Tue

[2016-05-25 03:50] Kenthliu commented on #299
Yes @causten Here you are. event data with journctl log.

[dimm.txt](https://github.com/openbmc/openbmc/files/280962/dimm.txt)
![dimmerror](https://cloud.githubusercontent.com/assets/15260220/15527662/dcced3bc-226e-11e6-919c-38b513febe2b.jpg)

[2016-05-25 11:38] johnhcwang commented on #292
Is it possible that we can call fan_control.py to set full speed in systemd-reboot.service?

[2016-05-25 15:34] mdmillerii commented on #286
The testcase should check its requirements and print an clear message when they are not met.

Does the test suite need a configuration file or wrapper script to prompt for this information?

[2016-05-25 17:18] causten commented on #286
tox.ini is a wrapper file that holds system type specific information.  The I can foresee a need for a system specific file.  It would be useful for other issues too like ensuring that 3 different IO or Memory configs all are validated correctly.

I'd like it if we put some thought in to how to do this correctly that supports configs like manual, automation runs and other companies wanting to run

[2016-05-26 00:28] mdmillerii commented on #300
Its hard to say definitively but I hope so.

The first error detected was a bad page while tearing down `systemd-journal`:

BUG: Bad page map in process systemd-journal  pte:4d69a100 pmd:4dddd831
addr:7f600000 vm_flags:00000875 anon_vma:  (null) mapping:cf4e5974 index:3e
file:systemd-journald fault:filemap_fault mmap:generic_file_readonly_mmap readpage:squashfs_readpage
CPU: 0 PID: 531 Comm: syste

[2016-05-26 02:58] anoo1 commented on #239
Fixed on above pull requests, please verify in tag v0.8.

[2016-05-26 02:58] #239 closed

[2016-05-26 03:08] bradbishop commented on #257
I think this should be fixed by https://github.com/openbmc/phosphor-objmgr/pull/11

@Kenthliu can you try this again?

[2016-05-26 03:10] williamspatrick commented on #268
Are we set to close this?

[2016-05-26 03:11] williamspatrick commented on #266
@causten - Please comment on 1.0 vs 2.0 backlog here.

[2016-05-26 03:11] williamspatrick commented on #273
@anoo1 - Any assessment on if this will be done for 1.0?

[2016-05-26 03:17] williamspatrick commented on #295
I could see this being deferred to 2.0, but leaving in 1.0 for now.

[2016-05-26 03:19] williamspatrick commented on #298
Do we want this in the flash all the time or do we need to create a tools tarball?  I'm concerned about using the flash space for a development-only tool.

[2016-05-26 03:20] shenki commented on #298
The problem with making them not-default is they are never there when you need them.

gard makes sense to be on there all the time I think.

pdbg is a bit harder to sell. But it's 18K :)

[2016-05-26 03:40] Kenthliu commented on #257
OK we will verify in 0.8.1. Thanks.

[2016-05-26 04:42] sivassrr opened #306 "Test Case: "Create error log on single FRU" resulted failed due to Read time out error"
BMC Name:  9.3.23.32

Ran entire suite today and seeing read time out error in the test create error log on single FRU.
===================Details as follows===========================================
TEST Create error log on single FRU
Full Name: 	Tests.Test Association.Create error log on single FRU
Documentation:

**GOOD PATH** Create an error log on single FRU and verify its association.
Start

[2016-05-26 04:43] causten commented on #306
May 25 16:20:21 barreleye obmc-rest[976]: Exception in thread Thread-2:
May 25 16:20:21 barreleye obmc-rest[976]: Traceback (most recent call last):
May 25 16:20:21 barreleye obmc-rest[976]: File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
May 25 16:20:21 barreleye obmc-rest[976]: self.run()
May 25 16:20:21 barreleye obmc-rest[976]: File "/usr/lib/python2.7/site-packages/rock

[2016-05-26 06:18] legoater commented on #298
This is part of a BMC survival kit. I think strace would be nice for user space also.

[2016-05-26 07:21] Kenthliu commented on #257
@bradbishop I think openbmc/phosphor-objmgr#11 should include in 0.8.1. I make the event log full, but the connection still show 443. I did not see obmc-rest and phosphor-mapper show in ps. After I clear the log and AC cycle, the restapi connection work. Attach the journctl log.
[LANerror.txt](https://github.com/openbmc/openbmc/files/283647/LANerror.txt)

[2016-05-26 13:09] anoo1 commented on #268
Available in openbmc tag 0.8.

[2016-05-26 13:09] #268 closed

[2016-05-26 15:19] sivassrr opened #307 "Test Suite: Test Obmcrest: Inconsistency"
Same system and same version of image -  Test suite, Test Obmcrest gives different answers.

Success case:

Full Name: 	Tests.Test Obmcrest
Documentation:

This suite will verifiy all OpenBMC rest interfaces Details of valid interfaces can be found here... https://github.com/openbmc/docs/blob/master/rest-api.md
Source: 	/Users/sivas/OpenBMCAutomation/openbmcauto24May2016/openbmc-automation/tests/t

[2016-05-27 02:49] causten commented on #93
Tag 0.8.1 now has presence set to True for Chassis, System and IO Board.  That is good news.  The Fan inventory items still do not show presence status.

[2016-05-27 04:12] sivassrr commented on #307
Reran obmcrest and some improved number now.

Full Name: 	Tests.Test Obmcrest
Documentation:

This suite will verifiy all OpenBMC rest interfaces Details of valid interfaces can be found here... https://github.com/openbmc/docs/blob/master/rest-api.md
Source: 	/Users/sivas/OpenBMCAutomation/openbmcauto26May2016/openbmc-automation/tests/test_obmcrest.robot
Start / End / Elapsed: 	20160526 21:35:12.4

[2016-05-27 12:15] Kenthliu commented on #292
Hi @anoo1, Ok we will handle this feature.
Hi @agangidi53 , the timing of fan speed you concern is during bmc reboot, right? Now we are investigating how to make fan full speed after reboot. All the update methods need to reboot BMC finally. Reboot BMC can use ipmi command in host or RestAPI, those will call warmreset dbus method. We propose to make fan full speed after warmreset was called. So th

[2016-05-27 14:23] anoo1 commented on #93
@Kenthliu will take a look, his team may have a code change for this.

[2016-05-30 06:43] sivassrr opened #309 "Pflash hits miscompare @ 0x01c87600 - Used both May27 and May28 images"
Barreleye BMC: 9.3.23.32:

Tried May27 and May28 image of barreleye and found hitting Micompare when we use Pflash.
====================================================================
root@barreleye:/tmp# pflash -b -E -p ./flash-barreleye-20160527122028
About to erase chip !
Erasing... (may take a while !) done !
About to program "./flash-barreleye-20160527122028" at 0x00000000..0x02000000 !
Prog

[2016-05-30 09:39] gkeishin opened #310 "PreTag 0.8 Testing failure for 'Tests.Test Time.Set Valid System Time'"
Set Valid System Time
Full Name: 	Tests.Test Time.Set Valid System Time
Documentation:

**GOOD PATH** This test case tries to set system time using IPMI and then tries to cross check if it is correctly set in BMC. Expectation is that BMC time should match with new time.
Start / End / Elapsed: 	20160530 10:23:04.427 / 20160530 10:23:06.844 / 00:00:02.417
Status: 	FAIL (critical)
Message: 	Open BMC

[2016-05-30 10:25] vishwabmc commented on #196
I am looking into it.. The discover_system_state.py has checks for below only and does not mention anything like LEAVE_OFF.

1) ALWAYS_POWER_ON
2) RESTORE_LAST_STATE
3) HOST_POWERED_ON

Need to see what are the correct enums for power restore policy.

[2016-05-30 12:00] gkeishin commented on #310
The same seems to have passed in Barreleye
==============================================================================
Test Time :: This suite is for testing System time in Open BMC.
==============================================================================
Set Valid System Time :: ***GOOD PATH***                              | PASS |
--------------------------------------------------------

[2016-05-30 12:15] vishwabmc commented on #310
I am not too sure if we are supporting everything in Palmetto. If this works on Barreleye, need to take that as a baseline -or- upgrade the Palmetto to latest one.

[2016-05-30 12:52] gkeishin commented on #310
On Barrelleye ; BMC Version

{
  "data": {
    "fault": "False",
    "fru_type": "BMC",
    "is_fru": 0,
    "manufacturer": "ASPEED",
    "present": "False",
    "version": "v0.8-1-gbdf51ec-dirty"
  },
  "message": "200 OK",
  "status": "ok"
}

On the Parmetto

{
  "data": {
    "fault": "False",
    "fru_type": "BMC",
    "is_fru": 0,
    "manufacturer": "ASPEED",
    "present": "False",
    "ve

[2016-05-31 00:45] Kenthliu commented on #93
Do you mean add 'present' : "True" in Barreleye.py for fan?

[2016-05-31 09:37] gkeishin opened #311 "PreTag 0.8 Centaur0 not Present - Is this System Dependent Use case Test"
Failed on Palmetto System but  on Barreleye this test case passed..

 [ Please refer : https://github.com/mkumatag/openbmc-automation/issues/64 ]

 Seems like
 '/tmp/ipmitool -I dbus raw 0x04 0x30 255 0x00 0x00 0x00 0x00 0x40 0x00 0x00 0x20 0x00'

 Doesn't disable the property so it was still accessible as present..

Test Log for reference
 -----------------------------------------------
Full Name

[2016-05-31 13:28] causten commented on #93
There needs to be code added that determines if the fan is present.  I don't think it will be in the Barreleye.py file.  Likely in some fan init code

[2016-06-01 01:41] causten commented on #311
Fixed with https://github.com/mkumatag/openbmc-automation/pull/55
This can be closed

[2016-06-01 03:19] nkskjames commented on #309
You can only use pflash to flash BMC if the BMC is booted in ramfs mode.   Normally the BMC uses the flash as its filesystem, so flashing it while running would be bad.    Also, pflash is not really the prescribed way to flash because it only supports a full flash and doesn't preserve network settings.  So I'm closing this issue.    You should use to the initramfs update method via REST or manuall

[2016-06-01 03:19] #309 closed

[2016-06-01 04:19] sivassrr commented on #309
Sure, In case if the same thing happens via Rest or Manuall code update, May I know what are all the data generally needed for debugging. Could you provide it.

[2016-06-01 16:10] mdmillerii commented on #300
This is the same issue as #190, just a different file.  It's still likely corruption of the page table.

[2016-06-01 16:22] agangidi53 commented on #273
Some of our internal developers feel that we should manage BMC users via ipmitool commands from Petitboot / Host etc.,
I guess there's security concerns doing it that way though.
What's your initial train of thought in terms of how to manage users ?

[2016-06-01 16:31] gkeishin commented on #311
Thanks.. Closing this ticket

[2016-06-01 16:31] #311 closed

[2016-06-03 08:08] sivassrr commented on #307
Ran couple of times today and yesterday 1 time with FW8.1 and tested on barreleye systems, Rest APIs worked. Not seeing bigger / basic failures.

[2016-06-03 08:30] sivassrr commented on #307
root@barreleye:~# cat /etc/os-release ; cat /etc/version
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=v0.8.1-8-gbfcf3bf-dirty
PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
BUILD_ID=v0.8.1
20160602031800

Will do multiple regression using automated script and see the results then clo

[2016-06-03 20:13] williamspatrick commented on #273
We were planning on using PAM users and groups on the BMC to define and configure users and roles.  We had also planned on making a dbus / REST API for managing them.  Eventually we may migrate to the Redfish-way when we support Redfish.

Doing it from the host via ipmitool would require us to define and implement new OEM commands.  We had not planned to do that.  The in-band path is unauthenticat

[2016-06-06 02:40] agangidi53 commented on #292
I am sorry for delayed reply. I was out of office for sometime and only checked this now.
I don't understand setting fan speed to max shouldn't work via reboot via console.
What is the difference between rebooting via RestAPI and rebooting via the console that makes fan speeds to be set to max easier than the other  ?
What is needed for you to get this to work on both ways ?

[2016-06-06 21:07] mdmillerii opened #314 "Always enable both watchdogs"
For systems with dual flash chips, the aspeed SOC supports 2 watchdogs: The first is for normal boot timeout, and the second is configured with a longer timeout and an option to redirect chip select 0 to chip select 1 on the Static Memory Controller (Flash).

We should always expose both watchdogs to Linux.  Also need to sanitize the configuration.

[2016-06-06 21:13] shenki commented on #314
Currently the ast2500 uboot tree has watchdog 2 running. The ast2400 tree has watchdog 1 running.

I think we want to define our api between u-boot and Linux as watchdog 2 is always running. In systems where a second bmc flash exists the second watchdog can be used to fail over to a the second flash.

[2016-06-06 21:19] shenki commented on #190
We think this is resolved with the u-boot fix that is now in the tree. Please reopen if you see the symptoms again.

[2016-06-07 01:35] causten commented on #257
Assign to me too please

[2016-06-07 20:20] anoo1 opened #315 "Firestone / Garrison - Hold PCI resets until the processor takes over"
Hold the PCI resets until hostboot sets the boot progress other than BASE_INITIALIZATION (0x14) which is the first progress code.

[2016-06-08 04:47] sivassrr commented on #307
Ran with Jun 6th Barreleye Driver.
out of 10 iterations, only 3 Passed. Previously with Jun 3rd driver out of 5 iterations, 1st 3 iteration found some result.  After that all tests failed. From test suite, BMC not able to login.  But whereas if I login manually getting following error. Need to fix it.  (Even though entered the password correctly).
 ssh root@9.3.23.24
Warning: Permanently added '9.

[2016-06-10 02:19] causten commented on #257
I'm trying on 0.8.1 tag to recreate.  So far no luck.  I can access the REST interface each time.

### This is how I created the 128 test logs...
#!/bin/bash
COUNTER=0
busctl call org.openbmc.records.events /org/openbmc/records/events org.openbmc.recordlog clear
while [  $COUNTER -lt 128 ]; do
    busctl call org.openbmc.records.events /org/openbmc/records/events org.openbmc.recordlog acceptTestMe

[2016-06-10 14:27] bradbishop opened #317 "Create an ast2400 evaluation board machine"
It would be nice to have this like we do for the ast2500.

[2016-06-10 21:14] williamspatrick commented on #307
@bradbishop - Do we have the root password correctly being set in the non-Barreleye machines?

[2016-06-12 15:54] anoo1 opened #319 "Replace hard-coded service name with call to ObjectMapper"
Throughout the openbmc code, the dbus service name is hardcoded. The ObjectMapper provides a way to find out the service name: https://github.com/openbmc/docs/blob/master/dbus-interfaces.md

[2016-06-13 00:54] Kenthliu commented on #257
@causten Sorry the reproduce step not so clear. I use the web dbus port:3000 to add the test logs. Can you please try again? Thanks.

[2016-06-13 09:32] gkeishin opened #320 "PreTag: [System - barreleye Build - 20160610155319 ] Disable Syslog"
While Running the test code .. we found that our test looks for the REST Object /org/openbmc/LogManager/rsyslog/action/Disable     Which it doesn't find it..

Please let us know if this is expected or if the object path we are using in the test needs to be changed or updated..

Logs and some inputs for your reference

Disable Syslog
    [Documentation]     ***GOOD PATH***
    ...                 T

[2016-06-13 09:37] gkeishin commented on #310
We can see this on latest [System - barreleye Build - 20160610155319 ] ..

Please look into it. Thanks

[2016-06-13 10:01] gkeishin opened #321 "PreTag: [System - barreleye Build - 20160610155319 ] Set Sensor Boot progress"
The test case is getting what is expecting   baseboard init but its gets other progress state..
**FW Progress, Starting OS** != **FW Progress, Baseboard Init**

Please let us know what is the correct State it should be in this use case... in case if this was expected.. Thanks

For your reference ::

Set Sensor Boot progress
    ${uri} =    Set Variable    /org/openbmc/sensors/host/BootProgress

[2016-06-13 11:49] gkeishin opened #322 "PreTag: [System - barreleye Build - 20160610155319 ] Set PowerCap"
One of the test case is looking for SetValue object... This object is not found as per the log ..

Can someone look into it and let us know.. why this is not available.. Thanks

For Reference log:

Start / End / Elapsed: 	20160613 12:31:25.747 / 20160613 12:31:25.747 / 00:00:00.000
12:31:25.747 	INFO 	${msg} = URI:https://9.3.23.30/org/openbmc/sensors/host/PowerCap/action/setValue, method:Post, ar

[2016-06-13 12:04] rahulmah commented on #283
Same issue is also seen with miminum cpu, dimm, memory buffer and core.

[2016-06-14 06:49] amboar opened #325 "Concurrent pflash build can fail"
Saw the following failure:

[code]

It seems we have the file:

[code]
Maybe one of the `ln`s haven't been executed in the correct order, as trying to rebuild again lead to success:

[code]

[2016-06-14 11:16] rahulmah commented on #280
@ratagupt : Can you please look at this failure. I think this test case was never working.

[2016-06-14 11:25] rahulmah commented on #281
@ratagupt : It seem like we are able to set power with value greater then 1000(like 1010 of your test case). Please let us know if a test case problem or it is fw issue.

[2016-06-14 11:29] rahulmah commented on #282
@ratagupt : I think this test case was never passing. Please let me know if it has ever worked.

[2016-06-14 12:34] rahulmah commented on #321
@gkeishin : Test is passing with latest build [20160613175742]. We can close it

[2016-06-14 12:41] rahulmah commented on #320
@hramasub : Syslog related test are failing. Seem like syslog server code is still not in the build. Please confirm.

Response code:404, Content:{
  "data": {
    "description": "org.openbmc.objectmapper.Error.NotFound: path or object not found: /org/openbmc/LogManager/rsyslog"
  },
  "message": "404 Not Found",
  "status": "error"

[2016-06-14 12:45] rahulmah commented on #290
@hramasub : Please provide update on this issue.

[2016-06-14 19:33] williamspatrick opened #327 "Core - DBus Bindings for C++14"

[2016-06-14 19:34] anoo1 opened #328 "Base Function - Reboot"
State transitions with systemd

[2016-06-14 19:34] williamspatrick opened #329 "Core"

[2016-06-14 19:37] anoo1 opened #332 "Base Function - Real Time Clock"
Separate Host vs BMC RTC, NTP.

[2016-06-14 19:37] williamspatrick opened #333 "Core - Error and Trace Interfaces"

[2016-06-14 19:38] anoo1 opened #334 "Base Function - System Serial Number"
Need to support field update.

[2016-06-14 19:39] anoo1 opened #335 "Base Function - Code Update"
Refactor code update

[2016-06-14 19:39] williamspatrick opened #336 "Define Trace / Logging API"

[2016-06-14 19:40] anoo1 opened #337 "Base Function - VPD"
IPMI format supported, no support for IBM format.

[2016-06-14 19:40] williamspatrick opened #338 "Define Error / Event Structure"

[2016-06-14 19:40] anoo1 opened #339 "Base Function"

[2016-06-14 19:41] williamspatrick opened #340 "Design Error / Event Creation Mechanism"

[2016-06-14 19:41] williamspatrick opened #341 "Implement Trace / Logging API"

[2016-06-14 19:42] williamspatrick opened #342 "Implement Error / Event Manager"

[2016-06-14 19:42] anoo1 opened #343 "Power / Cooling - Power Limit / Capping"
Remaining work here is a DBUS interface and implementation in settingsd or hwmon for interacting with caps.  This is probably a setting and details will fall out of the design of openbmc/openbmc#778

Open questions are what caps (there are quite a few beyond a customer settable one) and associated properties need to be exposed via REST and how does the application get these numbers (MRW attribute?

[2016-06-14 19:42] williamspatrick opened #344 "Implement debug data collection services (BMC Dump)"

[2016-06-14 19:43] anoo1 opened #345 "Power / Cooling - OCC Interface"
Move to FSI for P9, support GPU, amester requirements

[2016-06-14 19:44] anoo1 opened #346 "Power / Cooling - EPOW"
Placeholder for EPOW support functions on future systems.

[2016-06-14 19:44] anoo1 opened #347 "Power - Misc Power Features"
PGOOD monitoring
Power Supply inventory
Power Supply error polling

[2016-06-14 19:45] williamspatrick opened #348 "Core - Data Driven Design"

[2016-06-14 19:45] williamspatrick opened #349 "Milestone: Core - Advanced Code Update"

[2016-06-14 19:46] anoo1 opened #350 "Power / Cooling - All function"
Please add issues to the appropriate sub-epics

[2016-06-14 19:46] williamspatrick opened #351 "Core - Migrate existing code to new Core infrastructure"

[2016-06-14 19:53] anoo1 opened #352 "Parse hostboot eSEL and convert to openbmc elog format"
Parse eSEL into OpenBMC native structure

[2016-06-14 19:55] anoo1 opened #353 "Milestone: RAS / MFG - LEDS"
Better LED management daemon

[2016-06-14 19:56] anoo1 opened #354 "RAS / MFG - Manufacturing / Characterization"
Need definition on requirements.
- pass through work
- reset to factory

[2016-06-14 20:03] anoo1 opened #355 "RAS / MFG"

[2016-06-14 20:03] anoo1 opened #356 "IBM Milestone 2 : BMC Image Signing"
Implement ECDSA with openssl, hopefully leverage Secureboot signing infrastructure

[2016-06-14 20:04] anoo1 opened #357 "Milestone: Security - PNOR read/write via IPMI"

[2016-06-14 20:05] anoo1 opened #358 "Security"

[2016-06-14 20:06] anoo1 opened #359 "UI - Out of Box"
Reference KVM being worked by LTC. Remote ISO needed.

[2016-06-14 20:09] anoo1 opened #360 "Milestone: UI - IPMI"

[2016-06-14 20:10] anoo1 opened #361 "UI - Web UI backend work"

[2016-06-14 20:10] #335 closed

[2016-06-14 20:11] anoo1 opened #362 "UI - SOL"
Supported via SSH. LTC had ideas for enhancements

[2016-06-14 20:12] anoo1 opened #363 "UI"
User Interfaces

[2016-06-14 20:13] williamspatrick commented on #300
Is this resolved?

[2016-06-14 20:16] #263 closed

[2016-06-14 20:18] williamspatrick commented on #298
Need to define what we are going to put into the flash image for debug tools and what mechanism we use to add an extra set of debug tools for developers to side-load.

[2016-06-14 20:19] #264 closed

[2016-06-14 20:29] mdmillerii commented on #300
This should be fixed by the i2c fix in openbmc-20160606-1 merged in the main branch via #313.
I believe that tag should have alternative patches to support occ with 12-core parts and the scu changes.  The JFFS2 patches are in the kernel v4.4.y stream.
Alternatives to the fixes to u-boot in 0.6.1 were merged in #304.

[2016-06-14 20:37] williamspatrick commented on #190
We believe this is fixed.  Please reopen if not.

[2016-06-14 20:37] #190 closed

[2016-06-14 20:40] agangidi53 commented on #293
Milton

In general, is there a way we can have basic network services and ssh service enabled completely out of RAM ( not use flash so that there's no read-on-demand paging) and then use something like pflash for update.

**Is a reboot to prepare for update after setting a firmware environment variable acceptable?**
Does this mean we reboot BMC and boot into some "safe mode shell" where we can fla

[2016-06-14 20:53] williamspatrick commented on #18
@shenki - What is the current state of this?

[2016-06-14 20:55] williamspatrick opened #364 "Core - Kernel and u-boot"

[2016-06-14 20:55] williamspatrick opened #365 "Core - Yocto or openBMC recipes"

[2016-06-14 20:58] williamspatrick commented on #296
Is this done, Brad?

[2016-06-15 01:09] kc8apf opened #366 "Boot on AST2500 EVB"
An image built with TEMPLATECONF=meta-openbmc-machines/meta-evb/meta-evb-aspeed/meta-evb-ast2500/conf should successfully boot to a login shell on an AST2500 EVB.

[2016-06-15 01:13] kc8apf commented on #366
openbmc/u-boot#7 sets the u-boot default boot args so console goes to ttyS4 (debug UART)
openbmc/linux#93 adds the flash layout to aspeed-ast2500-evb.dts so the rootfs can be found

With those merged, an image built from openbmc/openbmc master should boot to a login shell.

[2016-06-15 01:46] shenki commented on #18
We don't need to track this anymore.

We will soon move to a 2016 based u-boot release for all platforms, which will include these features.

[2016-06-15 01:46] #18 closed

[2016-06-15 03:55] mdmillerii commented on #293
I have implemented planned enhancements to the update script so it can be used while the system is running the normal stack but in a dedicated mode in #297.  The script also can be used to validate a set of update images.

The
 thought from here would be to rename the current flash bmc method to be unpack, then add validate and apply methods, along with a abort or cancel that would remove pending

[2016-06-15 05:43] shenki opened #367 "Add witherspoon machine to tree"
We need to add the witherspoon board to the tree. This involves:

 * `meta-openbmc-machines/meta-openpower/meta-ibm/meta-witherspoon/`
 * skeleton `Witherspoon.py`

[2016-06-15 10:06] gkeishin commented on #321
Closing the behavioral error here. Will re-open if we hit again on this. .Thanks

[2016-06-15 10:06] #321 closed

[2016-06-15 11:47] williamspatrick commented on #367
This is a duplicate of #296.

[2016-06-15 11:47] #367 closed

[2016-06-15 15:58] bradbishop commented on #319
It might make sense to rework the mapper API:

https://github.com/openbmc/skeleton/pull/96#discussion_r67190512

[2016-06-15 16:24] williamspatrick opened #370 "Fan control - Air cool vs Water cool policies."
Need to ensure we support different fan policies for air cooled vs water cooled.  On Witherspoon this will be controlled via a jumper.  Other systems may want a static MRW setting or a backplane VPD setting.

[2016-06-15 18:19] williamspatrick commented on #41
From a design stand-point, Brad and I would prefer config snippets that are based on function being enabled and not always strictly board or SoC specific.  We have ran into an issue recently where the systemd config options were not correctly enabled and it would make more sense to automatically include those config options whenever we enable systemd.

We understand that there is a desire by the k

[2016-06-15 18:22] williamspatrick commented on #93
There may be a short-term fix needed for Barreleye.  This issue we are moving to 2.0 for long-term handling of BMC-owned inventory items.

[2016-06-15 18:26] williamspatrick commented on #98
We should probably break this down into a few different stories.

1. Kernel / device tree work mentioned here by Joel.
2. RTC management for Witherspoon requirements.
3. Larger RTC proposal by @vishwabmc for dual RTC management (BMC vs Host) which is more appropriate for a cloud provider environment.

[2016-06-15 18:34] williamspatrick commented on #128
1. Need to ensure that qemu is not a dependency for all machine configurations.
2. Need to ensure that qemu-native compiles for qemuarm / qemux86 targets on something like Ubuntu Server Edition.

[2016-06-15 18:40] williamspatrick commented on #184
Is this fixed now?

[2016-06-15 18:42] williamspatrick commented on #194
This is a kernel oops.

[2016-06-15 18:46] williamspatrick commented on #197
Will this be necessary when we have a c++ binding in place?  I'm not sure what the scope of this is.

The API pointed at appears to be internal to systemd.

[2016-06-15 18:48] williamspatrick commented on #202
This should handle ipv6 as well.

[2016-06-15 18:50] williamspatrick commented on #209
We think this is outside the scope of the greater openbmc project.  You can add this as a custom recipe to get the extra dependencies added.

[2016-06-15 18:50] #209 closed

[2016-06-15 18:59] williamspatrick commented on #220
This should be eliminate glib now.

[2016-06-15 19:16] williamspatrick commented on #242
@bradbishop - Please confirm if this is still an issue.  Commenting out a printf is a trivial commit if needed.

[2016-06-15 19:17] williamspatrick commented on #243
@bradbishop - Another simple cleanup if still there.

[2016-06-15 19:24] williamspatrick commented on #258
This is not necessarily applicable to Witherspoon.  Marking as low priority for now.

[2016-06-15 19:26] williamspatrick commented on #260
Should include:

1. Updating PAM recipe to ensure it fits on flash.
2. Converting login applications to use PAM.

[2016-06-15 19:29] mdmillerii commented on #184
The error is the ethernet driver saying it threw away packets because it was not serviced and had no space remaining.  There have been several changes to the kernel including locking changes in this ethernet driver and memory corruption fixes since this was reported.

Is this recreatable?   Was it ever?

[2016-06-15 19:34] mdmillerii commented on #194
Similar errors were observed among the several symptoms found before the i2c driver fix was merged.  I haven't heard of it since but don't know how to directly relate it to that bug.

[2016-06-15 19:36] williamspatrick commented on #267
@ratagupt - You have a commit for this already?  Please add to your commit message something like:

'Resolves openbmc/openbmc#267'

[2016-06-15 19:46] williamspatrick commented on #273
This should be broken down into a few stories:

- PAM manipulation.
- REST server support.  (IPMI, Redfish server supports?)
- Dbus APIs for manipulating PAM groups.
- Dbus API annotations.

[2016-06-15 19:50] #300 closed

[2016-06-15 20:01] mdmillerii commented on #98
1. The rtc was disabled by default in the device tree include in January via openbmc/linux@ed679da11afafa2607bbb45c6f24f7b3d03a9bac.
2. The kernel will read the time at boot
3. The kernel will write the rtc every 11 minutes if ntp is enabled and synchronized.
4. `systemd` will set the kernel timezone from `/etc/adjtime`, although best practice is GMT
5. `systemd` will advance the clock if a stamp

[2016-06-15 20:10] shenki commented on #184
I've not seen this. Let's close it.

[2016-06-15 20:13] shenki commented on #194
This is an old kernel release. Please close

[2016-06-15 20:13] #194 closed

[2016-06-16 04:49] sivassrr commented on #307
Previous iteration same test cases passed. And today I logged in one of the Palmetto system found no issue in root password.
palmetto login: root
Password:
root@palmetto:~# cat /etc/version
20160606174128
root@palmetto:~# cat /etc/os-release
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=v0.8.1-11-gdef271f-dirty
PRETTY_NAME=P

[2016-06-16 06:04] vishwabmc commented on #134
I am working on making the .service file changes and testing it out on Palmetto box

[2016-06-16 15:56] williamspatrick opened #374 "General parsing framework for MRW-XML"

[2016-06-16 15:57] williamspatrick opened #375 "Generate kernel config from MRW-XML."

[2016-06-16 15:57] williamspatrick opened #376 "Generate hotplug / coldplug rules from MRW."

[2016-06-16 15:57] williamspatrick opened #377 "Generate application config files and/or KV-databases from MRW-XML."

[2016-06-16 16:33] sivassrr commented on #307
Based on ST with Brad, He mentioned that he is working on moving to new http server some time next week, that will help seems.

[2016-06-16 20:35] causten commented on #299
I have had some long discussions with the hostboot team about this issue.  https://github.com/open-power/hostboot

I key off of the data they send me.  The big event log that has all the debug data useful to the hardware engineers to debug.  The eSEL which is sent to me does not contain multiple FRU callouts.  There is no plan to do it either.

Unfortunately this means it is 'working as designed'

[2016-06-16 21:19] causten opened #378 "events directory gets duplicated causing"
root@barreleye:/var/lib/obmc/events# ls -l
-rw-r--r--    1 root     root           183 Jun 15 07:33 253
drwxr-xr-x    3 root     root             0 Jun 14 06:44 events
root@barreleye:/var/lib/obmc/events# ls -l events/
-rw-r--r--    1 root     root           109 Jun 13 08:52 131
-rw-r--r--    1 root     root           183 Jun 13 08:52 132
-rw-r--r--    1 root     root          1726 Jun 13 08:59 13

[2016-06-16 22:58] mdmillerii commented on #378
Because the `whitelist` entry has a trailing `/` , the code in the `obmc-phosphor-initfs` `update` script that strips off the directory name fails to effectively do so.   This also means that over a flash update the files are restored to `/var/lib/obmc/events/events` and are effectively lost but take space.

I will address the issue.  To recover the lost space is it okay to remove the recursive di

[2016-06-17 00:18] Kenthliu commented on #299
It sounds like a limitation. Did you open a issue on https://github.com/open-power/hostboot? Can you please provide more detail information about why no other DIMM# log? Then we can close this issue.

[2016-06-17 11:33] williamspatrick opened #380 "Convert packages to autotools."

[2016-06-17 11:33] williamspatrick opened #381 "Propose and implement unit test framework"

[2016-06-17 11:33] williamspatrick opened #382 "Add CI tests for all packages."

[2016-06-17 11:34] williamspatrick opened #383 "Update to Yocto 2.1"

[2016-06-17 11:34] williamspatrick opened #384 "Add additional layers."

[2016-06-17 11:35] williamspatrick commented on #383
Might resolve #135 and #235 .

[2016-06-17 11:36] williamspatrick commented on #384
Need to add meta-virtualization and meta-openembedded for some extra upstream supported recipes.

Needed to resolve #147.

[2016-06-17 11:39] williamspatrick commented on #249
@agangidi53 - Can you give an update on where we are at with this one?

[2016-06-17 11:42] williamspatrick commented on #366
This is a tracker issue so not assigning a size estimate.

[2016-06-17 11:46] #290 closed

[2016-06-17 11:46] williamspatrick commented on #290
Issue moved to [openbmc/openbmc-test-automation #14](https://github.com/openbmc/openbmc-test-automation/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:47] #288 closed

[2016-06-17 11:47] williamspatrick commented on #288
Issue moved to [openbmc/openbmc-test-automation #15](https://github.com/openbmc/openbmc-test-automation/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:47] williamspatrick commented on #286
Issue moved to [openbmc/openbmc-test-automation #16](https://github.com/openbmc/openbmc-test-automation/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:47] #286 closed

[2016-06-17 11:48] williamspatrick commented on #280
Issue moved to [openbmc/openbmc-test-automation #17](https://github.com/openbmc/openbmc-test-automation/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:48] #280 closed

[2016-06-17 11:48] williamspatrick commented on #281
Issue moved to [openbmc/openbmc-test-automation #18](https://github.com/openbmc/openbmc-test-automation/issues/18) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:48] #281 closed

[2016-06-17 11:48] williamspatrick commented on #282
Issue moved to [openbmc/openbmc-test-automation #19](https://github.com/openbmc/openbmc-test-automation/issues/19) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:48] #282 closed

[2016-06-17 11:49] williamspatrick commented on #283
Issue moved to [openbmc/openbmc-test-automation #20](https://github.com/openbmc/openbmc-test-automation/issues/20) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:49] #283 closed

[2016-06-17 11:49] williamspatrick commented on #284
Issue moved to [openbmc/openbmc-test-automation #21](https://github.com/openbmc/openbmc-test-automation/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:49] #284 closed

[2016-06-17 11:49] williamspatrick commented on #285
Issue moved to [openbmc/openbmc-test-automation #22](https://github.com/openbmc/openbmc-test-automation/issues/22) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:49] #285 closed

[2016-06-17 11:49] #287 closed

[2016-06-17 11:49] williamspatrick commented on #287
Issue moved to [openbmc/openbmc-test-automation #23](https://github.com/openbmc/openbmc-test-automation/issues/23) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:50] williamspatrick commented on #289
Issue moved to [openbmc/openbmc-test-automation #24](https://github.com/openbmc/openbmc-test-automation/issues/24) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:50] #289 closed

[2016-06-17 11:50] #320 closed

[2016-06-17 11:50] williamspatrick commented on #320
Issue moved to [openbmc/openbmc-test-automation #25](https://github.com/openbmc/openbmc-test-automation/issues/25) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:51] williamspatrick commented on #322
Issue moved to [openbmc/openbmc-test-automation #26](https://github.com/openbmc/openbmc-test-automation/issues/26) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-17 11:51] #322 closed

[2016-06-17 11:56] williamspatrick commented on #306
Is this the same a #307 ?

[2016-06-17 12:57] williamspatrick opened #385 "General parsing framework for MRW."

[2016-06-17 12:58] williamspatrick opened #386 "Generate device tree / kernel config entries from MRW."

[2016-06-17 12:58] williamspatrick opened #387 "Generate hotplug / coldplug rules from MRW."

[2016-06-17 12:59] #385 closed

[2016-06-17 12:59] #386 closed

[2016-06-17 12:59] #387 closed

[2016-06-17 13:00] williamspatrick opened #388 "Investigate btrfs"

[2016-06-17 13:00] williamspatrick opened #389 "Create a compressed btrfs subvolume for root and update u-boot"

[2016-06-17 13:01] williamspatrick opened #390 "Create build-time delta images for code update"

[2016-06-17 13:01] williamspatrick opened #391 "Code update error recovery and roll-back."

[2016-06-17 13:01] williamspatrick opened #392 "Garbage collect "old" sub-volumes."

[2016-06-17 13:02] williamspatrick commented on #388
Need to understand the implications for mtd vs mtdblock.  btrfs is likely not mtd-aware so we need to understand if there are any bad performance or RAS side-effects of using mtdblock.

[2016-06-17 13:03] williamspatrick commented on #388
See #223 for additional discussion.

[2016-06-17 13:04] williamspatrick commented on #223
Closing this issue in favor of a better breakdown of the problem via #388, #389, #390, and #392 .

[2016-06-17 13:04] #223 closed

[2016-06-17 15:35] legoater commented on #366
It does boot correctly but we need the n/w driver fixes regarding the ring buffer bits in the 4.6 kernel.

[2016-06-17 16:08] williamspatrick commented on #315
Need investigation if this is applicable to Witherspoon as well.  If not, we may drop the priority to medium.

[2016-06-17 16:10] williamspatrick commented on #317
Minor Yocto work involved here.  Mostly kernel / u-boot work.

[2016-06-17 16:11] mdmillerii commented on #315
Its not an issue for Witherspoon.

[2016-06-17 16:13] williamspatrick commented on #319
Need to make sure epic #327 includes a wrapper for object mapper calls.  Part of proxy object work.

[2016-06-17 16:13] #365 closed

[2016-06-17 16:15] williamspatrick commented on #374
Maybe look at what is available from open-power/hostboot and open-power/serverwiz .

[2016-06-17 16:27] williamspatrick commented on #381
Look at GoogleTest / GoogleMock.
Need to understand what support is already in place in yocto (and does it matter?).

[2016-06-17 16:29] williamspatrick commented on #382
This is to ensure we have Jenkins running.  Requires #380 to give us a consistent test case invocation and #381 to give us the unit test framework.

[2016-06-17 17:30] agangidi53 commented on #374
so is the thought behind this to generate https://github.com/openbmc/skeleton/blob/5213a991a5a3bd107636f1b2cc3bbca560843462/configs/Barreleye.py  from  https://github.com/open-power/barreleye-xml/blob/master/barreleye.xml ? or just reuse the XML ?

[2016-06-17 17:57] legoater commented on #366
Here is the branch I use https://github.com/legoater/linux/commits/openbmc-4.6. Network works fine.

[2016-06-17 19:24] williamspatrick commented on #374
@agangidi53 - I plan to change how we specify the machine information in openbmc (Barreleye.py today).  Some of the content in the system.py files today Brad is in the process of moving over to systemd service files.  Some of the content in there is also duplicated in the kernel device tree, for instance for the i2c devices.  I'd like to use the barreleye-xml as the prime source and then generate

[2016-06-17 23:09] williamspatrick commented on #315
Do you know why it is a problem on these two boards but not others?  Is this a p8 flaw or something special about those two boards?  How are we sure Witherspoon is not affected?

[2016-06-20 12:21] legoater commented on #366
I just updated the g5 defconfig in my linux branch. Some more configs are required to boot an evb-ast2500 image. With these, you should be able to flash and successfully boot the board.

[2016-06-20 13:39] #134 closed

[2016-06-20 18:36] anoo1 commented on #257
A fix for number of event logs was done with: https://github.com/openbmc/phosphor-event/pull/19
In addition, Milton believes that this could be fixed with the u-boot memory fix available now in openbmc tag 1.0. We should check that tag 1.0 fixes this issue.

[2016-06-20 18:44] anoo1 commented on #299
Opened hostboot issue: https://github.com/open-power/hostboot/issues/60

[2016-06-20 21:03] mdmillerii commented on #315
The PCI specification requires the reset signal to be active (low) until the power and reference clock have been stable for some defined time (100ms from memory).

The POWER8 and POWER8NVL processors provide for a reset signal and reference clock forwarding, but can only drive the reset active, and will only drive these signals after its drivers are enabled by `hostboot` in `istep7`.  Experience h

[2016-06-20 21:05] agangidi53 commented on #293
@mdmillerii So this dedicated mode you talk about is the same one that helps a manufacturers flash the BMC via host ? Where is the reference code (which repo) for base implementation of this dedicated mode ? I'd like to know the services that run in said mode.

[2016-06-20 21:43] mdmillerii commented on #293
@agangidi53 The services that run are exactly the same as a normal boot, the difference is the file systems are not mounted from the flash by the `init` script based on options passed to it via the `u-boot-env`.  Instead, a copy of the `rofs` partition is copied into memory and mounted via the `loopback` driver with the `mount -o loop` option, and the whitelisted files from the `rwfs` partition ar

[2016-06-20 21:53] williamspatrick commented on #383
Also, see #397

[2016-06-20 22:52] williamspatrick commented on #315
Thanks Milton for the in-depth analysis.  I'm going to lower the priority to medium with this in view.  Those systems are only meant as a development vehicle and most of us don't need to boot the system up far enough where PCI is a concern.

[2016-06-21 10:24] vishwabmc opened #398 "Clear one time boot overrides fails"
root@palmetto:~# systemctl status clear-once -l
● clear-once.service - Clear one time boot overrides
I noticed this every-time on a Palmetto boot..

  Loaded: loaded (/lib/systemd/system/clear-once.service; static; vendor preset: enabled)
  Active: failed (Result: exit-code) since Mon 2016-06-20 16:15:57 UTC; 1h 21min ago
 Process: 908 ExecStart=/sbin/fw_setenv openbmconce (code=exited, status=1/F

[2016-06-21 10:35] williamspatrick commented on #398
@mdmillerii - Can you take a look at this?  I suspect an fstab entry is missing.

[2016-06-21 10:38] shenki opened #399 "Add raspberry pi as a platform"
Enable the raspberry pi as a simple, cheap, easy to obtain development platform for OpenBMC.

We should use the [meta-raspberrypi layer](http://git.yoctoproject.org/cgit/cgit.cgi/meta-raspberrypi) to obtain the board support bits.

https://lists.ozlabs.org/pipermail/openbmc/2016-June/003731.html

Related to #384.

[2016-06-21 12:21] mdmillerii commented on #398
@vishwabmc Can you confirm that you booted a cpio.lzma.uboot initramfs image?

If you booted from a normal flash path send private email with the machine details.

[2016-06-21 12:40] vishwabmc commented on #398
@mdmillerii - I used cpio.lzma.u-boot intramfs image... Yes

[2016-06-21 13:04] bradbishop commented on #325
I've submitted a patch upstream for this.

[2016-06-21 13:04] mdmillerii commented on #398
Ok so the issue is that the "fstab", `/etc/fw_env.cfg`, part of the `u-boot-fw-utils` package, is pointing to a not existing file and offset because the first half of the workaround for openbmc/linux#94 is implemented in the `obmc-phosphor-initfs` package `init` script that is skipped when using that image.

There is already a check that `/etc/fw_env.cfg` is not empty but it can otherwise be inval

[2016-06-21 13:04] bradbishop commented on #296
We have a witherspoon layer now.  Is this done?

[2016-06-21 14:32] sivassrr opened #400 "602031800: Barreleye build found hang in multiple system when trying to execute set sensor boot count"
root@barreleye:~# cat /etc/version
20160602031800
root@barreleye:~# cat /etc/os-release
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=v0.8.1-8-gbfcf3bf-dirty
PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
BUILD_ID=v0.8.1
root@barreleye:~#

Observed the below hang in both 9.3.23.30 and

[2016-06-21 15:45] williamspatrick commented on #400
What does "602031800" mean?  I see this is still running v0.8.1 code:
[code]

Any reason you are not running v1.0?

[2016-06-21 18:43] bradbishop commented on #243
I can't find this in the code anywhere and I don't see it with newer builds.  Closing...

[2016-06-21 18:47] bradbishop commented on #243
I can't close.  And I understand why I can't see it in the code - this is in code that was on the Barreleye when it shipped but it hasn't been upstreamed.

[2016-06-21 18:48] bradbishop commented on #242
Same thing as https://github.com/openbmc/openbmc/issues/243....this isn't upstream code doing this.

[2016-06-21 18:48] bradbishop commented on #242
@williamspatrick please close...

[2016-06-21 19:49] #325 closed

[2016-06-21 19:59] #243 closed

[2016-06-21 19:59] #242 closed

[2016-06-21 20:02] williamspatrick commented on #325
@bradbishop - I see here you mentioned you submitted upstream.  I'm not seeing it on the skiboot mailing list.  Are you sure it went through?  Maybe it was sent from a non-subscribed email account and is awaiting moderation.

[2016-06-21 20:02] #296 closed

[2016-06-21 23:25] GHF commented on #366
@legoater if you build with bitbake, it overrides the defconfig with its own. I haven't tried this one verbatim but it should work. https://github.com/openbmc/openbmc/blob/master/meta-openbmc-bsp/meta-aspeed/meta-ast2500/recipes-kernel/linux/linux-obmc/defconfig

[2016-06-22 00:31] Kenthliu commented on #299
Thanks for the explain.
Also record Patirck's response here.

A memory UE is expected to not be isolated to a single DIMM, so there is always multiple callouts. If I remember right, Hostboot does two things when there is an error with a guard event.

Send down a SEL/eSEL.
Assert fault sensors for the associated FRUs.
Since a SEL is associated with a sensor, in effect, the SEL also points to a FRU.

[2016-06-22 00:31] #299 closed

[2016-06-22 04:04] mdmillerii commented on #388
Some concerns or blockers with btrfs on mtdblock:

1.  No wear leveling.  It's not clear that the wandering logs will ever displace long term static data.  Since it hasn't been targeted at raw flash I doubt it has been a consideration.

2.  btrfs super blocks are at 64k, 64M, 256G, and 2T byte offsets.  That means a 32MB or even a 64MB partition only has one superblock copy that can be lost while

[2016-06-22 04:17] sivassrr commented on #400
Patrick,
 
That was Jun 20th  image.
 
root@barreleye:~# cat /etc/version20160602031800    <================= Which was the latest image when I picked from https://openpower.xyz/job/openbmc-build/119/distro=ubuntu,target=barreleye/changes#detailroot@barreleye:~# cat /etc/os-releaseID=openbmc-phosphorNAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)VERSION=0.1.0 (jethro)VERSION_ID=v

[2016-06-22 13:02] bradbishop commented on #325
I goofed my git-send-email sendemail settings.  https://lists.ozlabs.org/pipermail/skiboot/2016-June/003644.html

[2016-06-22 13:56] legoater commented on #366
@GHF yes. I tend to put everything in the linux tree but it is not the way to go. The defconfig is correct under meta-ast2500.

[2016-06-22 14:34] williamspatrick commented on #218
Need one update to the recipes and this can be closed.

[2016-06-22 14:39] williamspatrick commented on #400
@sivassrr - Those "build numbers" are not really useful to us.  They are just timestamps that bitbake creates when it runs on Jenkins, so they are effectively random numbers.  The VERSION_ID is what we need to point to a commit number.

v0.8.1-8-gbfcf3bf-dirty - means "v0.8.1" tag plus 8 commits, the last of which is "bfcf3bf", and the repository is "dirty" meaning the tool did some source level m

[2016-06-22 14:40] williamspatrick commented on #400
[code]

This means there are 49 commits between what you are testing and v1.0.

[2016-06-22 15:36] #218 closed

[2016-06-22 19:16] williamspatrick opened #407 "qemux86-64: obmc-console.service fails to start"
Journal:
[code]

Running by hand:
[code]

[2016-06-22 19:17] williamspatrick commented on #407
This was running revision ed883a5d560d5c034925160458b3b5395a583d32

[2016-06-22 19:19] williamspatrick opened #408 "qemux86-64: obmc-console-ssh.socket failed to start"
Running revision ed883a5d560d5c034925160458b3b5395a583d32

Journal

[code]

[2016-06-22 19:22] williamspatrick opened #409 "qemux86-64: host-ipmi-hw using 100% of CPU"
Running revision ed883a5d560d5c034925160458b3b5395a583d32

[code]

I'm not sure this program is even suppose to be here anymore.  Maybe the bt-host device is not created and this is poorly handling that.

[2016-06-23 07:05] sivassrr commented on #408
root@barreleye:~# systemctl status obmc-console-ssh.socket -l
● obmc-console-ssh.socket - OpenBMC console ssh server socket
   Loaded: loaded (/lib/systemd/system/obmc-console-ssh.socket; enabled; vendor preset: enabled)
   Active: active (listening) since Thu 2016-06-23 06:15:54 UTC; 47min ago
   Listen: 0.0.0.0:2200 (Stream)
 Accepted: 0; Connected: 0

Jun 23 06:15:54 barreleye systemd[1]: Liste

[2016-06-23 08:04] sivassrr opened #410 "Tag:V1: openBMC - All test (211)fails because of Connection to BMC timeout"
BMC 9.3.23.30
root@barreleye:~# cat /etc/os-release
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=v1.0-4-gd8cd888-dirty
PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
BUILD_ID=v1.0     <=== Good to see this version
root@barreleye:~# cat /etc/version
20160622205331
root@barreleye:~#
==

[2016-06-23 08:11] sivassrr commented on #410
May be a network issue - Because first time ssh worked fine. After that it did not.
but another weird thing is trying to collect journal but it takes for ever.

[2016-06-23 09:52] sivassrr commented on #410
journalctl also hangs...

[2016-06-23 12:52] sivassrr commented on #410
Network issue. Closing it . Able to run journalctl as well and no hang observed.

[2016-06-23 12:52] #410 closed

[2016-06-23 21:12] williamspatrick commented on #135
Yocto 2.1 still uses openssl-1.0.2g, so still not going to get a fix for this.  Actually, even Yocto is waiting on openssl to even do a formal release of the 1.1.x stream.

[2016-06-23 21:15] williamspatrick commented on #235
This is picked up by Yocto 2.1, so it will be in our tree as soon as pull #396 is merged.
[code]

[2016-06-24 09:48] Kenthliu commented on #257
I verified in 1.0. I think it's OK. This issue can be closed.

[2016-06-24 09:48] #257 closed

[2016-06-24 19:12] bradbishop opened #411 "python-json does not handle dbus.Double"
These aren't being encoded properly for some reason.  We end up with json looking like this:

     "scale": dbus.Double(0.25, variant_level=1),

[2016-06-24 19:16] bradbishop opened #412 "adm1278 sensor scale should not be a float"
We should handle floats in json/rest, and I have opened https://github.com/openbmc/openbmc/issues/411 for that, but in this case:
https://github.com/openbmc/skeleton/commit/a8260c83d6566fc46832c627ae32c996cfb76ea4

it probably doesn't make much sense to use a float for the scale here.

[2016-06-27 10:10] sivassrr commented on #400
124 Build level able to run succcessfully 10 iterations with only 35 failures in each iteration. And same across the iteration. Consistency achieved. Today testing 125 build level, Will check and close it accordingly.

[2016-06-27 10:11] vishwabmc commented on #196
I executed this test on Barreleye ( Barreleye PVT system ) with 4.4.12-openbmc-20160606-1 and I did not see it getting recreated.. I see that PGOOD reads OFF and hence results in staying in BMC_READY.

This may be a Palmetto only issue ??

[2016-06-27 10:17] sivassrr commented on #257
sivas@ubuntu-siva:~$ ssh root@9.126.171.197
root@9.126.171.197's password:
root@palmetto:~# cat /etc/version
20160627011830
root@palmetto:~# cat /etc/os-release
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=v1.0-13-gd6abfb9-dirty
PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
BUILD_ID

[2016-06-27 10:21] sivassrr commented on #257
http://9.126.171.197:3000/ - works well on the failure system.

[2016-06-27 11:20] vishwabmc commented on #196
And.. I tried it on palm205 just now that is running 4.4.12-openbmc-20160606-1 and I don't see the issue reported..

System was HOST_BOOTING and I had set the power_policy as LEAVE_OFF and the system stayed in OFF.
root@palmetto:~# python /usr/sbin/discover_system_state.py
VISHWA PGOOD IS OFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
Last System State: HOST_POWERED_OFF;  Power Policy: LEAVE_OF

[2016-06-27 11:21] vishwabmc commented on #196
root@barreleye:~# journalctl --no-pager | grep LEAVE_OFF
Jun 07 00:53:06 barreleye system_manager.py[987]: Last System State: ;  Power Policy: LEAVE_OFF
root@barreleye:~# obmcutil state
 = BMC_READY

that is on Barreleye..

So with these exercises, I can concluded we do not have the issue.. May be the issue is fixed by some code in these days / the issue reported may have been one off ??

[2016-06-27 12:05] vishwabmc commented on #196
I also noticed that discover_system_state.py is not being called in Palmetto as I see only these :+1:

$ grep -r discover_system_state *
configs/Garrison.py:        'process_name'    : 'discover_system_state.py',
configs/Firestone.py:        'process_name'    : 'discover_system_state.py',
configs/Witherspoon.py:        'process_name'    : 'discover_system_state.py',
configs/Barreleye.py:

[2016-06-27 13:10] sivassrr commented on #400
curl command also fails

[2016-06-27 13:15] shenki commented on #118
I have not seen this issue for a long time. Please close

[2016-06-27 16:26] williamspatrick commented on #196
"4.4.12-openbmc-20160606-1"  -- what does this mean?

@bradbishop - Any idea why Palmetto is missing the 'discover_system_state.py' call?

[2016-06-27 16:26] #118 closed

[2016-06-27 16:35] williamspatrick opened #416 "Update u-boot config for Firestone."
See openbmc/u-boot#9 .

[2016-06-27 16:37] #383 closed

[2016-06-27 16:37] #235 closed

[2016-06-27 17:29] vishwabmc commented on #196
@williamspatrick  "4.4.12-openbmc-20160606-1 is the output from uname -a

[2016-06-27 17:51] williamspatrick commented on #196
@vishwabmc - Oh.  That is a kernel level and not a openbmc code level.  See /etc/os-release for an openbmc code level description.

[2016-06-28 04:40] shenki commented on #235
Woot! Nice work Patrick. Hopefully keeping in line with Yocto releases will be easier from here on in.

[2016-06-28 07:27] shenki opened #417 "Downloading unnecessary kernel"
I'm building post-yocto 2.1 for witherspoon and we still pull down a yocto kernel:

[code]

Can we override this to use the same tarball as the boot kernel?

[2016-06-28 07:52] shenki commented on #417
The version is defined in `yocto-poky/meta/recipes-kernel/linux/linux-yocto_4.4.bb`.

We have `meta-phosphor/common/recipes-kernel/linux/linux-obmc_4.6.bb` includes linux-yocto. We should be overriding the versions here, but we're not.

The download is extremley slow. It appears to be fetching  `http://downloads.yoctoproject.org/mirror/sources/git2_git.yoctoproject.org.linux-yocto-4.4.git.tar.gz`.

[2016-06-28 07:57] shenki opened #418 "Build fails to find libpcre"
Building 2d1d6b72143ce6d8bf4a5bbbb95eb28994876a54 on Ubuntu:

[code]

looking through config.log I find that it's configuring the rpm package with `--with-pcre`. It finds `pcre.h` and then performs this test:

[code]

So it's actually failing to link against `libtommath`?

[2016-06-28 08:01] shenki opened #419 "Barreleye builds failing"
[code]

[2016-06-28 08:13] shenki commented on #418
Upstream has a patch:

http://git.yoctoproject.org/cgit/cgit.cgi/poky/commit/meta/recipes-devtools/rpm?id=71979b2ff7a0f78892435558e27bf0779367de55

[2016-06-28 08:21] shenki opened #420 "Cannot reproduce v1.0 tag"
I was attempting to rebuild v1.0 on openpower.xyz as we had discarded the build.

The barreleye build is failing with the same error I see in #419.  Are we not correctly versioning one of our packages?

[code]

https://openpower.xyz/job/openbmc-build/131/

[2016-06-28 09:35] Kenthliu commented on #257
1.0.1 is also looks good now. We can close this issue.

[2016-06-28 17:02] williamspatrick commented on #419
Did you run this manually or on the server with the sstate cache?  I was observing this myself as part of the upgrade to Yocto 2.1 but I never saw it before and the Jenkins server never failed this way.  I don't believe I see it when building a clean stand-alone compile, so I suspect the Jenkins server's sstate cache is messing this up now.

Brad does have a fix in the v1.0.1 tag.

[2016-06-28 17:03] williamspatrick commented on #420
Effectively a duplicate of #419 .  This is fixed with the 1.0.1 tag, but I don't know why we never saw it before with 1.0 and now we do.

[2016-06-28 17:03] #420 closed

[2016-06-29 04:59] sivassrr commented on #93
With level 125, Still sees failure in Palmetto as well for DIMMS.
rg.openbmc.InventoryItem

    setPresent(string present) →
    setFault(string fault) →
    update(dict {string → variant} data) →
    fault = False
    fru_type = DIMM
    is_fru = 1
======================
For all the DIMMs and CORES as well.

[2016-06-29 06:02] shenki opened #421 "Store device tree in separate partition"
We want to move to storing the device tree separately from the kernel in the flash. This enables u-boot to perform modifications to the device tree before handing it off to Linux, such as setting the amount of RAM or even NC-SI vs PHY.

Changes required:
- stop building cuImage
- modify flash layout to set aside space for board.dtb
- adjust u-boot environment so it loads the dtb

[2016-06-29 06:10] shenki commented on #419
This is on the Jenkins server. We're seeing it with master (https://github.com/openbmc/openbmc/commit/2d1d6b72143ce6d8bf4a5bbbb95eb28994876a54):

https://openpower.xyz/job/openbmc-build/distro=ubuntu,target=barreleye/131/console

Has this somehow stuffed up the sscache? Do I need to remove it before builds will work again?

[2016-06-29 06:29] vishwabmc commented on #196
The conclusion is : Without the discover_system_state.py getting invoked, I am not sure how it can do any state change beyond BMC_READY.  So the issue reported here may be a one off since it was opened sometime before and the skeleton has taken many changes since then.

I would vote for opening a new issue to add the missing discover_system_state.py into Palmetto.py since I see that change is doin

[2016-06-29 14:04] geissonator commented on #184
palm303 suddenly stopped pinging, I went out to the lab and verified the connections (all was good).  The serial looked fine and the IP settings looked fine so I issued a reboot.  When it came up I got at lot of these NO_RXBUF RPKT_LOST errors so looks like this same issue.  I'm thinking I'll try a A/C power cycle next.

ftgmac100 1e660000.ethernet eth0: [ISR] = 0x20f: NO_RXBUF RPKT_LOST
ftgmac100

[2016-06-29 14:44] geissonator commented on #184
An A/C power cycle fixed the issue.  Interesting that just a "reboot" didn't.

[2016-06-29 15:55] mdmillerii commented on #184
@geissonator Can you check if the mac address is set in the `u-boot` environment  or if its using a random mac?  Either `printenv ethaddr` from the `u-boot` prompt or `fw_printenv ethaddr` from Linux prompt (or just `printenv` or `fw_printenv` respectively and look for the `ethaddr` variable.

The fact that reboot did not clear but power cycle did could be a poorly chosen random mac that the switc

[2016-06-29 16:18] geissonator commented on #184
The problem came back after a bit of testing :(

Here's my current mac with system in fail state:
fw_printenv ethaddr
ethaddr=00:21:cc:73:91:dd

[2016-06-29 17:22] williamspatrick commented on #93
@sivassrr - Problems with DIMMs and Cores is a different issue.  Please open something separate to track that.  This problem @causten is a global problem with regards to state of BMC-owned devices.  We do not presently have any code to set the present state of BMC-owned devices.

[2016-06-29 17:24] williamspatrick commented on #421
Do we actually need a new partition for this or can we put it into the u-boot image directly?  Can we make a single EXT? fs for the dtb and kernel image?

[2016-06-29 17:25] williamspatrick commented on #419
I suspect so?  Can you do a build with sstate disabled temporarily and see if that solves this?

[2016-06-29 17:26] williamspatrick opened #423 "BIOS version doesn't show via openBMC REST"
@Kenthliu commented on [Wed Jun 29 2016](https://github.com/openbmc/skeleton/issues/116)

With newer BMC releases (v1.0) and BIOS releases (V 0.2.2) I am noticing that we can't get the BIOS version info with curl command via the BMC (even when host is up).  But BMC v0.8 was work.
BMC 0.8 and BIOS 0.2.2
![0 8 0 2 2](https://cloud.githubusercontent.com/assets/15260220/16442425/06686af6-3e05-11e6-82e

[2016-06-29 17:27] williamspatrick commented on #423
@anoo1 - Can you screen this?

[2016-06-29 17:28] williamspatrick commented on #196
Two steps here:

1. Vishwa to make change to enable discover_system_state.py on Palmetto.
2. Re-test all the different states.  Vishwa suspects RESTORE_LAST_STATE doesn't work properly.

[2016-06-29 18:30] williamspatrick commented on #418
Fixed with #424 .  Thanks Joel for the backport of a fix from Yocto-2.2 master.

[2016-06-29 18:30] #418 closed

[2016-06-29 21:24] geissonator commented on #184
I moved to a different switch and have seen no issues so far.

[2016-06-29 22:26] williamspatrick commented on #184
@shenki - I'll leave this open for you to assess if there is something for us to do here.  Concerning to me that a flaky or busy switch could give us trouble.

[2016-06-30 01:55] shenki commented on #184
From IRC:

[code]

[2016-06-30 07:43] shenki commented on #419
Barreleye is okay now that I removed the cache.

[2016-06-30 07:43] #419 closed

[2016-06-30 07:54] shenki opened #426 "witherspoon fails under jenkins due to bash-completion test directory"
Jenkins throws an exception due to a filename with question marks in it:

[code]

The only image to pull in the bash-completion package is Witherspoon.

Looking at the dependencies:

[code]

[2016-06-30 08:36] vishwabmc commented on #196
Since I am not able to recreate this, please move this to Ratan so he could put his comments and close.

If RESTORE_LAST_STATE is not working fine, I will open a new issue just for that.

[2016-06-30 10:15] adamliyi opened #427 "Duplicated binary installed for phosphor-event"
In "meta-phosphor/common/recipes-phosphor/obmc-phosphor-event/obmc-phosphor-event.bb", there is:

[code]

However, both "event_messaged" and "obmc-phosphor-eventd" are installed into /usr/sbin/.
These two binaries are actually the same, with different names.

[code]

This is not a big issue, but it is confusing, and it wastes additional 100KB space in BMC.

[2016-06-30 12:12] sivassrr opened #428 "CORE and DIMM Present value as False"
Based on the discussion in issue #93

https://github.com/openbmc/openbmc/issues/93

With level 125, Still sees failure in Palmetto as well for DIMMS.
rg.openbmc.InventoryItem
setPresent(string present) → setFault(string fault) → update(dict {string → variant} data) → fault = False fru_type = DIMM is_fru = 1

[2016-06-30 15:17] williamspatrick opened #429 "Implement an RMCP server that handles session handshake."

[2016-06-30 15:20] williamspatrick opened #430 "Design and Implement framework for IPMI backend."
The purpose of this is to come up with a mechanism to share providers between the host-ipmid and the rmcp-ipmid.  Also, update existing providers and host-ipmid to fit this framework.  Demo of this story should be to use an existing host-ipmid provider via the rmcp path.

[2016-06-30 15:21] williamspatrick opened #431 "IPMI user account authentication"

[2016-06-30 15:21] williamspatrick opened #432 "Attaching RMCP session to SOL."

[2016-06-30 15:22] williamspatrick opened #433 "Framework for SDR conversion to/from dbus objects."

[2016-06-30 15:24] williamspatrick commented on #433
This should be hard coded data structures to express the SDR definition and how they map to something like { type , dbus path }.  Also want to implement a few 'types' so we can see this is a good definition.

[2016-06-30 15:24] williamspatrick opened #434 "IBM Milestone 2 : IPMI 2.0 : Generate SDR definition from MRW."
"I think the net of this issue (434) was to implement whatever the numbering scheme is from the MRW and make sure we map it to appropriate data structures to implement get / set sensors."  - Patrick

We may need some initial work for just the FRU fault.

[2016-06-30 15:25] williamspatrick opened #435 "Confirm 'Get Device Id' meets IPMI 2.0 requirements"

[2016-06-30 15:26] williamspatrick opened #436 "Implement 'Get Self Test Results' command"

[2016-06-30 15:26] williamspatrick opened #437 "Confirm 'Cold Reset' and "Warm Reset' meet IPMI 2.0 requirements"

[2016-06-30 15:27] williamspatrick opened #438 "Implement 'Get Chassis Capabilities'"

[2016-06-30 15:27] williamspatrick opened #439 "Implement 'Get Chassis Status'"

[2016-06-30 15:27] williamspatrick opened #440 "Implement 'Chassis Control'"

[2016-06-30 15:29] williamspatrick opened #441 "IBM Milestone 2 : IPMI 2. 0 : Implement sensor / SDR commands."

[2016-06-30 15:29] williamspatrick opened #442 "Implement FRU device commands"

[2016-06-30 15:29] williamspatrick opened #443 "Implement SEL commands"

[2016-06-30 15:29] williamspatrick opened #444 "Confirm LAN device commands meet IPMI 2.0 requirements"

[2016-06-30 15:31] williamspatrick opened #445 "IBM Milestone 2 : IPMI 2.0 : Implement DCMI commands"

[2016-06-30 15:33] williamspatrick opened #446 "Implement user management commands"

[2016-06-30 15:36] williamspatrick commented on #440
Include Get / Set System Boot Options commands.

[2016-06-30 15:43] williamspatrick commented on #429
This should handle encrypted sessions.  Unencrypted, if required by IPMI 2.0, will be done with another story.

[2016-06-30 15:44] williamspatrick opened #447 "Implement encrypted RMCP sessions per IPMI 2.0."

[2016-06-30 15:58] williamspatrick commented on #273
Also need to understand the IPMI requirements.  They have some plaintext hashing algorithm that is used to validate users.  We want to have a common user repository.

[2016-06-30 15:59] williamspatrick commented on #431
Requires #273 to be done and implement requirements for IPMI.

[2016-06-30 18:21] williamspatrick commented on #428
What is "level 125"?

[2016-06-30 18:23] williamspatrick commented on #426
Can't we fix Jenkins?

[2016-06-30 18:32] williamspatrick commented on #409
This should be running btbridged maybe instead?  Or maybe no host-ipmi at all.

[2016-06-30 18:35] mdmillerii commented on #407
This is trying to talk to the vuart hardware.  I don't recall seeing that hardware being emulated yet.

[2016-06-30 18:36] #400 closed

[2016-06-30 18:39] mdmillerii commented on #261
The plan for this item is to support remote media by presenting a virtual CD drive over the USB2.0 vhub as a usb gadget device.

[2016-06-30 18:41] mdmillerii commented on #261
Current status is I have tried a minimal forward port of the code in facebook/openbmc but writes to the reset register in the vhub were not taking effect.  I had the minimum 10us delay for clock start but did not verify strapping registers or pin muxes for usb clock and 24 or 48MHz refclock.

[2016-06-30 18:42] williamspatrick commented on #310
Need someone to confirm the ipmi time routines work (or not).

[2016-06-30 18:44] #307 closed

[2016-06-30 18:45] williamspatrick commented on #306
There have been fixes for REST timeouts now.  Please retest.

[2016-06-30 18:45] #306 closed

[2016-06-30 18:48] williamspatrick commented on #292
Is this fixed in the Foxconn tree?

[2016-06-30 19:11] williamspatrick commented on #41
@bradbishop suggested we should close this because it is done and create a new story for a minimal defconfig.  @shenki - any issues with that?

[2016-06-30 19:16] williamspatrick commented on #381
Assign to Matt Barth.

[2016-06-30 19:17] williamspatrick commented on #380
Assign to Matt Barth.

[2016-06-30 19:20] williamspatrick commented on #416
Need to get an updated u-boot config from @shenki and then update the recipes to utilize it.

[2016-06-30 19:21] williamspatrick commented on #427
Assign to @adamliyi .

[2016-06-30 19:23] williamspatrick commented on #104
Assign to Matt Barth.

[2016-06-30 19:24] williamspatrick commented on #382
Assign to Matt Barth.

[2016-06-30 19:26] williamspatrick commented on #428
Assign to adamliyi .

[2016-06-30 19:39] williamspatrick commented on #416
Assign to Matt Barth

[2016-06-30 19:47] williamspatrick commented on #93
Assign to @adamliyi .

[2016-06-30 19:50] williamspatrick commented on #399
Assign to @adamliyi

[2016-06-30 22:16] dbuesom opened #450 "Unable to Ping on Broadcom 5720 Running OpenBMC"
### Problem Description

I wrote a driver for the embedded Broadcom 5720 on a Barreleye system. The 5720 has both ports configured for BMC NC-SI passthrough. I am attempting to ping with the second port of the adapter, but it reports a transmit timeout. Debugging has shown that data is being written to the transmit buffer and the send ring producer index value is incremented correctly. The timeout

[2016-07-01 00:23] shenki commented on #41
Ok. Please assign me to the new issue.

[2016-07-01 00:23] #41 closed

[2016-07-01 02:04] Kenthliu commented on #292
Yes

[2016-07-01 04:05] sivassrr commented on #428
with the latest level (Jun 30 build ) - Here is the output.
Sivass-MBP:~ sivas$ curl -c cjar -b cjar -k https://9.3.23.32/org/openbmc/inventory/enumerate
{
  "data": {
    "/org/openbmc/inventory/system": {
      "fault": "False",
      "fru_type": "SYSTEM",
      "is_fru": 1,
      "present": "True",
      "version": ""
    },
    "/org/openbmc/inventory/system/bios": {
      "fault": "False",

[2016-07-01 08:38] vishwabmc commented on #409
I looked at /usr/sbin/host-ipmi-hw and this is an emulator for BT in that it does implement the signal ( ReceivedMessage ) and method ( SendMessage ) that BT driver has implemented

ConsoleReader will watch for inputs from STDIN and on seeing data, it will fire the ReceivedMessage and IPMI daemon would catch and process and call SendMessage.

That said, 2 things :

1/. Jeremy had ipmi_debug.py whi

[2016-07-01 09:54] sivassrr opened #452 "Need LED control code to give you the blink state. So three state will be 'On' , 'Off', 'Blink'."
Failure Case: Blink Fast the Beep LED:
KEYWORD BuiltIn . Should Be True ${ON_VALUE} > ${MIN_TOGGLE_VALUE} and ${OFF_VALUE} > ${MIN_TOGGLE_VALUE}
Documentation:

Fails if the given condition is not true.
Start / End / Elapsed:  20160701 09:54:19.422 / 20160701 09:54:19.425 / 00:00:00.003
09:54:19.425    FAIL    '5 > 0 and 0 > 0' should be true.

Pass Case:
Documentation:

Sets variable based on the

[2016-07-01 09:56] sivassrr commented on #452
Pass Case: Blink Fast Heartbeat LED:
Documentation:

Sets variable based on the given condition.
Start / End / Elapsed: 	20160701 10:47:10.873 / 20160701 10:47:10.876 / 00:00:00.003
10:47:10.876 	INFO 	${ON_VALUE} = 3
00:00:00.003 KEYWORD ${OFF_VALUE} = BuiltIn . Set Variable If '${ledstate}'=='Off', ${OFF_VALUE + 1}, ${OFF_VALUE}
Documentation:

Sets variable based on the given condition.
Start /

[2016-07-01 09:57] sivassrr commented on #452
OpenBMC Version Detail:
root@barreleye:~# cat /etc/version
20160630213138
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="0.1.0 (krogoth)"
VERSION_ID="v1.0-48-g8d43aee-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (krogoth)"
BUILD_ID="v1.0"
root@barreleye:~#

[2016-07-01 10:16] vishwabmc commented on #409
The 'top' gives :
  262     1 root     R    14572  12%  98% python /usr/sbin/host-ipmi-hw

killing it and restarting gives 12%..

To answer my #2 above, I got the ipmi_debug.py and what I saw was that ipmi_debug.py has been renamed as host-ipmi-hw.

I am thinking that the gobject.mainloop() is not effectively doing the stuff.. Will look more.

[2016-07-01 10:27] vishwabmc commented on #407
* Jul 01 07:34:47 qemuarm obmc-console-server[444]: obmc-console-server: Can't open tty /dev/ttyS5: No such file or directory *

Jul 01 07:34:47 qemuarm systemd[1]: obmc-console.service: Main process exited, code=exited, status=1/FAILURE
Jul 01 07:34:47 qemuarm systemd[1]: obmc-console.service: Unit entered failed state.
Jul 01 07:34:47 qemuarm systemd[1]: obmc-console.service: Failed with result

[2016-07-01 10:29] vishwabmc commented on #408
root@qemuarm:/usr/sbin# cat /etc/os-release
ID=openbmc-phosphor
NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)
VERSION=0.1.0 (jethro)
VERSION_ID=v1.0-13-gd6abfb9-dirty
PRETTY_NAME=Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (jethro)
BUILD_ID=v1.0
root@qemuarm:/usr/sbin#

root@qemuarm:/usr/sbin# systemctl status obmc-console-ssh.socket
● obmc-console-ssh.so

[2016-07-01 11:02] sivassrr opened #453 "Tag:V1: Firmware version populated with "\""
Firmware Version TC failing because of following value.

Convert a string to a JSON object
Start / End / Elapsed: 	20160701 10:43:12.416 / 20160701 10:43:12.416 / 00:00:00.000
10:43:12.416 	INFO 	To JSON using : content={
  "data": {
    "fault": "False",
    "fru_type": "BMC",
    "is_fru": 0,
    "manufacturer": "ASPEED",
    "present": "False",
    "version": "\"v1.0-48-g8d43aee-dirty\""   <===

[2016-07-01 18:23] #246 closed

[2016-07-01 18:35] williamspatrick commented on #426
All of the Barreleye images appear to be failing on Jenkins as well.  Are you sure that only witherspoon is pulling this in?

[2016-07-01 18:38] williamspatrick commented on #428
@sivassrr - You are seeing this after letting the host boot, correct?  It appears that the IPMI inventory commands are broken then.  @adamliyi will investigate.

[2016-07-01 18:43] williamspatrick commented on #452
@sivassrr - We need a human understandable issue report here.  This looks like output from Robot to me and I really have no idea what to even do with this.  Can you please give an explanation of what you are trying to do, what your expected result is, and what you are seeing?

[2016-07-01 18:45] williamspatrick commented on #408
The fact that your output has these implies that it failed at least once though:
Jul 01 07:34:47 qemuarm systemd[1]: Stopping OpenBMC console ssh server socket.
Jul 01 07:34:47 qemuarm systemd[1]: Listening on OpenBMC console ssh server socket.

[2016-07-01 18:47] williamspatrick commented on #407
We are not expecting QEMU to be a "complete replacement to harware" but it is a very useful development environment so I would like to see it as complete as it can be without modifying QEMU.

/dev/ttyS5 is the UART for the host.  If the device isn't present we shouldn't be launching the console-server, or the console server should have error handling to deal with the specified device being missing

[2016-07-01 18:49] williamspatrick commented on #453
Something wrong with the rest server here?

[2016-07-01 19:26] agangidi commented on #249
Hey @williamspatrick

I want to be able to generate a uboot-env partition and flash it along with all the partitions instead of env getting generated on first boot.

[2016-07-02 05:43] gkeishin commented on #452
Let me help decode this in simpler terms

Robot output:
09:54:19.425 FAIL '5 > 0 and 0 > 0' should be true.
Test code :
should be true   ${ON_VALUE} > ${MIN_TOGGLE_VALUE} and ${OFF_VALUE} > ${MIN_TOGGLE_VALUE}

When the test does a sampling to get the blink led stats, it couldn't get back expected blink expectation.. This means that when the test samples for 5 blinks, the toggle value turns out to

[2016-07-04 08:00] williamli80 commented on #244
I find it in ipmi-fru-parser repository's commit
[https://github.com/openbmc/ipmi-fru-parser/tree/f3ca35258caec338c72972559ca6b20a2df920f1](url)

commit f3ca35258caec338c72972559ca6b20a2df920f1
Author: vishwa <vishwanath@in.ibm.com>
Date:   Wed Dec 2 10:35:13 2015 -0600

    set present status True after updating inventory

[2016-07-04 10:49] sivassrr commented on #307
On Palmetto - All REST API Passed. But on Barreleye still 2 TCs related to "get names /" , "get names /org/" failing as follows:
=============================================
Full Name: 	Test Obmcrest & Test Eventlog & Test Syslog & Test Led & Test Generic Conf & Test Ssl & Test Fw Version.Test Obmcrest.get names /
Start / End / Elapsed: 	20160704 11:30:04.358 / 20160704 11:30:17.108 / 00:00:12.75

[2016-07-05 04:50] adamliyi commented on #428
@sivassrr: I think you did not boot host. You can check "obmcutil state" firstly, to make sure host has booted. Bellow are inventory on Palmetto:
Check system status:
[code]

[code]

[2016-07-05 05:10] adamliyi commented on #428
check OPAL output, only 4 cores are available on the Palmetto I do the test, so the FRU/inventory work as expected:
[code]
So this issue is not a bug.

[2016-07-05 10:13] adamliyi commented on #428
Tested on Palmetto, using OpenBMC-v1.0, the CPU, Core, and DIMM present bit work as expected.
So @sivassrr , could you boot host, and verify?

[code]

[2016-07-05 10:20] adamliyi commented on #93
Tested on Palmetto using OBMC-V1.0, system, chassis, fans FRU's present bit is still "False":

[code]

[2016-07-05 10:41] sivassrr commented on #428
Below output is from 9.3.164.153 (Palmetto) - This has V1.0 and Jun 30 build/level.
Even at BMC READY (Similar to FSP Standby) state, expect to have right presence data, right.

root@palmetto:~# obmcutil getinventory

/org/openbmc/inventory/system
fault = False
fru_type = SYSTEM
is_fru = 1
present = False
version =

/org/openbmc/inventory/system/chassis
fault = False
fru_type = SYSTEM
is_fru = 1
p

[2016-07-05 18:11] #378 closed

[2016-07-05 18:48] williamspatrick commented on #452
@gkeishin - We should open a feature for the LED control code to give you the blink state.  'On' , 'Off', 'Blink'.  For the blink we should also have a duty-cycle attribute to tell you what the current blink rate is.  We probably have a few other attributes needed (like color).

[2016-07-05 18:51] williamspatrick commented on #244
@williamli80 - That URL doesn't work for me.

You can reference a commit like this
[code]
openbmc/ipmi-fru-parser@f3ca35258

[2016-07-05 18:54] williamspatrick commented on #244
@williamli80 - In the current code, and even the commit you referenced, the method call was getObjectFromId and not getValue.  I don't think this is where the message is coming from.
    https://github.com/openbmc/ipmi-fru-parser/blob/master/writefrudata.C#L189

[2016-07-05 18:58] williamspatrick commented on #428
@sivassrr -
[code]

Not entirely true.  We only expect to have right presence data if the machine has booted once before.

1. Fresh BMC, at BMC standby. - No data.
2. Previously booted BMC, at BMC standby. - Possibly stale, but valid, data.
3. BMC at runtime. - Fresh, valid data.

The BMC cannot provide DIMM and CPU presence detect at standby because it does not have hardware access directly to th

[2016-07-05 18:59] williamspatrick commented on #93
Correct.  I expect a code change required on this one.

[2016-07-05 21:49] anoo1 commented on #423
Hi @Kenthliu, I'm unable to recreate on v1.0.1 or the new v1.0.2. If you still see this issue after power off/on, could you check if there are inventory files created under /tmp/ipmifru* and if there's a bios file "ipmifru00" if you could dump its contents with "hexdump -C /tmp/ipmifru00"

[2016-07-06 03:56] johnhcwang commented on #423
Hi @anoo1 , there is no any fru file under /tmp/.
![1467776630775](https://cloud.githubusercontent.com/assets/17872929/16606955/14390c02-436f-11e6-9710-9216e6965fbb.jpg)

May I know what BIOS version you used? We used 0.2.2 on our board.

By the way, there are some error messages in journal log, but I'm not sure if it is helpful to this issue.
Please get them from https://github.com/openbmc/skelet

[2016-07-06 05:47] adamliyi commented on #93
Palmetto.py does not invoke phosphor-read-eeprom to read VPD into Inventory. So we need to test on Barreleye. On Barreleye, System, Chassis "present" property is "TRUE". Fans "present" property is "False". This issue is to fix Fans "present" property on Barreleye.
[code]

[2016-07-06 06:42] adamliyi commented on #93
To fix the Fan "present" issue:
@Kenthliu 's PR: https://github.com/openbmc/skeleton/pull/59
and
johnhcwang's patch: https://github.com/johnhcwang/skeleton/commit/02df39a32878ed58f5919ebe7b1073ec15bedffe
should be able to fix this issue.

[2016-07-06 11:47] williamspatrick commented on #93
Palmetto doesn't have a VPD chip on the backplane that the BMC can access. That is why it is missing the call you mentioned.

[2016-07-06 11:48] williamspatrick commented on #93
openbmc/skeleton#59 needs quite a bit of clean up before it can be merged.

[2016-07-06 13:19] anoo1 commented on #423
hi @johnhcwang , this is the bios version currently on our system:

Asset Tag =
Custom Field 1 = 	buildroot-fda20bd
Custom Field 2 = 	skiboot-5.2.0-opdirty
Custom Field 3 = 	hostboot-c223637-1d3dbf3
Custom Field 4 = 	linux-4.4.6-openpower1-opdirty-99d283b
Custom Field 5 = 	petitboot-72928ed-opdirty-47f54ff
Custom Field 6 = 	barreleye-xml-1250f06-opdirty
Custom Field 7 = 	occ-1093bf9-opdir
Custom F

[2016-07-06 13:42] agangidi53 opened #455 "Feature Request: Exporting VGA console on BMC"
A lot of Barreleye / OpenBMC users seem to run into an issue where they try to install the OS, where they can't see the OS install menu after kexec'ing from Petitboot via the VGA. This is primarily because of missing VGA drivers for OS installers.

To counter this: Can we export the BMC console log to VGA console ? That way users using VGA would see pretty much the same output as the "hconsole". S

[2016-07-06 14:00] agangidi53 commented on #450
so @dbuesom   You ping the BMC on BCM port 2 and you see a failure ? I was presuming that port 2 was deliberately disabled to work with BMC so that it can be host dedicated . Is that wrong ?

[2016-07-06 14:11] shenki commented on #455
Paging @jk-ozlabs

[2016-07-06 16:26] anoo1 commented on #278
Added with https://github.com/openbmc/skeleton/commit/b4140b888f586c98c5d03893166c5074a98cf951

[2016-07-06 16:26] #278 closed

[2016-07-06 17:29] williamspatrick commented on #278
Oops.  We should have put that in the commit message.

'Closes openbmc/openbmc#278.'

[2016-07-06 17:58] anoo1 commented on #278
Yeah, next time 👍

[2016-07-06 18:59] dbuesom commented on #450
Hi @agangidi53 thanks for your response. I am not pinging the BMC. I am on a partition but at the Open Firmware prompt (not yet at the OS). From there, I configure port 2 of the BCM 5720 to ping a NIM server. The ping fails.  It is odd because when you boot the partition to the OS (Linux in this case) and configure the port, the ping succeeds. It may be that the BCM 5720 Linux driver accounts for

[2016-07-07 01:47] adamliyi commented on #93
@Kenthliu said he will clean up and re-submit openbmc/skeleton#59, so this issue is currently depend on this PR.

[2016-07-07 01:59] williamspatrick commented on #93
We will need it submitted in Gerrit, but if he can at least get it cleaned up we can help through that process.

[2016-07-07 02:02] johnhcwang commented on #423
Yes, I can get bmc info from petitboot with ipmi command.
![1467852049623](https://cloud.githubusercontent.com/assets/17872929/16639902/76bc23fc-4426-11e6-947f-d8727320876d.jpg)

And I restart the ipmi service with the debug mode and power on, here are some journal log for your information.
[code]
Seems BIOS try to write the data by Write FRU command (NetFn 0x0a, CMD 0x12), but there is no registe

[2016-07-07 02:26] anoo1 commented on #423
Thanks John for all the info. It appears that ipmid is not picking up the storage handler library, this trace is is not being printed when the ipmid process was started:
'''
Registering handler:[/usr/lib/host-ipmid/libstrgfnhandler.so]
Registering NetFn:[0xA], Cmd:[0x12]
Registering handler:[/usr/lib/host-ipmid/liboemhandler.so]
'''
Could you check the system has this library: " ls -l /usr/lib/hos

[2016-07-07 03:38] johnhcwang commented on #423
Do you mean llibstrgfnhandler.so.1?? I can see it under /host-ipmid/, but still no register handler.
[code]

[2016-07-07 07:35] vishwabmc commented on #310
I ran some tests and the problem is with syncing the hwclock to system time..

root@barreleye:/usr/lib/host-ipmid# ./ipmitool  -I dbus sel time set "08/11/2016 09:10:00"
08/11/2016 09:10:00

root@barreleye:/usr/lib/host-ipmid# date
Thu Jul  7 07:31:06 UTC 2016

root@barreleye:/usr/lib/host-ipmid# hwclock -r
Thu Aug 11 09:10:09 2016  0.000000 seconds
------------------------------------------------

[2016-07-07 14:03] vishwabmc commented on #409
I propose to get rid of this since we have ipmitool now that does the same job and can be run on demand. I will create a PR to remove host-ipmi-hw from the image.

[2016-07-07 14:12] anoo1 commented on #423
Hi John, thanks, you're correct, checking with the team there was a recent change to add a version to some of the bmc libraries. This shouldn't cause an issue except for applications that issue dlopen, but ipmid uses dlopen like you pointed out. I need to make a code change in ipmid so that it loads the versioned library files.

[2016-07-07 18:26] williamspatrick commented on #409
@bradbishop, @anoo1 - Any opinion on @vishwabmc's proposal?  I don't recall what this `host-ipmi-hw` is there for.

We don't have the ipmitool installed directly on the BMC, nor do I expect we will in the long term either.  It could be put into a devtools filesystem.  I suspect everything that this `host-ipmi-hw` program is doing can be replicated directly with `busctl` now.

[2016-07-08 05:52] vishwabmc commented on #409
@williamspatrick: I have explained the need for host-ipmi-hw in QEMU in the previous update.

host-ipmi-hw is the BT driver emulator on QEMU so that we can try sending the IPMI commands. host-ipmi-hw has a console reader function that will watch for data from 'stdin' and then will fire a signal called "ReceivedMessage" ( the same that BT driver fires on a new IPMI packet ) and thus results in IPMI

[2016-07-08 09:13] #293 closed

[2016-07-08 11:01] vishwabmc commented on #310
Finally it was due to systems-timesyncd that we were seeing the time getting reset.

We have 2 options to solve this particular issue :

1/ Do not start systemd-timesyncd
2/. Reject this and handle it as part of  https://github.com/openbmc/openbmc/issues/98 since this can not be fixed without we agree on common design for using NTP / systemd-timesyncd.

[2016-07-08 11:19] mdmillerii commented on #310
3) query and stop service in test setup, restore at cleanup.

Note I might have wrong term but systemd has stop (temp) and disable (configure etc to prohibit) and this only requires the temporary stop.

[2016-07-08 11:21] vishwabmc commented on #407
I am trying to put a [Path] section and PathExists=/dev/ttyS5 for obmc-console.service file.
However, the socket based activation should have taken care of this anyhow.

[2016-07-08 11:39] mdmillerii commented on #407
Try to depend on the generated device instance like the getty service files.

[2016-07-08 13:04] williamspatrick commented on #409
I am ok with removing `host-ipmi-hw` but I still don't intend to include the custom `ipmitool`.  It is being used for testing as a way to short cut the testing so they don't need to boot up to the host-os, but that doesn't mean we should include it in the flash itself.  We will eventually have a devtools image that can include this.  Thank you for the explaination on why busctl is insufficient.

[2016-07-08 13:09] williamspatrick commented on #310
It is a common configuration that the management network (BMC) cannot access the internet and therefore cannot use the default ntp servers.  In that case, the IPMI path is used because the ntp-client is ran on the Host-OS.  In our test environment, the BMC can access the external internet and therefore can get to the ntp servers.  Likely, if both sides can get to the real network, then the time se

[2016-07-08 13:10] williamspatrick commented on #407
Socket-based activation does not solve this.  If someone ssh's to the correct socket then systemd will attempt to start the service, which will fail at that time.  All it does is defer the identification of the problem.

[2016-07-08 13:15] williamspatrick commented on #407
@mdmillerii - Thanks for that pointer.

https://github.com/systemd/systemd/blob/09541e49ebd17b41482e447dd8194942f39788c0/units/serial-getty%40.service.m4

Here is a link to the original serial-getty@.service file.  We can probably change the host console program to a similar @.service file instead and have a machine variable that determines the host TTY.

[2016-07-08 13:16] vishwabmc commented on #310
the get-sel-time does no good either since it calls into time() call which is anyway overwritten by the NTP.

So I suggest the test do these in this order :
1/. systemctl stop systemd-timesyncd
2/. Send that ipmi command to set-time
3/. Send that ipmi command to get-sel time

[2016-07-08 14:31] vishwabmc commented on #409
We agreed that we remove host-ipmi-hw. I will be opening a PR to get this removed.

[2016-07-08 17:49] kc8apf commented on #356
I've been investigating u-boot's verified boot infrastructure.  I'm hoping to send out a first pass of commits to implement signed images by 7/15/2016

[2016-07-08 18:10] kc8apf commented on #310
I'm unclear if ipmi sel time get/set are intended to only modify the BMC's RTC or the BMC's kernel time.  The former can be done with hwclock --set --date which avoids touching the kernel clock.  If the kernel time is supposed to be changed as well, there needs to be some sort of mutual exclusion between impi sel time set and timesyncd.  Changing the test to temporarily disable timesyncd fixes the

[2016-07-08 19:22] mdmillerii commented on #310
@kc8apf I understand your point, but we also have no setup of systemd-timesyncd beyond whatever the dhcp client provides via systemd-networkd integration in the systemd framework.

I figure that turning it off for the test addresses the testing issue and if a deployment doesn't want ntp they can disable it in their build, but both its running and its configuration are things that should be address

[2016-07-08 20:01] kc8apf commented on #310
@mdmillerii The test failing is showing that the assumptions about SEL time being mapped onto BMC kernel time are either incorrect or broken when other time synchronization systems are enabled.  I'm arguing that, if timesyncd is enabled at all, the interactions between SEL time set and timesyncd need to be designed.  Leaving timesyncd enabled in the build and hoping that deployments won't allow NT

[2016-07-09 03:32] williamspatrick commented on #310
The full design of the clock is something @vishwabmc will be working on this month. We had a proposal for a few different modes, one of which is an emulated split clock between the host and the Bmc. He will send the details to the mailing list for comment and discussion.

[2016-07-09 18:40] sivassrr opened #457 "Tag V1:20160707143158:Barreleye:Build141: Host is in booting state for more than 18 minutes"
root@barreleye:/etc# obmcutil state
= HOST_BOOTING
root@barreleye:/etc# obmcutil bootprogress
units =
value = FW Progress, Baseboard Init
error = 0
root@barreleye:/etc# date
Sat Jul 9 18:12:29 UTC 2016
root@barreleye:/etc# date; obmcutil bootprogress; date
Sat Jul 9 18:12:46 UTC 2016
units =
value = FW Progress, Baseboard Init
error = 0
Sat Jul 9 18:12:48 UTC 2016

root@barreleye:/etc# obmcutil st

[2016-07-09 18:41] sivassrr commented on #457
Because of this, Both Inventory and OCC PowerCAP related TCs are failing.

[2016-07-10 04:44] sivassrr commented on #457
on the same system left overnight to boot, still at the same state.
root@barreleye:~# cat /etc/version
20160707143158
root@barreleye:~# cat /etc/os-release
ID="openbmc-phosphor"
NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro)"
VERSION="0.1.0 (krogoth)"
VERSION_ID="v1.0-67-g2ad67f6-dirty"
PRETTY_NAME="Phosphor OpenBMC (Phosphor OpenBMC Project Reference Distro) 0.1.0 (krogoth)"
B

[2016-07-11 05:53] gkeishin commented on #310
This would be addressed using https://github.com/openbmc/openbmc/issues/98    as per the discussion thread here and input from @vishwabmc  as well... so closing this one...

[2016-07-11 05:53] #310 closed

[2016-07-11 13:37] mdmillerii commented on #457
This seems to be a dup of openbmc/openbmc-test-automation#38 which has a full journal posted.

[2016-07-11 13:46] sivassrr commented on #457
@mdmillerii openbmc/openbmc-test-automation#38 is for Test Automation update, Initially thought our test code waiting time of boot to host partition is not enough. But when I tried multiple time with reboot, found it as openbmc issue. In case if the boot time changes then will use openbmc/openbmc-test-automation#38  for test code changes.

[2016-07-11 13:58] bradbishop commented on #453
The dbus object itself has the extra quotes.

[2016-07-11 18:15] williamspatrick commented on #457
See my comments in openbmc/openbmc-test-automation#38 .

[2016-07-11 18:15] #457 closed

[2016-07-11 18:18] williamspatrick commented on #453
@bradbishop - Do you want to keep doing the investigation or should we move it along to someone else?

[2016-07-11 21:18] williamspatrick opened #466 "i2c debug tool - Need 4 byte read support."
The Witherspoon lab team was using the 'i2c-tools' utilities we have installed and they are insufficient for one particular chip they would like to interact with.

The chip in question requires a 4 byte write to update an offset register within the chip, followed by a 4 byte read to read the register.  Most i2c devices are a single byte write and this seems to be all that `i2cdump` supports.  Ther

[2016-07-11 21:19] williamspatrick commented on #466
@shenki , @bradbishop , @eddiejames - Seeking your input.

[2016-07-11 21:31] #423 closed

[2016-07-11 21:41] paulgrobertson commented on #466
A read count option (-rc N) for i2cget would be a good enhancement.   Presently i2cget will only do 1 or 2 bytes,  mode b or w.

i2cget -y -rc N  $bus  $slave

      <slave addr><read><read>...<read(N-1)>

-OR-  add double-word mode to read 4 bytes.

i2cget -y $bus $slave dw

      <slave addr><read><read><read><read>

[2016-07-12 14:44] bradbishop commented on #466
My vote would be for adding what we need to the existing OSS tools.

[2016-07-12 14:49] shenki commented on #466
Is this just for hardware bringup, or do we need it in all systems?

[2016-07-12 16:22] williamspatrick commented on #466
@shenki - The only reason to manually run the i2c-tools should be for lab / debug.  So yes?

@bradbishop - I would prefer that as well I think.  But, the lm-sensors.org people seem to have dropped off the face of the earth.  The site has been down for going on 6 months.  I went to Wayback to find an IRC channel (#linux-sensors @ freenode) and it is basically dead too.

[2016-07-12 17:36] eddiejames commented on #466
I think modifying the existing i2c tools makes the most sense. iicmaster is kind of buggy anyway.

[2016-07-12 17:38] kc8apf commented on #407
TTYs should create .device units that services can depend on.  See https://lists.fedoraproject.org/pipermail/devel/2012-January/160917.html.

[2016-07-12 17:56] vishwabmc commented on #407
@kc8apf Correct.  For right now, I am trying the path based activation and yes I am looking into the udev events based ones too.

[2016-07-12 17:58] vishwabmc commented on #407
The changes are almost done.. .Need some supporting change from systemd now that can do templatised instantiation that can be specified in the BB file.

[2016-07-13 13:01] vishwabmc commented on #408
I ran a Qemux86 today and it ran without any failures.

Looking at what was posted before while opening this feature, the key thing is :
" obmc-console-ssh.socket: Failed to listen on sockets: Address already in use"

So it was the matter of 2200 already being used by some other.. ( but who )..

We may want to configure the TCP/IP setting to have 2200 fixed -or- change the range for ephemeral port

[2016-07-13 13:03] vishwabmc commented on #408
root@qemux86:~# systemctl status obmc-console-ssh.socket -l
● obmc-console-ssh.socket - OpenBMC console ssh server socket
   Loaded: loaded (/lib/systemd/system/obmc-console-ssh.socket; enabled; vendor preset: enabled)
   Active: active (listening) since Wed 2016-07-13 12:48:29 UTC; 14min ago
   Listen: [::]:2200 (Stream)
 Accepted: 0; Connected: 0

Jul 13 12:48:29 qemux86 systemd[1]: Listening on

[2016-07-13 16:31] williamspatrick commented on #408
Your changes for #407 might be fixing this.  I suspect that the error I got was because of two things happening.

1. First instance exiting because unix socket not available to connect to obmc-console server.  (Need systemd unit file update to fix this).
2. Second instance, started automatically by systemd on first instance exit, [re]started too quick and tried to claim the port before the kernel

[2016-07-13 16:57] vishwabmc commented on #408
For #1 : We may need to reserve the port 2200 in /etc/services ?.  We do not have any arbitrary process that may try to use 2200 thinking its ephemeral ?.. But we don't have any such process anyway.

For #2 : I have seen this failure. So I worked around it by putting a RestartSec=3s.  So this needs a general discussion.

[2016-07-13 16:59] bradbishop commented on #466
maybe we could ask on the hwmon mailing list if they know what is going on?

[2016-07-13 16:59] vishwabmc commented on #408
So in your case, looks like some other process already using 2200 and hence this .socket file is unable to LISTEN for incoming ssh sessions on that socket.

[2016-07-13 17:09] williamspatrick commented on #466
@causten pointed me to this issue:  groeck/lm-sensors#3 .  In that, someone implies that this 'groeck' repository is now the "official" repository but there have not been any commits to that in a year either.

lm-sensors:
`
Latest commit 21e2560  on Aug 31, 2015￼ groeck Add detection of Nuvoton NCT6793D
`
i2c-tools:
`
Latest commit 9726bed  on Jul 7, 2015￼ Jean Delvare eeprog: Drop duplicate CFLAG

[2016-07-13 17:11] williamspatrick commented on #466
I also emailed Ross Burton, who made the Yocto change to point the SRC_URI at yoctoproject.org instead of lm-sensors.org and he replied:

[code]

[2016-07-13 17:29] anoo1 opened #469 "Non-supported IPMI commands return success"
The openbmc IPMI implementation forwards non-supported commands to a 'wildcard' function that is a no-op and returns success, making it look to the caller that their request was handled successfully.
For a hypervisor or host that supports multiple BMC distros, it is not currently possible to dynamically determine if an IPMI cmd is supported in openbmc because of the success return code instead of

[2016-07-13 19:11] mdmillerii commented on #408
`/etc/services` will not reserve the port.  It only gives names for a port.

There is a `sysctl` file that can reserve specific ports, along with a second that controls the range of ports to assign to local ports.  See  `ip_local_reserved_ports`  and `ip_local_port_range` in [Documentation/networking/ip-sysctl.txt](http://github.com/openbmc/linux/tree/v4.6/Documentation/networking/ip-sysctl.txt#L7

[2016-07-13 21:18] eddiejames commented on #202
Can anyone share which address ranges to filter for ipv6? Also are there some more to filter for ipv4 than just the ones stated? Thanks

[2016-07-13 21:52] mdmillerii commented on #202
Class D multicast should not be used for host or gateway addresses for ipv4, and probably class E.  See [rfc5735](https://tools.ietf.org/html/rfc5735).  We probably should not allow setting to the ipv6 relay range or this-network range either, and we require a helper to do link local addresses.

Note that the above all-zero and all-ones adresses should be based on the subnet mask.

[2016-07-14 05:39] vishwabmc commented on #408
@mdmillerii I already checked the /proc/sys/net/ipv4/ip_local_port_range and that was not anyway near to 2200. So is why I was thinking about any possible alternatives.

ip_local_reserved_ports did not have anything populated.

I will investigate on the usage of SO_REUSE

[2016-07-14 15:57] williamspatrick commented on #450
@shenki , @gwshan - You guys asked for this issue to be opened but then haven't participated.  Can you give @dbuesom some feedback on his questions, please?

[2016-07-14 16:09] shenki commented on #450
I don't recall asking for this bug to be opened.

In answer to the questions:

1) The initialisation is contained in the NCSI stack here https://github.com/openbmc/linux/blob/dev-4.6/net/ncsi/

2) OpenBMC does not disable any registers after loading that I'm aware of

[2016-07-14 18:59] dbuesom commented on #450
Hi @williamspatrick thanks for drawing attention to this issue. It is starting to gain visibility so I happened to message @shenki this morning on Slack with more background and the same questions.

@shenki did mention the NCSI Spec v1. I will start looking over and see if anything jumps out at me. Unfortunately I cannot look at the initialization NCSI code pointed to at above. I could possibly lo

[2016-07-14 22:33] mdmillerii commented on #450
I am not familiar with the driver but I was able to find a few things browsing this code:

I verified the Linux watchdog for tx timeout on this device is 5 seconds.

It appears the tg3 driver is using the 0x50 byte memory status block to determine the producer and consumer indices.  In fact in IRQ (not MSI) mode the driver polls PCISTATE (0x70) bit mask 2 (INT_NOT_ACTIVE) to flush the hw_status bl

[2016-07-15 09:55] vishwabmc commented on #408
SO_REUSEPORT does not come to use here since the issue is about our very first attempt to LISTEN on 2200 getting to failure since someone else is already using it.

This looks like a one off and I have not been able to recreate this. Best I think we can do here is to reserve the port 2200 and close this issue.. Thought ?. @williamspatrick ?

[2016-07-15 10:05] vishwabmc commented on #409
@bradbishop Since the plan is to retain the virtual provider, I may not be able to remove the host-ipmi-hw-example.bb since sample.inc will now *not* have anything that can provide host-ipi-hw and hence BB fails since host-ipmid wants host-ipmih-hw providers.

For right now, I have retained the BB file and then inside the ".service" file, I just have [Description] and that is helping build the ima

[2016-07-15 10:57] gwshan commented on #450
I will take a look next week when getting chance. I was busy on v2 NCSI
patches this week
and didn't get time for it, sorry about that.

2016-07-15 8:33 GMT+10:00 Milton D. Miller II <notifications@github.com>:

[2016-07-15 12:32] vishwabmc commented on #407
@shenki has some concerns about the proposed change and passing the port via CLI and the #openbmc IRC has the discussion.. @shenki , @williamspatrick  and I need to have a discussion.

Meanwhile, if we agree to pass it by the CLI then I need a change that I proposed to @bradbishop where in I can do something like this below and SYSTEMD understands that.

HOST_TTY = "ttyS5"
SYSTEMD_SERVICE_${PN} =

[2016-07-15 13:25] bradbishop commented on #409
This seems to have been fixed with

https://github.com/openbmc/openbmc/commit/6f286af2d6e137498c87933445dbe512bb21bc00

[2016-07-15 14:01] vishwabmc commented on #409
So the change mentioned above deleted "inherit systemd" from the host-ipmi-hw-example and that is resulting in SYSTEMD not packaging the .service file and that solves this problem.

To make it a complete fix, I will remove SYSTEMD_SERVICE_{PN} and the host-ipmi-hw-example.service and we can close this issue.